<template>
  <div></div>
</template>

<script>
import { setLoading, isLogin } from 'src/libs/appHelper.js'

export default {
  name: 'index',
  data() {
    return {
      isLogin: this.$store.getters.isLogin,
    };
  },
  async beforeRouteEnter(to, from, next) {
    setLoading(true,2)

		next(vm => {
			if (isLogin.value) {
			vm.$router.replace({path: '/card'});
			} else {
				vm.$router.push('/login');
			}
      setLoading(false)
		})
  },
}
</script>

