<template>
  <div class="h-full overflow-auto flex items-center justify-end flex-col">
    <!-- 忘記密碼 Modal (源碼置上) -->
    <transition name="slide-fade" mode="out-in">
      <div class="modal is-active" v-if="pwModal">
        <div class="modal-background"></div>
        <div class="modal-content">
          <!-- 表單 -->
          <article class="message bg-transparent mx-3">
            <div class="message-header justify-content-center bg-primary">
              <p class="text-white flex items-center">
                <img class="mr-2" src="@/assets/images/unlock.svg" alt="">
                <span class="tracking-widest">忘記密碼</span>
              </p>
            </div>
            <div class="message-body px-4 pb-4" style="background: rgba(255,255,255,.9)">
              <div class="field">
                <div class="control has-icons-left">
                  <input class="input rounded-none border-t-0 border-r-0 border-l-0 border-b border-gray-300 shadow-none bg-transparent" type="number" pattern="[0-9]*" placeholder="請輸入手機號碼" v-model="forgotPWForm.memberCode" name="usrname" requiredd>
                  <span class="icon is-left">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M15.5 1h-8C6.12 1 5 2.12 5 3.5v17C5 21.88 6.12 23 7.5 23h8c1.38 0 2.5-1.12 2.5-2.5v-17C18 2.12 16.88 1 15.5 1zm-4 21c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm4.5-4H7V4h9v14z"/></svg>
                  </span>
                </div>
              </div>
              <div class="field is-grouped">
                <p class="control has-icons-left is-expanded">
                  <input class="input rounded-none border-t-0 border-r-0 border-l-0 border-b border-gray-300 shadow-none bg-transparent" type="text" placeholder="驗證碼" v-model="forgotPWForm.SMSValidateCode" name="pscode" maxlength="4" required>
                  <span class="icon is-left">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12.65 10C11.7 7.31 8.9 5.5 5.77 6.12c-2.29.46-4.15 2.29-4.63 4.58C.32 14.57 3.26 18 7 18c2.61 0 4.83-1.67 5.65-4H17v2c0 1.1.9 2 2 2s2-.9 2-2v-2c1.1 0 2-.9 2-2s-.9-2-2-2h-8.35zM7 14c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/></svg>
                  </span>
                </p>
                <p class="control">
                  <button class="button is-danger" :disabled="forgotPWForm.countNum > 0" @click="getSMSValidateCode">
                    <b>{{ (forgotPWForm.countNum > 0) ? `${forgotPWForm.countNum} 秒後重發` : '取得驗證碼' }}</b>
                  </button>
                </p>
              </div>
              <div class="columns is-mobile is-variable is-1 mt-4">
                <div class="column">
                  <button class="button is-fullwidth tracking-widest border-1 border-gray-300 hover:bg-white hover:border-gray-300" @click="pwModal = false">
                    <b>取消</b>
                  </button>
                </div>
                <div class="column">
                  <button class="button is-fullwidth text-white bg-primary" @click="snedAppSMSForgetPW" :disabled="forgotPWForm.memberCode=='' || (inDeviseApp&&forgotPWForm.SMSreCode=='') || forgotPWForm.SMSValidateCode==''">
                    <b>取得新密碼</b>
                  </button>
                </div>
              </div>
            </div>
          </article>
          <!-- <button class="modal-close is-large" aria-label="close" @click="pwModal = false"></button> -->
        </div>
      </div>
    </transition>
    <!-- 登入表單 -->
    <article class="message bg-transparent mx-3 mb-12">
      <img class="mx-3 mb-5" src="@/assets/images/logo_text2_h.svg" alt="">
      <div class="message-header justify-content-center bg-secondary">
        <p class="text-black flex items-center">
          <img class="mr-2" src="@/assets/images/user_black.svg" alt="">
          <!-- <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v1c0 .55.45 1 1 1h14c.55 0 1-.45 1-1v-1c0-2.66-5.33-4-8-4z"/></svg> -->
          <span class="tracking-widest">會員登入</span>
        </p>
      </div>
      <div class="message-body px-4 pb-3" style="background: rgba(255,255,255,.9)">
        <div class="field">
          <div class="control has-icons-left">
            <input class="input rounded-none border-t-0 border-r-0 border-l-0 border-b border-gray-300 shadow-none bg-transparent" type="number" pattern="[0-9]*" placeholder="手機號碼" v-model="loginForm.account">
            <span class="icon is-left">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M15.5 1h-8C6.12 1 5 2.12 5 3.5v17C5 21.88 6.12 23 7.5 23h8c1.38 0 2.5-1.12 2.5-2.5v-17C18 2.12 16.88 1 15.5 1zm-4 21c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm4.5-4H7V4h9v14z"/></svg>
            </span>
          </div>
        </div>
        <div class="field is-grouped">
          <p class="control has-icons-left is-expanded">
            <input class="input rounded-none border-t-0 border-r-0 border-l-0 border-b border-gray-300 shadow-none bg-transparent" type="password" placeholder="密碼" v-model="loginForm.password">
            <span class="icon is-left">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><g fill="none"><path d="M0 0h24v24H0V0z"/><path d="M0 0h24v24H0V0z" opacity=".87"/></g><path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zM9 8V6c0-1.66 1.34-3 3-3s3 1.34 3 3v2H9z"/></svg>            </span>
          </p>
          <p class="control w-1/3">
            <button class="w-full button bg-primary text-white tracking-widest border-0 rounded-lg hover:text-white" :class="{'is-loading':(loginForm.submited)}" :disabled="loginForm.submited" @click="login">
              <b>送出</b>
            </button>
            <span class="block text-right text-gray-500 pt-3" @click="pwModal = true">忘記密碼</span>
          </p>
        </div>
      </div>
      <div class="text-white">
        <button v-if="IsMobile() || IsDev" class="button is-fullwidth my-5 py-3 rounded-lg h-auto border-0 is-line" @click="doLineLogin">
          <b>LINE<span class="tracking-widest ml-3">登入</span></b>
        </button>
        <button class="button is-fullwidth tracking-widest text-white border-t-0 border-r-0 border-l-0 border-b-2 border-white rounded-none bg-transparent my-4 hover:text-white hover:border-white" @click="$router.push('/register')">
          <img class="mr-2" src="@/assets/images/add_user.svg" alt="">
          <!-- <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2V8c0-.55-.45-1-1-1s-1 .45-1 1v2H2c-.55 0-1 .45-1 1s.45 1 1 1h2v2c0 .55.45 1 1 1s1-.45 1-1v-2h2c.55 0 1-.45 1-1s-.45-1-1-1H6zm9 4c-2.67 0-8 1.34-8 4v1c0 .55.45 1 1 1h14c.55 0 1-.45 1-1v-1c0-2.66-5.33-4-8-4z"/></svg> -->
          <b>會員註冊</b>
        </button>
      </div>
    </article>
  </div>
</template>

<style lang="scss" scoped>
.message .message-body {
  border-radius:.75rem !important;
}
.message .message-header {
  border-radius:.75rem !important;
}
</style>

<script>
import store from 'src/store'
import { isLogin, showAlert, fixScroll, showImageWuhu } from 'src/libs/appHelper.js'
import { reactive, ref, computed } from '@vue/composition-api'
import { deviseFunction, sendDeviseSMSreCode } from 'src/libs/deviseHelper.js'
// import 'swiper/dist/css/swiper.css'
import { L_Obj, S_Obj, IsMobile } from 'src/fun1.js'	// 共用fun在此!

const IsDev = S_Obj.isDebug 	//開發debug


const pwModal = ref(false)
// 取今天日期 (格式： yyyymmdd => e.g. 20190514)
const currentDay = computed(() => new Date().toISOString().slice(0,10).replace(/-/g,"") )
// 簡訊發送間隔的最低時間 (預設： 50 秒)
const AppSMSIntervalMin = computed(() => parseInt(store.state.SMS_Config.AppSMSIntervalMin) )
// 簡訊每日發送上限 (預設： 5 封)
const APPSMSDayTimes = computed(() => parseInt(store.state.SMS_Config.APPSMSDayTimes) )
// 取簡訊的發送扣打紀錄
const SMSSendQuota = computed(() => store.state.SMS_Config.SMSSendQuota )
// 取簡訊驗證碼
const SMSreCode = computed(() => store.state.SMS_Config.reCode )

const inDeviseApp = computed(() => (typeof(JSInterface) == 'object') )
const forgotPWForm = reactive({
  countNum: 0,
  counter: '',
  memberCode: '',
  SMSValidateCode: '',
  SMSCurrentQuota: 0
})

// 驗證是否還有扣打能發送簡訊
function validateSMSSendQuota() {
  // 扣打紀錄是空的 => true
  if (SMSSendQuota.value === '') return true
  // 扣打紀錄跟今日日期不同 => true
  if (SMSSendQuota.value.substring(0, 8) !== currentDay.value) return true
  // 更新今日扣打數量
  const currentQouta = parseInt(SMSSendQuota.value.substring(9))
  forgotPWForm.SMSCurrentQuota = currentQouta
  // 驗證扣打是否用完 (超過上限 => false, 還沒用完 => true )
  if (currentQouta >= APPSMSDayTimes.value) return false
  if (currentQouta <  APPSMSDayTimes.value) return true
}

// 驗證手機號碼 => 發送驗證碼簡訊
async function getSMSValidateCode() {
  const {memberCode, SMSCurrentQuota} = forgotPWForm
  // console.log('memberCode', memberCode);

  // 跟殼取簡訊已發送扣打資料
  deviseFunction('GetSP', 'SMSSendQuota', '"cbFnSetSMSSendQuota"')
  // 手機號碼格式驗證
  if (memberCode == '') return showAlert('請輸入手機號碼')
  const twMobilePhoneRegxp = /^09[0-9]{2}[0-9]{6}$/; // 台灣手機號碼格式需為09XXXXXXXX
  const cnMobilePhoneRegxp = /^1[0-9]{2}[0-9]{8}$/;  // 中國手機號碼格式需為1XXXXXXXXXX
  // 依據手機格式加入國碼
  let countyNum = ''
  if ( twMobilePhoneRegxp.test(memberCode) ) countyNum = '886'
  if ( cnMobilePhoneRegxp.test(memberCode) ) countyNum = '86'
  if ( twMobilePhoneRegxp.test(memberCode) === false && cnMobilePhoneRegxp.test(memberCode) === false ) return showAlert('手機號碼格式錯誤')

  // 檢測此手機號碼是否存在
  const res = await store.dispatch('ensureMemberCodeNotRegistered', memberCode)
  if (res.ErrorCode !== '0') return showAlert('查無此會員，請重新輸入')
  if (validateSMSSendQuota() == false) return showAlert(`已超過本日簡訊發送上限！ <br> (最多 ${APPSMSDayTimes.value} 封簡訊)`)

  // 設置倒數計時器 ( countNum > 0 時, 發送驗證碼按鈕為 disabled ), 倒數時間從 state.setSMS_Config.AppSMSIntervalMin 取得
  forgotPWForm.countNum = AppSMSIntervalMin.value
  // 啟動倒數計時
  forgotPWForm.counter = setInterval(() => {
    // 到 0 時清除倒數計時
    if (forgotPWForm.countNum <= 0) { clearInterval(forgotPWForm.counter) }
    // 每一秒 - 1
    forgotPWForm.countNum = forgotPWForm.countNum - 1;
  }, 1000);

  // sample: '20190514-3'
  const SMSSendQuota = `${currentDay.value}-${SMSCurrentQuota + 1}`

  // 發送簡訊認證碼
  sendDeviseSMSreCode({ phone: `${memberCode};;${countyNum}`, SMSSendQuota: SMSSendQuota })
}

// 確認簡訊驗證碼 -> 發送忘記密碼的簡訊
function snedAppSMSForgetPW(){
  const {memberCode, SMSValidateCode} = forgotPWForm
  if (SMSreCode.value == '') return showAlert('請先取得簡訊驗證碼')
  if (SMSreCode.value != SMSValidateCode) return showAlert('簡訊驗證碼錯誤，請重新輸入')
  // 驗證 ok -> 清除 SMSreCode
  store.commit('setSMSreCode', '')

  // 啟動殼的忘記密碼 functuin (會更改會員帳號的密碼，並簡訊通知該會員新密碼)
  deviseFunction('AppSMSForgetPW', memberCode, '')
  // 提示已寄送新密碼，關掉 modal
  pwModal.value = false
  showAlert('已將新密碼用簡訊傳送至您的手機，請用新密碼登入')
}

const LS1 = IsMobile() ? (L_Obj.read('loginForm') || {}) : {};
	// IsMobile() && alert('login_account: ', LS1.account);

const loginForm = reactive({
  submited: false,
  account: LS1.account,
  password: LS1.password,
  rememberMe:  true
})

async function login() {
  if (!loginForm.account) return showAlert('請輸入帳號')
  if (!loginForm.password) return showAlert('請輸入密碼')
  loginForm.submited = true
  await store.dispatch('memberLogin', loginForm)

	// console.log('Login.vue-login: ', isLogin);	// @@
	if (isLogin.value) {
		// location.replace('/card');		// NG!(影響路徑...
		location.hash = '#/card';

		loginForm.account = ''
		loginForm.password = ''
	}
  loginForm.submited = false
}
// async function LineLogin() {
  // loginForm.lineSubmited = true
  // // if (typeof(JSInterface) === 'undefined' || store.state.baseInfo.AppOS !== 'IOS'){
  // if (typeof(JSInterface) === 'undefined'){
    // //Web app,網頁登入
    // //await store.dispatch('memberLineLogin')

  // }else{
    // //Mobile app,原生app殼登入, callback function==> cbFnLINELogin(deviseHelper.js)
    // deviseFunction('LINELogin', '', '')//app殼支援的Function

  // }
  // loginForm.lineSubmited = false
// }
export default {
  name: "kakarLogin",
  data() {
    return {
      state: this.$store.state,
      pageData: this.$store.state.baseInfo.publicData.index,
    }
  },
  beforeRouteEnter(to, from, next) {
		AutoSetForm()
    next()
  },
  beforeRouteLeave(to, from, next) {
    // 離開頁面時，清空表單設定
    pwModal.value = false
    forgotPWForm.memberCode = ''
    forgotPWForm.SMSValidateCode = ''

    loginForm.submited = false
		AutoSetForm()
    next()
  },
  setup() {
    return { isLogin, loginForm, login, pwModal, forgotPWForm, getSMSValidateCode, snedAppSMSForgetPW, SMSreCode, inDeviseApp, fixScroll, showAlert, IsMobile, IsDev }
  },
  computed: {
    // hasSubBanner() { return !!this.pageData.subBanner.length },
    // 即時更新橫幅的圖片
    // subBannerUpdate() { return this.pageData.subBannersUpdate },
  },
  methods: {
    showImageWuhu,
    redirectToLink(banner) {
      let url = banner.OuterURL
      if (url && (typeof url !== 'undefined')
        && (url.trim() != '')) {
        // 在殼裡面 => 開啟瀏覽器
        if (typeof(JSInterface) !== 'undefined') {
          deviseFunction('openWeburl', url, '')
        // 在瀏覽器 => 瀏覽器新開一個tab
        } else {
          window.open(url, '_blank')
        }
      }
    },
    // 副橫幅圖片即時更新
    refreshImage() {
      let imageObjs = document.getElementsByClassName('swiper-lazy')
      // console.log('===> imageObjs =>', imageObjs)
      imageObjs.forEach((item)=>{
        let imgUrl = item.currentSrc
        // console.log('===> imgUrl =>' + imgUrl)

        // 如果已經load好圖片
        if (imgUrl && imgUrl!='') {
          // 把圖片後面的版號更新到最新現在
          let newImgUrl = imgUrl.substring(0, imgUrl.indexOf('?v='))
            + '?v='
            + (new Date()).getTime()
            + '")'
          // console.log('===> newImgUrl =>' + newImgUrl)

          // 把圖片重新set,就會重load圖片了
          item.src = newImgUrl
          item.dataset.src = newImgUrl
          item.dataset.currentSrc = newImgUrl
        }
      })
    },
    // Facebook 登入
    doFBlogin(){
      this.$store.dispatch('deviseFacebookLogin')
    },
		doLineLogin(){
			this.$store.dispatch('deviseLineLogin')
    },
  },
  // watch: {
    // subBannerUpdate: function(val) {
      // // 如果pull request副橫幅
      // if (val) {
        // this.refreshImage() // 即時更新副橫幅的圖片
        // store.commit('setSubBannerUpdate', false) // 清空flag
      // }
    // }
  // }
}

function AutoSetForm() {
	if (!IsMobile()) { return; }
	loginForm.account = LS1.account||''
	loginForm.password = LS1.password||''
}
</script>