<template>
  <div class="h-full overflow-auto flex items-center flex-col" :class="[$route.query.type != 'fillout'?'justify-end':'justify-top']">
    <template v-if="!$route.query.type && !isConfirmed">
      <!-- 驗證碼表單 -->
      <article class="message bg-transparent mx-3 mb-12">
        <img class="mx-3 mb-5" src="@/assets/images/logo_text2_h.svg" alt="">
        <div class="message-header justify-content-center bg-primary">
          <p class="text-white flex items-center">
            <img class="mr-2" src="@/assets/images/add_user.svg" alt="">
            <!-- <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2V8c0-.55-.45-1-1-1s-1 .45-1 1v2H2c-.55 0-1 .45-1 1s.45 1 1 1h2v2c0 .55.45 1 1 1s1-.45 1-1v-2h2c.55 0 1-.45 1-1s-.45-1-1-1H6zm9 4c-2.67 0-8 1.34-8 4v1c0 .55.45 1 1 1h14c.55 0 1-.45 1-1v-1c0-2.66-5.33-4-8-4z"/></svg> -->
            <span class="tracking-widest">會員{{isLineLogin?'綁定':'註冊'}}</span>
          </p>
        </div>
        <div class="message-body px-4 pb-3" style="background: rgba(255,255,255,.9)">
          <div class="field">
            <div class="control has-icons-left">
              <input class="input rounded-none border-t-0 border-r-0 border-l-0 border-b border-gray-300 shadow-none bg-transparent" @keyup="ValidNum" @blur.prevent="validAccount()" v-model="registerForm.memberphone" type="text" pattern="[0-9]*" placeholder="手機號碼(必填)" ref="inpAccount" name="usrname" maxlength="10" required>
              <span class="icon is-left">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M15.5 1h-8C6.12 1 5 2.12 5 3.5v17C5 21.88 6.12 23 7.5 23h8c1.38 0 2.5-1.12 2.5-2.5v-17C18 2.12 16.88 1 15.5 1zm-4 21c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm4.5-4H7V4h9v14z"/></svg>
              </span>
            </div>
          </div>
          <div class="field is-grouped">
            <p class="control has-icons-left is-expanded">
              <input class="input rounded-none border-t-0 border-r-0 border-l-0 border-b border-gray-300 shadow-none bg-transparent" ref="smsCodeInput" @keyup="ValidNum" @blur.prevent="validSMS()" type="text" pattern="[0-9]*" v-model="SMSValidateCode" placeholder="驗證碼" name="pscode" maxlength="4" required>
              <span class="icon is-left">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12.65 10C11.7 7.31 8.9 5.5 5.77 6.12c-2.29.46-4.15 2.29-4.63 4.58C.32 14.57 3.26 18 7 18c2.61 0 4.83-1.67 5.65-4H17v2c0 1.1.9 2 2 2s2-.9 2-2v-2c1.1 0 2-.9 2-2s-.9-2-2-2h-8.35zM7 14c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/></svg>
              </span>
            </p>
            <p class="control min-w-min">
              <button class="w-full button is-danger rounded-lg" :disabled="countNum > 0" @click="getSMSValidateCode">
                <b>{{ (countNum) ? `${countNum} 秒後重發` : '取得驗證碼' }}</b>
              </button>
            </p>
          </div>
          <div class="mt-4">
            <button class="button is-fullwidth tracking-widest bg-primary text-white border-0 py-3 h-auto rounded-lg hover:text-white" @click="confirmSmsCode(isLineLogin?'line':'generic')">
              <b>下一步</b>
            </button>
            <!-- <div class="separator-text">或</div>
            <button class="button is-fullwidth is-line text-white border-0 py-3 h-auto rounded-lg mb-1" @click="showAlert('敬請期待...')">
              <b>LINE <span class="tracking-widest ml-3">註冊</span> </b>
            </button> -->
          </div>
        </div>
        <button class="button is-fullwidth tracking-widest text-white border-t-0 border-r-0 border-l-0 border-b-2 border-white rounded-none bg-transparent my-4 hover:text-white hover:border-white" @click="$router.push('/login')">
          <img class="mr-2" src="@/assets/images/user_white.svg" alt="">
          <!-- <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v1c0 .55.45 1 1 1h14c.55 0 1-.45 1-1v-1c0-2.66-5.33-4-8-4z"/></svg> -->
          <b>會員登入</b>
        </button>
      </article>
    </template>
    <template v-if="$route.query.type == 'fillout'">
      <!-- 資料填寫 -->
      <div class="w-full">
        <p class="text-center bg-white is-size-5 sticky top-0 z-10 reg-title shadow-sm">會員註冊</p>
        <!-- Steps -->
        <ul class="steps has-content-centered is-horizontal my-4">
          <li class="steps-segment is-active">
            <span class="steps-marker bg-primary">
              <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><rect fill="none" height="24" width="24"/><path d="M14,11c0,0.55-0.45,1-1,1H4c-0.55,0-1-0.45-1-1s0.45-1,1-1h9C13.55,10,14,10.45,14,11z M3,7c0,0.55,0.45,1,1,1h9 c0.55,0,1-0.45,1-1s-0.45-1-1-1H4C3.45,6,3,6.45,3,7z M10,15c0-0.55-0.45-1-1-1H4c-0.55,0-1,0.45-1,1s0.45,1,1,1h5 C9.55,16,10,15.55,10,15z M18.01,12.87l0.71-0.71c0.39-0.39,1.02-0.39,1.41,0l0.71,0.71c0.39,0.39,0.39,1.02,0,1.41l-0.71,0.71 L18.01,12.87z M17.3,13.58l-5.16,5.16C12.05,18.83,12,18.95,12,19.09v1.41c0,0.28,0.22,0.5,0.5,0.5h1.41c0.13,0,0.26-0.05,0.35-0.15 l5.16-5.16L17.3,13.58z"/></svg>
            </span>
            <div class="steps-content">
              <p class="is-size-6 text-gray-400">填寫會員資訊</p>
            </div>
          </li>
          <li class="steps-segment">
            <span class="steps-marker">
              <span class="icon text-gray-700">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2l-3.5-3.5c-.39-.39-1.01-.39-1.4 0-.39.39-.39 1.01 0 1.4l4.19 4.19c.39.39 1.02.39 1.41 0L20.3 7.7c.39-.39.39-1.01 0-1.4-.39-.39-1.01-.39-1.4 0L9 16.2z"/></svg>
              </span>
            </span>
            <div class="steps-content">
              <p class="is-size-6 text-gray-400">完成</p>
            </div>
          </li>
        </ul>
        <p class="has-text-grey mx-3 -mb-2">會員資訊</p>
        <!-- start 為了 skip chrome 的自動填入 -->
        <input type="text" name="prevent_autofill" id="prevent_autofill" value="" class="hidden" />
        <input type="password" name="password_fake" id="password_fake" value="" class="hidden" />
        <!-- end 為了 skip chrome 的自動填入 -->
        <div class="box is-shadowless my-3 py-2">
          <div class="field is-horizontal border-b is-flex">
            <div class="field-label is-medium">
              <label class="label">姓名</label>
            </div>
            <div class="field-body is-flex">
              <div class="field mb-1">
                <div class="control">
                  <input class="input rounded-0 border-0 shadow-none" type="text" v-model="registerForm.membername" placeholder="姓名" name="usrname" required>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal is-flex">
            <div class="field-label is-medium">
              <label class="label">性別</label>
            </div>
            <div class="field-body is-flex">
              <div class="field">
                <div class="control pl-2">
                  <label class="radio" for="male">
                    <input type="radio"  name="gender" id="male" v-model="registerForm.memberSex" value="男" class="input-radio">
                    先生
                  </label>
                  <label class="radio" for="female">
                    <input type="radio" name="gender" id="female" v-model="registerForm.memberSex" value="女" class="input-radio">
                    小姐
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 生日 -->
        <div class="box is-shadowless my-3 py-2">
          <div class="field is-horizontal is-flex">
            <div class="field-label is-medium">
              <label class="label text-nowrap">生日</label>
            </div>
            <div class="field-body is-flex">
              <div class="field">
                <div class="control">
                  <datepicker
                    name="birth"
                    placeholder="請選擇日期 (必填)"
                    v-model="registerForm.memberBirthday"
                    :language="zh"
                    :clear-button="true"
                    :format="'yyyy-MM-dd'"
                    :initial-view="'year'"
                    :input-class="'input border-0 shadow-none'"
                  />
                  <p class="help is-danger">* 填寫生日可獲得專屬優惠，送出即無法修改喔！</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box is-shadowless my-3 py-2">
          <div class="field is-horizontal border-bottom is-flex">
            <div class="field-label is-medium">
              <label class="label text-nowrap">密碼</label>
            </div>
            <div class="field-body is-flex">
              <div class="field">
                <div class="control">
                  <input class="input border-0 shadow-none" type="password" v-model="registerForm.memberPwd" placeholder="請輸入 (必填)" name="pw" required>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal is-flex">
            <div class="field-label is-medium">
              <label class="label text-nowrap">確認密碼</label>
            </div>
            <div class="field-body is-flex">
              <div class="field">
                <div class="control">
                  <input class="input border-0 shadow-none" type="password" v-model="memberPwdConfirm" placeholder="請輸入 (必填)" name="pw2" required>
                  <p class="help is-danger">* 密碼為6-20字，並包含英文與數字</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 門店 -->
        <div class="box is-shadowless my-3 py-2">
          <div class="field is-horizontal is-flex align-items-center">
            <div class="field-label is-medium">
              <label class="label text-nowrap">門店</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select v-model="selectedShopCounty">
                      <option value="縣市">縣市</option>
                      <option v-for="county in Object.keys(storeGroup)" :key="county" :value="county">{{county}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select v-model="selectedShop">
                      <option v-for="mStore in storeGroup[selectedShopCounty]" :key="mStore.OrgCode" :value="mStore.OrgCode">{{mStore.OrgName}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 條款 -->
        <div class="box is-shadowless my-3 py-2">
          <div class="grid grid-cols-1 divide-y">
            <div class="flex items-center justify-between py-3" @click="selectedContract='contract01'">
              <div>
                <span :class="[formIsChecked01 ? 'text-green-500' : 'text-gray-200']">
                  <svg class="inline" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM9.29 16.29L5.7 12.7c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L10 14.17l6.88-6.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-7.59 7.59c-.38.39-1.02.39-1.41 0z"/></svg>
                </span>
                我同意隱私權保護條款
              </div>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9.31 6.71c-.39.39-.39 1.02 0 1.41L13.19 12l-3.88 3.88c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L10.72 6.7c-.38-.38-1.02-.38-1.41.01z"/></svg>
              </div>
            </div>
            <div class="flex items-center justify-between py-3" @click="selectedContract='contract02'">
              <div>
                <span :class="[formIsChecked02 ? 'text-green-500' : 'text-gray-200']">
                  <svg class="inline" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM9.29 16.29L5.7 12.7c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L10 14.17l6.88-6.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-7.59 7.59c-.38.39-1.02.39-1.41 0z"/></svg>
                </span>
                我同意會員服務條款
              </div>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9.31 6.71c-.39.39-.39 1.02 0 1.41L13.19 12l-3.88 3.88c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L10.72 6.7c-.38-.38-1.02-.38-1.41.01z"/></svg>
              </div>
            </div>
          </div>
        </div>
        <p class="my-3 mx-2">
          <button class="button bg-primary border-0 h-auto py-3 text-white tracking-widest is-fullwidth" style="margin-bottom: env(safe-area-inset-bottom)" @click="submitForm()">加入會員</button>
        </p>
      </div>
    </template>
    <!-- 聲明條款滑出圖層 -->
    <transition name="slide-up">
      <div class="modal is-active bg-white slide-layer justify-start" v-if="selectedContract">
        <div class="modal-content max-h-full">
          <h4 class="title is-4 p-4 mb-0 pb-0 text-center">
            {{currentContract.title}}
          </h4>
          <p class="white-space-wrap is-size-6 p-4 text-break" v-html="currentContract.content"></p>
          <!-- 我同意 -->
          <p class="bg-white w-full p-2" style="margin-bottom: env(safe-area-inset-bottom)">
            <button class="button bg-primary border-0 h-auto py-3 text-white tracking-widest is-fullwidth" @click="iagree()">我同意</button>
          </p>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="selectedContract=''"></button>
      </div>
    </transition>
  </div>
</template>

<style lang="scss" scoped>
.message .message-body {
  border-radius:.75rem !important;
}
.message .message-header {
  border-radius:.75rem !important;
}
.select:not(.is-multiple):not(.is-loading)::after,
.select:not(.is-multiple):not(.is-loading):hover::after {
  right: .5em;
}
@media screen and (min-width: 1px) {
  .field.is-horizontal {
    display: flex;
    .field-label {
      flex-basis: 0;
      min-width: 48px;
      @apply leading-10;
      @apply flex-grow;
      @apply flex-shrink;
      @apply mr-4;
      @apply text-right;
      @media screen and (min-width: 768px) { line-height: normal; }
      .is-medium {
        @apply pt-0;
      }
    }
    .field-body {
      @apply flex;
      @apply flex-shrink;
      flex-basis: 0;
      flex-grow: 5;
      .field {
        margin-bottom: 0;
        @apply mb-0;
      }
      > .field {
        @apply flex-shrink;
        &:not(.is-narrow) {
          @apply flex-grow;
        }
        &:not(:last-child) {
          margin-right: .75rem;
          @apply mr-3;
        }
      }
    }
  }
}
</style>

<script>
import moment from 'moment'
import store from 'src/store'
import { showAlert, fixScroll, showImageWuhu, isNotLinePara } from 'src/libs/appHelper.js'
import { deviseFunction, sendDeviseSMSreCode } from 'src/libs/deviseHelper.js'
// import fetchData from 'src/libs/fetchData.js'
import { StoreGroup, IsMobile, Makeid_int, L_Obj, ValidNum } from 'src/fun1.js'	// 共用fun在此!
import datepicker from 'vuejs-datepicker'
import { zh } from 'vuejs-datepicker/dist/locale'
// import 'swiper/css/swiper.css'

const LS1 = L_Obj.read('loginForm') || {}
const IsHank = /195321/.test(LS1.account);	// @@test

export default {
  components: {
    datepicker,
  },
  setup() {
    return { fixScroll, showAlert, ValidNum }
  },
  data: function(){
    return {
      zh: zh,
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      pageData: this.$store.state.baseInfo.publicData.index,
      SMSValidateCode: '',
      SMSCurrentQuota: 0,
      countNum: 0,
      counter: '',
      isConfirmed: false,
      isDisabled: false,
      isRuned: false,						// 正在執行 會員註冊(防止連按

      // isTerms: '',
      selectedContract: '', // 正在看的合約內容, ex: contract01
      // termsData: termsData,
      formIsChecked01: false, // 隱私條款
      formIsChecked02: false, // 會員服務條款
      memberPwdConfirm: '',
      errMsg: '',
			isCheckOK: true,
			isSendSMS: false,
      registerForm: {
        member_country: '886',
        membername: '',
        memberphone: '',
        memberPwd: '',
        memberEmail: '',
        memberBirthday: '',
        memberSex: '',
        memberAddr: '',
        isFromTD: '',
        MT_NickName: '',
        FromTDEmail: '',
        RemberDate: '',
        RD_DateTypeNo: 'none',
        RD_DateTypeNanme: '',

      },
      selectedCounty: '選縣市',
      selectedArea: '選區域',
      addrStreet: '',
      rememberKind: [], // 重要日子類別
      rememberKindStr: '', // 重要日子類別字串
			selectedShopCounty: '縣市',
      selectedShop: '',	// 門市,勿給預設,判斷用
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLogin() { return this.$store.getters.isLogin },
		// 按縣市選門店
		storeGroup: StoreGroup,
    // 簡訊發送間隔的最低時間 (預設： 50 秒)
    AppSMSIntervalMin() { return parseInt(this.state.SMS_Config.AppSMSIntervalMin) },
    // 簡訊每日發送上限 (預設： 5 封)
    APPSMSDayTimes()    { return parseInt(this.state.SMS_Config.APPSMSDayTimes) },
    // 取簡訊的發送扣打紀錄
    SMSSendQuota()      { return this.state.SMS_Config.SMSSendQuota },
    // 取簡訊驗證碼
    SMSreCode()         { return this.state.SMS_Config.reCode },
    // 取今天日期 (格式： yyyymmdd => e.g. 20190514)
    currentDay()        { return new Date().toISOString().slice(0,10).replace(/-/g,"") },
    isLineLogin()       {return this.$route.query.loginType == 'line'},
    contractData() {
      let companyData = store.state.baseInfo.publicData.companyData.filter((item) => {return !item.isBrand})
      let arrRes1 = [];
      if (companyData.length) {
        // 隱私權
        let one = companyData.find((item) => {
					return /隱私權/.test(item.Text)
        })

        // 會員服務條款
        let two = companyData.find((item) => {
					return /條款/.test(item.Text)
        })
				arrRes1 = [{
					id: 'contract01',
					title: one.DetailName,//'隱私權政策',
					content: one.SubText1, // 內容
				}, {
					id: 'contract02',
					title: two.DetailName, // 會員服務條款
					content: two.SubText1 // 內容
				}]
				// console.log('contractData-arrRes1: ', arrRes1);	// @@
      }
      return arrRes1
    },
    currentContract() {
      let find1 = {}
      if (this.selectedContract) {
        find1 = this.contractData.find((item)=>{
					return item.id == this.selectedContract
        })
      }
      return find1
    },
    hasSubBanner() { return !!this.pageData.subBanner.length },
    // 即時更新橫幅的圖片
    subBannerUpdate() { return this.pageData.subBannersUpdate },

  },
  // 在路由-第1次進入
  beforeRouteEnter: async function(to, from, next){
    if (!store.state.member.mac) {
      // 未登入狀態先撈好mac
      await store.dispatch('getMacNoLogin')
    }
    store.dispatch('fetchCompanyData')
		store.dispatch('fetchIndexSubBannerWuhu')		// 次橫幅
    store.dispatch('fetchStoreListDataWuhu')	// 取得門店

		next()
		// next(vm => {
			// vm.setRememberKind() // 取得重要日子類別
		// })
  },
  // 在 router 離開此 component 時觸發 (可以用 this )
  beforeRouteLeave: function(to, from, next) {
    // 清空簡訊驗證碼 & 清空所有表單內容
    this.SMSValidateCode = ''
    this.countNum =  0
    this.counter =  ''
    this.isConfirmed = false			// 回到手機號碼表單畫面
    this.isDisabled = false
    this.formIsChecked01 =  false // 隱私條款
    this.formIsChecked02 =  false // 會員條款
    this.memberPwdConfirm =  ''
    this.registerForm = {
      member_country: '886',
      membername: '',
      memberphone: '',
      memberPwd: '',
      memberEmail: '',
      memberBirthday: '',
      memberSex: '',
      memberAddr: '',
      isFromTD: '',
      MT_NickName: '',
      FromTDEmail: '',
      RemberDate: '',
      RD_DateTypeNo: 'none',
      RD_DateTypeNanme: '',
    },

    next()
  },
  beforeRouteUpdate: function(to, from, next){
    document.querySelector(".overflow-auto").scrollTop = 0 // 置頂
    next();
  },
  watch: {
    // 如果 data 有變化，會觸發指定的 function
    'registerForm.memberphone': 'setCounty',
    subBannerUpdate: function(val) {
      // 如果pull request副橫幅
      if (val) {
        this.refreshImage() // 即時更新副橫幅的圖片
        store.commit('setSubBannerUpdate', false) // 清空flag
      }
    },
		/** @Maybe: 未來再改-畫面加 :disabled="isDisabled" */
		/* 監聽-按鋌"加入會員"可否按 */
		// isDisabled: function (v1) {
			// console.warn('加入會員_isDisabled: ', v1);	// @@
    // },
		/* 監控錯誤訊息,有變動就showAlert */
		errMsg: function (v1) {
			this.isCheckOK = !(v1.length);	// falg-on/off by err有無值
			v1 && showAlert(v1);
		},
		/* @PS: 針對讀秒數時,還會key */
		SMSValidateCode: function (v1) {
			this.SMSValidateCode = v1.replace(/\D/g, '');
		},
  },
  // 頁面模組
  methods: {
    isNotLinePara,
    showImageWuhu,
    // 設定帳號所在的地區
    setCounty() {
      // 預設： 設為 886 (台灣)
      this.registerForm.member_country = '886'
      // 如果是中國的手機號碼格式, member_country 設定為 86
      if ( /^(1)\d*/.test(this.registerForm.memberphone) ) this.registerForm.member_country = '86'
    },
    // 選日期元件
    datePicker: function() {
      // var self = this;
      // this.$nextTick(function () {
      //   var options = {
      //     language: 'zh',
      //     autoClose: true,
      //     clearButton: true,
      //     view: 'years',
      //     position: 'bottom left',
      //     onSelect: function () {
      //       self.registerForm.memberBirthday = $("#dp").datepicker('getDate')[0].value;
      //     }
      //   };
      //   $("#dp").datepicker(options);
      // })
    },
    // 取得重要日子類別
    // async setRememberKind() {
			// // const url = "https://fig.jh8.tw/Public/AppDataVIP.ashx";
      // // https://tzml.jh8.tw/Public/AppDataVIP.ashx	// NG!
      // const url = this.$store.state.api.consumerUrl
      // const body = {
        // EnterpriseID: this.$store.state.baseInfo.EnterpriseID,
        // act: 'GetData',
        // DataName: 'RememberKind'
      // }
      // const data = await fetchData({url, body})
      // // console.log('===> data =>', data)
      // this.rememberKind = data
      // this.rememberKindStr = JSON.stringify(data)
    // },

    validAccount() {
			const v_inp1 = this.registerForm.memberphone
			var _err = v_inp1.length ? '' : '請輸入手機號碼';
			this.errMsg = _err;
			console.error('驗證表單_err: ', _err);	// @@

			if (_err || !ChkPhoneNum(v_inp1)) {
				event.target.focus();
			}
    },
		/* 驗證簡訊 */
    validSMS() {
			if (!this.registerForm.memberphone.length) {
				this.$refs.inpAccount.focus();
				return;
			}

			// 有取得驗證碼,驗證
			if (this.isSendSMS) {
				var _err = this.SMSValidateCode.length > 0 ? '' : '請輸入簡訊驗證碼';
				this.errMsg = _err;
				_err && event.target.focus();
			}
    },
		/* 取得驗證碼 */
    getSMSValidateCode(){
			if (!ChkPhoneNum(this.registerForm.memberphone)) { return; }	// 手機號碼驗證不過不能按

			const isNG = this.isSendSMS && this.countNum > 0
			if (isNG) { return; }	// 卡發過未歸0時,不得再發

			const isLiLogin1 	= this.state.lineLogin.token
				,funIt 					= this.afterChkRegistered
			if (!isLiLogin1) {
				// 檢測此手機號碼是否已註冊
				this.$store
				.dispatch('ensureMemberCodeNotRegistered', this.registerForm.memberphone)
				.then(res => {
					if (res.ErrorCode == '0') {
						showAlert('此手機號碼已註冊')
						return
					}
					funIt();
				})
			} else {
				funIt();
			}
    },
		/* 檢測手機註冊後做的事(共用 */
    afterChkRegistered() {
			if (this.validateSMSSendQuota() == false) return showAlert(`已超過本日簡訊發送上限！ <br> (最多 ${this.APPSMSDayTimes} 封簡訊)`)

			// 跟殼取簡訊已發送扣打資料
			deviseFunction('GetSP', 'SMSSendQuota', '"cbFnSetSMSSendQuota"');

			// 設置倒數計時器 ( countNum > 0 時, 發送驗證碼按鈕為 disabled ), 倒數時間從 state.setSMS_Config.AppSMSIntervalMin 取得
			this.countNum = this.AppSMSIntervalMin
			// 啟動倒數計時
			this.counter = setInterval(() => {
				// 到 0 時清除倒數計時
				if (this.countNum <= 0) { clearInterval(this.counter) }
				// 每一秒 - 1
				this.countNum = this.countNum ? this.countNum - 1 : 0;
			}, 1000);

			// 聚焦輸入框
			this.$refs.smsCodeInput.focus()

			// sample: '20190514-3'
			const SMSSendQuota = `${this.currentDay}-${this.SMSCurrentQuota + 1}`

			// 發送簡訊認證碼
			if (IsMobile()){
				sendDeviseSMSreCode({ phone: `${this.registerForm.memberphone};;${this.registerForm.member_country}`, SMSSendQuota: SMSSendQuota } )
			}else{
				this.sendWebSMSreCode(this.registerForm.memberphone)
			}
			this.isSendSMS = true;
    },
    sendWebSMSreCode(p_mobile){
      const initCode = Makeid_int(4);
      const p_msg = encodeURIComponent("卡+2驗證碼:"+ initCode);
      const p_url = `https://8012.jh8.tw/public/AppSMSsendOneEntry.ashx?EnterpriseID=${this.enterpriseID}&Mobile=${p_mobile}&SMSfun=Msg&SMSMsg=${p_msg}`;
      store.commit('setSMSreCode', initCode)
      store.dispatch('calcuSurl',{data:"{}",qrType:"0",exType:"1",url:p_url ,fn:(p_code)=>{
        store.dispatch('goSurl',{sUrl:p_code});
      }});
    },
    // 驗證是否還有扣打能發送簡訊
    validateSMSSendQuota() {
      const it1 = this.SMSSendQuota
				// 扣打紀錄是空的/扣打紀錄跟今日日期不同 皆NG
				,isNG		= !it1 || it1.substring(0, 8) !== this.currentDay
			if (isNG) { return true; }
      // console.warn('驗證扣打是否用完: '+this.APPSMSDayTimes, it1);	// @@

      // 更新今日扣打數量
      const currentQouta = parseInt(it1.substring(9));
      this.SMSCurrentQuota = currentQouta;

      // 驗證扣打是否用完 (超過上限 => false, 還沒用完 => true )
			const isTrue = currentQouta <  this.APPSMSDayTimes;
			if (isTrue) {
				this.isSendSMS = false;
			}
			return isTrue
    },
    // 確認驗證碼(下一步
    confirmSmsCode(fromCode) {
			if (!this.isCheckOK || !this.isSendSMS) { return; }	// @@Test
/* 
      // 判斷是否在殼裡面
			// if (!IsMobile() || !this.isCheckOK || !this.isSendSMS) { return; }
			if (!IsMobile()) {
				this.goRigistPage();
				return;
			} else {
				if (!this.isCheckOK || !this.isSendSMS) { return; }
			}
 */
      if ((this.SMSreCode != this.SMSValidateCode) ) return showAlert('簡訊驗證碼錯誤！')

			// 清除 SMSreCode
			this.$store.commit('setSMSreCode', '')
			// 進入註冊表單頁面
			// if (fromCode == 'generic') { this.isConfirmed = true; this.datePicker() }
			if (fromCode == 'generic') { this.goRigistPage() }

			const self = this
			// 如果是點選 Facebook 註冊 -> 觸發 Facebook SDK login -> 回傳沒問題再進入註冊表單
			if (fromCode == 'fb') this.$store.dispatch('deviseFacebookSignup').then(() => {
				// 二秒後再開啟註冊表單頁面
				// setTimeout(()=>{ this.isConfirmed = true; this.datePicker() }, 2000)
					self.goRigistPage()
			});
      if (fromCode == 'line') this.$store.dispatch('memberThirdRegister',this.registerForm.memberphone).then((res) => {
IsHank && alert('memberThirdRegister: \n'+JSON.stringify(res));	// @@

				if (!res.error && res.ErrorCode == '0'){
					//const p_info	= res[0]
					self.resetForm()
					self.$router.push('/login')
					self.$store.dispatch('memberThirdLogin', { sub: self.state.member.FromTDID ,isFromTD: "LINElogin"})
				} else if(res.error && res.detail && res.detail.ErrorCode === "6") {	//未註冊app
					self.goRigistPage()
				}
      })

    },
    goRigistPage() {
			// this.$router.push('/register?type=fillout');
			location.hash = '#/register?type=fillout';
			this.datePicker();
    },
    checkNull(str) {
			return str && str.trim();
    },
    checkDate(str) {
			const date1	= moment(str).format('YYYY-MM-DD')
				,today 		= moment(new Date()).format('YYYY-MM-DD')
			return date1 > '1900-01-01' && date1 < today;
    },
    // 送出註冊表單
    submitForm() {
      if (this.isRuned)		return	// 防止連按

      this.isDisabled = true
      const formData 	= this.registerForm
				,memberPwd 		= formData.memberPwd
				,birthday 		= formData.memberBirthday
				// ,remberDate 	= formData.RemberDate
				// ,rdDateTypeNo	= formData.RD_DateTypeNo
				// ,hasRemType		= rdDateTypeNo && rdDateTypeNo != 'none'

      // email 驗證
      // eslint-disable-next-line
      // const emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      // if (formData.memberEmail != '' && emailRegex.test(formData.memberEmail) != true) { this.isDisabled = false ; return showAlert('email 格式錯誤') }

      // 密碼 驗證
      const pwdRegex = /^(?=.*[0-9])(?=.*[a-zA-Z])[0-9a-zA-Z]{6,20}$/
      if (this.checkNull(memberPwd) && pwdRegex.test(memberPwd) != true) { this.isDisabled = false ; return showAlert('密碼為6-20字，並包含英文與數字') }

      // 條款確認
      if (this.formIsChecked01 == false) { this.isDisabled = false ; return showAlert('隱私權政策未確認') }
      if (this.formIsChecked02 == false) { this.isDisabled = false ; return showAlert('會員服務條款未確認') }
      // 密碼確認
      if (this.memberPwdConfirm != memberPwd) { this.isDisabled = false ; return showAlert('密碼與確認密碼不一致') }
      if (!this.checkNull(memberPwd)) { this.isDisabled = false ; return showAlert('密碼未填') }
      // 姓名確認
      if (!this.checkNull(formData.membername)) { this.isDisabled = false ; return showAlert('姓名未填') }
      // 生日確認
      if (!birthday) { this.isDisabled = false ; return showAlert('生日未填') }
      // 性別確認
      if (formData.memberSex == '')  { this.isDisabled = false ; return showAlert('請選擇性別') }
      // // 重要日子類別確認
      // if (remberDate && !hasRemType) { this.isDisabled = false ; return showAlert('請選擇重要的日子類別') }
      // // 重要日子確認
      // if (hasRemType && !remberDate) { this.isDisabled = false; return showAlert('請選擇重要的日子') }
      // 日期格式確認
      if (!this.checkDate(birthday)) { return showAlert('生日日期超過範圍!請重新輸入!') }
      // 地址確認
      if (this.addrStreet != '') formData.memberAddr = this.selectedCounty + this.selectedArea + this.addrStreet
      // 將第三方資訊塞入
      formData.isFromTD = this.state.member.isFromTD
      formData.FromTDID = this.state.member.FromTDID
      formData.MT_NickName = this.state.member.MT_NickName
      formData.FromTDEmail = this.state.member.FromTDEmail

      // 生日加上最後面的'T00:00:00.000Z'
      formData.memberBirthday = moment(birthday).format('YYYY-MM-DD') + 'T00:00:00.000Z'

/*

      // === 重要的日子 === start
      if (!this.checkNull(rdDateTypeNo) || rdDateTypeNo == 'none') {
        // console.log('===> rdDateTypeNo is null')
        // 若沒填就清空
        delete formData.RemberDate
        delete formData.RD_DateTypeNo
        delete formData.RD_DateTypeNanme
      } else {
        // console.log('===> rdDateTypeNo not null')
        // 若有填就處理
        // 重要的日子加上最後面的'T00:00:00.000Z'
        // 畫面沒有寫年,預設會是今年
        formData.RemberDate = moment(remberDate).format('YYYY-MM-DD') + 'T00:00:00.000Z'

        // 重要的日子類別找出label
        let originalRememberKind = JSON.parse(this.rememberKindStr)
        originalRememberKind.forEach((item) => {
					if(item.id == rdDateTypeNo) {
						formData.RD_DateTypeNanme=item.text
					}
        })
      }
      // === 重要的日子 === end
 */

      formData.ShopID = this.selectedShop;
			console.log('submitForm-formData: ', formData);	// @@

			this.isRuned = true;
      this.$store.dispatch('ensureMemberRegister', formData).then(res => {
				this.isRuned = false;
IsHank && alert('ensureMemberRegister: \n'+JSON.stringify(res));	// @@

				if (res.ErrorCode == 0) {	// 註冊成功
					// 表單資料初始化
					this.resetForm()

					if (this.isLineLogin) {
						// 顯示結果
						if (this.isNotLinePara()) showAlert(res.ErrorMsg)
					this.$store.dispatch('memberThirdLogin', { sub: this.state.member.FromTDID ,isFromTD: formData.isFromTD})

					} else {
						// this.$router.push('/login')	// 導向登入頁
						formData.password = formData.memberPwd
						formData.account = formData.memberphone
						this.$store.dispatch('memberLogin', formData);	// 直接自動登入
						setTimeout(function(){
							location.hash = '#/card';
						}, 800);

					}
				} else {									// 註冊失敗
					this.isDisabled = false		// 解除 disabled
IsHank && alert('註冊失敗-isNotLinePara: '+this.isNotLinePara());	// @@

        }
      })

    },
    // 表單資料初始化
    resetForm() {
      this.isConfirmed = false
      this.isDisabled = false
      this.formIsChecked01 = false // 隱私條款
      this.formIsChecked02 = false // 會員條款
      this.registerForm = {
        member_country: '886',
        membername: '',
        memberPwd: '',
        memberEmail: '',
        memberBirthday: '',
        memberSex: '',
        isFromTD: '',
        MT_NickName: '',
        FromTDEmail: '',
      }
    },

    iagree() {
      let selectedContract = this.selectedContract
      if (selectedContract == 'contract01') {
        this.formIsChecked01 = true
      } else if (selectedContract == 'contract02') {
        this.formIsChecked02 = true
      }
      this.selectedContract = ''
      this.isDisabled = !(this.formIsChecked01 && this.formIsChecked02);
    },

    redirectToLink(banner) {
      let url = banner.OuterURL
      if (url && (url.trim())) {
        // 在殼裡面 => 開啟瀏覽器
        if (IsMobile()) {
					deviseFunction('openWeburl', url, '')
        // 在瀏覽器 => 瀏覽器新開一個tab
        } else {
					window.open(url, '_blank')
        }
      }
    },

    // 副橫幅圖片即時更新
    refreshImage() {
      let imageObjs = document.getElementsByClassName('swiper-lazy')
      // console.log('===> imageObjs =>', imageObjs)
      imageObjs.forEach((item)=>{
        let imgUrl = item.currentSrc
        // console.log('===> imgUrl =>' + imgUrl)

        // 如果已經load好圖片
        if (imgUrl && imgUrl!='') {
					// 把圖片後面的版號更新到最新現在
					let newImgUrl = imgUrl.substring(0, imgUrl.indexOf('?v='))
						+ '?v='
						+ (new Date()).getTime()
						+ '")'
					// console.log('===> newImgUrl =>' + newImgUrl)

					// 把圖片重新set,就會重load圖片了
					item.src = newImgUrl
					item.dataset.src = newImgUrl
					item.dataset.currentSrc = newImgUrl
        }
      })
    }
  },
}

/* 驗證-手機號碼 */
function ChkPhoneNum(v1) {
	const twMobile = /^09[0-9]{2}[0-9]{6}$/ // 台灣手機號碼格式需為09XXXXXXXX
		// ,cnMobile = /^1[0-9]{2}[0-9]{8}$/  // 中國手機號碼格式需為1XXXXXXXXXX

	// const isTrue = twMobile.test(v1) || cnMobile.test(v1)
	const isTrue = twMobile.test(v1)
	!isTrue && showAlert('手機號碼格式錯誤')
	return isTrue
}
</script>