<template>
  <div class="h-full overflow-auto" style="transform:translateZ(0);height: calc(100% - 54px);padding-top: calc(env(safe-area-inset-top) + 54px)">
    <!-- 設定頁 -->
    <div v-if="!type">
      <section class="m-2 mb-0">
        <table class="table bg-transparent is-fullwidth">
          <tbody>
            <tr>
              <td class="py-3 has-text-grey">版本號</td>
              <td class="py-3">
                <div class="text-right">
                  <span v-if="isStaging" class="is-size-6 has-text-grey">(測試站) </span>
                  <b>20220422-01</b><b v-if="isTestAPI">＊</b>
                </div>
              </td>
            </tr>
            <tr>
              <td class="py-3 has-text-grey">接收推播訊息</td>
              <td>
                <div class="text-right">
                  <div class="relative inline-block w-12 align-middle select-none transition duration-200 ease-in">
                      <input type="checkbox" name="toggle" id="toggle" class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 border-gray-300 appearance-none cursor-pointer" v-model="pushNotify" @click="deviseSetPushNotify(!pushNotify)">
                      <label for="toggle" class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
                  </div>
                </div>
                <!-- <div class="field">
                  <input id="switch" type="checkbox" name="switch" class="switch">
                  <label for="switch"></label>
                </div> -->
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <!-- 基本資料 -->
      <section class="m-2 mt-0">
        <table class="table bg-transparent is-fullwidth">
          <tbody>
            <tr>
              <th colspan="2" class="py-3 text-center has-text-grey">基本資料</th>
            </tr>
            <tr>
              <td class="py-3 has-text-grey text-nowrap">手機</td>
              <td class="py-3"><b class="block text-right">{{userData.CardNO}}</b></td>
            </tr>
            <tr>
              <td class="py-3 has-text-grey text-nowrap">姓名</td>
              <td class="py-3"><b class="block text-right">{{userData.CnName}}</b></td>
            </tr>
            <tr v-if="userData.BirthDay && userData.BirthDay.trim()!=''">
              <td class="py-3 has-text-grey text-nowrap">生日</td>
              <td class="py-3"><b class="block text-right">{{formatBirthday(userData.BirthDay)}}<!-- {{displayBirthday(userData.Birthday)}} --></b></td>
            </tr>
            <tr>
              <td class="py-3 has-text-grey text-nowrap">性別</td>
              <td class="py-3"><b class="block text-right">{{userData.sex}}<!-- {{(userData.Sex === 'True' || userData.Sex) ? "男" : "女"}} --></b></td>
            </tr>
            <tr v-if="userData.Email">
              <td class="py-3 has-text-grey text-nowrap">電子信箱</td>
              <td class="py-3"><b class="block text-right">{{userData.Email}}</b></td>
            </tr>
            <tr v-if="userData.Address">
              <td class="py-3 has-text-grey text-nowrap">地址</td>
              <td class="py-3"><b class="block text-right">{{userData.Address}}</b></td>
            </tr>
          </tbody>
        </table>
      </section>
      <!-- 按鈕 -->
      <section class="m-2 mt-0">
        <div class="buttons">
          <button class="button is-fullwidth tracking-widest h-auto py-3 border-1 border-gray-700 bg-primary text-white hover:text-white" @click="toChangePwd()">
            <b>修改密碼</b>
          </button>
          <button class="button is-fullwidth tracking-widest h-auto py-3 border-1 border-gray-300 hover:bg-white hover:border-gray-300" @click="logout">
            <b>登出</b>
          </button>
        </div>
      </section>
    </div>
    <!-- 修改密碼 -->
    <div v-if="type === 'changePW'">
      <!-- <p class="text-center bg-white is-size-5 sticky top-0 reg-title">修改密碼</p> -->
      <section class='px-3 py-4'>
        <div class="field">
          <div class="control has-icons-left">
            <input class="input rounded-none border-t-0 border-r-0 border-l-0 border-b border-gray-300 shadow-none bg-transparent" type="password" placeholder="請輸入舊密碼" @blur.prevent="fixScroll" v-model="form.memberPwdold">
            <span class="icon is-small is-left">
              <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><g><path d="M0,0h24v24H0V0z" fill="none"/></g><g><g><path d="M18,11c0.7,0,1.37,0.1,2,0.29V10c0-1.1-0.9-2-2-2h-1V6c0-2.76-2.24-5-5-5S7,3.24,7,6v2H6c-1.1,0-2,0.9-2,2v10 c0,1.1,0.9,2,2,2h6.26C11.47,20.87,11,19.49,11,18C11,14.13,14.13,11,18,11z M9,6c0-1.66,1.34-3,3-3s3,1.34,3,3v2H9V6z"/><path d="M18,13c-2.76,0-5,2.24-5,5s2.24,5,5,5s5-2.24,5-5S20.76,13,18,13z M20,20c-0.2,0.2-0.51,0.2-0.71,0l-1.65-1.65 c-0.09-0.09-0.15-0.22-0.15-0.35v-2.5c0-0.28,0.22-0.5,0.5-0.5h0c0.28,0,0.5,0.22,0.5,0.5v2.29l1.5,1.5 C20.2,19.49,20.2,19.8,20,20z"/></g></g></svg>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input class="input rounded-none border-t-0 border-r-0 border-l-0 border-b border-gray-300 shadow-none bg-transparent" type="password" placeholder="請輸入新密碼" @blur.prevent="fixScroll" v-model="form.memberPwd">
            <span class="icon is-small is-left">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><g fill="none"><path d="M0 0h24v24H0V0z"/><path d="M0 0h24v24H0V0z" opacity=".87"/></g><path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zM9 8V6c0-1.66 1.34-3 3-3s3 1.34 3 3v2H9z"/></svg>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input class="input rounded-none border-t-0 border-r-0 border-l-0 border-b border-gray-300 shadow-none bg-transparent" type="password" placeholder="新密碼確認" @blur.prevent="fixScroll" v-model="form.memberPwdConfirm">
            <span class="icon is-small is-left">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><g fill="none"><path d="M0 0h24v24H0V0z"/><path d="M0 0h24v24H0V0z" opacity=".87"/></g><path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zM9 8V6c0-1.66 1.34-3 3-3s3 1.34 3 3v2H9z"/></svg>
            </span>
          </div>
        </div>
        <div class="field mt-5">
          <button class="button is-fullwidth tracking-widest h-auto border-1 border-gray-700 py-3 bg-primary text-white hover:text-white" @click="submitChangePW" :disabled="formDisabled">
            <b>送出</b>
          </button>
        </div>
      </section>
    </div>
    <!-- 修改地址
    <div v-if="type === 'changeAddress'">
      <p class="text-center bg-white is-size-5 sticky top-0 reg-title">設定地址</p>
      <section class='px-2 mt-3'>
        <div class="field">
          <div class="control has-icons-left">
            <input class="input" type="text" placeholder="請輸入地址" v-model="form.memberAddr" >
            <span class="icon is-small is-left">
              <i class="fas fa-building"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <p class="help has-text-grey ml-5">為了確認個資的修改，請輸入您的會員密碼</p>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="password" placeholder="請輸入密碼" v-model="form.memberPwdold">
            <span class="icon is-small is-left">
              <i class="fas fa-key"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </div>

        </div>
        <div class="field">
          <a class="button is-link is-fullwidth" @click="submitChangeAddr" :disabled="formDisabled">送出</a>
        </div>
      </section>
    </div> -->
  </div>
</template>

<style lang="scss" scoped>
</style>

<script>
import md5 from 'md5'
import VueCookies from 'vue-cookies'
import store from 'src/store'
import { S_Obj } from 'src/fun1.js'	// 共用fun在此!
import { router } from 'src/libs/systemEnv.js'
import { computed, ref, reactive } from '@vue/composition-api'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { isLogin, fixScroll, showAlert, showConfirm } from 'src/libs/appHelper.js'

// 使用者基本資料
// const userData = computed(() => store.state.userData)
// const userData = computed(() => store.state.baseInfo.memberData.vip_info)

// const pushNotifySetting = computed(() => {
//   const value = store.state.baseInfo.pushNotify
//   return (value === '0' || value === undefined) ? true : false
// })

// // 設定是否啟用接收推播訊息
// const pushNotify = ref(pushNotifySetting)
// function deviseSetPushNotify(status) {
//   const pushNotify = (status ? '1' : '0')
//   store.commit('setBaseInfo', {pushNotify})
//   deviseFunction('SetSP', `{"spName":"pushNotify", "spValue":"${pushNotify}"}`, '')
// }

// 會員資料表單
const formDisabled = ref(false)
const form = reactive({
  memberPwd: '',
  memberPwdConfirm: '',
  memberPwdold: '',
  memberAddr: store.state.userData.Address,
})

// 表單資料初始化
function resetForm() {
  formDisabled.value = false
  form.memberPwd = ''
  form.memberPwdConfirm = ''
  form.memberPwdold = ''
}

// 修改密碼
async function submitChangePW() {
  const {memberPwdold, memberPwd, memberPwdConfirm} = form

  // 密碼 驗證
  const pwdRegex = /^(?=.*[0-9])(?=.*[a-zA-Z])[0-9a-zA-Z]{6,20}$/
  if (memberPwd != '' && pwdRegex.test(memberPwd) != true) { return showAlert('密碼為6-20字，並包含英文與數字') }

  if (memberPwd == '') { return showAlert('請輸入新密碼') }
  if (memberPwdold == '') { return showAlert('請輸入舊密碼') }
  if (memberPwd != memberPwdConfirm) { return showAlert('新密碼與新密碼確認不一致') }

  formDisabled.value = true

  const update = await store.dispatch('ensureMemberUpdateProfile', form)
  if (update.error) { formDisabled.value = false; return showAlert(update.msg) }

  console.log('===> update =>', update)
  let newToken = ''
  if (update && update[0]) {
    newToken = update[0].Tokenkey
  }

  // 更新密碼和token
  const encryptedPwd = md5(memberPwd)

  // 1. 更新到store
  store.state.member.pwd = encryptedPwd
  store.state.member.Tokenkey = newToken

  // 2. 非殼才要存到cookie
  if (typeof(JSInterface) == 'undefined') {
    VueCookies.set('kkUserPwd', encryptedPwd)
    VueCookies.set('kkTokenkey', newToken)
  }

  // 3. 更新到殼
  // 3.1 更新密碼到殼
  let setThing = `{"spName":"pwd", "spValue": "${encryptedPwd}"}`
  console.log('submitChangePW ===> setThing-pwd =>' + setThing)
  deviseFunction('SetSP', setThing, '')

  // 3.2 更新token到殼
  setThing = `{"spName":"Tokenkey", "spValue": "${newToken}"}`
  console.log('submitChangePW ===> setThing-token =>' + setThing)
  deviseFunction('SetSP', setThing, '')

  showAlert('修改密碼成功！')
  resetForm()
  router.push('/card')
}

// 修改地址
async function submitChangeAddr() {
  const {memberAddr, memberPwdold} = form

  if (memberAddr == '')   { return showAlert('請輸入地址') }
  if (memberPwdold == '') { return showAlert('請輸入會員密碼') }

  formDisabled.value = true

  const update = await store.dispatch('ensureMemberUpdateProfile', {memberPwdold, memberAddr})
  if (update.error) { formDisabled.value = false; return showAlert(update.msg) }
  const userData = update[0]
  store.commit('setUserData', userData)
  VueCookies.set('kkUserData', userData)
  deviseFunction('SetSP', `{"spName":"Address", "spValue":"${userData.Address}"}`, '')
  router.push('/')

}

// 生日顯示格式為 1/1/1983
// 原本為1/1/1983 hh:mm:ss
function displayBirthday(original) {
  let resultStr = ''
  if (original && typeof original !== 'undefined'
    && original.length>0) {
    // 取第一個空白位置,撈之前的字
    let firstBlankIndex = original.indexOf(' ')
    resultStr = original.substring(0, firstBlankIndex)
  }

  return resultStr
}

// 登出
const logout = () => store.dispatch('memberLogout')

export default {
  name: 'kakarSetting',
  // 頁面資料: 請使用function return
  data: function() {
    return {
      isStaging: S_Obj.isStaging,
      state: this.$store.state,
      RFMData: this.$store.state.userData,
      userData: this.$store.state.baseInfo.memberData.vip_info,
      pushNotify: true
    };
  },
  setup(props, context) {
    const type = computed(() => context.root.$route.query.type )
    return {
      logout, type, /*userData, pushNotify, deviseSetPushNotify,*/
      form, formDisabled, submitChangePW, submitChangeAddr, fixScroll, displayBirthday
    }
  },
  computed: {
    isTestAPI(){ return S_Obj.isTestAPI() },
    // 重要的日子
    rememberDate() {
      let returnDate = ''
      let rememberDates = this.state.baseInfo.memberData.rememberDates
      if (rememberDates && rememberDates.length>0) {
        // 只撈第一筆出來
        let oneDate = rememberDates[0].RemberDate
        returnDate = oneDate.substring(5, 10)
        returnDate = returnDate.replace('-', '/')
      }
      return returnDate
    }
  },
  // 在路由進入時執行
  beforeRouteEnter: function beforeRouteEnter(to, from, next) {
    if (!isLogin.value) return next('/login')

    store.dispatch('fetchVipAndCardInfoWuhu')

    store.state.isPageName = '會員資訊'	// 頁面名稱

    next((vm) => {
      let storePushNotify = vm.$store.state.baseInfo.pushNotify
      // console.log('pushNotify ===> storePushNotify =>' + storePushNotify)
      if (storePushNotify==null || (typeof storePushNotify === 'undefined') || parseInt(storePushNotify.trim())==1) {
        vm.pushNotify = true
      } else {
        vm.pushNotify = false
      }
    });
  },
  beforeRouteUpdate: function(to, from, next) {
		const _name = this.type != 'changePW' ? '修改密碼' : '會員資訊'
    this.$store.state.isPageName = _name

    next();
  },
  methods: {
    doDeviseSetPushNotify(status) {
      console.log('deviseSetPushNotify ===> status =>' + status)
      const pushNotify = (status ? '1' : '0')
      store.commit('setBaseInfo', {pushNotify})
      let spString = `{"spName":"pushNotify", "spValue":"${pushNotify}"}`
      console.log('deviseSetPushNotify ===> spString =>' + spString)
      deviseFunction('SetSP', spString, '')
      store.commit('setCustomModal', { type: '', text: '' })
    },
    deviseSetPushNotify(status) {
      if (status) {
        this.doDeviseSetPushNotify(status)
      } else {
        showConfirm("關閉後無法再收到最新優惠訊息<br>是否確認關閉?")
        // 點擊確認執行贈卷
        .then(() => this.doDeviseSetPushNotify(status) )
        // 點擊取消執行關閉 confirmn 視窗
        .catch(() => {
          this.pushNotify = true
          store.commit('setCustomModal', { type: '', text: '' })
        })
      }
    },
    // 到修改密碼頁面
    toChangePwd() {
      this.$router.push('/setting?type=changePW')
      resetForm()
    },
    formatBirthday(birthStr) {
      let returnStr = ''
      if (birthStr && birthStr.trim()!='') {
        returnStr = birthStr.substring(5)
      }
      return returnStr
    }
  }
}
</script>
