/* 專屬 css 寫在這裡 */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@function rem($size) {
  @return $size / 16px * 1rem;
}

:root {
  --font-family-zhtw: "微軟正黑體"; /* font */
  --top-nav-height: 54px; /* nav height */
  --bottom-nav-height: 62px;
  --side-nav-width: 160px;
  --ios-safe-area-top: env(safe-area-inset-top);
  --ios-safe-area-bottom: env(safe-area-inset-bottom);
}

// ios禁止長按存圖
img {
  -webkit-touch-callout: none;
}



*:focus {
  outline: none !important;
  box-shadow: none !important;
}

*:not(input) {
  /*-webkit-touch-callout: none;  Disable Android and iOS callouts*/
  -webkit-tap-highlight-color: transparent;
  @apply select-none;
}

::placeholder {
  color: #444 !important;
}

input:not([type=checkbox]):not([type=radio]),
select {
  @apply appearance-none;
  &:active {
    box-shadow: none !important;
  }
  // border-radius: 0;
}

// 去除無資料外灰框
img[src=""], img:not([src]){
  @apply opacity-0;
}

a:hover {
  text-decoration: none !important;
}

html, body {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", var(--font-family-zhtw), "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  @apply h-screen;
  @apply w-screen;
  @apply text-base;
  @apply leading-5;
  @apply overflow-x-hidden;
  @apply box-border;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

.select:not(.is-multiple):not(.is-loading)::after,
.select:not(.is-multiple):not(.is-loading):hover::after {
  border-color: $primary-color;
  right: 1rem;
}

.select select:not([multiple]) {
  padding-right: 1em;
}

input:not([type=checkbox]):not([type=radio]):focus {
  border-color: $primary-color !important;
}

.push-bottom-hack {
  padding-bottom: calc(var(--bottom-nav-height) + var(--ios-safe-area-bottom) + 64px);
}

.bg-marble {
  background-image: url('../../assets/images/bg_marble.jpg');
  @apply bg-cover;
}

.bg-primary {
  background-color: #{$primary-color} !important;
}

.bg-secondary {
  background-color: #{$secondary-color} !important;
}

.text-primary {
  color: #{$primary-color};
}

.text-secondary {
  color: #{$secondary-color} !important;
}

.border-secondary {
  border-color: #{$secondary-color} !important;
}

.bg-li-light{
  background-color: hsl(48, 100%, 50%);
}

.is-facebook {
  background-color: $facebook;
  @apply text-white;
  &:hover {
    @apply text-white;
  }
}
.is-twitter {
  background-color: $twitter;
  @apply text-white;
  &:hover {
    @apply text-white;
  }
}
.is-instagram {
  background-color: $instagram;
  @apply text-white;
  &:hover {
    @apply text-white;
  }
}
.is-line {
  background-color: $line;
  @apply text-white;
  &:hover {
    @apply text-white;
  }
}

.modal-close {
  top: calc(10px + env(safe-area-inset-top));
  background-color: rgba(10, 10, 10, 0.4);
  transform: scale(1.25);
}

.input-radio {
  @apply w-6;
  @apply h-6;
  @apply relative;
  @apply top-1;
}

/* datepicker customize */
.vdp-datepicker__calendar {
  width: calc(100vw - 32px) !important;
  left: 50%;
  transform: translateX(-50%);
  background: $primary-color !important;
  @apply text-lg;
  @apply -ml-8;
  @apply text-white;
  @apply p-2;
  @apply rounded-lg;
  @apply border-none;
  .prev:not(.disabled):hover, .next:not(.disabled):hover {
    background-color: rgba(255, 255, 255, .1) !important;
  }
  .prev::after {
    border-right-color: white !important;
  }
  .next::after {
    border-left-color: white !important;
  }
  .cell.selected {
    background: white !important;
    color: $primary-color;
    @apply rounded-full;
    @apply font-bold;
  }
  .cell:not(.blank):not(.disabled).year:hover,
  .cell:not(.blank):not(.disabled).month:hover,
  .cell:not(.blank):not(.disabled).day:hover {
    border: 1px solid transparent !important;
  }
}
.iDay-datepicker {
  .vdp-datepicker__calendar {
    @apply -ml-12;
    header, .day-header {
      @apply hidden;
    }
  }
}

// 平板裝置日曆元件跑版修正
@media only screen 
  and (min-device-width: 600px) 
  and (max-device-width: 1920px) {
    .vdp-datepicker__calendar {
      width: calc(64vw) !important;
      @apply left-0;
      @apply translate-x-0;
      @apply ml-0;
    }
}

.vdp-datepicker__clear-button {
  @apply absolute;
  @apply text-2xl;
  @apply text-gray-300;
  @apply right-0;
  @apply top-0;
  i {
    @apply inline-block;
    @apply mt-1;
    @apply not-italic;
  }
}

.home-top-nav {
  padding-top: env(safe-area-inset-top);
  background: $primary-color;
  z-index: 97;
  @apply w-full;
  @apply text-white;
}

// 登入後首頁輪播樣式
.home-swiper {
  height: 100%;
  .swiper-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .swiper-content {
    width: calc(100% - 5rem);
    position: absolute;
    bottom: 1.5rem;
    background: rgba(255, 255, 255, 0.95);
    .title {
      color: var(--ootoya-color);
    }
  }
}

.reg-title {
  padding-top: calc(12px + env(safe-area-inset-top));
  padding-bottom: 12px;
}

.fa-share-alt.fa-stack-1x {
  transform: translateX(-1px);
}

.flex-fill {
  flex: 1 1 0 !important;
}

/* 置(底)功能列 */
.bottom-nav {
  background: url('../images/nav_shape_bg.svg');
  background-size: 800px 150px;
  padding: 0 8px env(safe-area-inset-bottom);
  z-index: 99;
  @apply fixed;
  @apply w-full;
  @apply bottom-0;
}

/* 側選單 */
.menu { 
  padding-top: env(safe-area-inset-top);
  background: $sidemenu-color;
  width: var(--side-nav-width);
  z-index: 98;
  @apply overflow-visible;
  @apply absolute;
  @apply h-full;
  .menu-list a {
    @apply text-white;
    padding: 8px 16px;
    &:hover {
      background-color: rgba(white, .1);
      @apply no-underline;
    }
  }
}

.swiper-lazy-preloader {
  width: 24px !important;
  height: 24px !important;
  margin-left: -12px !important;
  margin-top: -12px !important;
}

/**
 * vue enter/leave transition
 * 側選單 & 滑動圖層
 */
.slide-top-enter-active,
.slide-top-leave-active,
.slide-fade-enter-active,
.slide-fade-leave-active,
.side-menu-enter-active,
.side-menu-leave-active {
  transition: all .3s ease;
}

.slide-top-enter,
.slide-top-leave-to {
  transform: translateY(100%);
}
.slide-fade-enter,
.slide-fade-leave-to {
  @apply opacity-0;
}
.side-menu-enter,
.side-menu-leave-to {
  transform: translateX(calc(var(--side-nav-width)*-1));
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all .15s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}
.slide-up-leave {
  opacity: 1;
  transform: translateY(0rem);
}
.slide-up-leave-to {
  opacity: 0;
  transform: translateY(.75rem);
}
.slide-up-enter {
  opacity: 0;
  transform: translateY(-.75rem);	
}
.slide-up-enter-to {
  opacity: 1;
  transform: translateY(0rem);
}

/* 換頁動畫 */
.page-fade-enter-active {
  transition: opacity .3s ease-in;
}
.page-fade-enter {
  @apply opacity-50;
}

/* 滑動圖層 */
.slide-layer {
  padding-top: env(safe-area-inset-top);
  z-index: 99;
  @apply fixed;
  @apply top-0;
  @apply right-0;
  @apply left-0;
  @apply bottom-0;
}

/* The switch */
.switch[type="checkbox"] {
  outline: 0;
  user-select: none;
  display: inline-block;
  position: absolute;
  opacity: 0;
}
.switch[type="checkbox"]:focus + label::before,
.switch[type="checkbox"]:focus + label:before,
.switch[type="checkbox"]:focus + label::after,
.switch[type="checkbox"]:focus + label:after {
  outline: 1px dotted #b5b5b5;
}
.switch[type="checkbox"] + label {
  position: relative;
  display: initial;
  font-size: 1rem;
  line-height: initial;
  padding-left: 3rem;
  padding-top: 0.2rem;
  cursor: pointer;
}
.switch[type="checkbox"] + label::before,
.switch[type="checkbox"] + label:before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 3rem;
  height: 1.5rem;
  border: 0.1rem solid transparent;
  border-radius: 4px;
  background: #b5b5b5;
  content: "";
}
.switch[type="checkbox"] + label::after,
.switch[type="checkbox"] + label:after {
  display: block;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 1rem;
  height: 1rem;
  transform: translate3d(0, 0, 0);
  border-radius: 4px;
  background: #fff;
  transition: all 0.25s ease-out;
  content: "";
}
.switch[type="checkbox"]:checked + label::before,
.switch[type="checkbox"]:checked + label:before {
  background: $primary-color;
}
.switch[type="checkbox"]:checked + label::after {
  left: 1.625rem;
}
.switch[type="checkbox"] + label::before,
.switch[type="checkbox"] + label:before {
  border-radius: 290486px;
}
.switch[type="checkbox"] + label::after,
.switch[type="checkbox"] + label:after {
  border-radius: 290486px;
}

.toggle-checkbox:checked {
  border-color: #{$primary-color};
  @apply right-0;
}
.toggle-checkbox:checked + .toggle-label {
  background: #{$primary-color};
}

/* swiper pagination color */
.swiper-pagination-bullet-active {
  background: $primary-color !important;
}

/* 預設會員頭像 */
.mbr-avatar {
  width: 6.25rem;
  height: 6.25rem;
  border-width: 4px!important;
  background: linear-gradient(0deg, #fff 50%, #f1f1f1 100%);
}

/* 優惠券TAB */
.tabBar .tabLink {
  border-bottom-width: 3px !important;
  border-bottom-color: transparent !important;
  padding: .5rem 0;
}

.tabBar .tabLink.isActive {
  border-bottom-width: 3px !important;
  border-bottom-color: var(--primary-color) !important;
}

/* for vue use */
[v-cloak] {
  display: none;
}
[disabled] {
  pointer-events: none;
}

/* checked button */

input[type="checkbox"].ck-button + label,
input[type="radio"].ck-button + label {
	@apply inline-block;
  @apply rounded-full;
  @apply border-gray-400;
  @apply bg-gray-200;
  @apply m-1;
  min-width: calc(33% - 8px);
}
input[type="checkbox"].ck-button:checked + label,
input[type="radio"].ck-button:checked + label {
  border:1px solid $primary-color;
  background: $primary-color;
  color: white;
}

.scroll-touch {
  // -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.text-elps {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.align-sub {
  vertical-align: sub;
}

.white-space-wrap {
  white-space: pre-wrap;
}

.grayscale-100 {
  filter: grayscale(100%);
}

.opacity-75 {
  opacity: .75;
}

.checkbox input.is-150 {
  transform : scale(1.3);
}

.line-height-100 {
  line-height: 100%;
}

.notification.is-warning.is-light {
  background-color: #fffbeb;
  color: #947600;
}
.notification.is-info.is-light {
    background-color: #eef6fc;
    color: #1d72aa;
}

.mbr-qrcode {
  z-index: 101;
  .box {
    padding: 0;
    overflow: hidden;
    header {
      position: relative;
      background: $primary-color;
      padding: 1.25em 1em 0;
      margin-bottom: 2.5em;
      svg {
        position: absolute;
        bottom: -100px;
        width: 115%;
        height: 100px;
        left: 50%;
        transform: translateX(-50%);
        fill: $primary-color;
      }
    }
  }
}

/* top nav background */
.top-nav-bg {
  background-image: linear-gradient(90deg, #effaf3 0%, hsl(205, 71%, 94%) 100%);
}

/* coupon style */
.coupon-style {
  background-image: linear-gradient(135deg, #ffffff 25%, #fafafa 25%, #fafafa 50%, #ffffff 50%, #ffffff 75%, #fafafa 75%, #fafafa 100%);
  background-size: 160.00px 160.00px;
  @apply border;
  .media-left {
    @apply border-dotted;
    @apply border-r-2;
    @apply pr-4;
    @apply mr-4;
    .cut {
      @apply transform;
      @apply -rotate-90;
      @apply absolute;
      @apply -right-7;
      @apply -top-14;
      @apply text-gray-400;
    }
  }
}

.bg-stripe {
  background-image: linear-gradient(135deg, #ffffff 25%, #fafafa 25%, #fafafa 50%, #ffffff 50%, #ffffff 75%, #fafafa 75%, #fafafa 100%);
  background-size: 160.00px 160.00px;
}

/* badge style */
[data-badge] {
  @apply relative;
  &::after {
    box-shadow: 0 0 0 1px #fff;
    padding: calc((#{rem(16px)} - .75rem) / 2);
    background: $secondary-color;
    border-radius: 290486px;
    content: attr(data-badge);
    z-index: 99;
    min-width: rem(20px);
    min-height: rem(20px);
    transform: translate(50%, -50%);
    @apply inline;
    @apply absolute;
    @apply m-0;
    @apply text-center;
    @apply whitespace-nowrap;
    @apply leading-3;
    @apply bg-clip-padding;
    @apply text-black;
    @apply top-0;
    @apply right-0;
    @apply bottom-auto;
    @apply left-auto;
    @apply text-xs;
  }
}
.badge-gray[data-badge]::after {
  @apply filter;
  @apply grayscale;
  @apply opacity-30
}
[data-badge='0'], [data-badge=''] {
  &::after {
    @apply hidden;
  }
}
.bottom-nav [data-badge] {
  &::after {
    @apply ring-0;
  }
}
.tabs {
  [data-badge]::after {
    @apply top-3;
    @apply right-1;
  }
}

.separator-text {
  @apply flex;
  @apply items-center;
  @apply text-center;
  @apply my-2;
  &::before, &::after {
    content: '';
    @apply flex-1;
    @apply border-t;
    @apply border-gray-300;
  };
  &:not(:empty)::before {
    @apply mr-2;
  };
  &::after {
    @apply ml-2;
  };
}

.padding-bottom-env {
  padding-bottom: env(safe-area-inset-bottom) !important;
}

.padding-top-env {
  padding-top: env(safe-area-inset-top) !important;
}

// ios notch hack
.bp3-toast-container {
  padding-top: env(safe-area-inset-top);
  z-index:99999;
  .bp3-toast {
    background-color: #01579B !important;
    border-radius: .5rem !important;
    margin-top: .75rem !important;
    @apply leading-none;
  }
}