// bulma 變數
$green: #86b817; // fami-primary-color
$cyan: #4ba6f5; // fami-secondary-color
$red: #f34235; // fami-danger-color
$orange: #f79400; // fami-warning-color
$yellow: #fdca30;

$primary-color: #3b3c44;
$secondary-color: #D69A64;
$sidemenu-color: #2a2a2a;
$orange: #FFC400;

$facebook: #3b5999;
$twitter: #55acee;
$instagram: #e4405f;
$line: #00b900;

$navbar-breakpoint: 1px;
$tabs-border-bottom-width: 2px;
$tabs-toggle-link-border-width: 2px;
$tabs-border-bottom-color: #f5f5f5;
$tabs-link-hover-border-bottom-color: $primary-color;
$tablet: 768px;
$link:  $primary-color;
$tabs-link-active-color: #4a4a4a;
$tabs-toggle-link-border-width: 2px;
$tabs-link-hover-border-bottom-color: hsl(0, 0%, 96%);
$navbar-item-hover-background-color: transparent;
$navbar-item-hover-color: inherit;

.border-success {
    border-color: $green !important;
}

// ref: https://bulma.io/documentation/
@import '../../../node_modules/bulma/bulma.sass';

// blueprint css
@import "../../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../../../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";
