<template>
	<transition name="slide-top">
		<div class="fixed top-0 w-full h-full bg-gray-100" style="z-index: 999" v-if="isEdit" v-cloak>
			<div class="flex h-full flex-col">
				<header class="border-b is-size-5 p-3 bg-white">
					<div class="padding-top-env"></div>
					<div class="columns is-mobile">
						<div class="column is-narrow has-text-grey-light" v-if="!newShipData && !editShipData" @click="initData1(0,1)"><b>取消</b></div>
						<div class="column text-center">{{ newShipData? '收件資料新增':editShipData=='01'? '收件資料編輯':'收件資料選擇' }}</div>
						<div class="column is-narrow has-text-info" v-if="!newShipData && !editShipData" @click="okShipDate()"><b>確定</b></div>
						<!-- <div class="column is-narrow has-text-info" :disabled="!!newShipData" @click="initData1(1)"><b>新增</b></div> -->
					</div>
				</header>
				<main class="flex-auto overflow-y-auto">
					<!-- 新建資料 -->
					<div class="shadow-sm py-2 m-3 bg-white border rounded-lg" v-if="!!newShipData">
						<div class="columns is-mobile is-variable is-1 is-multiline p-4">
							<div class="column py-1 is-full">
								<input type="text" placeholder="輸入收件人" class="input bg-gray-100" v-model="receiverTmp">
							</div>
							<div class="column py-1 is-full">
								<input type="text" placeholder="輸入手機號碼" class="input bg-gray-100 border" v-model="mobileTmp">
							</div>
							<div class="column py-1 is-full">
								<input type="text" placeholder="輸入地址" class="input bg-gray-100" v-model="addrsTmp">
							</div>
						</div>
					</div>
					<!-- 編輯資料 -->
					<div class="shadow-sm py-2 m-3 bg-white border rounded-lg" v-if="editShipData == '01'">
						<div class="columns is-mobile is-variable is-1 is-multiline p-4">
							<div class="column py-1 is-full">
								<input type="text" placeholder="輸入收件人" class="input bg-gray-100" v-model="receiverTmp">
							</div>
							<div class="column py-1 is-full">
								<input type="text" placeholder="輸入手機號碼" class="input bg-gray-100 border" v-model="mobileTmp">
							</div>
							<div class="column py-1 is-full">
								<input type="text" placeholder="輸入地址" class="input bg-gray-100" v-model="addrsTmp">
							</div>
						</div>
						<div class="columns is-mobile is-variable is-1 is-multiline mx-3 mb-0 -mt-6">
							<div class="column"><button class="button is-fullwidth" @click="delVip(indexTmp)">刪除</button></div>
							<div class="column"><button class="button is-fullwidth" @click="initData1()">取消</button></div>
							<div class="column"><button class="button is-dark is-fullwidth"  @click="saveVip(indexTmp)">更改</button></div>
						</div>
					</div>
					<!-- 已建資料 -->
					<template v-if="!editShipData && !newShipData">
						<div class="columns is-gapless is-mobile my-3 is-vcentered" v-for="(addrItem, aIndex) in shipData" :key="'addr'+aIndex" @click.prevent="isShipData=aIndex">
							<div class="column is-narrow is-size-6" :class="[(isShipData==aIndex)?'text-gray-700':'text-gray-200']">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="inline-block ml-1 -mr-2" viewBox="0 0 16 16">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
								</svg>
							</div>
							<div class="column">
								<div class="shadow-sm p-3 mx-3 bg-white rounded-lg" :class="[(isShipData==aIndex)?'border-2 border-gray-400':'border']">
									<div class="columns is-mobile is-variable is-1 is-multiline p-3">
										<div class="column py-1 is-half">
											收件人：{{isCurShip(aIndex) ?  '' : addrItem.Nick_Name}}
											<input type="text" placeholder="輸入收件人" class="input bg-gray-100 border" v-if="isCurShip(aIndex)" v-model="receiverTmp">
										</div>
										<div class="column py-1 is-half text-right is-size-6">
											<!-- 編輯 -->
											<span v-if="editShipData==''" @click="editVip(addrItem, aIndex)">
												<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-blue-400 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
													<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
												</svg>
											</span>
											<!-- 刪除 -->
											<span v-if="isCurShip(aIndex)" @click="delVip(aIndex)">
												<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block text-red-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
													<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
												</svg>
											</span>
											<!-- 儲存 -->
											<span v-if="isCurShip(aIndex)" @click="saveVip(aIndex)">
												<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block ml-3 text-green-600" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg>
											</span>
										</div>
										<div class="column py-1 is-12">
											連絡電話：{{isCurShip(aIndex) ? '' : addrItem.Phone}}
											<input type="text" placeholder="輸入手機號碼" class="input bg-gray-100 border" v-if="isCurShip(aIndex)" v-model="mobileTmp">
										</div>
										<div class="column py-1 is-12">
											收件地址：{{isCurShip(aIndex) ? '' : addrItem.Addr}}
											<input type="text" placeholder="輸入地址" class="input bg-gray-100 border" v-if="isCurShip(aIndex)" v-model="addrsTmp">
										</div>
									</div>
								</div>
							</div>
						</div>
					</template>
					<template v-if="!editShipData">
						<div class="flex items-center justify-center text-xl pt-3 text-gray-700" :class="{'pointer-events-none opacity-30':!!newShipData}" @click="initData1(1)" v-if="!newShipData">
							<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="mr-2" viewBox="0 0 16 16">
								<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
							</svg>
							<b>新增</b>
						</div>
						<div class="columns is-mobile is-variable is-1 is-multiline px-3" v-else>
							<div class="column"><button class="button is-fullwidth" @click="initData1()">取消</button></div>
							<div class="column"><button class="button is-dark is-fullwidth" @click="newVipAddr()">確定</button></div>
						</div>
					</template>
				</main>
			</div>
		</div>
	</transition>
</template>

<!-- <style lang="scss" scoped></style> -->

<script>
import store from 'src/store'
import { setVipAddr,delVipAddr } from 'src/libs/market.js'
// import fetchData from '../../libs/fetchData.js'
import { showConfirm, hideModal, showAlert,checkReceiver  } from 'src/libs/appHelper.js'
// import { deviseFunction,sendDeviseSMSreCode  } from 'src/libs/deviseHelper.js'//
// import { formatTime } from 'src/libs/timeHelper.js'
import { S_Obj, L_Obj } from 'src/fun1.js'	// 共用fun在此!
import { this1 } from 'src/fun2.js'	// 共用fun在此!


const IsDev = S_Obj.isDebug 	//開發debug

export default {
	// 参数
	// props: [
		// 'foo',
	// ],
	data: function () {
		return {
			state: this.$store.state,
			isEdit: false,
			newShipData: false,
			editShipData: '',
			isShipData: 0,//'01'
			// shipToggle: true,
			indexTmp: '',
			addrsTmp: '',
			mobileTmp:'',
			receiverTmp: '',  //收件人暫存
			// p_mobile:'',
		};

	},
	computed: {
		// mallData() {
			// return this.$store.state.mallData;
		// },
		shipData(){
			return this.$store.state.mallData.shipData;
		},

	},
	// 頁面模組
	methods: {
		editVip(addrItem, aIndex){
			this.indexTmp = aIndex;
			this.addrsTmp = addrItem.Addr;
			this.mobileTmp = addrItem.Phone;
			this.receiverTmp = addrItem.Nick_Name;
			this.editShipData='01';

		},
		saveVip(p_index){
			const param1 = {
				mobileTmp: this.mobileTmp,
				addrsTmp: this.addrsTmp,
				receiverTmp: this.receiverTmp,
			}
				,errMsg = checkReceiver(param1);
			if (errMsg) 	return showAlert(errMsg);
			this.editShipData = '';

			const shipobj1 = this.shipData[p_index];
			IsDev && console.log('okShipDate-shipobj1: ', shipobj1);	// @@

			const param2 = {
				GID: shipobj1["GID"],
				Addr: this.addrsTmp,
				Phone: this.mobileTmp,
				Nick_Name: this.receiverTmp
			}

			setVipAddr(param2,()=>{
				//if (Array.isArray(p_data)) store.state.mallData.shipData = p_data;
				shipobj1["Addr"] = this.addrsTmp;
				shipobj1["Phone"] = this.mobileTmp;
				shipobj1["Nick_Name"] = this.receiverTmp;
			})

		},
		delVip(p_index){
			showConfirm("是否刪除此收件資料？", '確定', '取消')
			.then(() => {
				hideModal()
				this.editShipData=''
				delVipAddr({GID:this.shipData[p_index]["GID"]},()=>{
					this.shipData.splice(p_index, 1);
					//if (Array.isArray(p_data)) store.state.mallData.shipData = p_data;
					// this.isShipData=0;
				});
			})
			.catch(() => hideModal())
		},
		newVipAddr(){
			const param1 = {
				mobileTmp: this.mobileTmp,
				addrsTmp: this.addrsTmp,
				receiverTmp: this.receiverTmp,
			}
				,errMsg = checkReceiver(param1);
			if (errMsg) 	return showAlert(errMsg);

			this.newShipData = false;
			setVipAddr({GID:"",Addr:this.addrsTmp,Phone:this.mobileTmp,Nick_Name:this.receiverTmp},(p_data)=>{
				if (Array.isArray(p_data)) store.state.mallData.shipData = p_data;
			});
		},
		/* 收件資料編輯-確定 */
		okShipDate(){
			if (this.isShipData < this.shipData.length){
				const one = this.shipData[this.isShipData];
				// IsDev && console.log('收件資料編輯-確定-one: ', one);	// @@

				// 非超商取貨,才改地址
				if (!/calcu=/.test(location.hash)) {
					one.addrs = this1.addrs = one.Addr;
				}

				one.phone1 = this1.phone1 = one.Phone;
				one.receiver = this1.receiver = one.Nick_Name;
				L_Obj.save('CurShipData', one);
			}

			this.newShipData = false
			this.editShipData = '';
			this.closeMe(1);

			this.$store.commit('setCssTouch', true)
		},
		/* 收件資料編輯-取消 */
		initData1(bNew, bClose){
			// const bTrue = bNew ? true : false;
			this.addrsTmp = '';
			this.mobileTmp = '';
			this.receiverTmp = '';
			this.editShipData = '';
			this.newShipData = bNew;
			bClose && this.closeMe();
		},
		closeMe(bOn){
			// location.hash = location.hash.replace(/&showEdit=1/g, '')
			let hh1 = location.hash.replace(/&showEdit=1/g, '')

			if (bOn) {
				// location.hash += '&btnOK=1'
				hh1 += '&btnOK=1'
			}
			// location.replace(hh1);
			location.hash = hh1;

			this.isEdit = false;
		},
		isCurShip(aIndex) {
			return this.editShipData == '01' && this.isShipData == aIndex;
		},
		isDemoID(){
			return false;
			//return this.$store.state.member.code === '09xxxxxxxx';
		},
	},
	/* 元件生成時實行方法 */
  // created() {
		// console.log('ReceiveEdit.created-foo: ', this.foo);	// @@
		// // console.log('元件生成時實行方法-attrs: ', this.$attrs);	// @@
  // },
	// mounted() {
		// console.log('ReceiveEdit.mounted-foo: ', this.foo);	// @@
	// },
	/** @Important: ※有陷阱：components不會有router進入時機... */
/* 
  beforeRouteEnter(to, from, next) {
		console.log('ReceiveEdit.beforeRouteEnter');	// @@
		next()
  },
  beforeRouteUpdate: function(to, form, next){
		console.log('ReceiveEdit.beforeRouteUpdate');	// @@
		next()
  },
	beforeRouteLeave: function(to, form, next){
		console.log('ReceiveEdit.beforeRouteLeave');	// @@
		next()
	},
 */
	watch: {
		'$route' (q1) {
			const bOn = q1.query.showEdit;
			// console.log('vu1_watch-route: ', bOn);	// @@
			this.isEdit = bOn;
		},

	}

}
</script>