<template>
  <div class="h-screen flex flex-col">
    <!-- 頂導覽列 -->
    <nav class="navbar home-top-nav" role="navigation">
      <div class="navbar-menu">
        <!-- ********** 左側 ********** -->
        <div class="navbar-start w-14">
          <!-- 漢堡主選單 -->
          <a href="javascript:void(0)" class="navbar-item text-white" ref="isSideMenu" @click="isSideMenu=true" v-if="$route.path == '/card'">
            <div class="filter drop-shadow">
              <svg xmlns="http://www.w3.org/2000/svg" height="28px" width="28px" viewBox="0 0 24 24" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M4 18h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1zm0-5h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1zM3 7c0 .55.45 1 1 1h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1z"/></svg>
            </div>
          </a>
          <!-- 返回 -->
          <a href="javascript:void(0)" class="navbar-item" @click="goBack" v-if="$route.path !== '/card'">
            <svg xmlns="http://www.w3.org/2000/svg" height="28px" width="28px" viewBox="0 0 24 24" fill="#ffffff"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 11H7.83l4.88-4.88c.39-.39.39-1.03 0-1.42-.39-.39-1.02-.39-1.41 0l-6.59 6.59c-.39.39-.39 1.02 0 1.41l6.59 6.59c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L7.83 13H19c.55 0 1-.45 1-1s-.45-1-1-1z"/></svg>
          </a>
        </div>
        <!-- ********** 中(頁面名稱) ********** -->
        <div class="is-size-5 navbar-item" v-if="$route.path == '/card'" v-cloak>
          <img width="180" src="@/assets/images/logo_text_h.svg" alt="">
        </div>
        <div class="is-size-5 navbar-item text-white" v-else>{{$store.state.isPageName}}</div>
        <!-- ********** 右側 ********** -->
        <!-- 會員qrcode -->
        <!-- <div class="navbar-end shadow rounded-leftbottom" style="background-color: rgba(255,255,255,.9)" v-if="isLogin && ($route.path == '/card' || $route.path == '/cardMember')">
          <a class="navbar-item pl-4" @click="showQrcode()">
            <img src="@/assets/images/qrcode_scan_icon.svg" style="height:21px" alt="">
          </a>
        </div> -->
        <div class="navbar-end">
          <!-- 推播 -->
          <a href="javascript:void(0)" class="navbar-item" @click="$router.push('/pushNotifications')" v-if="$route.path == '/card'">
            <figure class="image is-24x24 relative">
              <img src="@/assets/images/nav_ic_notification.svg">
              <span v-if="hasNotify" class="absolute -top-1 -right-1 w-2 h-2 rounded-full bg-red-600"></span>
            </figure>
          </a>
          <template v-else-if="showCardShop">
            <!-- 訂單紀錄 -->
            <a href="javascript:void(0)" class="navbar-item pl-0 pr-3" v-if="$route.path=='/cardShopTrace' || $route.path=='/cardShop'" @click="hasFoodkind && clickGo('cardShopMine')">
              <figure class="relative text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="" viewBox="0 0 16 16">
                  <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                </svg>
              </figure>
            </a>
            <!-- 購物車 -->
            <a href="javascript:void(0)" class="navbar-item pl-0 pr-3" @click="hasFoodkind && chkCartSum()">
              <figure class="relative text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                </svg>
                <span v-if="$store.state.mallData.isCarUI!=undefined && cartQty($store.state.mallData.kindQty) > 0" class="text-center px-1 absolute -top-3 -right-3 rounded-full bg-secondary text-gray-800 text-sm leading-5" style="min-width:1.25rem">{{cartQty($store.state.mallData.kindQty)}}</span>
              </figure>
            </a>
          </template>
          <!-- 對齊用 -->
          <a href="javascript:void(0)" class="navbar-item" v-else>
            <figure class="relative w-12 is-1by1"></figure>
          </a>
        </div>
      </div>
    </nav>

    <!-- 側選單 -->
    <transition name="side-menu" mode="out-in">
      <aside class="menu shadow-xl" @click="onClose" v-show="isSideMenu" v-closable="{exclude: ['isSideMenu'], handler: 'onClose'}" v-cloak>
        <ul class="menu-list">
          <li class="text-center my-4 text-white">
            <p class="rounded-full border h-8 w-8 flex items-center justify-center mx-auto mb-3">
              <img src="@/assets/images/nav_ic_member.svg" alt="">
              <!-- <svg class="inline" xmlns="http://www.w3.org/2000/svg" height="24px" width="24px" viewBox="0 0 24 24" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v1c0 .55.45 1 1 1h14c.55 0 1-.45 1-1v-1c0-2.66-5.33-4-8-4z"/></svg> -->
            </p>
            <p class="px-2 text-secondary" v-if="isLogin"><b>{{userData.Name}}</b></p>
            <button class="button rounded-full p-1 w-4/5 h-auto" v-else @click="$router.push({path: '/login'})">登入</button>
          </li>
          <li v-if="isLogin" @click="$router.push('/cardMember')">
            <a href="javascript:void(0)">會員專區</a>
          </li>
          <!-- <li v-for="(brandLeft, index) in brands" :key="'brandLeft'+index" @click="choiceBrand(brandLeft)">
            <a>
              <figure class="image is-24x24 d-inline-block align-bottom">
                <img class="is-rounded" :src="showImageWuhu(brandLeft.BrandLogo)">
              </figure>
              {{brandLeft.Text}}
            </a>
          </li> -->
          <li @click="$router.push('/cardStore')"><a>外帶點餐</a></li>
          <li @click="goShop()"><a href="javascript:void(0)">線上購物</a></li>
          <li @click="goNews()"><a href="javascript:void(0)">品牌消息</a></li>
          <li @click="toCloestStore()"><a href="javascript:void(0)">門店據點</a></li>
          <!-- <li @click="openSurvey('https://surl.jh8.tw/c7ebe93c4e12c2c0')"><a href="javascript:void(0)">意見回饋</a></li> -->
          <li class="flex items-center" @click="openUrlBarcode()">
            <a href="javascript:void(0)">意見回饋</a>
            <img src="../../assets/images/scan-code.svg" style="height:1.5rem;" >
          </li>
          
          <li @click="$router.push('/cardFaq')"><a href="javascript:void(0)">常見問題</a></li>
          <li @click="$router.push('/setting')"><a href="javascript:void(0)">設定</a></li>
        </ul>
      </aside>
    </transition>

    <!-- 內容 Slot -->
    <PullRefresh id="pull-content" :on-refresh="onPullRefresh" :config="pullRefreshConfig()" class="bg-primary">
      <slot></slot>
    </PullRefresh>

    <!-- 底導覽列 -->
    <nav class="navbar bottom-nav bg-top px-4 pt-2 rounded-t-xl" v-if="!$route.fullPath.includes('/cardShop')">
      <div class="level is-mobile w-full">
        <div class="level-item has-text-centered m-0">
          <div  @click="chkLogin('/cardMember')">
            <figure class="image is-32x32 mx-auto">
              <img src="../../assets/images/nav_ic_member.svg">
            </figure>
            <p class="heading text-white tracking-tighter is-size-7 my-1">會員專區</p>
          </div>
        </div>
        <div class="level-item has-text-centered m-0">
          <div @click="$router.push('/cardBrand')"><!-- 所有品牌-最新消息 -->
            <figure class="image is-32x32 mx-auto">
              <img src="../../assets/images/nav_ic_news.svg">
            </figure>
            <p class="heading text-white tracking-tighter is-size-7 my-1">品牌消息</p>
          </div>
        </div>
        <div class="level-item has-text-centered m-0 relative px-5">
          <div class="absolute bottom-0 z-0 pb-3" @click="$router.push('/card')">
            <figure class="image mx-auto w-20">
              <img class="rounded-full" src="../../assets/images/nav_ic_home.png">
            </figure>
          </div>
        </div>
        <div class="level-item has-text-centered m-0">
          <div @click="$store.dispatch('fetchCloudsearch');isModal='findStore';footerStoreKeyWord='';isSideMenu=false">
            <figure class="image is-32x32 mx-auto">
              <img src="../../assets/images/nav_ic_store.svg">
            </figure>
            <p class="heading text-white tracking-tighter is-size-7 my-1">門店據點</p>
          </div>
        </div>
        <div class="level-item has-text-centered m-0">
          <div @click="goShop">
            <figure class="image is-32x32 mx-auto">
              <img src="../../assets/images/nav_ic_shop.svg">
            </figure>
            <p class="heading text-white tracking-tighter is-size-7 my-1">線上購物</p>
          </div>
        </div>
      </div>
    </nav>

    <!-- 會員卡的 QRCode -->
    <transition name="slide-up" mode="out-in">
      <div class="modal mbr-qrcode is-active" v-if="cardQRcode.show">
        <div class="modal-background"></div>
        <div class="modal-content overflow-visible" style="margin-top: 96px">
          <div class="box m-auto text-center text-white bg-lichen-secondary" style="max-width: 300px">
            <header>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path d="M0,0 Q50,50 100,0"></path>
              </svg>
              <h5 class="title is-6">會員條碼</h5>
            </header>
            <article>
              <div class="bg-white p-2 m-auto" style="max-width:200px">
                <figure class="image bg-white is-1by1">
                  <small class="qrcode-rendering has-text-grey-light text-nowrap" @click="renderQRcode()"><i class="fas fa-redo-alt fa-fw fa-lg"></i> 點選產生條碼</small>
                  <img :src="cardQRcode.data.image">
                </figure>
              </div>
              <p class="m-3 is-size-7">{{cardQRcode.data.value}}<br>
                本次條碼可使用時間 {{cardQRcode.timer}} 秒</p>
            </article>
          </div>
            <figure class="image is-96x96 qrcode-avatar bg-white p-3 rounded-pill">
              <b class="w-100 text-center d-block is-size-5 position-absolute ml-n3 text-white" style="margin-top:-48px">
                {{MemberTypeName}}
              </b>
              <img v-if="CardTypeCode == 'A'" src="@/assets/images/card_normal.svg">
              <img v-if="CardTypeCode == 'B'" src="@/assets/images/card_silver.svg">
              <img v-if="CardTypeCode == 'C'" src="@/assets/images/card_gold.svg">
              <img v-if="CardTypeCode == 'D'" src="@/assets/images/card_black.svg">
            </figure>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="hideCardCode"></button>
      </div>
      
      <!-- 搜 品牌 or 門店 前導 -->
      <div class="modal is-active" style="z-index: 100" v-if="isModal == 'findBrand' || isModal == 'findStore'">
        <div class="modal-background bg-black bg-opacity-80"></div>
        <div class="modal-content overflow-visible max-h-screen">
          <div class="box rounded-xl p-4 m-auto bg-primary ring-4 ring-black ring-opacity-20" style="max-width: 320px" v-if="isModal == 'findBrand'">
            <p class="text-white text-center">請選擇品牌</p>
            <div class="rounded-xl bg-white px-2 py-3 my-3">
              <div class="columns is-mobile is-gapless is-multiline">
                <div class="column is-6" v-for="(brand, index) in brands" @click="choiceBrand(brand)" :key="'brand'+index">
                  <figure class="image is-1by1 m-0">
										<img :src="showImageWuhu(brand.BrandLogo)" :key="brand.LastModify">
                  </figure>
                </div>
              </div>
            </div>
          </div>
          <div class="box rounded-xl p-4 m-auto bg-primary ring-4 ring-black ring-opacity-20" style="max-width: 320px" v-if="isModal == 'findStore'">
            <p class="mb-3 text-white">
              歡迎光臨，<br>
              好吃的美食就在這裡等你喔！
            </p>
            <div class="rounded-lg my-3">
              <button class="button bg-white is-fullwidth" @click="toCloestStore()">
                <span class="mr-2">搜尋離我最近的門市</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M18.75 3.94L4.07 10.08c-.83.35-.81 1.53.02 1.85L9.43 14c.26.1.47.31.57.57l2.06 5.33c.32.84 1.51.86 1.86.03l6.15-14.67c.33-.83-.5-1.66-1.32-1.32z"/></svg>
              </button>
            </div>
            <div class="rounded-lg my-3">
              <div class="field has-addons">
                <p class="control has-icons-left">
                  <input class="input" type="text" v-model="footerStoreKeyWord" :placeholder="stSearchNote">
                  <span class="icon is-small is-left">
                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><g><rect fill="none" height="24" width="24"/></g><g><g><path d="M6,20h12c0.55,0,1,0.45,1,1s-0.45,1-1,1H6c-0.55,0-1-0.45-1-1S5.45,20,6,20z M12,7c-1.1,0-2,0.9-2,2s0.9,2,2,2 c1.1,0,2-0.9,2-2S13.1,7,12,7z M12,2c3.27,0,7,2.46,7,7.15c0,2.98-2.13,6.12-6.39,9.39c-0.36,0.28-0.86,0.28-1.22,0 C7.13,15.26,5,12.13,5,9.15C5,4.46,8.73,2,12,2z"/></g></g></svg>
                  </span>
                </p>
                <div class="control" @click="searchStoreByKeyWord()">
                  <a href="javascript:void(0)" class="button bg-primary text-white">
                    <b>送出</b>
                  </a>
                </div>
              </div>
            </div>
            <div class="rounded-xl bg-white px-2 py-3 my-3">
              <div class="columns is-mobile is-gapless is-multiline">
                <div class="column py-1 is-6" v-for="(brand, index) in brands" :key="'brandStore'+index" @click="goBrandStore(brand.Text)">
                  <figure class="image is-1by1 m-0">
										<img :src="showImageWuhu(brand.BrandLogo)" :key="brand.LastModify">
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="isModal=''"></button>
      </div>
    </transition>

  </div>
</template>

<style lang="scss" scoped>
.mt-n4 {
    margin-top: -1.75rem !important;
}
.rounded-leftbottom {
  border-bottom-left-radius: 28px;
  border-top-left-radius: 28px;
}
.qrcode-avatar {
  left: 50%;
  transform: translateX(-50%);
  @apply absolute top-0 -mt-16;
}
header h5 {
  transform: translateY(12px);
}
.qrcode-rendering {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @apply absolute;
}

.bottom-nav .level.is-mobile .level-item:not(:last-child) {
  @apply mr-0;
}
</style>

<script>
import store from 'src/store'
import { S_Obj, GetPara1 } from 'src/fun1.js'	// 共用fun在此!
import PullRefresh from 'src/components/PullRefresh.vue'
import { fixScroll, isLogin, showImageWuhu, Closable, showToast, showAlert } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { cartQty } from 'src/libs/market.js'
import { computed, ref, reactive, watch } from '@vue/composition-api'

const userData = computed(() => store.state.userData)
// const publicData = computed(() => store.state.publicData )

// 側選單開關
// const isSideMenu = ref(false)
// 統計優惠卷張數
const ticketCount= computed(() => {
  if (userData === undefined) return 0
  const list = userData.cardTicket.map(item => {return parseInt(item.TicketCount)})
  const count = list.length > 0 ? list.reduce((a, b) => { return a + b } ) : 0
  return count
})

let HasPull	= false;		// 防止連拉開關

// 下拉刷新的參數 (依據路徑決定要 call 的 action)
const pathValidation = {
  // 企業公開資料
  '/card':         'fetchData4CardIndex',
  // '/cardFaq':      'fetchAppPublicData',			// 用到再開
  // '/cardMenu':     'fetchAppPublicData',			// 用到再開
  // 先不要pull request以免會always下滑會觸發pull request
  // '/cardStore':    'fetchStoreListData',
  // '/cardProducts': 'fetchAppPublicData',
  '/cardProducts': 'fetchBrandDataGID',
  '/cardNews':     'fetchNewsData',
  //'/cardNewspage': 'fetchNewsData',
  '/cardNewspage':  'fetchBrandNews',
  // 企業會員資料
  '/cardMember':   	'fetchAppPublicDataDetailMemberWuhu', // 有用到
  '/cardProfile':  	'fetchAppUserData',
  '/cardCoupon':   	'fetchAppPublicDataCouponWuhu', // 有用到
  '/cardPoint':    	'fetchAppPublicDataDetailPointWuhu', // 有用到
  '/cardPay':      	'fetchMemberPurchaseRecordData',
  '/cardBrand':  		'fetchAppBrandData',
  '/cardPrepay':   	'fetchAppPublicDataDetailPrepayWuhu', // 有用到
  '/cardShopMine':  'fetchShopMine', // 有用到
	/** @Fix: 修正-由後端直接更新json... */
//  '/getCoupon':    	'fetchMemberDrawTicketListDataWuhu', // 有用到
  '/getCoupon':    	'fetchGetDrawTicketListJson', // 有用到
  '/pointExg':     	'fetchVipAndCardInfoWuhu', // 有用到
  '/oldCard':      	'fetchMemberRegisteredCardsData', // 有用到

}

// QRcode 的參數
const cardQRcode = reactive({
  gid: '',
  timer: 60,
  show: false,
  counter: '',
  data: computed(() => store.state.cardQRCode )
})

// QRcode 參數監聽
watch(() => cardQRcode.timer, () => timerRenderQRcode() )

// 顯示 QRcode 畫面
function showQrcode() {
  store.commit('setCssTouch', false)

  cardQRcode.gid = store.state.baseInfo.memberData.card_info.GID
  cardQRcode.show = true
  // 計時器重設(觸發取會員條碼並倒數計時的邏輯)
  cardQRcode.timer = 0

  console.log('cardQRcode.gid', cardQRcode.gid)

  // 重新跟殼取資料(主要更新當下螢幕亮度值)
  deviseFunction('GetSPAll', '', '"cbFnSyncDeviseInfoToStore"')
  // 進入時將殼的螢幕調到最亮
  deviseFunction('setBrightness', '255', '')
}

// 執行顯示 QRcode 的邏輯
function renderQRcode() {
  // 取會員 QRcode
  store.dispatch('fetchWuhuCardQRCodeData', cardQRcode.gid)
  // 將計數器回到 60 秒
  cardQRcode.timer = 60
  // 開始倒數計時
  if (cardQRcode.counter === '') cardQRcode.counter = setInterval(()=> { cardQRcode.timer = cardQRcode.timer - 1 }, 1000)
}
// 限時顯示 QRcode 的邏輯
function timerRenderQRcode() {
  // 只在計數器為零時才執行
  if (cardQRcode.timer > 0) return
  // 取會員 QRcode
  renderQRcode()
}

export default {
  name: 'LayoutKakar',
  components: { PullRefresh },
  directives: {
    Closable
  },
  data() {
    return {
      isStaging: S_Obj.isStaging,
      isModal: '',
      isSideMenu: false,
      state: this.$store.state,
      memberData: this.$store.state.baseInfo.memberData,
      publicData: this.$store.state.baseInfo.publicData,
      footerStoreKeyWord: '',
    };
  },
  setup(props, context) {
    // 未登入 => 導回首頁
    // if (!isLogin.value) context.root.$router.push('/')
    // 主畫面 layout (預設為 Kakar)
    const layout = computed(() => context.root.$route.meta.layout || 'Kakar' )

    // 關閉 QRcode 畫面
    function hideCardCode() {
      cardQRcode.cardGID = ''
      cardQRcode.show = false
      store.commit('setCssTouch', true)

      // 刷新積點資料 (依據 layout 不同更新 vipApps / vipUserData)
      if (layout === 'kakar') store.dispatch('fetchVipApps')
      if (layout === 'card')  store.dispatch('fetchAppUserData')
      // 清空會員 QRcode 資料
      store.commit('setCardQRCodeData', {value: '', image: '', loaded: false})
      // 關閉倒數計時器
      clearInterval(cardQRcode.counter) ; cardQRcode.counter = '' ; cardQRcode.timer = 60
      // 將殼的螢幕恢復原本亮度
      deviseFunction('setBrightness', store.getters.deviseBrightness, '')
    }

    const urlPath = computed(() => context.root.$route.path )
    const urlQuery = computed(() => context.root.$route.query )
    const refreshAction = ref('')

    // 下拉刷新功能的啟用判斷邏輯
    const canEnabled = computed(() => {
      let path = urlPath.value
      if (/\/cardMenu\//.test(urlPath))     path = '/cardMenu'
      if (/\/cardNewspage\//.test(urlPath.value)) path = '/cardNewspage'
      if (/\/cardProducts\//.test(urlPath.value)) path = '/cardProducts'

      const isEnabled = pathValidation[path] !== undefined
      if (isEnabled) refreshAction.value = pathValidation[path]
      return isEnabled
    })

    // 下拉刷新的設定檔
    function pullRefreshConfig() {
      // 如果未登入
      if (!isLogin) return { pullEnabled: false }
      return { pullEnabled: canEnabled.value }
    }

    // 下拉後啟動刷新的邏輯
    function onPullRefresh() {
			if (!HasPull) {
				HasPull = true;

				let qUrl = urlQuery.value || {};
				store.dispatch(refreshAction.value,qUrl)
				console.warn('下拉刷新_Act: ', refreshAction.value);	// @@

				// === 即時更新橫幅的圖片 === start
				let path = this.$route.path
				if (path == '/card') {
					store.commit('setMainBannerUpdate', true)
					store.dispatch('fetchMemberTicketListDataWuhu')
				}
				// === 即時更新橫幅的圖片 === end

				setTimeout(function () {
					HasPull = false;
				}, 5000);
			}
      return new Promise(resolve => setTimeout(() => resolve(), 5000))
    }

    return {
      isLogin, onPullRefresh, pullRefreshConfig,
//      publicData, ticketCount, timerRenderQRcode, renderQRcode,
      ticketCount, timerRenderQRcode, renderQRcode, showAlert,
      cardQRcode, showQrcode, hideCardCode, layout, fixScroll, userData
    }
  },
  async created() {
    store.dispatch('fetchCompanyData')	// 隱私權政策,關於我們
    store.dispatch('fetchBrandNews')		// 品牌下的消息
    store.dispatch('fetchMemberTicketListDataWuhu')	// 取優惠卷列表資訊

    isLogin.value && await store.dispatch('fetchPushNotifyNum')	// 取會員-推播消息-總數
		console.log('推播提醒總數: ', this.memberData.pushNotifyNoRead);	// @@
  },
  computed: {
    points() { return Math.floor(this.memberData.card_info.Points) },
    CardTypeCode() { return this.memberData.card_info.CardTypeCode },
    pageData() { return this.publicData.storeList },
    MemberTypeName() { return this.memberData.vip_info.MemberTypeName },
    brands() {	// 品牌詳情
			const companyData = this.publicData.companyData
			let brandList = companyData.length ? companyData.filter((item) => {
          return item.isBrand == true
        }) : []
      // console.log('品牌詳情-brandList: ', brandList);	// @@
      return brandList;
    },
    ticketListLength() {
      let ticketLength = 0
      let ticketList = this.memberData.ticketList
      if (ticketList) {
        ticketLength = ticketList.length
      }
      return ticketLength
    },
    store_keys(){
			const cloudsearch = this.publicData.cloudsearch
			let arr1 = cloudsearch.length ? cloudsearch.filter((item) => {
          return item.LinkPosition == "門店搜尋"
				}) : []
      return arr1;
    },
    store_cloudKeys(){
      return this.store_keys.filter((item) => {
          return item.isFullText
      })
    },
    stSearchNote(){
      //isText
      let brandArr = this.store_keys.filter((item) => {
          return item.isText
      })
      let p_text = "";
      if (Array.isArray(brandArr) && brandArr.length>0) p_text = brandArr[0]["Text"];
      return p_text;
    },
    hasNotify(){
      return !!this.memberData.pushNotifyNoRead;
    },
    hasFoodkind(){
      return !!this.$store.state.mallData.foodkind.length;
    },
    showCardShop(){
			const path1 = this.$route.path
			,isTrue			= /cardShop/.test(path1) && !/cardShopCart/.test(path1)
      // return path1 == '/cardShop' || path1 == '/cardShopType'
      return isTrue
    },
  },
  methods: {
    cartQty,
    showImageWuhu,
    openUrlBarcode() {       
      // 開啟手機的條碼掃描
      deviseFunction('barcode', '', '"cbFnScanUrlQrCode"');
    },
    chkLogin(str_path){
			const isTrue = this.isLogin
					,thePage = isTrue ? str_path : '/login'
      if (isTrue) {
				this.isSideMenu = false
      }
			this.$router.push({path: thePage})
    },
    clickGo(v1, isReplace) {
			const _path	= `/${v1}`
			// console.log('clickGo-_path: ', _path);	// @@
			if (isReplace) {
        this.$router.replace(_path)
			} else {
        this.$router.push(_path)
			}
    },
    chkCartSum(){      
      if (!this.cartQty(store.state.mallData.kindQty)) return showToast("購物車沒有品項")
      else this.clickGo('cardShopCart')
    },
		/* 按 返回 */
    goBack() {
			const thePage = this.$route.path
					// ,type1 		= this.$route.query.type
			// let goPage = '/card';
			if (thePage == '/cardBrand') {
				let	gid1 		= GetPara1('gid')
					,isMode1 	= GetPara1('isMode')
					,isType1 	= GetPara1('isType')
				console.log('goBack-isMode1, isType1: ', isMode1 ,isType1);	// @@

				if (isMode1 == 'brand' && isType1 != 'brand') {		// 首頁進的-品牌模式
					const v3 = `#/cardBrand?isMode=${isMode1}&isType=brand&gid=${gid1}`
					// console.warn('按返回-變: ',v3);	// @@
					location.hash = v3;

				} else {
					this.$router.replace('/card')
				}

			} else if (/cardNewspage|cardProducts|cardShopTrace/.test(thePage)) {
					// this.$router.replace({path: goPage}).catch(error => error);
					this.$router.go(-1);
			} else if (/cardShop/.test(thePage)) {
				const	type1 = GetPara1('type')
					,_shop1		= '/cardShop'
				if (/cardShopCart/.test(thePage)) {
					const _pg1 = !type1 || type1 == 'finished' ? _shop1 : '/cardShopCart'
					// console.log('返回返回-thePage, type1: ', thePage ,type1);	// @@
					this.$router.replace(_pg1);

				} else if (/cardShopType/.test(thePage)) {
					this.$router.replace(_shop1)
				} else {
					if (type1) {
						this.$router.replace(_shop1)
						// this.$router.go(-1);
				} else {
					this.$router.replace('/card');
					}
				}
			} else if (thePage == '/cardStore' && this.$route.query.store == null) {
				this.$router.replace('/card');
			} else {
				this.$router.go(-1);
			}
    },

    goPG_Brand(str1) {
			// console.log('goPG_Brand-str1: ', str1);	// @@
			location.replace(str1);
    },
		/* 選消息 */
    goNews(){
			this.goPG_Brand('#/cardBrand?isMode=news&isType=news');
    },
		/* 選品牌 */
    choiceBrand(p_brand) {
			const brandID	= p_brand.ID
				,str1 			= '#/cardBrand?isMode=brand&isType=brand&gid='+brandID
			// console.log('選品牌-brandID: ', brandID);	// @@
			this.goPG_Brand(str1);
			this.isModal = ''
    },
		/* 找品牌 */
    goBrandStore(brandStr) {
      // console.log('goBrandStore ===> brandStr =>' + brandStr)

      // === 只查品牌,其他查詢條件清空 === start
      store.commit('setStoreQueryBrand', brandStr)
      store.commit('setStoreQueryZone', {
        searchZoneDisplay: '全部地區',
        searchZoneType: '',
        searchCity: '',
        searchArea: '',
      })
      store.commit('setStoreQueryKeyWord', '')
      // === 只查品牌,其他查詢條件清空 === end

      if (location.href.indexOf('/cardStore')>=0) {
        store.commit('setStore2Store', true)
      } else {
        this.$router.push({ path: '/cardStore'})
      }
      this.isModal = ''
    },
    // 最近門店
    toCloestStore() {
      // === 全部查詢條件清空 === start
      store.commit('setStoreQueryBrand', '全部品牌')
      store.commit('setStoreQueryZone', {
        searchZoneDisplay: '全部地區',
        searchZoneType: '',
        searchCity: '',
        searchArea: '',
      })
      store.commit('setStoreQueryKeyWord', '')
      // === 全部查詢條件清空 === end

      if (location.href.indexOf('/cardStore')>=0) {
        store.commit('setStore2Store', true)
      } else {
        this.$router.push({ path: '/cardStore'})
      }
      this.isModal = ''
    },
    searchStoreByKeyWord() {
      store.commit('setStoreQueryBrand', '全部品牌')
      store.commit('setStoreQueryZone', {
        searchZoneDisplay: '全部地區',
        searchZoneType: '',
        searchCity: '',
        searchArea: '',
      })
      store.commit('setStoreQueryKeyWord', this.footerStoreKeyWord)

      if (location.href.indexOf('/cardStore')>=0) {
        store.commit('setStore2Store', true)
      } else {
        this.$router.push({ path: '/cardStore'})
      }
      this.isModal = ''
    },
    onClose() {
      this.isSideMenu = false
    },
    goShop() {
			const _page = isLogin.value ? 'cardShop' : 'login';
			location.href = `#/${_page}`;
    },
    openSurvey(url){
      // 在殼裡面 => 開啟瀏覽器
      if (typeof(JSInterface) !== 'undefined') {
        deviseFunction('openWeburl', url, '')
      // 在瀏覽器 => 瀏覽器新開一個tab
      } else {
        window.open(url, '_blank')
      }
    }
  },
}
</script>