<template>
  <div class="h-screen flex flex-col" :class="[($route.path == '/')?'':'bg-login']">
    <!-- Navbar - 未登入 && 註冊/登入 -->
    <nav class="navbar login-top-nav w-full fixed" :class="[($route.path == '/setting')?'bg-white shadow-sm':'bg-transparent']">
      <div class="navbar-menu">
        <div class="navbar-start w-14">
          <!-- 返回"/" -->
          <a href="javascript:void(0)" class="navbar-item text-white" v-if="$route.path == '/login'" @click="$router.push('/')">
            <svg xmlns="http://www.w3.org/2000/svg" height="28px" width="28px" viewBox="0 0 24 24" fill="#ffffff"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 11H7.83l4.88-4.88c.39-.39.39-1.03 0-1.42-.39-.39-1.02-.39-1.41 0l-6.59 6.59c-.39.39-.39 1.02 0 1.41l6.59 6.59c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L7.83 13H19c.55 0 1-.45 1-1s-.45-1-1-1z"/></svg>
          </a>
          <!-- 返回"登入" -->
          <a href="javascript:void(0)" class="navbar-item" :class="[$route.fullPath == '/register?type=fillout'?'text-black':'text-white']" v-if="$route.path == '/register'" @click="registerBack()">
            <svg xmlns="http://www.w3.org/2000/svg" height="28px" width="28px" viewBox="0 0 24 24" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 11H7.83l4.88-4.88c.39-.39.39-1.03 0-1.42-.39-.39-1.02-.39-1.41 0l-6.59 6.59c-.39.39-.39 1.02 0 1.41l6.59 6.59c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L7.83 13H19c.55 0 1-.45 1-1s-.45-1-1-1z"/></svg>
          </a>
          <!-- 返回"設定" -->
          <a href="javascript:void(0)" class="navbar-item text-black" v-if="$route.path == '/setting'" @click="goBack">
            <svg xmlns="http://www.w3.org/2000/svg" height="28px" width="28px" viewBox="0 0 24 24" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 11H7.83l4.88-4.88c.39-.39.39-1.03 0-1.42-.39-.39-1.02-.39-1.41 0l-6.59 6.59c-.39.39-.39 1.02 0 1.41l6.59 6.59c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L7.83 13H19c.55 0 1-.45 1-1s-.45-1-1-1z"/></svg>
          </a>
        </div>
        <!-- ********** 中(頁面名稱) ********** -->
        <div class=" is-size-5 navbar-item" v-if="$route.path == '/setting'">{{$store.state.isPageName}}</div>
        <div class="navbar-end w-14">
          <div class="navbar-item" v-if="$route.path == '/'" @click="$router.push('/card')">
            <figure class="image is-24x24">
              <img src="@/assets/images/nav_ic_home.svg">
            </figure>
          </div>
        </div>
      </div>
    </nav>

    <PullRefresh id="pull-content" :on-refresh="onPullRefresh" :config="pullRefreshConfig"
      :class="[(($route.path == '/register' && $route.query.type == 'fillout') || $route.path == '/setting')?'bg-gray-50':'bg-transparent']"
    >
      <slot></slot>
    </PullRefresh>

    <!-- 底導覽列 -->
    <nav class="navbar bottom-nav bg-top px-4 pt-3 rounded-t-xl" v-if="$route.path == '/' && false">
      <div class="level is-mobile w-full">
        <div class="level-item has-text-centered m-0">
          <div @click="isModal='findBrand'">
            <figure class="image is-24x24 mx-auto">
              <img class="" src="../../assets/images/nav_ic_brand.svg">
            </figure>
            <p class="heading text-white tracking-tighter is-size-7 my-1">碳佐餐飲</p>
          </div>
        </div>
        <div class="level-item has-text-centered m-0">
          <div @click="$router.push('/login')">
            <figure class="image is-24x24 mx-auto">
              <img src="../../assets/images/nav_ic_coupon.svg">
            </figure>
            <p class="heading text-white tracking-tighter is-size-7 my-1">我的優惠券</p>
          </div>
        </div>
        <div class="level-item has-text-centered m-0 relative px-5">
          <div class="absolute bottom-0 z-0 pb-3" @click="$router.push('/login')">
            <figure class="image mx-auto w-20">
              <img class="rounded-full" src="../../assets/images/nav_ic_home.png">
            </figure>
          </div>
        </div>
        <div class="level-item has-text-centered m-0">
          <div @click="goNews()"><!-- 所有品牌-最新消息 -->
            <figure class="image is-24x24 mx-auto">
              <img src="../../assets/images/nav_ic_news.svg">
            </figure>
            <p class="heading text-white tracking-tighter is-size-7 my-1">品牌消息</p>
          </div>
        </div>
        <div class="level-item has-text-centered m-0">
          <div @click="$store.dispatch('fetchCloudsearch');isModal='findStore';footerStoreKeyWord=''">
            <figure class="image is-24x24 mx-auto">
              <img src="../../assets/images/nav_ic_store.svg">
            </figure>
            <p class="heading text-white tracking-tighter is-size-7 my-1">門店據點</p>
          </div>
        </div>
      </div>
    </nav>

    <!-- 搜 品牌 or 門店 前導 -->
    <transition name="slide-up" mode="out-in">
      <!-- 搜 品牌 or 門店 前導 -->
      <div class="modal is-active" style="z-index: 100" v-if="isModal == 'findBrand' || isModal == 'findStore'">
        <div class="modal-background bg-black bg-opacity-80"></div>
        <div class="modal-content overflow-visible max-h-screen">
          <div class="box rounded-xl p-4 m-auto bg-primary ring-4 ring-black ring-opacity-20" style="max-width: 320px" v-if="isModal == 'findBrand'">
            <p class="text-white text-center">請選擇品牌</p>
            <div class="rounded-xl bg-white px-2 py-3 my-3">
              <div class="columns is-mobile is-variable is-2 is-multiline">
                <div class="column py-1 is-6" v-for="(brand, index) in brands" @click="choiceBrand(brand)" :key="'brand'+index">
                  <figure class="image is-1by1 m-0">
										<img :src="showImageWuhu(brand.BrandLogo)" alt="">
                  </figure>
                </div>
              </div>
            </div>
          </div>
          <div class="box rounded-xl p-4 m-auto bg-primary ring-4 ring-black ring-opacity-20" style="max-width: 320px" v-if="isModal == 'findStore'">
            <p class="mb-3 text-white">
              歡迎光臨，<br>
              好吃的美食就在這裡等你喔！
            </p>
            <div class="my-3">
              <button class="button bg-white is-fullwidth" @click="toCloestStore()">
                <span class="mr-2">搜尋離我最近的門市</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M18.75 3.94L4.07 10.08c-.83.35-.81 1.53.02 1.85L9.43 14c.26.1.47.31.57.57l2.06 5.33c.32.84 1.51.86 1.86.03l6.15-14.67c.33-.83-.5-1.66-1.32-1.32z"/></svg>
              </button>
            </div>
            <div class="my-3">
              <div class="field has-addons">
                <p class="control has-icons-left">
                  <input class="input" type="text" v-model="footerStoreKeyWord" :placeholder="stSearchNote">
                  <span class="icon is-small is-left">
                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><g><rect fill="none" height="24" width="24"/></g><g><g><path d="M6,20h12c0.55,0,1,0.45,1,1s-0.45,1-1,1H6c-0.55,0-1-0.45-1-1S5.45,20,6,20z M12,7c-1.1,0-2,0.9-2,2s0.9,2,2,2 c1.1,0,2-0.9,2-2S13.1,7,12,7z M12,2c3.27,0,7,2.46,7,7.15c0,2.98-2.13,6.12-6.39,9.39c-0.36,0.28-0.86,0.28-1.22,0 C7.13,15.26,5,12.13,5,9.15C5,4.46,8.73,2,12,2z"/></g></g></svg>
                  </span>
                </p>
                <div class="control" @click="searchStoreByKeyWord()">
                  <a class="button bg-primary text-white">
                    <b>送出</b>
                  </a>
                </div>
              </div>
            </div>
            <div class="rounded-xl bg-white px-2 py-3 my-3">
              <div class="columns is-mobile is-variable is-2 is-multiline">
                <div class="column py-1 is-6" v-for="(brand, index) in brands" :key="'brandStore'+index" @click="goBrandStore(brand.Text)">
                  <figure class="image is-1by1 m-0">
										<img :src="showImageWuhu(brand.BrandLogo)" alt="">
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="isModal=''"></button>
      </div>
    </transition>

  </div>
</template>

<script>
import store from 'src/store'
import { GetPara1 } from 'src/fun1.js'	// 共用fun在此!
import PullRefresh from 'src/components/PullRefresh.vue'
import { fixScroll, isLogin, showImageWuhu, touchScrolling } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'
// import { computed, ref, reactive, watch } from '@vue/composition-api'



// 開啟手機的條碼掃描
function openBarcodeScan() { return deviseFunction('barcode', '', '"cbFnScanKakarAppsQrCode"') }
// 依據是否登入來設定啟用下拉刷新功能
const pullRefreshConfig = { pullEnabled: false/*isLogin.value*/ }
// 下拉後啟動刷新的邏輯
function onPullRefresh() {
  let path = this.$route.path
  console.log('onPullRefresh ===> path =>' + path)
  if (path == '/') {
    // store.dispatch('fetchAdvertise')
  } else if (/login|register/.test(path)) {
    store.dispatch('fetchIndexSubBannerWuhu')
    store.commit('setSubBannerUpdate', true) // 即時更新副橫幅
  } else if (path == '/setting') {
    store.dispatch('fetchVipAndCardInfoWuhu')
  }
  return new Promise(resolve => setTimeout(() => resolve(), 1000) )
}

export default {
  name: 'LayoutKakar',
  components: { PullRefresh },
  setup() {
    return { fixScroll, touchScrolling, isLogin, openBarcodeScan, onPullRefresh, pullRefreshConfig }
  },
  data() {
    return {
      isModal: '',
      memberData: this.$store.state.baseInfo.memberData,
      publicData: this.$store.state.baseInfo.publicData,
      footerStoreKeyWord: '',
    }
  },
  created: function() {
    store.dispatch('fetchCompanyData')
  },
  computed: {
    brands() {	// 品牌詳情
			const companyData = this.publicData.companyData
			let brandList = companyData.length ? companyData.filter((item) => {
          return item.isBrand == true
        }) : []
      // console.log('品牌詳情-brandList: ', brandList);	// @@
      return brandList;
    },
    store_keys(){
			const cloudsearch = this.publicData.cloudsearch
			let arr1 = cloudsearch.length ? cloudsearch.filter((item) => {
          return item.LinkPosition == "門店搜尋"
				}) : []
      return arr1;
    },
    store_cloudKeys(){
      return this.store_keys.filter((item) => {
          return item.isFullText
      })
    },
    stSearchNote(){
      //isText
      let brandArr = this.store_keys.filter((item) => {
          return item.isText
      })
      let p_text = "";
      if (Array.isArray(brandArr) && brandArr.length>0) p_text = brandArr[0]["Text"];
      return p_text;
    }
  },
  methods: {
    showImageWuhu,

    // 註冊頁的回上一步
    registerBack() {
      let type = this.$route.query.type
      // 如果在[下一步驟]/register?type=fillout
      if (type == 'fillout') {
        // 就回到[第一步驟]/register
        this.$router.push({path: '/register'})
      // 如果已經在[第一步驟]/register
      } else {
        // 就回到登入頁
        this.$router.push({path: '/login'})
      }
    },
		/* 按 返回 */
    goBack() {
			const thePage = this.$route.path
					// ,type1 		= this.$route.query.type
			// let goPage = '/card';
			if (thePage == '/cardBrand') {
				let	gid1 		= GetPara1('gid')
					,isMode1 	= GetPara1('isMode')
					,isType1 	= GetPara1('isType')

				if (isMode1 == 'brand' && isType1 != 'brand') {		// 首頁進的-品牌模式
					const v3 = `#/cardBrand?isMode=${isMode1}&isType=brand&gid=${gid1}`
					// console.warn('按返回-變: ',v3);	// @@
					location.hash = v3;

				} else {
					this.$router.replace('/card')
				}

			} else if (/cardNewspage|cardProducts/.test(thePage)) {
					// this.$router.replace({path: goPage}).catch(error => error);
					this.$router.go(-1);

			} else if (thePage == '/cardStore') {
				this.$router.replace('/card')

			} else {
				this.$router.go(-1);
			}
    },

    goPG_Brand(str1) {
			// console.log('goPG_Brand-str1: ', str1);	// @@
			location.replace(str1);
    },
		/* 選消息 */
    goNews(){
			this.goPG_Brand('#/cardBrand?isMode=news&isType=news');
    },
		/* 選品牌 */
    choiceBrand(p_brand) {
			const brandID	= p_brand.ID
				,str1 			= '#/cardBrand?isMode=brand&isType=brand&gid='+brandID
			// console.log('選品牌-brandID: ', brandID);	// @@
			this.goPG_Brand(str1);
			this.isModal = ''
    },
		/* 找品牌 */
    goBrandStore(brandStr) {
      // console.log('goBrandStore ===> brandStr =>' + brandStr)

      // === 只查品牌,其他查詢條件清空 === start
      store.commit('setStoreQueryBrand', brandStr)
      store.commit('setStoreQueryZone', {
        searchZoneDisplay: '全部地區',
        searchZoneType: '',
        searchCity: '',
        searchArea: '',
      })
      store.commit('setStoreQueryKeyWord', '')
      // === 只查品牌,其他查詢條件清空 === end

      if (location.href.indexOf('/cardStore')>=0) {
        store.commit('setStore2Store', true)
      } else {
        this.$router.push({ path: '/cardStore'})
      }
      this.isModal = ''
    },
    // 最近門店
    toCloestStore() {
      // === 全部查詢條件清空 === start
      store.commit('setStoreQueryBrand', '全部品牌')
      store.commit('setStoreQueryZone', {
        searchZoneDisplay: '全部地區',
        searchZoneType: '',
        searchCity: '',
        searchArea: '',
      })
      store.commit('setStoreQueryKeyWord', '')
      // === 全部查詢條件清空 === end

      if (location.href.indexOf('/cardStore')>=0) {
        store.commit('setStore2Store', true)
      } else {
        this.$router.push({ path: '/cardStore'})
      }
      this.isModal = ''
    },
    searchStoreByKeyWord() {
      store.commit('setStoreQueryBrand', '全部品牌')
      store.commit('setStoreQueryZone', {
        searchZoneDisplay: '全部地區',
        searchZoneType: '',
        searchCity: '',
        searchArea: '',
      })
      store.commit('setStoreQueryKeyWord', this.footerStoreKeyWord)

      if (location.href.indexOf('/cardStore')>=0) {
        store.commit('setStore2Store', true)
      } else {
        this.$router.push({ path: '/cardStore'})
      }
      this.isModal = ''
    },
  }
}
</script>
<style lang="scss" scoped>
.login-top-nav {
  padding-top: env(safe-area-inset-top);
}
.bg-login {
  background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .8) 100% ), linear-gradient( to top, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0.8) ), url('../../assets/images/login_bg.jpg');
  @apply bg-cover;
}
</style>
