<template>
  <div>
    <!-- 讀取中效果 -->
    <div class="modal is-active" style="z-index: 9999;" v-show="isLoading" v-cloak>
      <div class="modal-background bg-black bg-opacity-0"></div>
      <div class="modal-content h-full flex items-center justify-center flex-col">
        <div>
          <figure class="image w-24">
            <img class="rounded-full blink" src="./assets/images/loading.jpg">
          </figure>
        </div>
				<p class="text-white mt-2">{{loadingMsg}}</p>
      </div>
    </div>

    <!-- Alert 彈窗 -->
    <transition name="slide-fade" mode="out-in">
      <div class="modal is-active" v-if="customModal.type == 'alert'" style="z-index: 9999;">
        <div class="modal-background"></div>
        <div class="modal-content">
          <article class="message is-dark m-3 rounded-xl">
            <div class="message-body border-0 p-4">
              <p class="is-size-5 text-center my-3" v-html="customModal.text"></p>
              <div class="columns is-mobile is-variable is-1 -mt-1">
                <div class="column">
                  <button class="button is-fullwidth tracking-widest border-0 text-white bg-primary hover:text-white focus:text-white" @click="hideModal">
                    <b>確定</b>
                  </button>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- <button class="modal-close is-large" aria-label="close" @click="hideModal"></button> -->
      </div>
    </transition>

    <!-- Confirm 彈窗 -->
    <transition name="slide-fade" mode="out-in">
		<div class="modal is-active" v-show="customModal.type == 'confirm'" style="z-index: 99999;">
			<div class="modal-background"></div>
			<div class="modal-content">
				<div class="box text-center m-3">
					<p class="is-size-5 mb-3" style="line-height:1.5" v-html="customModal.text"></p>
							<!--單選,radio style2 -->
					<div class="text-left mb-4">
						<p class="mb-2" v-if="noteTitle">{{noteTitle}}：</p>
						<p class="mb-2" v-for="(item, index) in customModal.confirmNoteChoice" :key="index">
							<span class="ck-box">
								<input :id="index" type="radio" :value="item.code" name="reason" class="w3-radio w3-margin-left" v-model="customModal.confirmNoteChoosed" />
								<label :for="index">
									{{item.text}}
								</label>
							</span>
						</p>

						<!-- <input v-if="notePlaceHolder" type="text" :placeholder="notePlaceHolder" v-model="noteRemark" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter mt-3"> -->
						<textarea v-if="notePlaceHolder" :placeholder="notePlaceHolder" v-model="customModal.confirmNoteRemark" rows="5" style="margin-top: 20px" class="w3-input w3-show-inline-block w3-border-0 has-background-white-ter mt-3"></textarea>

						<!-- 提示文字 -->
						<div class="has-text-danger d-block pt-2" style="margin-bottom:-10px">{{customModal.confirmNoteWarnMsg}}</div>
					</div>
					<!-- 按鈕 -->
					<div class="columns is-mobile is-variable is-1 mt-n1">
						<div class="column" v-if="noteTxtCancel!='noCancel'">
							<button class="button is-fullwidth tracking-widest bg-gray-100 border border-gray-300" @click="$store.state.promise.reject()">{{noteTxtCancel}}</button></div>
						<div class="column">
							<button class="button is-fullwidth tracking-widest text-white bg-primary border-0 hover:text-white focus:text-white" @click="$store.state.promise.resolve()" :disabled="noteText && customModal.confirmNoteChoosed === ''">{{customModal.confirmText}}</button></div>
					</div>
				</div>
			</div>
			<button v-if="noteTxtCancel!='noCancel'" class="modal-close is-large" aria-label="close" @click="hideModal"></button>
		</div>
    </transition>

    <component :is="layout">
      <transition name="page-fade" mode="out-in">
        <keep-alive :max="4">
          <!-- 路由頁面檢視 -->
          <router-view></router-view>
        </keep-alive >
      </transition>
    </component>

  </div>
</template>

<script>
import store from 'src/store'
import Default from 'src/view/layout/Kakar.vue'
import Card from 'src/view/layout/CardKakar.vue'
import { computed } from '@vue/composition-api'
import { hideModal, isLogin } from 'src/libs/appHelper.js'

export default {
  name: 'viewLayout',
  components: { Default, Card },
  setup(props, context) {
    // 主畫面 layout (預設為 Default)
    const layout = computed(() => context.root.$route.meta.layout || 'Default' )

    const isLoading = computed(() => store.state.isLoading )
    const loadingMsg = computed(() => store.state.loadingMsg )
    const customModal = computed(() => store.state.customModal )

    return { isLoading, loadingMsg, isLogin, customModal, hideModal, layout }
  },
  computed: {
    // fontSizeBase() { return store.getters.fontSizeBase },
    noteTitle() {
      return this.customModal.confirmNoteTitle
    },
    noteText() {
      return this.customModal.confirmNoteText
    },
    noteRemark() {
      return this.customModal.confirmNoteRemark
    },
    notePlaceHolder() {
      return this.customModal.confirmNoteRemarkPlaceHolder
    },
    noteTxtCancel() {
      return this.customModal.cancelText
    },
  },
}
</script>
<style lang="scss" scoped>
.blink {
	animation: blink 1s infinite ;
}
@keyframes blink {
  0% {
    opacity: 1;
    @apply opacity-100;
  }
  50% {
    @apply opacity-50;
  }
}
</style>
