

<template>
  <div>

    <div v-if="mainTypeData !== undefined && mainTypeData.list.length !== undefined" v-cloak>
      <div class="w3-container w3-padding-8 w3-large w3-light-gray w3-center">
        {{showPageHeader}}
      </div>
      <div class="w3-padding-16">
        <!-- 顯示大類清單 -->
        <div class="w3-row-padding" v-if="subTypeData === undefined && subCode === undefined">
          <a class="w3-col s6" @click="showSubTypeUrl(item)" v-for="item in mainTypeData.list" :key="item.PicUrl">
            <img class="w3-image" :src="showImage(item.PicURL)">
            <p class="w3-margin-8"
              style="width: 130px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: center; margin: auto;">
              {{item.DetailName}}</p>
          </a>
        </div>

        <!-- 顯示小類清單 -->
        <div class="w3-row-padding"  v-if="subTypeData !== undefined && subTypeData.list.length">
          <a class="w3-col s6" @click="showProductUrl(item)" v-for="item in subTypeData.list" :key="item.PicUrl">
            <img class="w3-image" :src="showImage(item.PicURL)">
            <p class="w3-margin-8"
              style="width: 130px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: center; margin: auto;">
              {{item.DetailName}}</p>
          </a>
        </div>
      </div>

    </div>

  </div>
</template>

<script>
import { showImage } from 'src/libs/appHelper.js'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      state: this.$store.state,
    };
  },
  computed: {
    // (從 route 取的)常用資訊
    mainCode() { return this.$route.params.id },
    mainName() { return this.$route.query.mainName },
    subCode()  { return this.$route.query.subCode },
    subName()  { return this.$route.query.subName },
    // 顯示 Menu 的主標
    showPageHeader() {
      if (this.subName === undefined) return this.mainName
      if (this.subName !== undefined) return this.mainName + " > " + this.subName
      return ''
    },
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    srcUrl()   { return this.getters.srcUrl },
    mainTypeData() { return this.state.publicData.menu.mainType.find(item => { return item.code == this.mainCode }) },
    subTypeData() { return this.state.publicData.menu.subType.find(item => {return item.code == this.subCode }) },
  },
  watch: {
    // 如果路由有變化，會再次執行該方法
    '$route': 'fetchPageData'
  },
  // 在路由刷新前
  beforeRouteEnter: function(to, from, next){
    next( vm => { vm.fetchPageData() } ); // 在這裏 call component this 的黑魔法
  },
  beforeRouteUpdate: function(to, from, next){
    next();
  },
  // 頁面模組
  methods: {
    showImage,
    // 顯示 subType 的連結
    showSubTypeUrl(type) {
      const path = `/cardMenu/${this.mainCode}?mainName=${this.mainName}&subCode=${type.KindID}` + ( type.KindName ? `&subName=${type.KindName}` : '' )
      this.$router.push({ path: path });
    },
    // 顯示商品頁的連結
    showProductUrl(product) {
      const path = `/cardProducts/${product.DetailID}?mainName=${this.mainName}&subCode=${product.KindID}` + ( this.subName ? `&subName=${this.subName}` : '' )
      this.$router.push(path);
    },
    // 取頁面資訊
    fetchPageData(){
      // 只在 '/menu' 時才運作
      if (!/^\/cardMenu/.test(this.$route.path)) return
      // (依據 route params} 更新 mainType 的資料
      this.$store.dispatch('fetchMenuMainTypeData', {code: this.mainCode, name: this.mainName})
      // (依據 route params} 更新 subType 的資料
      if (this.subCode != undefined) {
        this.$store.dispatch('fetchMenuSubTypeData', {code: this.subCode, name: this.subName})
      }
    },
  },
}
</script>
