<template>
  <div class="container p-4 mx-auto h-full bg-gray-100 overflow-auto push-bottom-hack">
		<!-- 訂單未完成提示 -->
		<div class="bg-gradient-to-r from-yellow-600 to-yellow-400 -mt-4 -mx-4 mb-4 px-5 py-2 text-white flex items-center justify-between">
			<p class="font-medium text-lg">{{(mallData.orderstatus[trace.OrderStatus.toString()] || "-")}}</p>
			<div>
				<svg xmlns="http://www.w3.org/2000/svg" class="inline-block align-text-bottom" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
					<path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
					<line x1="9" y1="7" x2="10" y2="7"></line>
					<line x1="9" y1="13" x2="15" y2="13"></line>
					<line x1="13" y1="17" x2="15" y2="17"></line>
				</svg>
			</div>
		</div>
		<!-- 訂單已完成提示 -->
		<div class="bg-gradient-to-r from-green-600 to-green-400 -mt-4 -mx-4 mb-4 px-5 py-2 text-white flex items-center justify-between" v-show="false">
			<p class="font-medium text-lg">訂單已完成</p>
			<div>
				<svg xmlns="http://www.w3.org/2000/svg" class="inline-block align-text-bottom" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<rect x="3" y="16" width="3" height="5" rx="1"></rect>
					<path d="M6 20a1 1 0 0 0 1 1h3.756a1 1 0 0 0 .958 -.713l1.2 -3c.09 -.303 .133 -.63 -.056 -.884c-.188 -.254 -.542 -.403 -.858 -.403h-2v-2.467a1.1 1.1 0 0 0 -2.015 -.61l-1.985 3.077v4z"></path>
					<path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
					<path d="M5 12.1v-7.1a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-2.3"></path>
				</svg>
			</div>
		</div>
		<!-- 歷程Timeline -->
		<div class="bg-white border rounded-lg overflow-hidden shadow">
			<div class="p-4 bg-white">
				<p class="mb-2">訂單號：{{trace.OrderNo}}</p>
				<p>日期：{{formatTime(trace.SaleTime, 'YYYY-MM-DD HH:mm:ss')}}</p>
			</div>
			<hr class="bg-gray-200 h-px">
			<div class="p-4 bg-yellow-50">
				<p class="mb-2 pl-5">
					<svg xmlns="http://www.w3.org/2000/svg" class="inline-block align-text-bottom text-secondary -ml-7" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<circle cx="7" cy="17" r="2"></circle>
						<circle cx="17" cy="17" r="2"></circle>
						<path d="M5 17h-2v-11a1 1 0 0 1 1 -1h9v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5"></path>
					</svg>
					配送方式：{{trace.PreSpecLimit && trace.PreSpecLimit.indexOf('cvs') == 0?'超商取貨':trace.PreWay}}<!-- 宅配、超商取貨、自取 -->
				</p>
				<!-- 取件門市(超商取貨、自取) | 收件地址(宅配) -->
				<div class="mb-2 pl-5">
					<svg xmlns="http://www.w3.org/2000/svg" class="inline-block align-text-bottom text-secondary -ml-7" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<line x1="3" y1="21" x2="21" y2="21"></line>
						<path d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4"></path>
						<line x1="5" y1="21" x2="5" y2="10.85"></line>
						<line x1="19" y1="21" x2="19" y2="10.85"></line>
						<path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4"></path>
					</svg>
					<p v-if="storeInfo.StoreName">
						取件門市：{{storeInfo.StoreName}}<br>
						<span v-if="storeInfo.StoreAddr">{{storeInfo.StoreAddr}}</span>
					</p>
					<p v-if="!storeInfo.StoreName && trace.PreName">
						取件門市：{{trace.PreName}}<br>
						<span v-if="trace.PreAddr">{{trace.PreAddr}}</span>
					</p>
				</div>
				<p class="mb-2 pl-5" v-if="false">
					<svg xmlns="http://www.w3.org/2000/svg" class="inline-block align-text-bottom text-secondary -ml-7" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<circle cx="12" cy="11" r="3"></circle>
						<path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path>
					</svg>
					收件地址：<br>
					王小明<br>
					0900123456<br>
					高雄市前鎮區二聖路100號
				</p>
			</div>
			<hr class="bg-gray-200 h-px">
			<div class="p-4 bg-white">
				<p>
					貨物查詢號碼：{{storeInfo.LogisticsIDNo}}
					<span class="underline float-right font-medium text-blue-500" @click="copyText(storeInfo.LogisticsIDNo)">複製</span>
				</p>
			</div>
			<!-- 貨態流程(未達貨態無active、無時間) -->
			<div class="timeline-container">
				<ul class="list-updates">						
					<li class="update" :class="[iIndex == 0?'active':'']" v-for="(cvsDt, iIndex) in cvsDetail" :key="'cvsDt'+iIndex">
						<span class="time">{{formatTime(cvsDt.UpdateStatusDate, 'YYYY-MM-DD HH:mm:ss')}}</span>
						<p>{{cvsDt.StatusName}}</p>
					</li>						
				</ul>
			</div>
		</div>
  </div>
</template>

<style lang="scss" scoped>
.timeline-container::before,
.list-updates::before,
.list-updates .update::before {
  content: "";
}
.timeline-container::before,
.list-updates::before,
.list-updates .update::before,
.all-updates {
  @apply absolute;
}
.timeline-container,
.list-updates .update,
.list-updates {
	@apply relative;
	@apply text-gray-400;
}
.timeline-container {
  padding: 0 2rem 1rem 3rem;
}
.list-updates {
	@apply list-none;
}
.list-updates::before {
  height: 90%;
  width: 2px;
  @apply bg-gray-300 top-2.5 -left-4;
}
.list-updates .update {
  padding: 1rem 0 .5rem .5rem;
}
.list-updates .update::before {
  height: 10px;
  width: 10px;
  left: calc(-1rem - 4px);
	@apply bg-gray-300 top-1/2 transform -translate-y-1/2 rounded-full;
}
.list-updates .update.active {
	color: #D69A64;
	&::before {
		background-color: #D69A64;
		left: calc(-1rem - 7px);
		@apply w-4 h-4;
	}
}
</style>

<script>
import store from 'src/store'
import { showToast } from 'src/libs/appHelper.js'
import { getCVSexpress } from 'src/libs/market.js'
import { formatTime } from 'src/libs/timeHelper.js'
export default {
	data: function () {
		return {
			state: this.$store.state,
			cvsDetail:[],
		};
	},
	computed: {
		trace(){return store.state.mallData.ShopTrace},
		storeInfo(){return (this.cvsDetail.length?this.cvsDetail[0]:{})},
		mallData() {return this.$store.state.mallData;},
		},
	methods: {
		formatTime,
		copyText() {
			showToast('複製成功')
		},
		setDetail(m_detail){
			this.cvsDetail = [];
			if (this.$route.params.id == this.trace.OrderNo && Array.isArray(m_detail) && m_detail.length) this.cvsDetail = m_detail;			
		}
	},
	async beforeRouteEnter(to, form, next) {
		store.state.isPageName = '運送資訊'	// 頁面名稱
		const haveID = store.state.mallData.ShopTrace.ID
		if(haveID) await getCVSexpress({OrderID:store.state.mallData.ShopTrace.ID},(p_detail)=>{
			next(vm=>{
				vm.setDetail(p_detail);
			});
		})
		if(!haveID) next();
		
	},
	beforeRouteLeave: function (to, form, next) {
		next();
	}
}
</script>