<template>
  <div id="brand-box" class="h-full bg-white overflow-auto push-bottom-hack">
    <!-- 各品牌菜單 -->
    <section class="mb-3">
      <h1 class="title is-5 p-3 mb-0">各品牌菜單</h1>
      <swiper class="swiper swiper-brand" :options="swiperOption">
        <swiper-slide v-for="(i,index) in brands" :key="index">
          <div @click="showMenuModal(i)">
            <img :src="showImageWuhuPage(i.BrandLogo)" :key="i.LastModify">
          </div>
        </swiper-slide>
        <div class="swiper-pagination" slot="pagination"></div>
      </swiper>
    </section>
    <!-- 菜單 modal -->
    <transition name="slide-fade">
      <div class="modal is-active" style="z-index:101" v-if="menuModal == true">
        <div class="modal-background"></div>
        <!-- 多本選擇 -->
        <template v-if="menuCover">
          <template v-if="curMenu['menu1']">
            <p class="text-white z-10 mb-2">{{curMenu['menu1'][0]['title']}}</p>
            <figure class="image mb-4" @click="menuCover = false, viewMenu = 'menu1'">
              <img class="mx-w-14" :src="curMenu['menu1'][1]['image']">
            </figure>
          </template>
          <template v-if="curMenu['menu2']">
            <p class="text-white z-10 mb-2">{{curMenu['menu2'][0]['title']}}</p>
            <figure class="image mb-3" @click="menuCover = false, viewMenu = 'menu2'">
              <img class="mx-w-14" :src="curMenu['menu2'][1]['image']">
            </figure>
          </template>
          <template v-if="curMenu['menu3']">
            <p class="text-white z-10 mb-2">{{curMenu['menu3'][0]['title']}}</p>
            <figure class="image mb-4" @click="menuCover = false, viewMenu = 'menu3'">
              <img class="mx-w-14" :src="curMenu['menu3'][1]['image']">
            </figure>
          </template>
        </template>
        <!-- 瀏覽 -->
        <template v-if="!menuCover && curMenu[viewMenu]">
          <p class="text-white z-10 fixed p-4" style="top:env(safe-area-inset-top)">{{curMenu[viewMenu][0]['title']}}</p>
          <swiper ref="mySwiper" class="swiper px-4 w-full h-full" :options="swiperOptionMenu">
            <template v-for="(i, imgIndex) in curMenu[viewMenu]">
              <swiper-slide :key="i.image" v-if="imgIndex > 0">
                <div :id="'zoom'+imgIndex" class="swiper-zoom-container" v-touch:start="zoomTouch" v-touch:end="zoomTouch">
                  <img class="swiper-lazy object-cover" :data-src="i.image">
                  <div class="swiper-lazy-preloader"></div>
                </div>
              </swiper-slide>
            </template>
            <div class="menu-pagination swiper-pagination" slot="pagination"></div>
          </swiper>
        </template>
        <!-- 返選菜單 -->
        <button class="fixed left-0 p-3" @click="menuCover = true" v-if="menuCover == false && curMenu['menu2']" style="z-index: 1;top:env(safe-area-inset-top)">
          <svg xmlns="http://www.w3.org/2000/svg" height="28px" width="28px" viewBox="0 0 24 24" fill="#ffffff"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 11H7.83l4.88-4.88c.39-.39.39-1.03 0-1.42-.39-.39-1.02-.39-1.41 0l-6.59 6.59c-.39.39-.39 1.02 0 1.41l6.59 6.59c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L7.83 13H19c.55 0 1-.45 1-1s-.45-1-1-1z"/></svg>
        </button>
        <!-- 關閉 -->
        <button class="modal-close is-large" aria-label="close" @click="menuModal = false; menuCover = true" style="z-index: 1"></button>
      </div>
    </transition>
    <section class="mb-3" v-if="isNewsBanner01.length">
      <h1 class="title is-5 p-3 mb-0">{{listBrands[0].Text}}</h1>
      <swiper class="swiper" :options="swiperOptionNews">
        <swiper-slide v-for="i in isNewsBanner01" :key="i.LastModify">
          <figure class="image is-16by9">
            <img class="swiper-lazy object-cover" :data-src="showImageWuhuPage(i.PicURL)" :key="i.LastModify" @click="showNewspage(i)">
            <div class="swiper-lazy-preloader"></div>
          </figure>
        </swiper-slide>
        <div class="swiper-pagination" slot="pagination"></div>
      </swiper>
    </section>
    <section class="mb-3" v-if="isNewsBanner02.length">
      <h1 class="title is-5 p-3 mb-0">{{listBrands[1].Text}}</h1>
      <swiper class="swiper" :options="swiperOptionNews">
        <swiper-slide v-for="i in isNewsBanner02" :key="i.LastModify">
          <figure class="image is-16by9">
            <img class="swiper-lazy object-cover" :data-src="showImageWuhuPage(i.PicURL)" :key="i.LastModify" @click="showNewspage(i)">
            <div class="swiper-lazy-preloader"></div>
          </figure>
        </swiper-slide>
        <div class="swiper-pagination" slot="pagination"></div>
      </swiper>
    </section>
    <section class="mb-3" v-if="isNewsBanner03.length">
      <h1 class="title is-5 p-3 mb-0">{{listBrands[2].Text}}</h1>
      <swiper class="swiper" :options="swiperOptionNews">
        <swiper-slide v-for="i in isNewsBanner03" :key="i.LastModify">
          <figure class="image is-16by9">
            <img class="swiper-lazy object-cover" :data-src="showImageWuhuPage(i.PicURL)" :key="i.LastModify" @click="showNewspage(i)">
            <div class="swiper-lazy-preloader"></div>
          </figure>
        </swiper-slide>
        <div class="swiper-pagination" slot="pagination"></div>
      </swiper>
    </section>
    <section class="mb-3" v-if="isNewsBanner04.length">
      <h1 class="title is-5 p-3 mb-0">{{listBrands[3].Text}}</h1>
      <swiper class="swiper" :options="swiperOptionNews">
        <swiper-slide v-for="i in isNewsBanner04" :key="i.LastModify">
          <figure class="image is-16by9">
            <img class="swiper-lazy object-cover" :data-src="showImageWuhuPage(i.PicURL)" :key="i.LastModify" @click="showNewspage(i)">
            <div class="swiper-lazy-preloader"></div>
          </figure>
        </swiper-slide>
        <div class="swiper-pagination" slot="pagination"></div>
      </swiper>
    </section>
    <section class="mb-3" v-if="isNewsBanner05.length">
      <h1 class="title is-5 p-3 mb-0">{{listBrands[4].Text}}</h1>
      <swiper class="swiper w-full h-full" :options="swiperOptionNews">
        <swiper-slide v-for="i in isNewsBanner05" :key="i.LastModify">
          <figure class="image is-16by9">
            <img class="swiper-lazy object-cover" :data-src="showImageWuhuPage(i.PicURL)" :key="i.LastModify" @click="showNewspage(i)">
            <div class="swiper-lazy-preloader"></div>
          </figure>
        </swiper-slide>
        <div class="swiper-pagination" slot="pagination"></div>
      </swiper>
    </section>
    <div class="p-3">
      <!-- <p class="text-center has-text-grey-lighter mt-52" v-if="!publicData.brandNews.length">-- 無最新消息 --</p> -->
    </div>
  </div>
</template>

<script>
import store from 'src/store'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { showImage, showImageWuhu } from 'src/libs/appHelper.js'
import VueAwesomeSwiper from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.css'

// 菜單
const menus = {
  tz: {
    menu1: [
      { title: '碳佐麻里-大人味 高美/中華'},
      { image: require('@/assets/images/menus/tz/tz-a-00.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-1.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-2.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-3.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-4.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-5.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-6.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-7.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-8.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-9.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-10.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-11.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-12.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-13.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-14.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-15.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-16.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-17.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-18.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-19.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-20.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-21.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-22.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-23.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-24.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-25.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-26.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-27.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-28.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-29.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-30.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-31.jpg') },
      { image: require('@/assets/images/menus/tz/tz-a-99.jpg') }
    ],
    menu2: [
      { title: '碳佐麻里-發酵 府前/時代'},
      { image: require('@/assets/images/menus/tz/tz-b-00.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-1.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-2.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-3.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-4.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-5.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-6.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-7.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-8.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-9.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-10.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-11.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-12.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-13.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-14.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-15.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-16.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-17.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-18.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-19.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-20.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-21.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-22.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-23.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-24.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-25.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-26.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-27.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-28.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-29.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-30.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-31.jpg') },
      { image: require('@/assets/images/menus/tz/tz-b-99.jpg') }
    ],
  },
  tg: {
    menu1: [
      { title: '碳佐TANGO 麻辣鴛鴦鍋'},
      { image: require('@/assets/images/menus/tg/tg_210827_0.jpg') },
      { image: require('@/assets/images/menus/tg/tg_210827_1.jpg') },
      { image: require('@/assets/images/menus/tg/tg_210827_2.jpg') },
      { image: require('@/assets/images/menus/tg/tg_210827_3.jpg') },
      { image: require('@/assets/images/menus/tg/tg_210827_4.jpg') },
      { image: require('@/assets/images/menus/tg/tg_210827_5.jpg') },
      { image: require('@/assets/images/menus/tg/tg_210827_6.jpg') },
      { image: require('@/assets/images/menus/tg/tg_210827_7.jpg') },
      { image: require('@/assets/images/menus/tg/tg_210827_8.jpg') },
      { image: require('@/assets/images/menus/tg/tg_210827_9.jpg') },
      { image: require('@/assets/images/menus/tg/tg_210827_10.jpg') },
      { image: require('@/assets/images/menus/tg/tg_210827_11.jpg') },
      { image: require('@/assets/images/menus/tg/tg_210827_12.jpg') },
      { image: require('@/assets/images/menus/tg/tg_210827_13.jpg') },
      { image: require('@/assets/images/menus/tg/tg_210827_14.jpg') },
      { image: require('@/assets/images/menus/tg/tg_210827_15.jpg') },
      { image: require('@/assets/images/menus/tg/tg_210827_16.jpg') },
      { image: require('@/assets/images/menus/tg/tg_210827_17.jpg') },
      { image: require('@/assets/images/menus/tg/tg_210827_18.jpg') },
      { image: require('@/assets/images/menus/tg/tg_210827_19.jpg') }
    ],
  },
  hc: {
    menu1: [
      // { title: '有你真好 湘菜沙龍 鼓山店'},
      { title: '有你真好 湘菜沙龍'},
      { image: require('@/assets/images/menus/hc/hc-00.jpg') },
      { image: require('@/assets/images/menus/hc/hc-1.jpg') },
      { image: require('@/assets/images/menus/hc/hc-2.jpg') },
      { image: require('@/assets/images/menus/hc/hc-3.jpg') },
      { image: require('@/assets/images/menus/hc/hc-4.jpg') },
      { image: require('@/assets/images/menus/hc/hc-5.jpg') },
      { image: require('@/assets/images/menus/hc/hc-6.jpg') },
      { image: require('@/assets/images/menus/hc/hc-7.jpg') },
      { image: require('@/assets/images/menus/hc/hc-8.jpg') },
      { image: require('@/assets/images/menus/hc/hc-9.jpg') },
      { image: require('@/assets/images/menus/hc/hc-10.jpg') },
      { image: require('@/assets/images/menus/hc/hc-11.jpg') },
      { image: require('@/assets/images/menus/hc/hc-12.jpg') },
      { image: require('@/assets/images/menus/hc/hc-13.jpg') },
      { image: require('@/assets/images/menus/hc/hc-14.jpg') },
      { image: require('@/assets/images/menus/hc/hc-99.jpg') },
    ],
    // menu2: [
    //   { title: '有你真好 湘菜沙龍 時代店'},
    //   { image: require('@/assets/images/menus/hc/hc_02_210827_0.jpg') },
    //   { image: require('@/assets/images/menus/hc/hc_02_210827_1.jpg') },
    //   { image: require('@/assets/images/menus/hc/hc_02_210827_2.jpg') },
    //   { image: require('@/assets/images/menus/hc/hc_02_210827_3.jpg') },
    //   { image: require('@/assets/images/menus/hc/hc_02_210827_4.jpg') },
    //   { image: require('@/assets/images/menus/hc/hc_02_210827_5.jpg') },
    //   { image: require('@/assets/images/menus/hc/hc_02_210827_6.jpg') },
    //   { image: require('@/assets/images/menus/hc/hc_02_210827_7.jpg') },
    //   { image: require('@/assets/images/menus/hc/hc_02_210827_8.jpg') },
    //   { image: require('@/assets/images/menus/hc/hc_02_210827_9.jpg') },
    //   { image: require('@/assets/images/menus/hc/hc_02_210827_10.jpg') },
    //   { image: require('@/assets/images/menus/hc/hc_02_210827_11.jpg') },
    //   { image: require('@/assets/images/menus/hc/hc_02_210827_12.jpg') }
    // ],
    // menu3: [
    //   { title: '有你真好 湘菜沙龍 五妃店'},
    //   { image: require('@/assets/images/menus/hc/hc_03_210830_0.jpg') },
    //   { image: require('@/assets/images/menus/hc/hc_03_210830_1.jpg') },
    //   { image: require('@/assets/images/menus/hc/hc_03_210830_2.jpg') },
    //   { image: require('@/assets/images/menus/hc/hc_03_210830_3.jpg') },
    //   { image: require('@/assets/images/menus/hc/hc_03_210830_4.jpg') },
    //   { image: require('@/assets/images/menus/hc/hc_03_210830_5.jpg') },
    //   { image: require('@/assets/images/menus/hc/hc_03_210830_6.jpg') },
    //   { image: require('@/assets/images/menus/hc/hc_03_210830_7.jpg') },
    //   { image: require('@/assets/images/menus/hc/hc_03_210830_8.jpg') },
    //   { image: require('@/assets/images/menus/hc/hc_03_210830_9.jpg') },
    //   { image: require('@/assets/images/menus/hc/hc_03_210830_10.jpg') }
    // ]
  },
  gs: {
    menu1: [
      { title: '有你真好 火鍋沙龍'},
      { image: require('@/assets/images/menus/gs/gs-00.jpg') },
      { image: require('@/assets/images/menus/gs/gs-1.jpg') },
      { image: require('@/assets/images/menus/gs/gs-2.jpg') },
      { image: require('@/assets/images/menus/gs/gs-3.jpg') },
      { image: require('@/assets/images/menus/gs/gs-4.jpg') },
      { image: require('@/assets/images/menus/gs/gs-5.jpg') },
      { image: require('@/assets/images/menus/gs/gs-6.jpg') },
      { image: require('@/assets/images/menus/gs/gs-7.jpg') },
      { image: require('@/assets/images/menus/gs/gs-8.jpg') },
      { image: require('@/assets/images/menus/gs/gs-9.jpg') },
      { image: require('@/assets/images/menus/gs/gs-10.jpg') },
      { image: require('@/assets/images/menus/gs/gs-11.jpg') },
      { image: require('@/assets/images/menus/gs/gs-12.jpg') },
      { image: require('@/assets/images/menus/gs/gs-99.jpg') }
    ]
  },
  tcafe: {
    menu1: [
      { title: 'T＋Cafe＆Tea'},
      { image: require('@/assets/images/menus/tcafe/210827.jpg') }
    ]
  }
}

export default {
  components: {
    Swiper: VueAwesomeSwiper.swiper,
    SwiperSlide: VueAwesomeSwiper.swiperSlide
  },
  data: function(){
    return {
      state: this.$store.state,
      publicData: this.$store.state.baseInfo.publicData,
      nowGID:'',
      swiperOption: { // 菜單品牌
        slidesPerView: 'auto',
        spaceBetween: 16,
        lazy: {
          loadPrevNext: true,
        },
      },
      swiperOptionMenu: { // 菜單
        slidesPerView: 'auto',
        spaceBetween: 16,
        pagination: {
          el: '.swiper-pagination',
          type: 'fraction'
        },
        zoom: {
          maxRatio: 5,
        },
        lazy: {
          loadPrevNext: true,
        },
      },
      swiperOptionNews: { // 消息
        spaceBetween: 0,
				pagination: {
					el: '.swiper-pagination'
				},
        autoplay: {
          disableOnInteraction: false
        },
        lazy: {
          loadPrevNext: true,
        },
      },
      menuSortList: '',
      currentSort: '',
      sortStart: '',
      sortEnd: '',
      menuModal: false,
      menuCover: true,
      scrolltopValue: 0,
      curMenu: {},
      viewMenu: '',
      menus: menus,
    }
  },
  computed: {
    isbrand1() { return this.isMode !='news' && this.nowGID },
    srcUrl() { return this.getters.srcUrl },
    newsData() { return this.publicData.brandNews },
    listBrands() {
			const companyData = this.publicData.companyData
			let brandList = companyData.length ? companyData.filter((item) => {
          return item.isBrand == true
        }) : []
      return brandList;
    },
    brands() {
			const companyData = this.publicData.companyData
			let brandList = companyData.length ? companyData.filter((item) => {
          return item.isBrand == true
        }) : []
      return brandList;
    },
    swiper() {
      if(this.$refs.mySwiper) return this.$refs.mySwiper.swiper.zoom.scale
      else return false
    },
    // 碳佐 Banner
    isNewsBanner01() {
      return this.newsData
      .filter(item => item.BrandID == 1)
    },
    // 天鍋 Banner
    isNewsBanner02() {
      return this.newsData
      .filter(item => item.BrandID == 2)
    },
    // 有你真好火鍋 Banner
    isNewsBanner03() {
      return this.newsData
      .filter(item => item.BrandID == 3)
    },
    // 有你真好湘菜 Banner
    isNewsBanner04() {
      return this.newsData
      .filter(item => item.BrandID == 4)
    },
    // T+Cafe Banner
    isNewsBanner05() {
      return this.newsData
      .filter(item => item.BrandID == 5)
    },
  },
  beforeRouteEnter: function(to, from, next){
    next( vm => {
      vm.setPageName()
      setTimeout(() => {
        if(document.querySelector("#brand-box")) document.querySelector("#brand-box").scrollTop = vm.scrolltopValue 
      }, 100);
    });
  },
  beforeRouteUpdate: function(to, from, next){
		this.setPageName();
		next()
  },
  beforeRouteLeave(to, from, next) {
		this.scrolltopValue = document.querySelector("#brand-box").scrollTop
		next()
  },
  methods: {
    showImage,
    //showImageWuhu,
    showImageWuhuPage(p_url){
      const pic = showImageWuhu(p_url);
      return pic.indexOf('/assets/images/img_init.png') > -1 ?require('../../../assets/images/img_init.png'):pic;
    },
		/* 顯示消息詳情 */
    showNewspage(p_news){
      this.$router.push({ path: `/cardNewspage/${p_news.DetailID}` });
    },
		/* 頁面名稱 */
    setPageName() {
			store.state.isPageName = '品牌消息'
    },
/*
		selectMenu(gid, begin, end) {
      if(gid == 'gid1_sort01') this.menuText = '單點'
      else if(gid == 'gid1_sort02') this.menuText = '套餐'
      else if(gid == 'gid1_sort03') this.menuText = '任您吃'
      else if(this.currentSort == '餐廳') this.menuText = '餐廳'
      else if(this.currentSort == '美食街') this.menuText = '美食街'
			this.isType = 'menus'
      this.onCloseFood()
      this.menuSortList = gid
      this.sortBegin = begin
      this.sortEnd = end
		},
 */
		deviseUrl(url){
			return deviseFunction('openWeburl', url, '')
		},
		// (殼專屬) 另開瀏覽器app，開啟連結
		deviseToLink(Url) {
			return deviseFunction('openWeburl', Url, '')
		},
    // 菜單
    showMenuModal(i) {
      this.menuModal = true
      if(i.Text.includes('碳佐麻里','精品燒肉')) return this.curMenu = this.menus['tz']
      if(i.Text.includes('TANGO','麻辣鴛鴦鍋')) return this.curMenu = this.menus['tg'], this.menuCover = false, this.viewMenu = 'menu1'
      if(i.Text.includes('火鍋沙龍')) return this.curMenu = this.menus['gs'], this.menuCover = false, this.viewMenu = 'menu1'
      if(i.Text.includes('湘菜沙龍')) return this.curMenu = this.menus['hc'], this.menuCover = false, this.viewMenu = 'menu1'
      if(i.Text.includes('Cafe')) return this.curMenu = this.menus['tcafe'], this.menuCover = false, this.viewMenu = 'menu1'
    },
    // ios圖片放大模糊fix
    zoomTouch() {
      setTimeout(() => {
        let el = document.querySelector('.swiper-slide-zoomed .swiper-zoom-container img')
        if (!el) return;
        let elStyle = el['style']['transform']
        let newElStyle = elStyle.replace(/translate3d\(0px, 0px, 0px\)/i, 'translate(0px, 0px)')
        el['style']['transform'] = newElStyle
      }, 100)
    }
  }
}
</script>

<style lang="scss" scoped>
.tags {
  .tag:not(:first-child) {
    margin-left: -4px;
  }
}
.link-buttons {
  position: fixed;
  z-index: 1;
  right: 1rem;
  margin-top: 1rem;
  .buttons .button {
    margin: 0 0 4px !important;
    &.is-line .icon {
      svg {
        display: none;
      }
      background: no-repeat center url('../../../assets/images/ic_line.png');
      background-size: 18px;
    }
  }
}
.modal-content {
  max-height: 100vh;
}
.enlarge-modal-height {
  height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom)) !important;
  margin-top: env(safe-area-inset-top) !important;
}
.triangle-bottom {
  position: relative;
  &::before, &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #fff transparent transparent transparent;
  }
  &::before {
    top: 1px;
    border-width: 7px 7px 0 7px;
    border-color: #e1e1e1 transparent transparent transparent;
  }
}
.isSort {
  background-color: #FFE114;
}
.menu-pagination.swiper-pagination-fraction {
  bottom: calc(16px + var(--ios-safe-area-bottom));
  @apply text-white;
}
.swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  left: auto;
  right: 20px;
  width: auto;
}
.swiper-brand .swiper-slide {
  width: 36% !important;
}
.mx-w-14 {
  max-width: 14rem;
}
</style>
