<template>
  <div class="h-full">
    <div class="container h-full overflow-auto bg-white pb-36">
      <transition-group name="slide-fade" :duration="{ leave: 0 }">
        <div class="text-center bg-white is-size-5 sticky top-0 pb-0 z-10" key="tabs" v-if="!ticketData">
          <!-- Tabs  -->
          <div class="tabs is-centered bg-white">
            <ul>
              <li :class="{'is-active':isActiveTab==1}" @click="isActiveTab=1">
                <a href="javascript:void(0)" class="relative px-3 none-underline" :data-badge="ticketList.length">
                  可使用
                </a>
              </li>
              <li class="badge-gray" :class="{'is-active':isActiveTab==2}" @click="isActiveTab=2" :data-badge="notAvailableTickets.length">
                <a href="javascript:void(0)" class="px-3 none-underline">未生效</a>
              </li>
              <li class="badge-gray" :class="{'is-active':isActiveTab==3}" @click="isActiveTab=3">
                <a href="javascript:void(0)" class="relative px-3 none-underline" _:data-badge="gaveTicketList.length">
                  已轉贈
                </a>
              </li>
              <li class="badge-gray" :class="{'is-active':isActiveTab==4}" @click="isActiveTab=4">
                <a href="javascript:void(0)" class="relative px-3 none-underline">
                  已使用
                </a>
              </li>
              <li class="badge-gray" :class="{'is-active':isActiveTab==5}" @click="isActiveTab=5">
                <a href="javascript:void(0)" class="relative px-3 none-underline">
                  已失效
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div key="tabs_content" v-if="!ticketData">
          <!-- 可使用 -->
          <div v-if="isActiveTab==1 && !ticketData">
            <p class="text-center has-text-grey-lighter mt-52" v-if="!ticketList.length">-- 無優惠券 --</p>
            <!-- 券 -->
            <div v-if="!ticketData">
              <div class="card overflow-hidden shadow-sm rounded-lg mx-3 my-3 coupon-style" v-for="item in ticketList" :key="item.GID" @click="showTicketData(item)">
                <div class="card-content p-3 pb-0">
                  <div class="media mb-0">
                    <div class="media-left">
                      <figure class="image has-background-white-ter is-96x96 overflow-hidden">
                        <img :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? showImageWuhu(item.ImageUrl) : require('@/assets/images/img_init.png')" :alt="item.TicketTypeName">
                      </figure>
                      <div class="relative">
                        <svg class="cut" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9.64 7.64c.29-.62.42-1.33.34-2.09-.19-1.73-1.54-3.2-3.26-3.49-2.77-.48-5.14 1.89-4.66 4.65.3 1.72 1.76 3.07 3.49 3.26.76.08 1.46-.05 2.09-.34L10 12l-2.36 2.36c-.62-.29-1.33-.42-2.09-.34-1.73.19-3.2 1.54-3.49 3.26-.48 2.77 1.89 5.13 4.65 4.65 1.72-.3 3.07-1.76 3.26-3.49.08-.76-.05-1.46-.34-2.09L12 14l7.59 7.59c.89.89 2.41.26 2.41-1v-.01c0-.37-.15-.73-.41-1L9.64 7.64zM6 8c-1.1 0-2-.89-2-2s.9-2 2-2 2 .89 2 2-.9 2-2 2zm0 12c-1.1 0-2-.89-2-2s.9-2 2-2 2 .89 2 2-.9 2-2 2zm6-7.5c-.28 0-.5-.22-.5-.5s.22-.5.5-.5.5.22.5.5-.22.5-.5.5zm7.59-10.09L13 9l2 2 6.59-6.59c.26-.26.41-.62.41-1V3.4c0-1.25-1.52-1.88-2.41-.99z"/></svg>
                      </div>
                    </div>
                    <div class="media-content">
                      <p class="title is-6 text-info">{{item.TicketTypeName}}</p>
                      <p class="subtitle is-6 mt-0">
                        有效期限：{{/9999-12-31/.test(item.TicketExpiredDate) ? '不限' : item.TicketExpiredDate.substring(0, 10)}}<br>
                        張數：{{item.TicketCount}}
                        <span v-if="item.Remark.includes('轉贈')" class="block text-xs text-gray-400">( {{item.Remark.substring(item.Remark.length-10) + '從' + item.Remark.substring(0, 10) + '轉贈'}} )</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 未生效 -->
          <div v-if="isActiveTab==2 && !ticketData">
            <p class="text-center has-text-grey-lighter mt-52" v-if="!notAvailableTickets.length">-- 無優惠券 --</p>
            <div v-if="!ticketData">
              <!-- 券 -->
              <div class="card border overflow-hidden shadow-sm rounded-lg mx-3 my-3 coupon-style" v-for="item in notAvailableTickets" :key="item.GID" @click="showTicketData(item)">
                <div class="card-content p-3 pb-0">
                  <div class="media mb-0">
                    <div class="media-left">
                      <figure class="image has-background-white-ter is-96x96 overflow-hidden">
                        <img :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? showImageWuhu(item.ImageUrl) : require('@/assets/images/img_init.png')" :alt="item.TicketTypeName">
                      </figure>
                      <div class="relative">
                        <svg class="cut" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9.64 7.64c.29-.62.42-1.33.34-2.09-.19-1.73-1.54-3.2-3.26-3.49-2.77-.48-5.14 1.89-4.66 4.65.3 1.72 1.76 3.07 3.49 3.26.76.08 1.46-.05 2.09-.34L10 12l-2.36 2.36c-.62-.29-1.33-.42-2.09-.34-1.73.19-3.2 1.54-3.49 3.26-.48 2.77 1.89 5.13 4.65 4.65 1.72-.3 3.07-1.76 3.26-3.49.08-.76-.05-1.46-.34-2.09L12 14l7.59 7.59c.89.89 2.41.26 2.41-1v-.01c0-.37-.15-.73-.41-1L9.64 7.64zM6 8c-1.1 0-2-.89-2-2s.9-2 2-2 2 .89 2 2-.9 2-2 2zm0 12c-1.1 0-2-.89-2-2s.9-2 2-2 2 .89 2 2-.9 2-2 2zm6-7.5c-.28 0-.5-.22-.5-.5s.22-.5.5-.5.5.22.5.5-.22.5-.5.5zm7.59-10.09L13 9l2 2 6.59-6.59c.26-.26.41-.62.41-1V3.4c0-1.25-1.52-1.88-2.41-.99z"/></svg>
                      </div>
                    </div>
                    <div class="media-content">
                      <p class="title is-6 text-info">{{item.TicketTypeName}}</p>
                      <p class="subtitle is-7 mt-0">
                        有效期限：{{/9999-12-31/.test(item.TicketExpiredDate) ? '不限' : item.TicketExpiredDate.substring(0, 10)}}<br>
                        張數：{{item.TicketCount}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 已轉贈 -->
          <div v-if="isActiveTab==3 && !ticketData">
            <p class="text-center has-text-grey-lighter mt-52" v-if="!gaveTicketList.length">-- 無優惠券 --</p>
            <!-- 券 -->
            <div v-if="!ticketData">
              <div class="card overflow-hidden has-background-white-bis shadow-sm rounded-lg mx-3 my-3 coupon-style filter grayscale opacity-75" v-for="item in gaveTicketList" :key="item.GID">
                <div class="card-content p-3 pb-0">
                  <div class="media mb-0">
                    <div class="media-left">
                      <figure class="image has-background-white-ter is-96x96 overflow-hidden">
                        <img :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? showImageWuhu(item.ImageUrl) : require('@/assets/images/img_init.png')" :alt="item.TicketTypeName">
                      </figure>
                      <div class="relative">
                        <svg class="cut" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9.64 7.64c.29-.62.42-1.33.34-2.09-.19-1.73-1.54-3.2-3.26-3.49-2.77-.48-5.14 1.89-4.66 4.65.3 1.72 1.76 3.07 3.49 3.26.76.08 1.46-.05 2.09-.34L10 12l-2.36 2.36c-.62-.29-1.33-.42-2.09-.34-1.73.19-3.2 1.54-3.49 3.26-.48 2.77 1.89 5.13 4.65 4.65 1.72-.3 3.07-1.76 3.26-3.49.08-.76-.05-1.46-.34-2.09L12 14l7.59 7.59c.89.89 2.41.26 2.41-1v-.01c0-.37-.15-.73-.41-1L9.64 7.64zM6 8c-1.1 0-2-.89-2-2s.9-2 2-2 2 .89 2 2-.9 2-2 2zm0 12c-1.1 0-2-.89-2-2s.9-2 2-2 2 .89 2 2-.9 2-2 2zm6-7.5c-.28 0-.5-.22-.5-.5s.22-.5.5-.5.5.22.5.5-.22.5-.5.5zm7.59-10.09L13 9l2 2 6.59-6.59c.26-.26.41-.62.41-1V3.4c0-1.25-1.52-1.88-2.41-.99z"/></svg>
                      </div>
                    </div>
                    <div class="media-content">
                      <p class="title is-6 text-info">{{item.TicketTypeName}}</p>
                      <p class="subtitle is-6 mt-0 text-info">
                        轉贈：{{ item.TradeTime.substring(0, 16)}}<br>
                        受贈會員：{{ item.ToCardID }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 已使用 -->
          <div v-if="isActiveTab==4">
            <p class="text-center has-text-grey-lighter mt-52" v-if="!usedTicketList.length">-- 無優惠券 --</p>
            <!-- 券 -->
            <div v-else>
              <div class="card overflow-hidden has-background-white-bis shadow-sm rounded-lg mx-3 my-3 coupon-style filter grayscale opacity-60" v-for="item in usedTicketList" :key="item.GID">
                <div class="card-content p-3 pb-0">
                  <div class="media mb-0">
                    <div class="media-left">
                      <figure class="image has-background-white-ter is-96x96 overflow-hidden">
                        <img :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? showImageWuhu(item.ImageUrl) : require('@/assets/images/img_init.png')" :alt="item.TicketTypeName">
                      </figure>
                      <div class="relative">
                        <svg class="cut" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9.64 7.64c.29-.62.42-1.33.34-2.09-.19-1.73-1.54-3.2-3.26-3.49-2.77-.48-5.14 1.89-4.66 4.65.3 1.72 1.76 3.07 3.49 3.26.76.08 1.46-.05 2.09-.34L10 12l-2.36 2.36c-.62-.29-1.33-.42-2.09-.34-1.73.19-3.2 1.54-3.49 3.26-.48 2.77 1.89 5.13 4.65 4.65 1.72-.3 3.07-1.76 3.26-3.49.08-.76-.05-1.46-.34-2.09L12 14l7.59 7.59c.89.89 2.41.26 2.41-1v-.01c0-.37-.15-.73-.41-1L9.64 7.64zM6 8c-1.1 0-2-.89-2-2s.9-2 2-2 2 .89 2 2-.9 2-2 2zm0 12c-1.1 0-2-.89-2-2s.9-2 2-2 2 .89 2 2-.9 2-2 2zm6-7.5c-.28 0-.5-.22-.5-.5s.22-.5.5-.5.5.22.5.5-.22.5-.5.5zm7.59-10.09L13 9l2 2 6.59-6.59c.26-.26.41-.62.41-1V3.4c0-1.25-1.52-1.88-2.41-.99z"/></svg>
                      </div>
                    </div>
                    <div class="media-content">
                      <p class="title is-6 text-info">{{item.TicketTypeName}}</p>
                      <p class="subtitle is-6 mt-0 text-info">
                        使用日期：{{item.GenTradetime.substring(0, 10)}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 已失效 -->
          <div v-if="isActiveTab==5">
            <p class="text-center has-text-grey-lighter mt-52" v-if="!outofdateTicketList.length">-- 無優惠券 --</p>
            <!-- 券 -->
            <div v-else>
              <div class="card overflow-hidden has-background-white-bis shadow-sm rounded-lg mx-3 my-3 coupon-style filter grayscale opacity-60" v-for="item in outofdateTicketList" :key="item.GID">
                <div class="card-content p-3 pb-0">
                  <div class="media mb-0">
                    <div class="media-left">
                      <figure class="image has-background-white-ter is-96x96 overflow-hidden">
                        <img :src="(item.ImageUrl !== '/images/noPic.jpg' && item.ImageUrl !== '/imagesPic.jpg') ? showImageWuhu(item.ImageUrl) : require('@/assets/images/img_init.png')" :alt="item.TicketTypeName">
                      </figure>
                      <div class="relative">
                        <svg class="cut" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9.64 7.64c.29-.62.42-1.33.34-2.09-.19-1.73-1.54-3.2-3.26-3.49-2.77-.48-5.14 1.89-4.66 4.65.3 1.72 1.76 3.07 3.49 3.26.76.08 1.46-.05 2.09-.34L10 12l-2.36 2.36c-.62-.29-1.33-.42-2.09-.34-1.73.19-3.2 1.54-3.49 3.26-.48 2.77 1.89 5.13 4.65 4.65 1.72-.3 3.07-1.76 3.26-3.49.08-.76-.05-1.46-.34-2.09L12 14l7.59 7.59c.89.89 2.41.26 2.41-1v-.01c0-.37-.15-.73-.41-1L9.64 7.64zM6 8c-1.1 0-2-.89-2-2s.9-2 2-2 2 .89 2 2-.9 2-2 2zm0 12c-1.1 0-2-.89-2-2s.9-2 2-2 2 .89 2 2-.9 2-2 2zm6-7.5c-.28 0-.5-.22-.5-.5s.22-.5.5-.5.5.22.5.5-.22.5-.5.5zm7.59-10.09L13 9l2 2 6.59-6.59c.26-.26.41-.62.41-1V3.4c0-1.25-1.52-1.88-2.41-.99z"/></svg>
                      </div>
                    </div>
                    <div class="media-content">
                      <p class="title is-6 text-info">{{item.TicketTypeName}}</p>
                      <p class="subtitle is-6 mt-0 text-info">
                        有效期限：{{item.GenTradetime.substring(0, 10)}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 券詳細頁 -->
        <div key="tabs_detail" v-if="ticketData">
          <div class="card border overflow-hidden rounded-lg mx-3 my-3 coupon-style">
            <div class="card-content p-3 pb-0">
              <div class="media mb-0">
                <div class="media-left">
                  <figure class="image has-background-white-ter is-96x96">
                    <img :src="(ticketData.ImageUrl !== '/images/noPic.jpg' && ticketData.ImageUrl !== '/imagesPic.jpg') ? showImageWuhu(ticketData.ImageUrl) : require('@/assets/images/img_init.png')" :alt="ticketData.TicketTypeName">
                  </figure>
                  <div class="relative">
                    <svg class="cut" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9.64 7.64c.29-.62.42-1.33.34-2.09-.19-1.73-1.54-3.2-3.26-3.49-2.77-.48-5.14 1.89-4.66 4.65.3 1.72 1.76 3.07 3.49 3.26.76.08 1.46-.05 2.09-.34L10 12l-2.36 2.36c-.62-.29-1.33-.42-2.09-.34-1.73.19-3.2 1.54-3.49 3.26-.48 2.77 1.89 5.13 4.65 4.65 1.72-.3 3.07-1.76 3.26-3.49.08-.76-.05-1.46-.34-2.09L12 14l7.59 7.59c.89.89 2.41.26 2.41-1v-.01c0-.37-.15-.73-.41-1L9.64 7.64zM6 8c-1.1 0-2-.89-2-2s.9-2 2-2 2 .89 2 2-.9 2-2 2zm0 12c-1.1 0-2-.89-2-2s.9-2 2-2 2 .89 2 2-.9 2-2 2zm6-7.5c-.28 0-.5-.22-.5-.5s.22-.5.5-.5.5.22.5.5-.22.5-.5.5zm7.59-10.09L13 9l2 2 6.59-6.59c.26-.26.41-.62.41-1V3.4c0-1.25-1.52-1.88-2.41-.99z"/></svg>
                  </div>
                </div>
                <div class="media-content">
                  <p class="title is-6 text-info">{{ticketData.TicketTypeName}}</p>
                  <p class="subtitle is-6 mt-0">
                    期限(起)：{{ /0001-01-01/.test(ticketData.TicketBeginDate) ? ticketData.GenTradetime.substring(0, 10) : ticketData.TicketBeginDate.substring(0, 10)}}<br>
                    期限(訖)：{{/9999-12-31/.test(ticketData.TicketExpiredDate) ? '不限' : ticketData.TicketExpiredDate.substring(0, 10)}}<br>
                    張數：{{ticketData.TicketCount}}
                  </p>
                </div>
              </div>
              <div class="content border-top py-3 white-space-wrap line-height-150" style="min-height: 240px">
                <b>券別：</b>{{ticketType}}
                <br>
                <!-- <b>限制：</b>每次消費限用1張
                <br> -->
                <!-- 先隱藏
                限定使用商品：{{ticketUsageFoods}}
                <br>
                -->
                <b>活動說明：</b>{{ticketInfo.ruleData.Remark}}
                <br>
                <b>適用門店：</b>{{ticketUsageShops}}
                <br>
                <!-- 先隱藏
                <b>適用期間：</b>{{ticketUsagePeriod}}
                <br>
                -->
              </div>
            </div>
            <footer class="card-footer bg-white">
              <a class="card-footer-item none-underline tracking-widest" @click="$router.go(-1)">取消</a>
              <!-- 不可轉贈的優惠券,不可出現[轉贈]按鈕 -->
              <a href="javascript:void(0)" v-if="!ticketData.IsStopGive" class="card-footer-item none-underline tracking-widest" @click="toTrans()">贈送</a>
              <a href="javascript:void(0)" class="card-footer-item bg-primary none-underline tracking-widest text-white hover:text-white" @click="showCouponCode" v-if="!isNotAvailable(ticketData)">使用</a>
            </footer>
          </div>

          <div class="notification p-2 my-3 shadow-sm coupon-style" v-if="false">
            <article class="media flex-wrap">
              <figure class="media-left m-2">
                <p class="image is-96x96 mr-1">
                  <img :src="(ticketData.ImageUrl !== '/images/noPic.jpg' && ticketData.ImageUrl !== '/imagesPic.jpg') ? srcUrl + ticketData.ImageUrl : 'https://dev-service.jinher.com.tw/projectFeature/APP_KK/Kakar/images/default-coupon.png'" :alt="ticketData.TicketTypeName">
                </p>
              </figure>
              <div class="media-content mb-1" style="flex: 0 0 calc(100% - 120px)">
                <div class="content h-auto">
                  <p class="mt-2" style="min-height:44px"><b>{{ticketData.TicketTypeName}}</b></p>
                </div>
                <nav class="level">
                  <div class="level-left">
                    <!-- 顯示票券期限開始日期：如果 TicketBeginDate 是西元 0001 年開頭，則取 GenTradetime -->
                    <div>期限(起)：{{ /0001-01-01/.test(ticketData.TicketBeginDate) ? ticketData.GenTradetime.substring(0, 10) : ticketData.TicketBeginDate.substring(0, 10)}}</div>
                    <div>期限(訖)：{{/9999-12-31/.test(ticketData.TicketExpiredDate) ? '不限' : ticketData.TicketExpiredDate.substring(0, 10)}}</div>
                    <div>張數：{{ticketData.TicketCount}}</div>
                  </div>
                </nav>
              </div>
              <div class="border-top border-warning m-2 pt-3 w-100" style="min-height:260px;line-height:1.5">
                <b>券別：</b>{{ticketType}}
                <br>
                <b>限制：</b>每次消費限用1張
                <br>
                <b>適用門店：</b>{{ticketUsageShops}}
                <br>
                <b>備註：</b>{{ticketInfo.ruleData.Remark}}
              </div>
            </article>
          </div>
        </div>
      </transition-group>
      <!-- 顯示券 QRcode -->
      <transition name="slide-up">
        <div class="modal is-active" style="z-index: 100" v-if="isDemo=='mbrSearch'||isDemo=='couponCode'">
          <div class="modal-background bg-black bg-opacity-80"></div>
          <div class="modal-content overflow-visible">
            <!-- 券code -->
            <div class="box text-center rounded-xl p-4 m-auto bg-primary text-white ring-4 ring-black ring-opacity-20" style="max-width: 320px" v-if="isDemo=='couponCode'">
              <p class="py-3 text-2xl text-secondary"><b>{{ticketData.TicketTypeName}}</b></p>
              <article>
                <div class="bg-white p-4 mx-auto rounded-xl" style="width:240px;height:240px">
                  <figure class="image bg-gray-100 is-1by1 relative">
                    <img :src="ticketInfo.currentTicketQRcode" v-if="ticketInfo.currentTicketQRcode">
                    <small class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 text-gray-400 whitespace-nowrap" v-else>
                      條碼生成中...
                    </small>
                  </figure>
                </div>
                <p class="m-3 is-size-7">{{ticketInfo.currentTicketGID}}</p>
              </article>
            </div>
            <div class="m-auto" style="max-width: 320px" v-if="isDemo=='couponCode'">
              <button class="button is-danger flex-col h-auto is-fullwidth rounded-full" @click="toSelectStore = true">
                <h4 class="title is-4 text-wide text-white mb-1">我 要 兌 換</h4>
                <small>(點擊後本券即使用，無法再次兌換。)</small>
              </button>
            </div>
            <!-- 轉贈 -->
            <div class="box m-auto p-4" style="max-width: 320px" v-if="isDemo=='mbrSearch'">
              <h5 class="title text-center is-6 mb-3">優惠券轉贈</h5>
              <div class="field has-addons pb-2">
                <p class="control has-icons-left w-100">
                  <input class="input" type="text" placeholder="請輸入轉贈的手機號碼" v-model="ToAccount" @blur="fixScroll">
                  <span class="icon is-small is-left">
                    <i class="fas fa-search fa-fw"></i>
                  </span>
                </p>
                <div class="control" @click="confirmTicketTrans">
                  <a class="button bg-primary text-white hover:text-white">
                    贈送
                  </a>
                </div>
              </div>
              <article class="is-size-7">
                <p>
                  可以讓你將優惠券贈送給指定好友，讓你輕鬆揪朋友一同分享。
                  <span class="block px-3 py-2 my-2 rounded has-background-white-ter">
                  <b>贈送流程：</b><br>
                  1.  請輸入轉贈的手機號碼 (僅限轉贈已註冊會員)<br>
                  2.  確認會員帳號後按下【贈送】，於跳出提示窗再次按下【確認】，優惠券將立即轉贈給指定好友<br>
                  3.  若您輸入的帳號錯誤，提示窗則會跳出「會員帳號」錯誤<br>
                  </span>
                  註：優惠券一經贈送即無法單向取回，請於送出前再次確認會員帳號
                </p>
              </article>
            </div>
          </div>
          <button class="modal-close is-large" aria-label="close" @click="hideCouponCode"></button>
        </div>
      </transition>
      <!-- 券核銷選擇門市 -->
      <transition name="slide-up">
        <div class="modal mbr-qrcode is-active" v-if="toSelectStore">
          <div class="modal-background"></div>
          <div class="modal-content">
            <div class="box text-center m-3 p-3">
							<p class="is-size-5 mb-3" style="line-height:1.5">點擊[確認]後本券即使用，無法再次兌換。</p>
              <!-- 按鈕 -->
              <div class="columns is-mobile is-variable is-1 mt-n1">
                <div class="column">
                  <button class="button is-fullwidth tracking-widest border bg-gray-50 mr-2" @click="toSelectStore=false">取消</button>
                </div>
                <div class="column">
                  <button class="button is-fullwidth tracking-widest text-white hover:text-white bg-primary border-0" @click="doTicketExchange()">確認</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>

  </div>
</template>

<style lang="scss" scoped>
.qrcode-rendering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @apply absolute;
}
.select:not(.is-multiple):not(.is-loading)::after,
.select:not(.is-multiple):not(.is-loading):hover::after {
  right: .5em;
}
@media screen and (min-width: 1px) {
  .field.is-horizontal {
    @apply flex;
    .field-label {
      flex-basis: 0;
      line-height: 40px;
      @apply flex-grow-0 flex-shrink-0 mr-4 text-right;
      @media screen and (min-width: 768px) { line-height: normal; }
      min-width: 48px;
      .is-medium {
        @apply pt-0;
      }
    }
    .field-body {
      @apply flex flex-shrink;
      flex-basis: 0;
      flex-grow: 5;
      .field {
        @apply mb-0;
      }
      > .field {
        @apply flex-shrink;
        &:not(.is-narrow) {
          @apply flex-grow;
        }
        &:not(:last-child) {
          @apply mr-3;
        }
      }
    }
  }
}
</style>

<script>
import store from 'src/store'
import { setLoading } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { StoreGroup, GUID } from 'src/fun1.js'	// 共用fun在此!
import { isLogin, fixScroll, showAlert, showConfirm, showImageWuhu } from 'src/libs/appHelper.js'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      memberData: this.$store.state.baseInfo.memberData,
      isActiveTab: 1,
      isShow: true,
      isDemo: '',
      toSelectStore: false,
      // toSelectStore: true,	// @@test
      // hasEdit: false,				// 有無執行 券兌換 或什麼的修改...
      ToAccount: '',
			selectedShopCounty: '縣市',
      selectedShop: '',	// 門市,勿給預設,判斷用
      ShopID: '',	// 存目前門市代號
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
		// 按縣市選門店
		storeGroup: StoreGroup,
    srcUrl()   { return this.state.srcUrl },
    // TicketFlag = 6 運費券
		ticketList() { return FilterFlag.call(this.memberData.ticketList, 2346) },
		gaveTicketList() { return FilterFlag.call(this.memberData.gaveTicketList, 2346) },
		notAvailableTickets() { return FilterFlag.call(this.memberData.notAvailableTickets, 2346) },
		usedTicketList() { return FilterFlag.call(this.memberData.usedTicketList, 2346) },
		outofdateTicketList() { return FilterFlag.call(this.memberData.outofdateTicketList, 2346) },

    totalTicket() {return this.ticketList.concat(this.notAvailableTickets)},
    // --- 單一筆優惠卷的資訊 ---
    ticketID() { return this.$route.query.code },
    ticketInfo() { return this.memberData.ticketInfo },
    ticketData() { return this.totalTicket.filter(item => {return item.GID == this.ticketID})[0] },
    // 使用期限
    ticketExpiredAt() { return this.ticketData.TicketExpiredDate.substring(0, 10) },
    // 限定使用商品
    ticketUsageFoods() {
      const foods = this.ticketInfo.usageFoods
      if (foods.length == 0) return '不限'
      if (foods.length != 0) return foods.map(item => item.FoodName).join(', ')
      return ''
    },
    // 適用門店
    ticketUsageShops() {
      const shops = this.ticketInfo.usageShops
				,nMax 		= shops.length
				,str1			= nMax ? shops.map(item => item.ShopName).join(', ') : '不限'
			// console.log('ticketUsageShops-shops: ', shops);	// @@
			// console.log('ticketUsageShops-str1: '+nMax, str1);	// @@
      return str1;
    },
    // 適用期間 (timePeriod, weekDay)
    ticketUsagePeriod() {
      const rule = this.ticketInfo.ruleData

      // 設定使用時間
      const beginTime = rule.BeginDate2 || rule.BeginTime
      const endTime   = rule.EndDate2 || rule.EndTime

      let timePeriod = ''
      if (beginTime !== "" && endTime !== "") timePeriod = beginTime + "-" + endTime
      if (beginTime === "" && endTime !== "") timePeriod = "截止" + endTime;
      if (beginTime !== "" && endTime === "") timePeriod = beginTime + "起 - 不限";
      if (beginTime === "" && endTime === "") timePeriod = '不限'
      if (beginTime === undefined && endTime === undefined) timePeriod = 'loading...'

      // 設定使用日 (星期一 ~ 星期日)
      let weekDay = ''
      if (rule.Week1 === "True") weekDay += " 星期一";
      if (rule.Week2 === "True") weekDay += " 星期二";
      if (rule.Week3 === "True") weekDay += " 星期三";
      if (rule.Week4 === "True") weekDay += " 星期四";
      if (rule.Week5 === "True") weekDay += " 星期五";
      if (rule.Week6 === "True") weekDay += " 星期六";
      if (rule.Week7 === "True") weekDay += " 星期天";

      return `${timePeriod} \n [${weekDay} ]`
    },
    // 優惠卷類別
    ticketType() {
      const item 	= this.ticketData
				,nFlag		= parseInt(item.TicketFlag)
      if (nFlag === 1) return '現金劵'
      if (nFlag === 2) return '商品抵用劵'
      if (nFlag === 3) return '商品折扣劵'
      if (nFlag === 4) return '現金折扣劵'
      if (nFlag === 6) return '運費券'
      return ''
    },
  },
  beforeRouteEnter: function(to, from, next){
    // 如果取不到 Vue instance (e.g. 直接 F5 刷新時), 導回首頁重取預設資料
    if (!isLogin.value) return next('/')

    setLoading(true, 4)
    store.dispatch('fetchStoreListDataWuhu')	// 取得門店
    store.dispatch('fetchAppPublicDataCouponWuhu')	//  currentApp 的公開資料

    // 頁面名稱
    store.state.isPageName = '活動贈品券'

		// next()
		next(vm => {
      vm.isActiveTab = 1
			vm.aa = 1;	// @@
			setLoading(false)
		});
  },
  beforeRouteUpdate: function(to, from, next){
    // 頁面名稱
		const _page = this.ticketData ? '活動贈品券' : '詳細內容'
    this.$store.state.isPageName = _page

    next();
  },
  watch: {
    selectedShop(_new){
			// console.log('selectedShop: ', _new);	// @@
			this.ShopID = _new;
    },
  },
  // 頁面模組
  methods: {
    fixScroll,
    showImageWuhu,
    // 判斷此卷能否使用
    isNotAvailable(ticket) {
      return this.notAvailableTickets.filter(item => {return item.GID == ticket.GID}).length
    },
		/* 重整-優惠卷列表 */	// 為了使用後更新列表...
    refreshTicList() {
			this.$store.dispatch('fetchMemberTicketListDataWuhu')
    },
    // 顯示優惠卷細節資訊
    showTicketData(item) {
			// console.log('顯示優惠卷-item: ', item);	// @@

      // 取優惠卷的使用規則、條款資料，QRcode
      this.$store.dispatch('fetchMemberTicketInfoData', item)
      // 導向優惠卷資訊頁
      this.$router.push(`/cardCoupon?code=${item.GID}`)
    },
    // 開啟-優惠卷的 QRcode
    showCouponCode() {
      this.isDemo = 'couponCode'
      this.$store.commit('setCssTouch', false)
      // 進入時將殼的螢幕調到最亮
      deviseFunction('setBrightness', '255', '')
    },
    // 關閉-優惠卷的 QRcode
    hideCouponCode() {
      // 將殼的螢幕恢復原本亮度
      deviseFunction('setBrightness', this.$store.getters.deviseBrightness, '')
      this.$store.dispatch('fetchAppUserData')
      // this.$store.commit('setCssTouch', true)
      this.isDemo = ''
			// this.hasEdit && this.refreshTicList();
      //this.$router.go(-1)
    },
    // 贈送優惠券
    toTrans() {
      this.ToAccount = ''
      this.isDemo='mbrSearch'
    },
    // 確認是否贈卷
    confirmTicketTrans() {
      const mobilePhoneRegxp = /^09[0-9]{2}[0-9]{6}$/; // 格式需為09XXXXXXX
      if (this.ToAccount === '') return showAlert('請輸入會員電話號碼')
      if (mobilePhoneRegxp.test(this.ToAccount) != true) return showAlert('會員電話號碼錯誤')

      showConfirm("一經贈送即無法更改<br>您確定要贈送嗎?")
        // 點擊確認執行贈卷
        .then(() => this.doTicketTrans() )
        // 點擊取消執行關閉 confirmn 視窗
        .catch(() => store.commit('setCustomModal', { type: '', text: '' }) )
    },
    // 執行-贈卷
    async doTicketTrans() {
      const data = await this.$store.dispatch('ensureMemberTicketTrans', { ToAccount: this.ToAccount, TicketInfoID: this.ticketData.TicketInfoID })
      // 無論成功失敗都要顯示 api 訊息
      showAlert(data.ErrorMsg)
      if (data.ErrorCode !== '0') return
      // 成功 => 刷新已轉贈的卷資訊
      await this.$store.dispatch('fetchAppPublicDataCouponWuhu')
      this.hideCouponCode()
      this.isActiveTab = 3
    },
    // 執行-優惠券兌換
    async doTicketExchange() {
			const t1 = this.ticketData;
			// console.log('優惠券兌換-t1: ', t1);	// @@
			const param1 = {
				// ShopID: this.ShopID,	// 碳佐不使用
				Ticket: {
					MemberNo: 			t1.CardNO,
					TradeNum: 			GUID(),								// 新GID new GID
					TicketTypeCode: t1.TicketTypeCode,
					TicketEndNO: 		t1.TicketEndNO,
					TicketBgnNO: 		t1.TicketBgnNO,
					TicketInfoID: 	t1.TicketInfoID,
					TicketPrice: 		t1.TicketPrice,
					TicketTotal: 		t1.TicketTotal,
					TicketCount: 		t1.TicketCount,
					TradeAmount: 		0 		 		 		 		 		// 一律給0
				}
			}
			// console.log('優惠券兌換-param1: ', param1);	// @@
      const data = await this.$store.dispatch('ensureTicketExchange', param1)
      // 無論成功失敗都要顯示 api 訊息
      showAlert(data.ErrorMsg)
      if (data.ErrorCode != 0) return

			// this.hasEdit = true
			this.refreshTicList();
      this.hideCouponCode()
      this.isActiveTab = 1
      this.toSelectStore = false
    },

  },
}

/* 過濾券-屬性 */
function FilterFlag(v1) {
	if (v1 == 2346) {
		// return this.filter(item => item.TicketFlag == 2 || item.TicketFlag == 3 || item.TicketFlag == 6 );
		return this.filter(item => /2|3|4|6/.test(item.TicketFlag));
	// } else if (v1 == 14) {
		// return this.filter( item => item.TicketFlag == 1 || item.TicketFlag == 4 );
	} else {	// 無參數丟回原值
		return this;
	}
}
</script>