<template>
  <div class="h-full bg-white overflow-auto transform-gpu push-bottom-hack">
    <div>
      <transition name="slide-fade" :duration="{ leave: 0 }">
        <div v-if="$route.query.page==null" key="items">
          <div class="level is-mobile has-text-grey px-3 pt-2 m-0">
            <div class="level-left">
              <div class="level-item">
                <p>
                  <sub>可使用點數</sub>
                  <b class="title mx-2 my-0 is-3 align-middle text-secondary">{{totalPoints}}<!-- 888 --></b>
                  <sub>點</sub>
                </p>
              </div>
            </div>
            <div class="level-right ">
              <div class="level-item hidden" v-if="pointToTicketsDate">{{pointToTicketsDate}}<!-- 2020/01/01 --> 版本</div></div>
          </div>
          <template v-if="!currentTicket">
            <template v-if="state.baseInfo.memberData.vip_infoIsLoaded && pageData && pageData.pointToTickets && pageData.pointToTickets.length">
              <div class="px-4">
                <div class="columns is-variable is-1 is-mobile border-2 border-secondary rounded-xl overflow-hidden my-3 shadow-sm" v-for="(ticket, index) in pageData.pointToTickets" :key="'ticket'+index" @click="setCurrentTicket(ticket.TicketTypeCode)">
                  <div class="column is-4 bg-secondary text-white">
                    <div class="h-full flex items-center">
                      <span class="title mr-1 my-0 is-3 inline-block align-sub text-center w-9/12 text-white">{{ticket.Points}}<!-- 100 --></span>
                      <sub>點</sub>
                    </div>
                  </div>
                  <div class="column is-8 px-2 bg-stripe">
                    <div class="h-full flex items-center">
                      {{ticket.TicketTypeName}}<!-- 券名稱券名稱 -->
                    </div>
                  </div>
                </div>
              </div>
            </template>
            <!-- 無資料 -->
            <p class="text-center has-text-grey-lighter my-5 py-5" v-if="state.baseInfo.memberData.vip_infoIsLoaded && (!pageData || !pageData.pointToTickets || !pageData.pointToTickets.length)">-- 無換券資料 --</p>
          </template>
        </div>
        <div v-if="$route.query.page=='detail' && currentTicket && (typeof currentTicket !== 'undefined')"  key="detail">
          <div class="card overflow-hidden rounded-xl m-4 coupon-style">
            <div class="card-content p-4">
              <div class="media mb-3">
                <div class="media-left">
                  <figure class="image has-background-white-ter is-96x96">
                    <img :src="(currentTicket.ImageUrl !== '/images/noPic.jpg' && currentTicket.ImageUrl !== '/imagesPic.jpg') ? showImageWuhu(currentTicket.ImageUrl) : require('../../../assets/images/img_init.png')" :alt="currentTicket.TicketTypeName">
                  </figure>
                  <div class="relative">
                    <svg class="cut" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9.64 7.64c.29-.62.42-1.33.34-2.09-.19-1.73-1.54-3.2-3.26-3.49-2.77-.48-5.14 1.89-4.66 4.65.3 1.72 1.76 3.07 3.49 3.26.76.08 1.46-.05 2.09-.34L10 12l-2.36 2.36c-.62-.29-1.33-.42-2.09-.34-1.73.19-3.2 1.54-3.49 3.26-.48 2.77 1.89 5.13 4.65 4.65 1.72-.3 3.07-1.76 3.26-3.49.08-.76-.05-1.46-.34-2.09L12 14l7.59 7.59c.89.89 2.41.26 2.41-1v-.01c0-.37-.15-.73-.41-1L9.64 7.64zM6 8c-1.1 0-2-.89-2-2s.9-2 2-2 2 .89 2 2-.9 2-2 2zm0 12c-1.1 0-2-.89-2-2s.9-2 2-2 2 .89 2 2-.9 2-2 2zm6-7.5c-.28 0-.5-.22-.5-.5s.22-.5.5-.5.5.22.5.5-.22.5-.5.5zm7.59-10.09L13 9l2 2 6.59-6.59c.26-.26.41-.62.41-1V3.4c0-1.25-1.52-1.88-2.41-.99z"/></svg>
                  </div>
                </div>
                <div class="media-content">
                  <p class="title is-6">{{currentTicket.TicketTypeName}}<!-- 券名稱券名稱 --></p>
                  <p class="subtitle is-6 mt-0">
                    兌換點數：{{currentTicket.Points}}<!-- 5 --> 點<br>
                    兌換期限：{{currentTicket.TicketExpiredDate}}<br><!-- 2020/04/27 -->
                    兌換張數：{{currentTicket.PresentTicketCount}} 張<br>
                  </p>
                </div>
              </div>
              <div class="content white-space-wrap">
                {{currentTicket.Remark}}<!-- 券內容... -->
              </div>
            </div>
            <footer class="card-footer">
              <a href="javascript:void(0)" class="card-footer-item bg-white" @click="$router.push('/pointExg')">取消</a>
              <a href="javascript:void(0)" class="card-footer-item text-white bg-primary hover:text-white" @click="doExchange()">兌換</a>
            </footer>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import store from 'src/store'
import { showImageWuhu } from 'src/libs/appHelper.js'
import { isLogin, showAlert, showConfirm, setLoading } from 'src/libs/appHelper.js'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      isModal: false,
      // currentTicketCode: '',
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    memberData() { return this.$store.state.baseInfo.memberData },
    totalPoints() { return this.memberData.card_info.Points ? parseInt(this.memberData.card_info.Points) : 0 },
    pageData() { return this.state.baseInfo.memberData },
    currentTicketCode() {
      return this.$route.query.code
    },
    currentTicket() { return this.pageData.pointToTickets.find(t => { return t.TicketTypeCode == this.currentTicketCode }) },
    pointToTicketsDate() {
      const list = this.pageData.pointToTickets
      return list.map(d => d.TicketExpiredDate).sort((a, b) => new Date(b).getTime() - new Date(a).getTime() )[0]
    },
  },
  methods: {
    showImageWuhu,
    // 顯示積分兌換卷明細資料
    setCurrentTicket(code) {
      // this.currentTicketCode = code
      this.$router.push('/pointExg?page=detail&code='+code)
    },
    // 執行積點換卷
    doExchange() {
      if (!this.currentTicket) return showAlert('請選擇兌換品')
			console.warn('執行積點換卷-currentTicket: ', this.currentTicket);	// @@

      showConfirm("一經兌換即無法更改<br>您確定要兌換嗎?")
        .then(() => { this.actExchange() })
        .catch(() => {
          // 點擊取消執行
          store.commit('setCustomModal', { type: '', text: '' }) // 關閉 confirmn 視窗
        });
    },
    async actExchange() {
      console.log('actExchange ===> start')
      // 點擊確認執行點換倦
      const data = await store.dispatch('ensurePointExchangeTicket', this.currentTicket)

      // 有 ErrorCode => 回傳錯誤訊息
      if (data.ErrorCode !== '0') return showAlert(data.ErrorMsg)

      // 無 ErrorCode => 積點換卷成功, 重新 reload 會員資訊, 並導向優惠卷頁
      showAlert('兌換 ' + this.currentTicket.TicketTypeName + ' 成功！')

      if(this.currentTicket.TicketFlag == 2 || this.currentTicket.TicketFlag == 3) return this.$router.push({ path: '/cardCoupon' })
      if(this.currentTicket.TicketFlag == 1 || this.currentTicket.TicketFlag == 4) return this.$router.push({ path: '/cardCouponCash' })
    }
  },
  // 在路由刷新前
  beforeRouteEnter: function(to, from, next){
    if (!isLogin.value) return next('/')

    setLoading(true, 4)
    store.dispatch('fetchVipAndCardInfoWuhu') // for 點數
    // 頁面名稱
    store.state.isPageName = '點數換券'

		// next()
		next(vm => {
			vm.aa = 1;	// @@
			setLoading(false)
		});
  },
  beforeRouteUpdate: function(to, from, next){
    next();
  },
}
</script>
