<template>
  <div class="h-full bg-white overflow-auto push-bottom-hack">
    <!-- 常見問題頁面-->
    <div class="content p-3">
      <div class="columns is-gapless is-mobile is-multiline is-vcentered mb-4" v-for="item in rawFaqData" :key="item.code">
        <div class="column is-narrow text-secondary">
          <svg class="mr-1" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-4h2v2h-2zm1.61-9.96c-2.06-.3-3.88.97-4.43 2.79-.18.58.26 1.17.87 1.17h.2c.41 0 .74-.29.88-.67.32-.89 1.27-1.5 2.3-1.28.95.2 1.65 1.13 1.57 2.1-.1 1.34-1.62 1.63-2.45 2.88 0 .01-.01.01-.01.02-.01.02-.02.03-.03.05-.09.15-.18.32-.25.5-.01.03-.03.05-.04.08-.01.02-.01.04-.02.07-.12.34-.2.75-.2 1.25h2c0-.42.11-.77.28-1.07.02-.03.03-.06.05-.09.08-.14.18-.27.28-.39.01-.01.02-.03.03-.04.1-.12.21-.23.33-.34.96-.91 2.26-1.65 1.99-3.56-.24-1.74-1.61-3.21-3.35-3.47z"/></svg>
        </div>
        <div class="column" @click="item.open=!item.open" v-html="item.title"></div>
        <div class="column is-narrow" @click="item.open=!item.open">
          <div key="arowRight" v-if="item.open==false">
            <svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 0 24 24" width="28px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11.71 15.29l2.59-2.59c.39-.39.39-1.02 0-1.41L11.71 8.7c-.63-.62-1.71-.18-1.71.71v5.17c0 .9 1.08 1.34 1.71.71z"/></svg>
          </div>
          <div key="arrowDown" v-else>
            <svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 0 24 24" width="28px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8.71 11.71l2.59 2.59c.39.39 1.02.39 1.41 0l2.59-2.59c.63-.63.18-1.71-.71-1.71H9.41c-.89 0-1.33 1.08-.7 1.71z"/></svg>
          </div>
        </div>
        <div class="column is-12">
          <transition name="slide-fade">
            <div class="rounded-xl p-3 mt-2 border border-secondary bg-yellow-50 shadow-sm" v-if="item.open" v-html="item.content"></div>
          </transition>
        </div>
      </div>
      <!-- 客服信箱 static -->
      <div class="columns is-gapless is-mobile is-multiline">
        <div class="column is-narrow text-secondary">
          <svg class="mr-1" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-4h2v2h-2zm1.61-9.96c-2.06-.3-3.88.97-4.43 2.79-.18.58.26 1.17.87 1.17h.2c.41 0 .74-.29.88-.67.32-.89 1.27-1.5 2.3-1.28.95.2 1.65 1.13 1.57 2.1-.1 1.34-1.62 1.63-2.45 2.88 0 .01-.01.01-.01.02-.01.02-.02.03-.03.05-.09.15-.18.32-.25.5-.01.03-.03.05-.04.08-.01.02-.01.04-.02.07-.12.34-.2.75-.2 1.25h2c0-.42.11-.77.28-1.07.02-.03.03-.06.05-.09.08-.14.18-.27.28-.39.01-.01.02-.03.03-.04.1-.12.21-.23.33-.34.96-.91 2.26-1.65 1.99-3.56-.24-1.74-1.61-3.21-3.35-3.47z"/></svg>
        </div>
        <div class="column">客服信箱</div>
        <div class="column is-12">
          <div class="rounded-xl p-3 mt-2 border border-secondary bg-yellow-50 shadow-sm" @click="deviseToLink('https://www.crun.com.tw/contact_us.php')">
            若有其他會員權益相關問題，請於週一~週五-非國定例假日<br>
            09:00-17:00留言<br>
            <u>https://www.crun.com.tw/contact_us.php</u><br>
            將由專人為您服務<br>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

// 常見問題的資料
const rawFaqData = [
  {
    id: 1,
    title: '成為會員有什麼好處？',
    content: '完成註冊成為會員，除了可即時搜尋【碳佐麻里APP】內各品牌門市資訊、菜單，還可進行消費累點，使用點數兌換更多品牌專屬優惠。會員升等更可獲得不定期的會員專屬優惠票券，生日更可享壽星當月餐飲優惠。',
    open: false
  },
  {
    id: 2,
    title: '要怎麼成為會員？',
    content: '點選首頁下方的品牌圖示，輸入手機號碼，並收取簡訊驗證，即可註冊成為會員。',
    open: false
  },
  {
    id: 3,
    title: '註冊時，系統顯示該手機號碼已註冊，該怎麼辦？',
    content: '請先確定是否有親友使用您的手機號碼進行註冊。',
    open: false
  },
  {
    id: 4,
    title: '已輸入會員資料，但收不到驗證碼？',
    content: '請確認手機收訊是否正常，且您的手機號碼未設定拒收簡訊。若曾申請拒收簡訊功能，請先行聯絡您的電信業者開通，以收取簡訊。請注意點擊【重新寄驗證碼】需間隔五分鐘以上。',
    open: false
  },
  {
    id: 5,
    title: '忘記密碼該如何查詢？',
    content: '進入登入頁面，點選【忘記密碼】，依頁面指示輸入手機號碼，領取簡訊密碼登入。成功登入後可點選左上角【會員資訊】>【修改密碼】，重新設定。',
    open: false
  },
  {
    id: 6,
    title: '如何修改會員基本資料？生日輸入錯誤該如何修正？',
    content: '可點選左上角圖示【會員專區】>【會員資訊】。會員資訊都無法修改。',
    open: false,
    hasEmail: true
  },
  {
    id: 7,
    title: '一個人可以註冊幾個帳號？',
    content: '一個帳號對應一支手機號碼。',
    open: false
  },
  {
    id: 8,
    title: '會員升等機制及優惠為何？',
    content: '目前會員等級分為普卡、銀卡、金卡及黑鑽卡四種。升級至不同等級可享該等級專屬優惠。【碳佐麻里APP】會根據您的消費累積金額，決定會員等級。<br>您一完成註冊【碳佐麻里APP】即成為「普卡會員」，從您成為普卡會員的當天往後推365天內，累積消費50,000元，在消費滿額當日您即可升等為「銀卡會員」，在您成為「銀卡會員」的當天往後推365天內，您若累積消費150,000元，在當日您即可升等為「金卡會員」。<br>例如：您於 2020年7月2日 註冊加入【碳佐麻里APP】，您於2020年7月2日當天立即成為「普卡會員」，而您於 2021年7月2日23:59前消費累積滿50,000元，則在2021年7月2日成為「銀卡會員」，不同等級的會員我們將會提供不同的優惠活動。<br>但，若您未於365天內消費達該會員等級之金額，您的會員等級將會下降，例如：您於2020年7月2日成為「銀卡會員」，但於2021年7月2日23:59前消費累積未滿50,000元，您的會員等級則於2021年7月3日降為「普卡會員」。<br>● 各等級門檻升降等規則如下：<br><table class="table is-fullwidth my-2 bg-transparent"><thead><tr><th>等級</th><th>升等門檻</th><th>到期日</th></tr></thead><tbody><tr><td>普卡</td><td>註冊即可</td><td></td></tr><tr><td>銀卡</td><td>消費滿5,000元</td><td>升等後有效期為365天</td></tr><tr><td>金卡</td><td>升級銀卡365天內消費滿150,000元</td><td>升等後有效期為365天</td></tr><tr><td class="text-nowrap">黑鑽卡</td><td>升級金卡365天內消費滿300,000元</td><td>升等後有效期為365天</td></tr></tbody></table>● 會員升降等時機說明：<br>升等時機為累積消費滿額後，系統立即升級，有效期為升級後的365天。<br>• 消費金額累積顯示說明：<br>會員消費累積金額可於首頁【會員專區】進入查詢，目前累積金額以橫條方式呈現。',
    open: false
  },
  {
    id: 9,
    title: '生日禮是什麼？為什麼我註冊了卻沒有收到生日禮？',
    content: '【碳佐麻里APP】只要您在生日當月份註冊或是登入，都會發送專屬生日禮給當月壽星，生日禮包含商品或折扣等不定期優惠，該優惠券的使用期限為當月一整個月。如：您生日為8/8，生日禮有效期限為8/1-8/31。<br>● 生日禮每年僅發送一次，生日禮詳細使用規定，請至【活動贈品券】內查看。',
    open: false
  },
  {
    id: 10,
    title: '我的集點及商品券或折價券等可以轉贈他人嗎？',
    content: '可以的，只要您欲轉贈行動電話已經綁定【碳佐麻里APP】即可將您手機內的【碳佐麻里APP】點數以及贈品券等轉贈朋友。但唯獨生日券為會員專屬優惠故無法轉贈。',
    open: false
  },
  {
    id: 11,
    title: '我要如何進行累點？',
    content: '於結帳時出示手機【碳佐麻里APP】主頁面中的會員QR CODE頁面，提供給門市人員，掃描並確認會員資格，即可進行累點。',
    open: false
  },
  {
    id: 12,
    title: '消費累點有甚麼好處？',
    content: '【碳佐麻里APP】會於【會員專區】内不定期的推出各品牌消費累點活動、電子贈品券等。當中除免費的票券外，更包含需以點數兌換之折扣較大、商品更優惠的票券。平時消費累積的點數即可於這時候拿來兌換您喜歡的票券做使用。',
    open: false
  },
  {
    id: 13,
    title: '累點回饋金額是多少？點數是否有期限？',
    content: '於【碳佐麻里APP】所有餐飲系列品牌門市消費，普卡與銀卡可累積消費金額1％之點數(小數點以下無條件捨去)、金卡與黑鑽卡可累積消費金額2％之點數(小數點以下無條件捨去)。該年度累積點數，將於隔年12月31日到期。【參加累點活動之品牌門市，依現場告為主】<br>例如：<br>2019/1/1~2019/12/31消費累積之點數，將於2020/12/31到期。<br>2020/1/1~2020/12/31消費累積之點數，將於2021/12/31到期。',
    open: false
  },
  {
    id: 14,
    title: '是否可憑非當日發票進行補登？',
    content: '若未能於當日結帳時進行累點，僅提供當日回店舖補登，過當日，即不再提供補登服務，補登點數入帳作業期為14天內入帳，敬請見諒。',
    open: false
  },
  // {
  //   id: 15,
  //   title: '如何兌換票券？',
  //   content: '進入【集點換券】選擇您要兌換的票券，點擊進入、閱讀詳細票券內容，確認無誤後點擊【兌換/限時搶優惠】，即可於【我的優惠券】內查閱及取用。<br>● 提醒您：所有優惠票券皆有使用期限，為確保您的消費權益，請確實於票券到期前，前往門市進行兌換。兌換券一旦過期，不再做補發。',
  //   open: false
  // },
  {
    id: 16,
    title: '兌換了錯誤的票券，是否可取消並取回點數？',
    content: '一旦確認並兌換票券即無法取消，使用的點數不再歸還，還請務必詳閱票券內容，以確保您的權益。<br>● 提醒您：所有優惠票券皆有使用期限，為確保您的消費權益，請確實於票券到期前，前往門市進行兌換。兌換券一旦過期，不再做補發。',
    open: false
  },
  {
    id: 17,
    title: '轉贈點數時，手機號碼輸入錯誤怎麼辦？',
    content: '轉贈點數前請先確認受贈者手機號碼以及欲轉贈之點數，點數一旦轉贈，即無法收回與追回，還請務必詳閱轉贈內容，以確保您的權益。',
    open: false
  },
  {
    id: 18,
    title: '若我沒有帶手機或結帳時無法出示我的APP條碼，可以累積會員積點嗎？',
    content: '您可以與門店人員告知您【碳佐麻里APP】綁定的行動電話號碼，這樣就可以將您當下的消費金額累積到您的【碳佐麻里APP】內。但若您要兌換商品，則必須要攜帶手機並出示APP QR CODE。',
    open: false
  },
  {
    id: 18,
    title: '【碳佐購物商城】退換貨政策',
    content: `
    出貨天期：付款完成的三個工作天內<br>
    商城提供您商品的七日猶豫期(非試吃、試用期)，是由消費者完成取件簽收起的隔日開始計算至第七天為止；如是以管理員代收，則以代收起隔日計算。<br>
    例如：完成簽收的時間是2/10，其七天鑑賞期起訖日即為2/11~2/17。<br>
    ◆ 產品不提供試吃、試用，訂單中任一產品如經拆封、損毀將無法受理退貨服務。<br>
    ◆ 產品外包裝已撕開、打開或標籤拆除等狀況，即不接受退貨。<br>
    ◆ 同筆訂單不接受部份商品退貨處理。<br>
    ◆ 退貨請依原包裝退回，包含贈品與發票請隨貨附上；若未一併退回，將影響您的退貨權益，並且後續補件郵資將由消費者負擔。<br>
    ◆ 請填妥相關資料，以免因聯絡不上而被取消退貨。<br>
    ◆ 收到商品後如因非人為因素之商品損毀、刮傷、或運輸過程造成包裝破損不完整及瑕疵，請您儘速聯絡本公司客服了解概況，以便後續處理。<br>
    ◆ 送出退貨申請後，即代表顧客同意【碳佐購物商城】的退貨原則，並處理後續事宜。<br>
    ◆ 退款時程：商品回廠，經檢查符合退貨資格，將統一於隔月15日刷退或匯款(限採用ATM匯款之訂單)；實際到賬流程依各銀行而有所不同。<br>
    如有任何疑問，請洽以下客服<br>
    官方LINE帳號：@tanzuo<br>
    客服專線：06-2996709<br>
    客服信箱：ectanzuo@gmail.com<br>
    服務時間：週一至週五 9:00～18:00（國定假日除外）<br>
    `,
    open: false
  },
]

import store from "src/store";
import { deviseFunction } from 'src/libs/deviseHelper.js'

export default {
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      rawFaqData: JSON.parse(JSON.stringify(rawFaqData)), // 常見問題列表
      isActiveTab: 1,
      isQuestion: true,
    };
  },
  computed: {
    srcUrl() { return this.state.srcUrl },
  },
  // 頁面模組
  methods: {
    // (殼專屬) 寄 email
    deviseMailTo(email){
      deviseFunction('mailto', `{"mailsubject":"您的問題", "mailbody":"問題內容", "chooserTitle":"寄信給客服信箱", "mailreceiver":"${email}"}`, '')
    },
    dataToEmail(i, email) {
      if(i.hasEmail == true) deviseFunction('mailto', `{"mailsubject":"您的問題", "mailbody":"問題內容", "chooserTitle":"寄信給客服信箱", "mailreceiver":"${email}"}`, '')
    },
    deviseToLink(Url) {
			return deviseFunction('openWeburl', Url, '')
		},
  },
  // 在路由刷新前
  beforeRouteEnter: function(to, from, next){
    store.state.isPageName = '常見問題'
    next(vm => {
      vm.rawFaqData.map( i => i.open=false )
    });
  },
  beforeRouteUpdate: function(to, from, next){
    this.rawFaqData = JSON.parse(JSON.stringify(rawFaqData))
    next();
  },
  // 建立頁面後
  created: function(){

  }
}
</script>
<style lang="scss" scoped>
</style>
