<template>
  <div class="h-full bg-white overflow-auto">
    <!-- 搶券倒數顯示 -->
    <div class="text-center m-3 p-2 rounded-lg text-white bg-secondary" v-if="Clock1.flag && isAuto == 2">
      <span class="mr-2">搶券倒數</span>
      <span class="bg-primary text-white rounded px-1 d-inline-block" style="width:1.75em">{{Clock1.minutes}}</span>
      <span class="mx-1">:</span>
      <span class="bg-primary text-white rounded px-1 d-inline-block text-left" style="width:1.75em">{{Clock1.seconds}}</span>
    </div>

    <div v-if="hasTicket">
      <!-- 數量為0 class加上 grayscale-100 opacity-75 -->
      <div v-for="(item, index) in ticketList" :key="index" :class="['card overflow-hidden rounded-lg mx-3 my-3 coupon-style',{'grayscale-100 opacity-75':(item.RemainQut <= 0)}]">
        <div class="card-content p-3 pb-0">
          <div class="media">
            <div class="media-left">
              <figure class="image is-96x96 overflow-hidden">
                <img :src="(item.PicUrl !== '' && item.PicUrl !== '/images/noPic.jpg' && item.PicUrl !== '/imagesPic.jpg') ? showImageWuhu(item.PicUrl) : require('../../../assets/images/img_init.png')" :alt="item.TicketTypeName">
              </figure>
              <div class="position-relative icon-cut">
                <i class="fas fa-cut fa-rotate-270 fa-xs"></i>
              </div>
            </div>
            <div class="media-content">
              <p class="title is-6">{{item.TicketTypeName}}</p>
              <p class="subtitle is-6 mt-0">
                剩餘：{{ item.RemainQut >= 0 ? item.RemainQut:0}} 張<br>
                期限：{{ item.begin_date.substring(0, 10) }}~{{ item.end_date.substring(0, 10) }}
              </p>
            </div>
          </div>
        </div>
        <footer class="card-footer">
          <a href="javascript:void(0)" :class="item.Class" @click="btnClick(item)"><span>{{item.btnTxt}}</span>{{item.btnTitle}}</a>
        </footer>
      </div>
    </div>
    <!-- 無優惠券 -->
    <template v-if="!hasTicket">
      <div class="card overflow-hidden rounded-lg mx-3 my-3 coupon-style is-shadowless border-2 border-dotted" >
        <div class="card-content py-5">
          <div class="media py-3 flex items-center h-24">
            <div class="media-content text-center text-secondary">-- 無限時搶券活動 --</div>
          </div>
        </div>
      </div>
    </template>

    <!-- 說明 -->
    <div class="notification rounded-lg border m-3 py-3 pl-1 pr-2">
      <div class="content">
        <ul class="mt-0">
          <li class="mb-2 ml-n4" style="list-style-type:none"><b>活動說明：</b></li>
          <li>搶券活動不定期開放，限量搶完即結束。</li>
          <li>每個會員帳號，每次搶券活動限搶乙張。</li>
          <li>搶到的優惠券，使用方式以券內說明與店內公告為準。</li>
        </ul>
      </div>
    </div>

    <!-- 贈送對象搜尋 -->
  <transition name="slide-up">
    <div class="w3-stretch funcLayer" :class="[(isDemo==='showQRcode')?'couponCodeBg':'w3-white']" v-if="isDemo=='showQRcode'">
      <header class="w3-container w3-white primary-red" style="height:3rem">
        <span class="w3-button w3-padding-small w3-display-topright w3-xxlarge w3-hover-text-white w3-hover-none" style="line-height:1" @click="hideTicketCode">&times;</span>
      </header>
      <div v-if="isDemo=='showQRcode'" class="w3-container w3-padding-large w3-padding-32 w3-center">
        <div class="w3-white w3-card">
          <h4 class="w3-light-gray w3-padding" style="margin:0">限時搶卷！</h4>
          <img :src="qrcode" class="w3-image w3-padding-64" alt="" style="width: 75%">
          <p class="w3-light-gray w3-padding" style="margin:0">
            請將 QRcode 秀給門店 POS 刷條碼
          </p>
        </div>
      </div>
    </div>
  </transition>

  </div>
</template>

<script>
import store from 'src/store'
import { isLogin, setLoading, Closable, showImageWuhu, showAlert, showConfirm } from 'src/libs/appHelper.js'
// import { formatTime } from 'src/libs/timeHelper.js'
// import { L_Obj,S_Obj,GetRandNum } from 'src/fun1.js'	// 共用fun在此!
import { S_Obj,GetRandNum } from 'src/fun1.js'	// 共用fun在此!
import { Clock1 } from 'src/clock1.js'	// 計時器


export default {
  directives: {
    Closable
  },
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      isBrand: false,
      isDemo: '',
      qrcode: '',
      btn1Class: '',
      // btn1Class: 'grey-light',
      clockFlg: false,
      clockMinute: 0,
			/* isAuto: 1: 自動領, 2: 搶卷領, 3: 店領, 4: 點擊領 */
      isAuto: 0,

    };
  },
  setup() {
    return { Clock1 }
  },
  async beforeRouteEnter(to, from, next) {
    // 如果取不到 Vue instance (e.g. 直接 F5 刷新時), 導回首頁重取預設資料
    if (!isLogin.value) return next('/')

    // setLoading(true)
		/** @Fix: 修正擁塞問題-改造:
			1.先抓快速時空門版(讀json),用前端過濾顯示
			2.搶券後再更新(by個人)顯示不同結果
		*/
		// await store.dispatch('fetchMemberDrawTicketListDataWuhu')

		next(vm => {
			const nAuto = vm.isAuto = to.query.isAuto;
			let _title = '';
			if (nAuto == 2) {
				_title = '限時搶券';
			} else if (nAuto == 3) {
				_title = '到店領券';
			} else if (nAuto == 4) {
				_title = '點擊領券';
			// } else {
			}

			store.state.isPageName = _title	// 頁面名稱
			// setLoading(false)
		});
  },

  computed: {
    ticketList() {
			const hasT1 = parseInt(S_Obj.read('HasDrawTicket')) || 0
				,flgOn		= Clock1.flag
				,isAuto		= this.isAuto
			console.log('限時搶券-hasT1,flgOn, isAuto: ', hasT1, flgOn, isAuto);	// @@

			let them 	= hasT1 ? this.state.baseInfo.memberData.drawTicketList.filter((item) => {
          return item.isAuto == isAuto
        }) : [];
			if (them.length) {
				them = them.map(one => {
					const isDraw 	= one.isDraw
						,quant 			= one.RemainQut
					console.log('搶券-isDraw: '+isDraw, one.TicketTypeName);	// @@
					/* isAuto: 1: 自動領, 2: 搶卷領, 3: 到店領, 4: 點擊領 */
					let btnTitle	= one.isAuto == 2 ? (quant ? (isDraw ? '已領' : (flgOn ? '活動尚未開始' : '搶券')) : '索取一空') : '未領'
						,btnTxt 		= ''
					const mode = !flgOn && quant && !isDraw ? 'success' : 'grey-light'
					one.Class = `card-footer-item has-background-${mode} text-decoration-none text-white text-wide`;
					one.btnTxt = btnTxt;
					one.btnTitle = btnTitle;
					return one;
				})
			}
			// console.log('限時搶券-ticketList: ', them);	// @@
			return them;
    },
    hasTicket() { return !!this.ticketList.length },
  },
  methods: {
    showImageWuhu,
    btnClick(one) {
			if (Clock1.flag || one.isDraw || !one.RemainQut) { return; }
			console.log('搶券-one: ', one);	// @@
			if (one.isAuto == 2) {
				this.confirmDrawTicket(one.DrawGID);
			} else if (one.isAuto == 3) {
				this.showDrawTicketQRcode(one.DrawGID);
			}
    },
    // 顯示 confirm: 是否將卷領用
    confirmDrawTicket(DrawGID) {
      showConfirm("確認領用此優惠卷嗎?")
        // 點擊確認執行
        .then(() => {
					setLoading(true, 4);

					const nSec	= GetRandNum(1,3)*1000		// GetRandNum: 1~3 取一數
						,that 		= this
					// console.log('打領卷的接口-nSec: ', nSec);	// @@
					setTimeout(function(){
							that.doFetchDrawTicket(DrawGID)
					}, nSec);
        })
        // 點擊取消執行 => 關閉 confirmn 視窗
        .catch(() => { store.commit('setCustomModal', { type: '', text: '' }) })
    },
    // 打領卷的接口
    async doFetchDrawTicket(DrawGID) {
			// setLoading(true, 4);
			const res = await store.dispatch('ensureFetchDrawTicket', DrawGID)
			//let res={}; res.ErrorCode = 0;	// @Test:領用成功
			if (res.ErrorCode == 0) { // 導向優惠卷列表
				/** @Fix: 修正-原進入頁就更新,故清除卷列表,目前直接更新... */
				showAlert('優惠券領用成功')
				// this.$store.commit('setMemberDrawTicketListData', []);	// 清除可領用的優惠卷列表

				// const now1 = formatTime(new Date(), 'YYYY-MM-DD HH:mm:ss')
				// L_Obj.save('GetedDrawTicket_Time', now1);

			} else {	// 刷新-取可領用的優惠卷列表
				showAlert(res.ErrorMsg)
			}
			/** @Fix: 修正-由後端直接更新json... */
			// await store.dispatch('fetchMemberDrawTicketListDataWuhu')
			await store.dispatch('fetchGetDrawTicketListJson')
			setLoading(false);
			this.$router.push({ path: '/cardCoupon' })
    },
    // 顯示到店領卷的 QRcode
    async showDrawTicketQRcode(DrawGID) {
      setLoading(true)
      let data = await store.dispatch('fetchDrawTicketQRCode', DrawGID)

      console.log('===> data =>', data)
      // this.qrcode = data.QrCodeImg
      this.qrcode = 'https://dev-service.jinher.com.tw/projectFeature/APP_JG_SSG/JH_APP/images/noPic.jpg'
      setLoading(false)
      store.commit('setCssTouch', false)
      this.isDemo = 'showQRcode'
    },
    // 關閉 QRcode 顯示, 並且重整會員資料
    hideTicketCode() {
      store.commit('setCssTouch', true)
			/** @Fix: 修正-由後端直接更新json... */
			// store.dispatch('fetchMemberDrawTicketListDataWuhu')
			store.dispatch('fetchGetDrawTicketListJson')

      this.isDemo = ''
      this.qrcode = ''
    },
    onClose() {
      this.isBrand = false
    },
  }
}
</script>
