<template>
  <div class="h-full">
    <div class="h-full container bg-white rounded-t-3xl overflow-auto push-bottom-hack">
      <article class="media items-stretch p-5 mx-auto md:w-2/3">
        <figure class="media-left" @click="isLogin ? showQrcode():$router.push('/login')">
          <div class="h-16 w-16 bg-primary text-white flex items-center justify-center rounded-full text-3xl uppercase relative">
            <template v-if="userData.Name"><b>{{ userData.Name.charAt(0) }}</b></template>
            <template v-else><img height="48" width="48" src="@/assets/images/nav_ic_member.svg" alt=""></template>
            <div class="absolute rounded-full bg-gray-300 left-0 bottom-0 h-10 w-10 -ml-4 -mb-2 ring-2 ring-white ring-opacity-30" v-if="userData.Name">
              <div class="h-full flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="28px" viewBox="0 0 24 24" width="28px" fill=""><g><rect fill="none" height="24" width="24"/></g><path d="M15,21h-2v-2h2V21z M13,14h-2v5h2V14z M21,12h-2v4h2V12z M19,10h-2v2h2V10z M7,12H5v2h2V12z M5,10H3v2h2V10z M12,5h2V3h-2V5 z M4.5,4.5v3h3v-3H4.5z M8,9H4C3.45,9,3,8.55,3,8V4c0-0.55,0.45-1,1-1h4c0.55,0,1,0.45,1,1v4C9,8.55,8.55,9,8,9z M4.5,16.5v3h3v-3 H4.5z M8,21H4c-0.55,0-1-0.45-1-1v-4c0-0.55,0.45-1,1-1h4c0.55,0,1,0.45,1,1v4C9,20.55,8.55,21,8,21z M16.5,4.5v3h3v-3H16.5z M20,9 h-4c-0.55,0-1-0.45-1-1V4c0-0.55,0.45-1,1-1h4c0.55,0,1,0.45,1,1v4C21,8.55,20.55,9,20,9z M19,19v-3l-4,0v2h2v3h4v-2H19z M17,12 l-4,0v2h4V12z M13,10H7v2h2v2h2v-2h2V10z M14,9V7h-2V5h-2v4L14,9z M6.75,5.25h-1.5v1.5h1.5V5.25z M6.75,17.25h-1.5v1.5h1.5V17.25z M18.75,5.25h-1.5v1.5h1.5V5.25z"/></svg>
              </div>
            </div>
          </div>
        </figure>
        <div class="media-content flex items-center">
          <div class="content">
            <p>Hi！{{ userData.Name}} 親愛的貴賓您好，本APP提供多項會員專屬服務，並提供24H不受限的線上購物體驗，感謝您的使用。</p>
          </div>
        </div>
      </article>
      <div class="container mx-auto -mt-3 md:w-2/3">
        <div class="px-3">
          <!-- 點券資料 -->
          <div class="grid grid-cols-3 divide-x divide-gray-300 text-center">
            <div class="text-xs px-3 flex flex-col justify-center" @click="isLogin ? $router.push('/cardPoint'):$router.push('/login')">
              <img class="h-12" src="@/assets/images/index_point.svg">
              <p class="mb-2 invisible">我的點數</p>
              <p class="text-3xl leading-none text-secondary">
                <b>{{ isLogin && !isNaN(points) ? points : '--' }}</b>
              </p>
              <p class="text-right">點</p>
            </div>
            <div class="text-xs px-3 flex flex-col justify-center" @click="isLogin ? $router.push('/cardCouponCash'):$router.push('/login')">
              <img class="h-12" src="@/assets/images/index_gift_cupon.svg">
              <p class="mb-2">電子贈品券</p>
              <p class="text-3xl leading-none text-secondary">
                <b>{{ isLogin ? ticketCashListLength : '--' }}</b>
              </p>
              <p class="text-right">張</p>
            </div>
            <div class="text-xs px-3 flex flex-col justify-center" @click="isLogin ? $router.push('/cardCoupon'):$router.push('/login')">
              <img class="h-12" src="@/assets/images/index_event_cupon.svg">
              <p class="mb-2">活動贈品券</p>
              <p class="text-3xl leading-none text-secondary">
                <b>{{ isLogin ? ticketListLength : '--' }}</b>
              </p>
              <p class="text-right">張</p>
            </div>
          </div>
          <hr class="h-px bg-gray-300 my-3">
          <!-- 附加功能 -->
          <div class="grid grid-cols-3 divide-x-0 text-center md:px-16 -my-2">
            <!-- <div class="text-xs px-3">
              <img src="@/assets/images/online_booking.svg" @click="showAlert('敬請期待...')">
              <p class="mb-2 -mt-1">線上訂位</p>
            </div> -->
            <div class="text-xs px-3 flex flex-col justify-center">
              <img class="h-12" src="@/assets/images/online_shop.svg" @click="goStore">
              <p class="mb-2 -mt-1">外帶點餐</p>
            </div>
            <div class="text-xs px-3 flex flex-col justify-center">              
              <img class="h-12" src="@/assets/images/online_order.svg" @click="goNews()">
              <!-- <img class="h-12" src="@/assets/images/online_order.svg" @click="showAlert('敬請期待..')"> -->
              <p class="mb-2 -mt-1">我的菜單</p>
            </div>
            <div class="text-xs px-3 flex flex-col justify-center">
              <img class="h-12" src="@/assets/images/online_rec.svg" @click="isLogin && $router.push('/cardPay')">
              <p class="mb-2 -mt-1">消費紀錄</p>
            </div>
          </div>
          <hr class="h-px bg-gray-300 my-4">
        </div>
      </div>
      <!-- 次Banner/副Banner -->
      <div class="container mx-auto md:w-2/3">
        <template v-if="pageData.subBanner.length">
          <div class="m-3" v-for="banner in pageData.subBanner" :key="banner.GID">
            <figure class="image is-5by2 bg-gray-100 rounded-lg overflow-hidden">
              <img :src="showImageWuhu(banner.PicURL)" :key="banner.LastModify" @click="redirectToLink(banner)">
            </figure>
          </div>
        </template>
      </div>
    </div>

    <!-- 會員卡的 QRCode -->
    <transition name="slide-up" mode="out-in">
      <div class="modal is-active" style="z-index: 100" v-if="cardQRcode.show">
        <div class="modal-background bg-black bg-opacity-80"></div>
        <div class="modal-content overflow-visible">
          <div class="box text-center rounded-xl p-4 m-auto bg-primary text-white ring-4 ring-black ring-opacity-20" style="max-width: 320px">
            <p class="py-3 text-2xl text-secondary"><b>會員條碼</b></p>
            <article>
              <div class="bg-white p-4 mx-auto rounded-xl" style="width:240px;height:240px">
                <figure class="image bg-gray-100 is-1by1 relative">
                  <img :src="cardQRcode.data.image" v-if="cardQRcode.data.image">
                  <small class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 text-gray-400 whitespace-nowrap" @click="renderQRcode()" v-else>
                    <svg class="inline" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M12 4V2.21c0-.45-.54-.67-.85-.35l-2.8 2.79c-.2.2-.2.51 0 .71l2.79 2.79c.32.31.86.09.86-.36V6c3.31 0 6 2.69 6 6 0 .79-.15 1.56-.44 2.25-.15.36-.04.77.23 1.04.51.51 1.37.33 1.64-.34.37-.91.57-1.91.57-2.95 0-4.42-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6 0-.79.15-1.56.44-2.25.15-.36.04-.77-.23-1.04-.51-.51-1.37-.33-1.64.34C4.2 9.96 4 10.96 4 12c0 4.42 3.58 8 8 8v1.79c0 .45.54.67.85.35l2.79-2.79c.2-.2.2-.51 0-.71l-2.79-2.79c-.31-.31-.85-.09-.85.36V18z"/></svg>
                    點選產生條碼
                  </small>
                </figure>
              </div>
              <p class="m-3 is-size-7">{{cardQRcode.data.value}}<br>
                本次條碼可使用時間 {{cardQRcode.timer}} 秒</p>
            </article>
          </div>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="hideCardCode"></button>
      </div>
    </transition>

    <!-- 首頁搶券按鈕(時空門) -->
    <div v-if="hasTicket" class="flex flex-col items-center justify-center hasTicket" :class="[!minHasTicket?'fixed top-0 w-full h-full':'fixed bottom-0 right-0 minHasTicket']">
      <div class="relative px-2">
        <button @click="hideDoor" class="absolute right-0 top-0 delete is-large" v-if="!minHasTicket"></button>
        <img @click="$router.push('/getCoupon?isAuto=2')" width="200" src="../../../assets/images/floating.png" alt="">
      </div>
    </div>

  </div>
</template>

<style lang="scss" scoped>
@mixin image-img {
  img {
    @apply top-0 left-0 bottom-0 right-0 absolute;
  }
}
.image.is-5by2 {
  padding-top: 40%;
  @include image-img;
}
.swiper-feat {
  .swiper-slide {
    width: 38% !important;
  }
}
.h-ios-hack {
  height: calc(100vh - env(safe-area-inset-bottom) - var(--bottom-nav-height));
}
.hasTicket {
  .delete {
    &::before {
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    &::after {
      @apply hidden;
    }
  }
  &.minHasTicket {
    img {
      @apply w-32 ml-auto;
      margin-bottom: calc(var(--bottom-nav-height) + env(safe-area-inset-bottom));
    }
  }
}
.push-bottom-hack {
  padding-bottom: calc(var(--bottom-nav-height) + var(--ios-safe-area-bottom) + 48px);
}
</style>

<script>
import store from 'src/store'
import { S_Obj,ReadJsonS,GetDateDiff,FetchSysConfig,GetPara1 } from 'src/fun1.js'	// 共用fun在此!
import { InitClock } from 'src/clock1.js'	// 計時器

import { deviseFunction, goMOrder } from 'src/libs/deviseHelper.js'
import { showImageWuhu, setLoading, isLogin, showAlert } from 'src/libs/appHelper.js'
import { formatTime } from 'src/libs/timeHelper.js'
import { computed, reactive, watch } from '@vue/composition-api'
// import VueAwesomeSwiper from 'vue-awesome-swiper'
// import 'swiper/dist/css/swiper.min.css'

const IsDev = S_Obj.isDebug 	//開發debug

// QRcode 的參數
const cardQRcode = reactive({
  gid: '',
  timer: 60,
  show: false,
  counter: '',
  data: computed(() => store.state.cardQRCode )
})

// QRcode 參數監聽
watch(() => cardQRcode.timer, () => timerRenderQRcode() )

// 顯示 QRcode 畫面
function showQrcode() {

  cardQRcode.gid = store.state.baseInfo.memberData.card_info.GID
  cardQRcode.show = true
  // 計時器重設(觸發取會員條碼並倒數計時的邏輯)
  cardQRcode.timer = 0

  console.log('cardQRcode.gid', cardQRcode.gid)

  // 重新跟殼取資料(主要更新當下螢幕亮度值)
  deviseFunction('GetSPAll', '', '"cbFnSyncDeviseInfoToStore"')
  // 進入時將殼的螢幕調到最亮
  deviseFunction('setBrightness', '255', '')
}

// 執行顯示 QRcode 的邏輯
function renderQRcode() {
  // 取會員 QRcode
  store.dispatch('fetchWuhuCardQRCodeData', cardQRcode.gid)
  // 將計數器回到 60 秒
  cardQRcode.timer = 60
  // 開始倒數計時
  if (cardQRcode.counter === '') cardQRcode.counter = setInterval(()=> { cardQRcode.timer = cardQRcode.timer - 1 }, 1000)
}
// 限時顯示 QRcode 的邏輯
function timerRenderQRcode() {
  // 只在計數器為零時才執行
  if (cardQRcode.timer > 0) return
  // 取會員 QRcode
  renderQRcode()
}

export default {
  name: 'CardIndex',
  // BANNER輪播
  // components: {
  //   Swiper: VueAwesomeSwiper.swiper,
  //   SwiperSlide: VueAwesomeSwiper.swiperSlide
  // },
  data() {
    return {
      state: this.$store.state,
      isLogin: this.$store.getters.isLogin,
      memberData: this.$store.state.baseInfo.memberData,
      userData: this.$store.state.userData,
      // BANNER輪播
      // swiperOptionA: {
      //   observer:true,
      //   lazy: {
      //     loadPrevNext: true,
      //   },
      //   pagination: {
      //     el: '.swiper-pagination'
      //   },
      //   autoplay: {
      //     disableOnInteraction: false
      //   },
      // },
      // swiperOptionB: {
      //   slidesPerView: 'auto',
      //   spaceBetween: 8,
      //   observer:true,
      // },
      isSideMenu: false,
      arrRFM: [],					// 存放推薦產品
      jsonRFM: [],				// 暫放過濾前-推薦產品
      hasTicket: false,
      minHasTicket: false,
      curTicketDrawNo: '',
    };
  },
  setup(context) {
    // 未登入 => 導回首頁
    // if (!isLogin.value) context.root.$router.push('/')
    // 主畫面 layout (預設為 Kakar)
    const layout = computed(() => context.root.$route.meta.layout || 'Kakar' )

    // 關閉 QRcode 畫面
    function hideCardCode() {
      cardQRcode.cardGID = ''
      cardQRcode.show = false
      store.commit('setCssTouch', true)

      // 刷新積點資料 (依據 layout 不同更新 vipApps / vipUserData)
      if (layout === 'kakar') store.dispatch('fetchVipApps')
      if (layout === 'card')  store.dispatch('fetchAppUserData')
      // 清空會員 QRcode 資料
      store.commit('setCardQRCodeData', {value: '', image: '', loaded: false})
      // 關閉倒數計時器
      clearInterval(cardQRcode.counter) ; cardQRcode.counter = '' ; cardQRcode.timer = 60
      // 將殼的螢幕恢復原本亮度
      deviseFunction('setBrightness', store.getters.deviseBrightness, '')
    }

    return {
      cardQRcode, showQrcode, hideCardCode, showAlert
    }
  },
  async beforeRouteEnter(to, from, next) {
    setLoading(true)

    store.dispatch('fetchData4CardIndex')
		store.dispatch('fetchIndexSubBannerWuhu')		// 次橫幅

		if (!isLogin.value) {
			setLoading(false)

			next(vm => {
				const code1 = GetPara1('code')
					,state1 	= GetPara1('state')
				// console.log('Debug_Linecode1: ', code1);	// @@
				if (code1) {
					vm.chkLineLogin(code1, state1);
				} else {
					vm.$router.push('/login');
				}
			});
			return
		}

    // 取-可用的優惠卷列表資訊 - 快速時空門版
		await store.dispatch('fetchGetDrawTicketListJson');

		let setMinute = await FetchSysConfig('AppDrawMinute')
			,setSecs 		= setMinute * 60
		// setMinute = 60	// @@test
		IsDev && console.log('beforeRouteEnter-setMinute: ', setMinute);	// @@

		let data1 = await ReadJsonS('GetRFMProduct')
		// console.log('beforeRouteEnter_RFMProduct: ', data1);	// @@

	// next()
		next( vm => {
			const _act1	= 'HasDrawTicket'
				,now1 		= formatTime(new Date(), 'YYYY-MM-DD HH:mm:ss')
			let arr1	= store.state.baseInfo.memberData.drawTicketList
				,i 			= arr1.length;
			IsDev && console.log('快速時空門版-now1,arr1: '+now1, arr1);	// @@

			// vm.hasTicket = false;
			S_Obj.save(_act1, 0);
			while (i--) {
				const o 	= arr1[i]
					,_s1 		= o.begin_date
					,_s2 		= o.end_date
					,nSecs 	= GetDateDiff(now1, _s1, "s")
					,isShow	= now1 <= _s2 && nSecs <= setSecs
				IsDev && console.log('優惠卷-mins, startTime, endTime: '+nSecs/60, _s1, _s2);	// @@
				if (isShow) {
					IsDev && console.warn('優惠卷isShow: '+isShow, o.TicketTypeName);	// @@
					InitClock(nSecs);	// 啟動定時器
					S_Obj.save(_act1, 1);
					vm.curTicketDrawNo = o.DrawNo;

					let drawNo = S_Obj.read('curTicketDrawNo')
					// console.log('優惠卷isShow-drawNo: ', drawNo);	// @@
					vm.hasTicket = drawNo != vm.curTicketDrawNo;
					break;
				}
			}

			vm.jsonRFM = data1;
			const uData = vm.state.userData
			let them 	= []
				,v1	 		= vm.filterRFMRule('R', uData.RFM_R_TypeCode)
				,v2	 		= vm.filterRFMRule('S', uData.RFM_S_TypeCode)
				,v3	 		= vm.filterRFMRule('B', uData.RFM_B_TypeCode)
				,v4	 		= vm.filterRFMRule('F', uData.RFM_F_TypeCode)
				,v5	 		= vm.filterRFMRule('M', uData.RFM_M_TypeCode)

			them.push(v1);
			them.push(v2);
			them.push(v3);
			them.push(v4);
			them.push(v5);

			const data2 =	them.sort(function (a, b) {return a.Sn > b.Sn ? 1 : -1;})
			// console.log('beforeRouteEnter-them: ', data2);	// @@
			vm.arrRFM = data2;
			setLoading(false)
		});
  },
  computed: {
    pageData() {
      return this.state.baseInfo.publicData.index
    },
    points() { return Math.floor(this.memberData.card_info.Points) },
    // TicketFlag:現金劵=1,商品抵用劵=2,商品折扣劵=3,現金折扣劵=4,運費券=6
    ticketCashListLength() { return this.memberData.ticketList.filter( item => /1/.test(item.TicketFlag) ).length },
    ticketListLength() { return this.memberData.ticketList.filter( item => /2|3|4|6/.test(item.TicketFlag) ).length },
    stores() { return this.pageData.store },
    brands() {
      let companyData = this.state.baseInfo.publicData.companyData
      let brandList = []
      if (companyData) {
        // 品牌
        brandList = companyData.filter((item) => {
          return item.isBrand == true
        })
      }
      return brandList
    },
    // 即時更新橫幅的圖片
    mainBannerUpdate() { return this.pageData.slideBannersUpdate },
  },
  methods: {
    showImageWuhu,
    /* 顯示商品頁的連結 */
    // showProductUrl(product) {
			// // console.log('顯示商品頁的連結-product: ', product);	// @@
      // if (product.LinkType == 'FoodDetail') this.$router.push({ path: `/cardProducts/${product.LinkPostion}` });
    // },
    goPG_Brand(str1) {
			// console.log('goPG_Brand-str1: ', str1);	// @@
			location.replace(str1);
    },
		/* 選消息 */
    goNews(){
			this.goPG_Brand('#/cardBrand?isMode=news&isType=news');
    },
    async chkLineLogin(code, state){
			await this.$store.dispatch('LineThirdToken',{code:code,state:state})
    },
    filterRFMRule(s1, _code) {
			// console.log('filterRFMRule-s1,_code: '+s1, _code);	// @@
			const data1 = this.jsonRFM
			const arr1 = data1.filter((item) => {
				return item.RFMRuleTypeCode.substr(0,1) == s1
			});
			// console.log('filterRFMRule-arr1: ', arr1);	// @@

			const arr2 = arr1.filter((item) => {
				return item.RFMRuleTypeCode == _code;
			});
			// console.log('filterRFMRule-arr2: ', arr2);	// @@

			const hasFind = arr2.length
			const one = hasFind ? arr2[0]: arr1[0]
			// console.warn((hasFind ? '有' : '無')+'找到: '+one.RFMRuleTypeCode, one.DetailName);	// @@

			return one;
    },
    showNews1() {
			location.replace('#/cardBrand?isMode=news&isType=news');
    },
    hideDoor() {
			S_Obj.save('curTicketDrawNo', this.curTicketDrawNo);
			// this.hasTicket = false;
			this.minHasTicket = true; // 縮小至右下
    },
    goShop() {
			const _page = isLogin.value ? 'cardShop' : 'login';
			location.href = `#/${_page}`;
    },
    goStore() {
      // === 全部查詢條件清空 === start
      store.commit('setStoreQueryBrand', '全部品牌')
      store.commit('setStoreQueryZone', {
        searchZoneDisplay: '全部地區',
        searchZoneType: '',
        searchCity: '',
        searchArea: '',
      })
      store.commit('setStoreQueryKeyWord', '')
      // === 全部查詢條件清空 === end
      this.$router.push({ path: '/cardStore'})


      if (location.href.indexOf('/cardStore')>=0) {
        store.commit('setStore2Store', true)
      }
      this.isModal = ''
    },


    formatTime(timeStr, formatStr) {
      return formatTime(timeStr, formatStr)
    },
    async redirectToLink(banner) {
			const LType = banner.LinkType
					,LPos 	= banner.LinkPostion || banner.OuterURL
					,isTrue	= !!LPos.trim()
			if (!isTrue) { return; }

      if (LType == 'InnerURL') {
				const has1 	= /qShopID/.test(LPos) && /qShopType/.test(LPos)
					,_path		= '/' + LPos
				// console.log('redirectToLink-LPos: ', LPos);	// @@
				if (has1) {
					const GetStr1 = function(v1) {
						const	str1 = LPos.slice(LPos.indexOf('?')+1).trim()
						if (str1) {
							let i	 		= 0
								,params = str1.split("&")
								,nLen = params.length
							while (i<nLen) {
								let val = params[i].split("=");
								if (val[0] == v1) {
									return unescape(val[1]);
								}
								i++;
							}
						}
						return null;
					};

					await store.dispatch('fetchStoreListDataWuhu');

					let sID 	= GetStr1('qShopID')
						,sType 	= GetStr1('qShopType')
					goMOrder(sID, sType, '/card');
				} else {
					this.$router.push(_path);
				}

      } else if (LType == 'OuterURL') {
        let url = banner.OuterURL
        if (url) {
          // 在殼裡面 => 開啟瀏覽器
          if (typeof(JSInterface) !== 'undefined') {
            deviseFunction('openWeburl', url, '')
          // 在瀏覽器 => 瀏覽器新開一個tab
          } else {
            window.open(url, '_blank')
          }
        }
      }else if (LType == 'MessageDetail') {
				this.loadMsg(LPos);
      }else if (LType == 'MessageKind') {
				this.loadMsgKind(LPos);
      }else if (LType == 'FoodKind') {
        this.loadFoodKind(LPos);
      }else if (LType == 'FoodDetail') {
        this.loadFood(LPos);
      }
    },
    async loadMsg(p_value) {
      //訊息
      //await store.dispatch('fetchCompanyData')
      await store.dispatch('fetchBrandNews')
      const path = `/cardNewspage/${p_value}`
      this.$router.push({ path: path });
    },
    async loadMsgKind(p_value) {
      //訊息類別
      await store.dispatch('fetchAppBrandData')
      this.$router.push({ path: '/cardBrand', query: { msgKindID:p_value} });
    },
    async loadFoodKind(p_value) {
      //商品類別
      await store.dispatch('fetchAppBrandData')
      await store.dispatch('fetchBrandDataKind', {KindID: p_value})
      this.$router.push({ path: '/cardBrand', query: { foodKindID:p_value} });
    },
    async loadFood(p_value) {
      //商品
      if (this.brands && this.brands.length == 0) await store.dispatch('fetchCompanyData')
      await store.dispatch('fetchBrandDataFood', {DetailID: p_value})
      let brandArr=[];
      if (Array.isArray(store.state.baseInfo.publicData.brandListDetail) && store.state.baseInfo.publicData.brandListDetail.length > 0){
        const foodObj = store.state.baseInfo.publicData.brandListDetail[0];
        brandArr = this.brands.filter((item) => {
          return item.ID == foodObj.BrandID
        })

        if (Array.isArray(brandArr) && brandArr.length > 0){
          await store.dispatch('fetchBrandData', {GID: brandArr[0]["GID"]})
          const path = `/cardProducts/${foodObj.DetailID}?mainName=${foodObj.KindName}&subCode=${foodObj.KindID}&gid=${brandArr[0]["GID"]}`;
          this.$router.push({ path: path });
        }
      }
    },

    // 主橫幅圖片即時更新
    refreshImage() {
      let imageObjs = document.getElementsByClassName('swiper-slide')
      imageObjs.forEach((item)=>{
        let imgStyle = item.style
        let imgUrl = imgStyle.backgroundImage

        // 如果已經load好圖片
        if (imgUrl) {
          // 把圖片後面的版號更新到最新現在
          let newImgUrl = imgUrl.substring(0, imgUrl.indexOf('?v='))
            + '?v='
            + (new Date()).getTime()
            + '")'
          // console.log('===> newImgUrl =>' + newImgUrl)

          // 把圖片重新set,就會重load圖片了
          item.style.backgroundImage = newImgUrl
        }
      })
    }
  },
  watch: {
    mainBannerUpdate: function(val) {
      // 如果pull request主橫幅
      if (val) {
        this.refreshImage() // 即時更新主橫幅的圖片
        store.commit('setMainBannerUpdate', false) // 清空flag
      }
    }
  },
/*
  beforeMount() {
		// 未登入 => 導回首頁
		// if (!isLogin) context.root.$router.push('/')
		// setLoading(true)
		// store.dispatch('fetchAppPublicData')
		// setTimeout(() => setLoading(false), 300)
  },
 */
}
</script>