<template>
  <div class="h-full overflow-auto">
    <div class="h-full flex flex-col">

      <!-- 點數資訊 -->
      <div class="p-3" :class="levelStyle">
        <div class="columns is-mobile is-gapless is-multiline is-vcentered">
          <div class="column is-12">
            <div class="level is-mobile -mx-3">
              <div class="level-item mr-0 has-text-centered w-1/3" @click="$router.push('/cardPoint')">
                <div v-if="memberData.vip_info.MemberTypeName">
                  <p class="title is-size-4 txt-name">
                    {{ memberData.vip_info.CnName }}
                  </p>
                </div>
              </div>
              <div class="level-item mr-0 has-text-centered w-1/3 flex-col">
                <figure class="image is-128x128 -mb-4">
                  <img class="filter drop-shadow-md" v-if="getTypeC == 'A'" src="../../../assets/images/card_normal.svg">
                  <img v-if="getTypeC == 'B'" src="../../../assets/images/card_silver.svg">
                  <img v-if="getTypeC == 'C'" src="../../../assets/images/card_gold.svg">
                  <img v-if="getTypeC == 'D'" src="../../../assets/images/card_black.svg">
                </figure>
                <p class="title is-size-6 txt-card">{{ memberData.vip_info.MemberTypeName + '會員' }}</p>
              </div>
              <div class="level-item has-text-centered w-1/3">
                <div>
                  <p class="title is-size-4 txt-total">{{ sumByYear }} <sub class="is-size-7 txt-total-sub">元</sub></p>
                  <p class="heading is-size-7 mt-1 txt-sub">
                    本卡別消費累積
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-2">
            <figure class="image is-48x48 ml-auto mr-1">
              <img class="filter drop-shadow-md" v-if="getTypeC == 'A'" src="../../../assets/images/card_normal.svg">
              <img class="filter drop-shadow-md" v-if="getTypeC == 'B'" src="../../../assets/images/card_silver.svg">
              <img class="filter drop-shadow-md" v-if="getTypeC == 'C'" src="../../../assets/images/card_gold.svg">
              <img class="filter drop-shadow-md" v-if="getTypeC == 'D'" src="../../../assets/images/card_black.svg">
            </figure>
          </div>
          <div class="column is-8">
            <progress class="progress is-small bg-white shadow-md" :value="showCardProgress" max="100" style="height: 8px"></progress>
          </div>
          <div class="column is-2">
            <figure class="image is-48x48 mr-auto ml-1">
              <img class="filter drop-shadow-md" v-if="getTypeC == 'A'" src="../../../assets/images/card_silver.svg">
              <img class="filter drop-shadow-md" v-if="getTypeC == 'B'" src="../../../assets/images/card_gold.svg">
              <img class="filter drop-shadow-md" v-if="getTypeC == 'C'" src="../../../assets/images/card_black.svg">
              <img class="filter drop-shadow-md" v-if="getTypeC == 'D'" src="../../../assets/images/card_vip.svg">
            </figure>
          </div>
          <div class="column is-12 is-size-7">
            <b class="inline is-pulled-left mr-4 -mt-1 pb-3 txt-progress">
							<div class="text-left" v-if="card_info">升級日：{{card_info.UpgradeDate}}</div>
            </b>
            <b class="inline is-pulled-right mr-4 -mt-1 pb-3 txt-progress">
              <div class="text-right" v-html="getTypeC ? txtLevel1 : '讀取中..'"></div>
            </b>
          </div>
        </div>
      </div>

      <!-- 功能選單 -->
      <div class="flex-auto pt-7 -mt-2 bg-white service-items rounded-t-lg push-bottom-hack">
        <ol class="list-inside px-4 text-xl">
          <li class="bg-gray-200 px-4 py-2 mb-2 rounded-xl" @click="$router.push('/setting')"><img class=" h-10 inline-block -ml-2" src="@/assets/images/index_user_info.svg">會員資訊</li>
          <li class="bg-gray-200 px-4 py-2 mb-2 rounded-xl" @click="$router.push('/cardPay')"><img class=" h-10 inline-block -ml-2" src="@/assets/images/index_rec.svg">消費紀錄</li>
          <li class="bg-gray-200 px-4 py-2 mb-2 rounded-xl flex items-center justify-between"
            @click="$router.push('/cardCoupon')"
          >
            <span class="whitespace-nowrap"><img class="h-10 inline-block -ml-2" src="@/assets/images/index_event_cupon.svg">活動贈品券</span>
            <span v-if="ticketListLength_quick != 0 " class="rounded-full bg-secondary py-0 px-3 text-lg">{{ticketListLength_quick}}</span>
          </li>
          <li class="bg-gray-200 px-4 py-2 mb-2 rounded-xl flex items-center justify-between"
            @click="$router.push('/cardCouponCash')"
          >
            <span class="whitespace-nowrap"><img class="h-10 inline-block -ml-2" src="@/assets/images/index_gift_cupon.svg">電子贈品券</span>
            <span v-if="ticketListCashLength_quick != 0 " class="rounded-full bg-secondary py-0 px-3 text-lg">{{ticketListCashLength_quick}}</span>
          </li>
          <li class="bg-gray-200 px-4 py-2 mb-2 rounded-xl" @click="$router.push('/cardPoint')"><img class="h-10 inline-block -ml-2" src="@/assets/images/index_point.svg">點數紀錄</li>
          <li class="bg-gray-200 px-4 py-2 mb-2 rounded-xl" @click="$router.push('/cardFaq')"><img class="h-10 inline-block -ml-2" src="@/assets/images/index_rights.svg">卡友權益</li>
        </ol>
      </div>
    </div>

  </div>
</template>

<style lang="scss" scoped>
progress[value]::-webkit-progress-value {
  background-image: linear-gradient(to right, #FFFFFF, #D69A64);
  @apply rounded-full;
}
.service-items {
  .heading {
    @apply tracking-normal
  }
}
.rounded-top-mbr {
  border-top-left-radius: 40px!important;
  border-top-right-radius: 40px!important;
}
[data-badge]::after {
  @apply top-1 right-7;
}
.ol-auto {
  li {
    list-style-type: auto;
  }
}
.ClassA {
  background-image: url('../../../assets/images/classA-bg.jpg');
  @apply bg-cover bg-center;
  .txt-total {
    @apply text-white;
    .txt-total-sub {
      @apply text-black;
    }
  }
  .txt-sub {
    @apply text-black
  }
}
.ClassB {
  background-image: url('../../../assets/images/classB-bg.jpg');
  @apply bg-cover bg-center;
  .txt-total {
    @apply text-yellow-300;
    .txt-total-sub {
      @apply text-white;
    }
  }
  .txt-name {
    @apply text-yellow-300;
  }
  .txt-sub, .txt-card, .txt-progress {
    @apply text-white;
  }
}
.ClassC {
  background-image: url('../../../assets/images/classC-bg.jpg');
  @apply bg-cover bg-center;
  .txt-total {
    color: #3a220f;
    .txt-total-sub {
      @apply text-white;
    }
  }
  .txt-name, .txt-card {
    color: #3a220f;
  }
  .txt-sub, .txt-progress {
    @apply text-white;
  }
}
.ClassD {
  background-image: url('../../../assets/images/classD-bg.jpg');
  @apply bg-cover bg-center;
  .txt-total {
    @apply text-yellow-300;
    .txt-total-sub {
      @apply text-white;
    }
  }
  .txt-name, .txt-card {
    @apply text-yellow-300;
  }
  .txt-sub, .txt-progress {
    @apply text-white;
  }
}
</style>

<script>
import store from 'src/store'
import { isLogin, setLoading, showAlert } from 'src/libs/appHelper.js'


export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      state: this.$store.state,
      isLogin: this.$store.getters.isLogin,
      memberData: this.$store.state.baseInfo.memberData,
      currentCardCode: false,
      isSideMenu: false,
      isLink: false,
      srcLink: ''
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    userName()   { return this.state.userData.Name },
    cardQrCode() { return this.state.cardQRCode },
    card_info() { return this.memberData.card_info },
    getTypeC() { return this.card_info.CardTypeCode },
    points() { return parseInt(this.card_info.Points) },
    sumByYear() {
      let currentYear = new Date().getFullYear()
      let currentRecord = this.memberData.purchaseRecord.filter( item => item.LastModify.includes(currentYear) )
      if(!currentRecord.length) return 0
      let sum = currentRecord.map( item => item.PayTotal ).reduce( (a,b) => a+b )
      return sum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    },
    balance() { return parseInt(this.card_info.Balance) || 0 },
    diffSale() { return parseInt(this.card_info.DifferenceCumulativeSales) || 0 },
    txtLevel1() {
			let txtCard = '黑鑽'
				,oCard1		= this.card_info
				// ,nPayed		= parseInt(oCard1.CumulativeSales) || 0
				// ,nDiffer	= parseInt(oCard1.DifferenceCumulativeSales) || 0
				,nDiffer		= this.diffSale
				,expDay		= oCard1.ExpiredDate
				,curCard	= this.getTypeC
				// ,curCard	= 'B'	// @@test
				// ,pay1 			= `已累積消費 ${nPayed} 元<br>`
				,memo1 		= `恭喜您已成功延續一年 黑鑽卡 會員`
console.log('txtLevel1-expDay,oCard1: '+expDay, oCard1);	// @@

			if (curCard != 'D') {
				switch (curCard) {
				case "A":
					txtCard = '銀';
					break;
				case "B":
					txtCard = '金';
					break;
				}
				memo1 = `在 ${expDay} 前，<br>再累積 <span>${nDiffer}</span> 元 即可升級 ${txtCard}卡 會員`;
			}

			// if (curCard != 'D') {
				// if (curCard != 'C') {
					// switch (curCard) {
					// case "A":
						// txtCard = '銀';
						// break;
					// case "B":
						// txtCard = '金';
						// break;
					// }
					// memo1 = `再累積 <span>${nDiffer}</span> 元 即可升級 ${txtCard}卡`;

				// } else {
					// const isTrue = nDiffer > 0
					// memo1 = (isTrue ? `再累積 <span>${nDiffer}</span> 元 就能` : '恭喜您已成功')+`延續一年 ${txtCard}卡 會員`;
				// }
			// }

			// return pay1 + memo1;
			return memo1;
    },

    // 2020-06-09: 沒有用到了,改成直接用memberData.card_info.ExpiredDate
    // 會員卡累積消費升級期限
    // upgradeExpiredDate() {
    //   if (this.card_info.UpgradeDate == undefined) return ''

    //   const upgradeDate = new Date(this.card_info.UpgradeDate)
    //   const expiredDate = new Date(upgradeDate.setDate(upgradeDate.getDate() + parseInt(this.card_info.UpgradeDateDays)))
    //   const d = expiredDate
    //   return `${d.getFullYear()}/${d.getMonth()+1}/${d.getDate()}`
    // },
    showCardProgress() {
      if (this.isProgress === false) return 0
      // vip消費門檻
      let until = parseInt(this.card_info.CardTypeCumulativeSales) || 0
				,c_latSales = parseInt(this.card_info.CumulativeSales) || 0
      if (until == 0) {
        // 秋林:
        // if CardTypeCumulativeSales  = 0   then  CardTypeCumulativeSales  = CumulativeSales + DifferenceCumulativeSales
        until = c_latSales + this.diffSale
      }
      let value = parseInt(c_latSales/until*100) || 0
      value = (value > 100) ? 100 : value
      // value = 50// only for test
      // console.log(c_latSales
      //   + ' / '
      //   + until
      //   + ' = '
      //   + value
      //   + '%')
      return value
    },
    ticketListLength_quick() {
      return this.memberData.ticketList.filter( item => /2|3|4|6/.test(item.TicketFlag) ).length
    },
    ticketListCashLength_quick() {
      return this.memberData.ticketList.filter(  item => /1/.test(item.TicketFlag)  ).length
    },
    ticketListLength() {
      let ticketLength = 0
      let ticketList = this.memberData.ticketList
      if (ticketList) {
        ticketLength = ticketList.length
      }
      return ticketLength
    },
    levelStyle() {
      if(this.getTypeC == 'A') return 'ClassA'
      if(this.getTypeC == 'B') return 'ClassB'
      if(this.getTypeC == 'C') return 'ClassC'
      if(this.getTypeC == 'D') return 'ClassD'
      else return false
    }
  },
  // 頁面模組
  methods: {
    openLink(src) {
      this.isLink= true
      this.srcLink= src
      this.$store.commit('setCssTouch', false)
    },
		/* 領取回家禮 */
		async goOldCard() {
			if (this.isLogin) {
				setLoading(true)

				const userData = this.state.userData
				const p1 = {
					cardNO: userData.CardNO,
					Account: userData.Account
				}
				const res = await this.$store.dispatch("ensureJgssgMemberCardCheck", p1);
				// console.log('領取回家禮-res: ', res); // @@

				if (res.error) {
					showAlert(res.msg)	// 顯示結果
				} else {
					this.$router.push({path: '/oldCard'})
				}
				setLoading(false)

			} else {
				this.$router.push({path: '/login'})
			}
		},
  },
  // 每次進入此頁面會執行的設定
  async beforeRouteEnter(to, from, next) {
		if (!isLogin.value) return next('/')
    setLoading(true)
    try {
    // for 點數 + QR Code
    // 取優惠卷列表資訊
    await store.dispatch('fetchAppPublicDataDetailMemberWuhu')
    await store.dispatch('fetchMemberPurchaseRecordData') // for 消費紀錄
    store.state.isPageName = '會員專區'		// 頁面名稱
    setLoading(false)
    } catch (error) {
      // console.log(error);
    }
    next();
  },
  // 建立頁面後
  created: function(){
    // 顯示會員的 progress bar
    setTimeout(() => {
      this.isProgress = true;
    }, 1500)
  },
}
</script>