<template>
<div class="h-full bg-white overflow-auto push-bottom-hack">
  <div>
    <div class="level is-mobile px-3 pt-3 mb-0">
      <div class="level-item justify-start">近十筆消費紀錄</div>
      <div class="level-item justify-end">
      </div>
    </div>

    <template v-if="hasPRecord">
      <div class="m-3 p-3 border border-gray-200 rounded-xl shadow-sm" v-for="(data, index) in purchaseRecord" :key="index">
        <article class="media flex-col items-stretch is-size-6 leading-normal">
          <p>
            <span class="is-pulled-right text-right">
              <b class="is-size-4  text-yellow-700 px-2 py-1 -mt-2 -mr-2">{{data.PayTotal}}</b><br>
              <!-- <button class="button is-small bg-primary text-white hover:text-white is-rounded px-2 py-1 h-auto leading-none fs" v-if="index==0 || index==1" @click="isTypeModal='survey'">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                  <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                </svg>
                意見回饋
              </button> -->
            </span>
            {{data.LastModify}}
            <br>
            <span class="text-gray-400">交易門店：</span>{{data.ShopName}}
            <br>
            <span class="text-gray-400">訂單編號：</span>{{data.OrderNO}}
          </p>
          <div class="p-3 mt-3 bg-yellow-50 border border-yellow-200 rounded-lg">
						<span class="text-gray-400">購買商品：</span>
						<template v-for="(item,index) in showFoods(data.FoodName, data.isActive)">
							<div :key="'detail1_'+index">{{item}}</div>
						</template>

						<div class="text-center mb-0" v-if="chkMore(data)" @click="data.isActive = true">看更多..</div>

						<template v-if="!chkMore(data)">
							<span class="text-gray-400"><br />付款方式：</span>
							<template v-for="(item,index) in data.arrPay">
								<div :key="'detail2_'+index">{{item}}</div>
							</template>
							<span class="text-gray-400"><br />活動贈品券：</span>
							<template v-for="(item,index) in data.arrDisp">
								<div :key="'detail3_'+index">{{item}}</div>
							</template>
						</template>

            <div class="border-t mt-2 text-right" v-if="!isShopMore(data)">
              <div class="grid grid-cols-3 gap-0 mt-3">
                <div class="col-span-2">總計(含服務費)</div>
                <div>{{data.GrossSaleTotal+data.ServiceTotal}}</div>
                <div class="col-span-2">招待</div>
                <div>{{data.TendTotal}}</div>
                <div class="col-span-2">總折扣讓金額</div>
                <div>{{data.AgioDiscount}}</div>
                <div class="col-span-2">付款金額</div>
                <div>{{data.PayTotal}}</div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </template>

    <!-- 無資料 -->
    <p class="text-center has-text-grey-lighter mt-52" v-if="!hasPRecord">-- 無紀錄 --</p>

  </div>

  <!-- 問券 -->
  <transition name="slide-top">
    <div class="modal is-active" style="z-index:1000" v-if="isTypeModal=='survey'||false">
      <div class="modal-background"></div>
      <div class="modal-card px-3" style="max-height: calc(100vh - 40px - var(--ios-safe-area-top));margin-top:var(--ios-safe-area-top)">
        <header class="modal-card-head rounded-t-xl font-bold py-4 bg-white border-b-0">
          <p class="modal-card-title">顧客意見回饋</p>
          <button class="delete is-medium" aria-label="close" @click="isTypeModal=''"></button>
        </header>
        <section class="modal-card-body">
          <article class="message is-warning mb-3 -mt-4">
            <div class="message-body p-3">
              感謝您的填寫，每月將抽出30位幸運貴賓，贈送500元贈品券。
            </div>
          </article>
          <div class="field">
            <label class="label text-yellow-700">電子信箱</label>
            <div class="control">
              <input class="input" type="text" placeholder="you@example.com">
            </div>
          </div>
          <div class="field">
            <label class="label text-yellow-700">貴賓年齡</label>
            <div class="control">
              <label class="radio">
                <input type="radio" name="ageRnage">
                19歲以下
              </label>
              <label class="radio">
                <input type="radio" name="ageRnage">
                20-30歲
              </label>
              <label class="radio">
                <input type="radio" name="ageRnage">
                31-40歲
              </label>
              <label class="radio">
                <input type="radio" name="ageRnage">
                40歲以上
              </label>
            </div>
            <!-- TODO:送出未填提示 -->
            <p class="help is-danger -mt-1" v-if="false">* 必填</p>
          </div>
          <div class="field">
            <label class="label text-yellow-700">居住區域</label>
            <div class="control">
              <div class="columns is-variable is-1 is-mobile is-vcentered mb-0">
                <div class="column is-narrow">
                  <div class="select is-normal">
                    <select>
                      <option>請選擇縣市</option>
                      <option>臺北市</option>
                    </select>
                  </div>
                </div>
                <div class="column">
                  <div class="select is-normal">
                    <select>
                      <option>請選擇區域</option>
                      <option>--</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label text-yellow-700">是否已加入碳佐麻里粉絲團</label>
            <div class="control">
              <label class="radio">
                <input type="radio" name="fans">
                是
              </label>
              <label class="radio">
                <input type="radio" name="fans">
                否
              </label>
            </div>
          </div>
          <div class="field">
            <label class="label text-yellow-700">用餐週期</label>
            <div class="control">
              <label class="radio">
                <input type="radio" name="cycle">
                首次用餐
              </label>
              <label class="radio">
                <input type="radio" name="cycle">
                1週1次
              </label>
              <label class="radio">
                <input type="radio" name="cycle">
                1月1次
              </label>
              <label class="radio">
                <input type="radio" name="cycle">
                1季1次
              </label>
              <label class="radio">
                <input type="radio" name="cycle">
                半年1次
              </label>
              <label class="radio" @click="activeInput('Cycle')">
                <div class="columns is-variable is-1 is-mobile is-vcentered">
                  <div class="column is-narrow">
                    <input ref="inputRadioCycle" type="radio" name="cycle">
                    其他
                  </div>
                  <div class="column">
                    <input ref="inputTextCycle" class="input is-small" type="text">
                  </div>
                </div>
              </label>
            </div>
          </div>
          <div class="field">
            <label class="label text-yellow-700">用餐動機</label>
            <div class="control">
              <label class="radio">
                <input type="radio" name="motive">
                服務態度佳
              </label>
              <label class="radio">
                <input type="radio" name="motive">
                餐點美味種類多
              </label>
              <label class="radio">
                <input type="radio" name="motive">
                頂級燒肉食材
              </label>
              <label class="radio">
                <input type="radio" name="motive">
                環境氛圍佳
              </label>
              <label class="radio" @click="activeInput('Motive')">
                <div class="columns is-variable is-1 is-mobile is-vcentered">
                  <div class="column is-narrow">
                    <input ref="inputRadioMotive" type="radio" name="motive">
                    其他
                  </div>
                  <div class="column">
                    <input ref="inputTextMotive" class="input is-small" type="text">
                  </div>
                </div>
              </label>
            </div>
          </div>
          <div class="field">
            <label class="label text-yellow-700">本次消費(可複選)</label>
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" name="kind">
                單點
              </label>
              <label class="checkbox">
                <input type="checkbox" name="kind">
                一人獨享和食經濟型商業午餐
              </label>
              <label class="checkbox">
                <input type="checkbox" name="kind">
                888倆人共享經濟型商業午餐
              </label>
              <label class="checkbox">
                <input type="checkbox" name="kind">
                極味之選
              </label>
              <label class="checkbox">
                <input type="checkbox" name="kind">
                超值組合
              </label>
            </div>
          </div>
          <div class="field">
            <label class="label text-yellow-700">您是否還會再來碳佐麻里用餐?</label>
            <div class="control">
              <label class="radio">
                <input type="radio" name="again">
                一定會再來
              </label>
              <label class="radio">
                <input type="radio" name="again">
                若有機會
              </label>
              <label class="radio">
                <input type="radio" name="again">
                讓我想想
              </label>
              <label class="radio" @click="activeInput('Again')">
                <div class="columns is-variable is-1 is-mobile is-vcentered">
                  <div class="column is-narrow">
                    <input ref="inputRadioAgain" type="radio" name="again">
                    不會，因為
                  </div>
                  <div class="column">
                    <input ref="inputTextAgain" class="input is-small" type="text">
                  </div>
                </div>
              </label>
            </div>
          </div>
          <div class="field">
            <label class="label text-yellow-700">最喜歡的餐點</label>
            <div class="control">
              <input class="input is-small" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label text-yellow-700">不滿意的餐點</label>
            <div class="control">
              <input class="input is-small" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label text-yellow-700">好棒棒服務員</label>
            <div class="control">
              <input class="input is-small" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label text-yellow-700">待改進服務員</label>
            <div class="control">
              <input class="input is-small" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label text-yellow-700">是否有在其他碳佐麻里旗下餐飲系列用餐過?</label>
            <div class="control">
              <label class="radio">
                <input type="radio" name="brand">
                TANGO麻辣
              </label>
              <label class="radio">
                <input type="radio" name="brand">
                有你真好 火鍋沙龍
              </label>
              <label class="radio">
                <input type="radio" name="brand">
                有你真好 湘菜沙龍
              </label>
              <label class="radio">
                <input type="radio" name="brand">
                T+ Café&tea
              </label>
            </div>
          </div>
          <div class="field">
            <label class="label text-yellow-700">請告訴我們您的想法，我們將誠心誠意接受並盡最大的努力立即改善及精進。</label>
            <div class="control">
              <textarea class="textarea select-auto" placeholder="請寫下您的想法" style="min-height: 6em"></textarea>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot rounded-b-xl border-t-0 py-3">
          <div class="columns is-mobile is-variable is-1 w-full">
            <div class="column"><button class="button is-fullwidth border-gray-400 bg-gray-200 rounded-lg" @click="isTypeModal=''">取消</button></div>
            <div class="column"><button class="button is-link is-fullwidth rounded-lg" @click="isTypeModal=''">送出</button></div>
          </div>
        </footer>
      </div>
    </div>
  </transition>

</div>
</template>

<style lang="scss" scoped>
.input::placeholder, .textarea::placeholder {
  @apply text-gray-400 #{!important};
}
.radio, .checkbox {
  margin-right: 0.5em;
  margin-left: 0;
  margin-bottom: .5em
}
.select select:not([multiple]) {
    padding-right: 2.5em;
}
</style>

<script>
import store from 'src/store'
import { isLogin, setLoading } from 'src/libs/appHelper.js'

export default {
  // 頁面資料: 請使用function return
  data: function () {
    return {
      state: this.$store.state,
      memberData: this.$store.state.baseInfo.memberData,
      isTypeModal: ''
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    purchaseRecord() {
      return this.memberData.purchaseRecord
    },
    hasPRecord() { return !!this.purchaseRecord.length },
  },
  methods: {
    activeInput(group) {
      this.$refs['inputRadio' + group].checked = true;
      this.$refs['inputText' + group].focus()
    },
    showFoods(arr1, isActive) {
      return isActive ? arr1 : arr1.slice(0, 5)
    },
    isShopMore(one) {
			return one.GrossSaleTotal == 0;
    },
    chkMore(one) {
			const nLen1 = one.FoodName.length
				,nLen2 		= one.arrPay.length
				,isTrue1	= !one.isActive
				,isTrue2	= (nLen1+nLen2) > 5
			// console.log('chkMore-PayTotal,nLen1, nLen2: '+one.PayTotal, nLen1, nLen2);	// @@
      return isTrue1&&isTrue2;
    },
  },
  // 在路由刷新前
  beforeRouteEnter: function (to, from, next) {
    if (!isLogin.value) return next('/')

    setLoading(true, 2)
    store.dispatch('fetchMemberPurchaseRecordData') // for 點數
    store.state.isPageName = '消費紀錄' // 頁面名稱

    // next()
    next(vm => {
      vm.aa = 1; // @@
      setLoading(false)
    });
  },
  beforeRouteUpdate: function (to, from, next) {
    next();
  },

}
</script>