<template>
  <div class="h-full bg-white overflow-auto transform-gpu push-bottom-hack">
    <!-- 已過期點數 Modal -->
    <div class="modal is-active" style="z-index:100" v-if="exPointModal" @click="exPointModal = false">
      <div class="modal-background"></div>
      <div class="modal-card px-3">
        <header class="modal-card-head bg-white border-0">
          <p class="modal-card-title is-size-5">已過期點數</p>
          <button class="delete is-medium" aria-label="close"></button>
        </header>
        <section class="modal-card-body py-0">
          <div class="content">
            <table>
              <thead>
                <tr>
                  <th>點數</th>
                  <th class="text-right">使用期限</th>
                </tr>
              </thead>
              <tbody>
                <template v-for="data in memberData.expiredPoints_section">
                  <tr v-if="Date.parse(`${data.ExpiredDate.replace(/-/g,'/')} 0:0:0`) - Date.parse(new Date()) < 0" :key="data.ExpiredDate">
                    <td>{{parseInt(data.Points)}}</td>
                    <td class="text-right">{{data.ExpiredDate}}</td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </section>
        <footer class="modal-card-foot bg-white border-0 p-2"></footer>
      </div>
    </div>
    <div>
      <!-- 積點紀錄 -->
      <div class="level is-mobile px-3 py-2 mb-0">
        <div class="level-item justify-start">
          近十筆紀錄
          <span class="ml-2 inline-block text-xs py-1 px-3 text-white rounded-full bg-primary" @click="$router.push('/pointExg')">點數換券</span>
        </div>
        <div class="level-item justify-end" @click="exPointModal = true" v-if="memberData.expiredPoints_section.filter(data => (`${data.ExpiredDate.replace(/-/g,'/')} 0:0:0` - Date.parse(new Date())) < 0).length">
          <svg class="mr-1" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M13.26 3C8.17 2.86 4 6.95 4 12H2.21c-.45 0-.67.54-.35.85l2.79 2.8c.2.2.51.2.71 0l2.79-2.8c.31-.31.09-.85-.36-.85H6c0-3.9 3.18-7.05 7.1-7 3.72.05 6.85 3.18 6.9 6.9.05 3.91-3.1 7.1-7 7.1-1.61 0-3.1-.55-4.28-1.48-.4-.31-.96-.28-1.32.08-.42.42-.39 1.13.08 1.49C9 20.29 10.91 21 13 21c5.05 0 9.14-4.17 9-9.26-.13-4.69-4.05-8.61-8.74-8.74zm-.51 5c-.41 0-.75.34-.75.75v3.68c0 .35.19.68.49.86l3.12 1.85c.36.21.82.09 1.03-.26.21-.36.09-.82-.26-1.03l-2.88-1.71v-3.4c0-.4-.34-.74-.75-.74z"/></svg>
          <span>已過期點數</span>
        </div>
      </div>
      <div class="p-3">
        <div class="columns is-variable is-1 text-center is-mobile mb-0">
          <template v-for="(data, index) in memberData.expiredPoints_section">
            <div class="column" v-if="Date.parse(`${data.ExpiredDate.replace(/-/g,'/')} 0:0:0`) - Date.parse(new Date()) > 0" :key="'expired'+index">
              <div class="border-2 border-secondary bg-yellow-50 px-2 py-3 shadow-sm rounded-xl">
                <!-- <sub class="has-text-grey">剩餘</sub> -->
                <b class="title mx-2 my-0 is-3 inline-block text-secondary align-sub">{{parseInt(data.Points)}}</b>
                <sub>點</sub>
                <div class="is-size-7 text-black mt-1">期限 {{data.ExpiredDate}}</div>
              </div>
            </div>
          </template>
        </div>
        <template v-if="state.baseInfo.memberData.expiredPointsIsLoaded && pointData && pointData.length">
          <div class="grid grid-cols-1 divide-y">
            <template v-for="data in pointData">
              <div class="py-3 px-2" :key="data.GID">
                <p class="text-sm">
                  <span>{{data.TradeTime.substring(0, 10)}}<!-- 2020-04-20 --></span>
                  <span class="mx-2">/</span>
                  <span>{{data.TradeTypeName}}<!-- 積分兌換退回 --><br>
									{{/71|72/.test(data.TradeTypeCode) ? data.PayType : ''}}
									</span>
                </p>
                <div class="grid grid-cols-3 divide-x mt-2 text-center">
                  <div>
                      <p class="text-xs mb-1">消費金額 (元)</p>
                      <p>
                        <b class="inline-block text-2xl">{{parseInt(data.TradeAmount)}}<!-- 0 --></b>
                      </p>
                  </div>
                  <div>
                      <p class="text-xs mb-1">累積 (點)</p>
                      <p>
                        <b class="inline-block text-2xl">{{parseInt(data.TradePoints)}}<!-- 88 --></b>
                      </p>
                  </div>
                  <div>
                      <p class="text-xs mb-1">剩餘 (點)</p>
                      <p>
                        <b class="inline-block text-2xl">{{parseInt(data.Points)}}<!-- 88 --></b>
                      </p>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </template>
        <!-- 無資料 -->
      <p class="text-center has-text-grey-lighter my-5 py-5" v-if="state.baseInfo.memberData.expiredPointsIsLoaded && (!pointData || pointData.length<=0)">-- 無紀錄 --</p>
      </div>

    </div>

  </div>

</template>

<script>
import store from 'src/store'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
      exPointModal: false,
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    isLogin()  { return this.$store.getters.isLogin },
    memberData() { return this.$store.state.baseInfo.memberData },
    points() { return this.memberData.card_info.Points ? parseInt(this.memberData.card_info.Points) : 0 },
		pointData() {
			let pastData = this.memberData.expiredPoints;
			let newData = pastData.map((item) => {
				const TradeTypeCode = parseInt(item.TradeTypeCode);
				// console.log('pointData-Code: '+TradeTypeCode, item.TradeTypeName);	// @@
				// console.log('pointData-item: '+item.TradePoints, item);	// @@

				// 4,	-4: 積分兌換, 積分兌換退回: 文字改為==> 點數兌換
				// 7,	-7: 積分換券, 積分換券退回: 文字改為==> 點數換券

				if (TradeTypeCode == 4) {
					item.TradeTypeName = '點數兌換'
				} else if (TradeTypeCode == -4) {
					item.TradeTypeName = '點數兌換退回'
				} else if (TradeTypeCode == 7) {
					item.TradeTypeName = '點數換券'
				} else if (TradeTypeCode == -7) {
					item.TradeTypeName = '點數換券退回'
				} else if (TradeTypeCode == 71) { // 點數轉贈
					item.PayType = item.PayType.replace("會員", '');
				} else if (TradeTypeCode == 72) { // 點數受贈
					item.PayType = item.PayType.replace("會員:", '從 ').replace("贈點", ' 轉贈');
				} else if (TradeTypeCode == 24) {
					item.TradeTypeName = '綁定禮'
				} else if (TradeTypeCode == -24) {
					item.TradeTypeName = '綁定禮退回'
				} else if (TradeTypeCode == 82) {
					item.TradeTypeName = '卡片滙入'
				}

				/* 這幾種要正負相反 */
				if ([4, -4, 7, -7, 71, -71].includes(TradeTypeCode)) {
					item.TradePoints = -item.TradePoints;
					// console.log('正負相反-item: '+item.TradePoints);	// @@
				}
				return item
			})
			// console.log('pointData-newData: ', newData);	// @@
			return newData
		},
  },
  // 頁面模組
  methods: {

  },
  // 在路由刷新前
  beforeRouteEnter: function(to, from, next){
    // for 點數
    // for 點數紀錄
    store.dispatch('fetchAppPublicDataDetailPointWuhu')

    // to: 上一個頁面代碼
    // form: 目前頁面代碼
    // next: 向下執行
    // 頁面名稱
    store.state.isPageName = '點數紀錄'
    next();
  },
  beforeRouteUpdate: function(to, from, next){
    next();
  },
  // 建立頁面後
  created: function(){

  },
}
</script>
