<template>
  <div class="h-full bg-white overflow-auto">
    <div>
      <!-- <p class="text-center is-size-5 sticky top-0 bg-white reg-title">儲值紀錄</p> -->
      <p class="text-center pt-2">
        <sub>目前儲值帳戶有</sub>
        <b class="title mx-2 my-0 is-4 d-inline-block has-text-success align-sub">{{balance}}<!-- 888 --></b>
        <sub>元</sub>
      </p>
      <div class="level is-mobile has-background-dark has-text-grey px-3 py-2 my-2">
        <div class="level-start">近十筆儲存交易紀錄</div>
        <div class="level-end text-right">儲值金額</div>
      </div>
      <div class="pt-2 pb-4" v-if="state.baseInfo.memberData.depositRecordIsLoaded && pageData && pageData.length>0">
        <!-- <article class="media " v-for="item in 5" :key="item">
          <p class="text-gray px-3 w-100">
            <b class="is-pulled-right is-size-5">888</b>
            2020-02-21 17:32:13 <br>
            <b class="text-success my-2 d-inline-block">扣卡消費退回</b> <br>
            交易門店： 9999-季河測試店 <br>
            訂單編號： 200221A0001
          </p>
        </article> -->
        <article class="media " v-for="(data, index) in pageData" :key="index">
          <p class="text-gray px-3 w-100">
            <b class="is-pulled-right is-size-5">{{renderTradeAmount(data)}}</b>
            {{data.TradeTime}} <br>
            <b class="text-success my-2 d-inline-block">{{data.TradeTypeName}}</b> <br>
            交易門店： {{data.ShopName}} <br>
            訂單編號： {{data.OrderNo}}
          </p>
        </article>
      </div>
      <!-- 無資料 -->
      <p class="text-center has-text-grey-lighter my-5 py-5" v-if="state.baseInfo.memberData.depositRecordIsLoaded && (!pageData || pageData.length<=0)">-- 無紀錄 --</p>
    </div>
  </div>

</template>

<script>
import store from 'src/store'

export default {
  // 頁面資料: 請使用function return
  data: function(){
    return {
      title: '<%- @_SelfCode %>',
      state: this.$store.state,
    };
  },
  computed: {
    // 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
    memberData() { return this.state.baseInfo.memberData },
    balance() { return this.memberData.card_info.Balance ? parseInt(this.memberData.card_info.Balance) : 0 },
    pageData() {
      return this.memberData.depositRecord 
    },
  },
  beforeRouteEnter: function(to, from, next){
    // for 點數
    // for 儲值紀錄
    store.dispatch('fetchAppPublicDataDetailPrepayWuhu')
    
    // 頁面名稱
    store.state.isPageName = '儲值紀錄'
    next()
  },
  beforeRouteUpdate: function(to, from, next){
    next();
  },
  // 頁面模組
  methods: {
    renderTradeAmount: function(data) {
      // 如果交易代號是  扣卡消費 / 扣卡消費退回, 數值要負數反轉
      if (data.TradeTypeCode == "2" || data.TradeTypeCode == "-2") return -parseInt(data.TradeAmount);
      return parseInt(data.TradeAmount);
    }
  }
}
</script>
