<template>
  <div class="h-full">

    <!-- ***** 確認結帳商品 ***** -->
    <div class="bg-gray-100 h-full flex flex-col overflow-y-auto pb-28" v-if="$route.query.type==null">
      <!-- 進度條 -->
      <div class="progressbar-container bg-white">
        <ul class="progressbar">
          <li class="active"><b>確認結帳項目</b></li>
          <li>填寫地址與付款</li>
          <li>訂單完成</li>
        </ul>
        <!-- 運送方式
        <div class="w3-container field border-top pt-3">
          <label class="checkbox" for="ckAll">
            <input class="is-150" type="checkbox" id="ckAll" name="ckAll" value="">
            <span class="ml-3 has-text-info">選擇全部</span>
          </label>
        </div> -->
      </div>
      <!-- 說明 -->
      <div class="text-center p-3 text-xs" v-if="mallData.shopping_cart.length!=0">
        <p class="rounded py-1 px-4 text-white bg-gray-500 mb-1 inline-block">不同運送方式，請分開結帳。</p>
        <p class="has-text-danger leading-tight">※ 提醒您，商品加入購物車但未結帳前，並無保留商品庫存功能，請先結帳完成訂購，謝謝 ※</p>
      </div>
      <!-- 無商品項目 -->
      <p class="text-center has-text-grey-lighter mt-52" v-if="mallData.shopping_cart.length==0">-- 無商品項目 --</p>
      <!-- 商品區塊 -->
      <div class="bg-white border-b mb-3" v-for="(pyGroup, pyIndex) in PYCodeGroup" :key="'pyGroup'+pyIndex" v-show="mallData.shopping_cart.length!=0 && Array.isArray(pyGroup.list) && pyGroup.list.length > 0" >
        <!-- 運送方式 -->
        <div class="p-3">
          <div class="columns is-mobile is-variable is-1 is-vcentered py-3">
            <div class="column py-0 is-narrow">
              <!-- 全選單品牌商品 -->
              <label class="checkbox mr-2" :for="'pyckAll'+pyIndex" v-if="pyGroup.GID !== 'failItemListxxx01'">
                <input class="border border-gray-400 w-5 h-5" type="checkbox" :id="'pyckAll'+pyIndex" :name="'pyckAll'+pyIndex" :value="pyGroup.GID" v-model="cartGpList" :disabled="(cartGpList.length > 0 && cartGpList.indexOf(pyGroup.GID) < 0) || pyGroup.ID == undefined">
              </label>
            </div>
            <div class="column py-0">
              <b>{{pyGroup.GID !== 'failItemListxxx01'?"運送方式：":""}}</b>
              <span>{{pyGroup.Name}}<!-- or 台灣本島(低溫) --></span>
              <p class="text-blue-500">共 {{pyGroup.list.length}} 項商品</p>
            </div>
          </div>
        </div>
        <!-- 商品項目 -->
        <div class="px-3 py-2">
          <article class="media" v-for="(item, iIndex) in pyGroup.list" :key="'item'+iIndex">
            <div class="self-center pl-2">
              <label class="checkbox mr-3" :for="'ckAll'+pyIndex+'item'+iIndex" v-if="pyGroup.GID !== 'failItemListxxx01'">
                <input class="border border-gray-400 w-5 h-5" type="checkbox" :id="'ckAll'+pyIndex+'item'+iIndex" :name="'ckAll'+pyIndex+'item'+iIndex" :value="item.ID" v-model="cartIDs" :disabled="chkCartGp(pyGroup,item)">
              </label>
            </div>
            <div class="media-left w-16 mr-2">
              <figure class="image is-1by1 m-0">
                <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->
                <!--<img :src="foodSrc(item.FoodID)" :alt="item.FoodName">-->
                <img :src="ShowPic_FI(item.MainID)" :key="ShowPic_FI(item.MainID)" class="has-background-white-ter rounded-xl" :alt="item.FoodName">
              </figure>
            </div>
            <div class="media-content">
              <div class="content mb-0">
                <p>
                  <button class="delete is-medium float-right delete-alt" @click="delItem_click(item,true)"></button>
                  <b>{{item.FoodName}}</b>
                  <!-- <b>{{item.FoodName}}{{(mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PYCode']:'')}}</b> -->
                  <small class="block">{{item.Taste}}</small>
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <div>
                    <p class="has-text-grey-light"><small>單價 NT$ {{item.Price}}</small></p>
                    <p><small>NT$ </small><b class="text-red-500">{{item.Total}}</b></p>
                  </div>
                </div>
                <div class="level-right">
                  <!-- 數量 -->
                  <div class="flex">
                    <!-- 減 -->
                    <button class="border border-gray-400 bg-gray-200 rounded-full flex items-center justify-center w-6 h-6" @click="delItem_click(item)" v-if="pyGroup.GID !== 'failItemListxxx01'">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4" /></svg>
                    </button>
                    <input type="number" min="0" readonly="readonly" class="w-8 bg-transparent text-center" :value="item.Count">
                    <!-- 加 -->
                    <button class="bg-primary rounded-full text-white flex items-center justify-center w-6 h-6" @click="addItem(item)" v-if="pyGroup.GID !== 'failItemListxxx01'">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" /></svg>
                    </button>
                  </div>
                </div>
              </nav>
            </div>
          </article>
        </div>
      </div>
      <div class="padding-bottom-env" title="iphoneX-bottom-safe-area"></div>
    </div>

    <!-- ***** 付款確認區塊 ***** -->
    <div class="bg-gray-100 h-full flex flex-col overflow-y-auto pb-28" v-if="$route.query.type=='pay'">
      <!-- 進度條 -->
      <div class="progressbar-container bg-white mb-2">
        <ul class="progressbar">
          <li class="active"><b>選擇結帳品牌</b></li>
          <li class="active"><b>填寫地址與付款</b></li>
          <li>訂單完成</li>
        </ul>
        <!-- 訂單人資訊 -->
        <div class="p-3 mt-3 bg-white border-t">
          <p class="mb-2 text-center flex items-center justify-center">
            <b>收件資料</b>
            <span class="button text-sm h-auto ml-2 py-0 px-3 text-white rounded-full bg-primary border-gray-700 hover:text-white" @click="getVipAddrList()">修改</span>
          </p>
          <div class="columns is-mobile is-variable is-2 is-multiline">
            <div class="column py-1 is-12">收件人：<b class="text-green-700">{{this1.receiver}}</b></div>
            <div class="column py-1 is-12" v-if="isCvs">超商門市：{{receiver_cvs}}</div>
            <div class="column py-1 is-12">{{isCvs?"超商地址":"收件地址"}}：<b class="text-green-700">{{this1.addrs}}</b></div>
            <div class="column py-1 is-12">連絡電話：<b class="text-green-700">{{this1.phone1}}</b></div>
          </div>
        </div>
      </div>
      <!-- 選付款方式, -->
      <div class="my-2 py-1 bg-white">
        <div class="p-3">
          <div class="columns is-mobile is-variable is-2 is-multiline is-vcentered p-1">
            <div class="column py-1 is-3">付款方式</div>
            <div class="column py-1 is-9">
              <div class="select is-fullwidth" v-if="!chkOrder.isCvsFeePay">
                <select v-model="this1.p_PayChannel">
                  <option value="">請選擇 付款方式</option>
                  <option v-for="(pay, iIndex) in pay_arr" :key="'pay_'+iIndex" :value="pay.ID">{{pay.Name}}</option>
                </select>
              </div>
              <div class="is-fullwidth" v-else>{{chkOrder.CvsFeeName}}</div>
            </div>

          </div>
					<!-- 統一編號 -->
          <div class="columns is-mobile is-variable is-2 is-multiline is-vcentered p-1">
            <div class="column py-1 is-3">統一編號</div>
            <div class="column py-1 is-9">
              <div class="is-fullwidth">
                <input type="number" placeholder="請輸入 統一編號" class="input bg-gray-100 border" v-model="this1.uniform">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 商品區塊 -->
      <div class="my-2 bg-white" v-if="chkOrder.Total!=undefined && chkItems.length> 0">
        <div class="-mb-3">
          <div class="columns is-mobile is-gapless border-bottom p-3">
            <div class="column has-text-info is-narrow">
              共{{chkItems.length}}項商品
            </div>
            <div class="column has-text-danger text-right text-sm">
              * 所有贈點活動計算皆不含運費
            </div>
          </div>
        </div>
        <!-- 商品項目 -->
        <div class="p-3">
          <article class="media flex-wrap" v-for="(item, iIndex) in chkItems" :key="'itmea'+iIndex">
            <div class="media-left w-16 mr-2">
              <figure class="image is-1by1 m-0">
                <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->
                <img :src="ShowPic_FI(item.MainID)" :key="ShowPic_FI(item.MainID)" class="has-background-white-ter rounded-xl" alt="">
              </figure>
            </div>
            <div class="media-content flex-rwd">
              <div class="content mb-1">
                <p>
                  <b>{{item.FoodName}}</b>
                  <small class="block mr-2">{{item.Taste}}</small>
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <div>
                    <div class="has-text-grey-light"><small>單價 NT$ {{item.Price}}</small></div>
                    <div><small>NT$ </small><b class="text-red-600">{{item.Total}}</b></div>
                  </div>
                </div>
                <!-- 數量 -->
                <div class="level-right pr-2">{{item.Count}}</div>
              </nav>
            </div>

            <!-- 商品優惠券 -->
            <div class="notification is-warning is-light p-3 border border-warning wh-coupon" style="flex: 0 0 100%" v-if="false">
              <label class="checkbox w-100" :for="item">
                <div class="columns is-mobile is-variable is-1 is-vcentered">
                  <div class="column py-1 is-narrow"><input class="is-150" type="checkbox" :id="item" :name="item"></div>
                  <div class="column py-1">測試滿額現金券</div>
                  <div class="column py-1 has-text-grey is-narrow">
                    <!-- 期限(訖) -->
                    有效期：2020/03/29
                  </div>
                </div>
              </label>
            </div>

          </article>
        </div>
      </div>

      <!-- 優惠券 -->
      <div class="my-2 py-1 bg-white" v-if="mallData.shopping_cart.length && couponList.length">
        <div class="p-3">
          <p class="mb-2 flex justify-center"><b>優惠券</b></p>
          <button class="button is-warning is-light is-fullwidth p-3 h-auto" style="border-color:#FBBF24!important" v-if="!useCoupon" @click="useCoupon=!useCoupon">使用優惠券</button>
          <!-- 列表 -->
          <div v-else>
            <div class="notification is-warning is-light px-3 py-4 border border-yellow-400 wh-coupon" v-for="(coupon, coIndex) in couponList" :key="'coupon'+coIndex">
              <label class="checkbox w-full" :for="'coupon'+coIndex">
                <div class="columns is-mobile is-variable is-narrow is-vcentered">
                  <div class="column py-1 is-1"><input class="is-150" type="checkbox" :id="'coupon'+coIndex" :name="'coupon'+coIndex" :value="coupon.TicketInfoID" v-model="selCoupon" :disabled="selCoupon.indexOf(coupon.TicketInfoID)< 0 && selCoupon.length > 0"></div>
                  <div class="column py-1">{{coupon.TicketTypeName}}</div>
                  <div class="column py-1 has-text-grey is-narrow text-xs">
                    <!-- 期限(訖) -->
                    有效期：<br>{{/9999/.test(coupon.TicketExpiredDate) ? '不限' : coupon.TicketExpiredDate.substring(0, 10)}}
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- 運費券 -->
      <div class="my-2 py-1 bg-white" v-if="mallData.shopping_cart.length && couponFareList.length && calc_fareItem.length">
        <div class="p-3">
          <p class="mb-2"><b>運費券：</b></p>
          <button class="button is-warning is-light is-fullwidth border border-warning" v-if="!useFareCoupon" @click="useFareCoupon=!useFareCoupon">使用運費券</button>
          <!-- 列表 -->
          <div v-else>
            <div class="notification is-warning is-light px-3 py-4 border border-yellow-400 wh-coupon" v-for="(coupon, coIndex) in couponFareList" :key="'farecoupon'+coIndex">
              <label class="checkbox w-full" :for="'farecoupon'+coIndex">
                <div class="columns is-mobile is-variable is-narrow is-vcentered">
                  <div class="column py-1 is-1"><input class="is-150" type="checkbox" :id="'farecoupon'+coIndex" @change="checkFareMax($event,coIndex)" :name="'farecoupon'+coIndex" :value="coupon.TicketInfoID" v-model="selFareCoupon" :disabled="(selFareCoupon.indexOf(coupon.TicketInfoID)< 0 && selFareCoupon.length > 0)"></div>
                  <div class="column py-1">{{coupon.TicketTypeName}}</div>
                  <div class="column py-1 has-text-grey is-narrow text-xs">
                    <!-- 期限(訖) -->
                    有效期：<br>{{/9999/.test(coupon.TicketExpiredDate) ? '不限' : coupon.TicketExpiredDate.substring(0, 10)}}
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- 付款明細 -->
      <div class="my-2 p-3 bg-white">
        <p class="mb-2 flex justify-center"><b>付款明細</b></p>
        <div class="columns is-mobile is-variable is-2 is-multiline is-vcentered">
          <div class="column py-1 is-half">商品總計</div>
          <div class="column py-1 is-half text-right">{{chkOrder.SubTotal}}</div>
					<template v-if="calAmount('c')">
          <div class="column py-1 is-half">優惠折抵</div>
          <div class="column py-1 is-half text-right">-{{calAmount('c')}}</div>
          <div class="column pb-1 mt-1 is-full p-0 border-top"></div>
          <div class="column py-1 is-half">小計</div>
          <div class="column py-1 is-half text-right">{{chkOrder.SubTotal-calAmount('c')}}</div>
					</template>
          <div class="column py-1 is-half">運費總計</div>
          <!-- <div class="column py-1 is-half text-right">{{chkOrder.Freight}}</div> -->
          <div class="column py-1 is-half text-right">{{(chkOrder.fareAgio?chkOrder.FreightInit:chkOrder.Freight)}}</div>
          <div class="column py-1 is-half" v-if="chkOrder.fareAgio && calAgioTotal(chkOrder.fareAgio.AgioCost,chkOrder.fareAgio.AgioTotal) > 0">運費折抵</div>
          <div class="column py-1 is-half text-right" v-if="chkOrder.fareAgio && calAgioTotal(chkOrder.fareAgio.AgioCost,chkOrder.fareAgio.AgioTotal) > 0">-{{calAgioTotal(chkOrder.fareAgio.AgioCost,chkOrder.fareAgio.AgioTotal)}}</div>
          <!-- <div class="column py-1 is-half" v-if="chkOrder.AgioCost!='' && chkOrder.AgioCost!='0'">折讓</div>
          <div class="column py-1 is-half text-right" v-if="chkOrder.AgioCost!='' && chkOrder.AgioCost!='0'">-{{chkOrder.AgioCost}}</div>
          <div class="column py-1 is-half" v-if="chkOrder.AgioTotal!='' && chkOrder.AgioTotal!='0'">折扣</div>
          <div class="column py-1 is-half text-right" v-if="chkOrder.AgioTotal!='' && chkOrder.AgioTotal!='0'">-{{chkOrder.AgioTotal}}({{chkOrder.AgioPercent}}%)</div> -->
          <div class="column pb-1 mt-1 is-full p-0 border-t"></div>
          <div class="column py-3 is-half">總計</div>
          <div class="column py-3 is-half text-right">
            <small>NT$</small>
            <!-- {{chkOrder.Total}} -->
            <b class="text-xl font-bold ml-2 text-red-600">{{chkOrder.CheckTotal}}</b>
          </div>
        </div>
      </div>
      <!-- 付款方式 -->
      <div class="my-2 p-3 bg-white" v-if="false">
        <p class="w3-text-red" @click="isTypeModal='tip';$store.commit('setCssTouch', false)"><b>付款方式：</b><i class="fas fa-question-circle fa-lg is-size-6 has-text-grey"></i></p>
        <div class="columns is-mobile is-variable is-2 is-multiline">
          <div class="column py-1 is-half" v-show='false'>使用優惠券</div>
          <div class="column py-1 is-half text-right" v-show='false'>200</div>
          <!-- <div class="column py-1 is-half">體驗點數付款({{PointMoneyAmount_init}})</div> -->
          <div class="column py-1 is-half">體驗點數付款</div>
          <div class="column py-1 is-half text-right">{{PointMoneyAmount}}</div>
          <!-- <div class="column py-1 is-half">消費點數付款({{BalanceTotal_init}})</div> -->
          <div class="column py-1 is-half">消費點數付款</div>
          <div class="column py-1 is-half text-right">{{BalanceTotal}}</div>
        </div>
      </div>
      <!-- 備註 -->
      <div class="my-2 p-3 bg-white" v-show='false'>
        <b>備註</b>
        <div class="w3-display-container w3-show-inline-block ml-1" style="width: calc(100% - 3rem);">
          <input class="w3-input w3-show-inline-block w3-border-0" type="text" v-model="remarkClean" placeholder="請輸入文字說明">
          <div class="w3-display-right w3-opacity-max" v-if="remarkClean!==''" @click="remarkClean=''"><i class="fas fa-times-circle"></i></div>
        </div>
      </div>

    </div>

    <!-- 訂單完成區塊 -->
    <div class="bg-gray-100 h-full flex flex-col overflow-y-auto pb-28" v-if="$route.query.type=='finished'">
      <!-- 進度條 -->
      <div class="progressbar-container bg-white mb-2">
        <ul class="progressbar">
          <li class="active"><b>選擇結帳品牌</b></li>
          <li class="active"><b>填寫地址與付款</b></li>
          <li class="active"><b>訂單完成</b></li>
        </ul>
        <!-- 訂單人資訊 -->
        <div class="p-3 mt-3 bg-white border-t">
          <span class="float-right tag is-medium is-info is-light border border-info">{{(mallData.orderstatus[finishOrder.OrderStatus] || "-")}}</span>
          <p><b>訂單編號：</b>{{finishOrder.OrderNo}}</p>
          <p><b>購買時間：</b>{{formatTime(finishOrder.SaleTime, 'YYYY-MM-DD HH:mm:ss')}}</p>
          <!-- 付款成功訊息 -->
          <div class="tag mt-2 is-medium w-full is-success">付款成功</div>
        </div>
        <!-- 訂單人資訊 -->
        <div class="p-3 bg-white border-top">
          <p class="mb-2"><b>收件資料</b></p>
          <div class="columns is-mobile is-variable is-2 is-multiline p-2">
            <div class="column py-1 is-12">收件人：{{this1.receiver}}</div>
            <div class="column py-1 is-12" v-if="isCvs">超商門市：{{receiver_cvs}}</div>
            <div class="column py-1 is-12">連絡電話：{{this1.phone1}}</div>
            <div class="column py-1 is-12">{{isCvs?"超商地址":"收件地址"}}：{{this1.addrs}}</div>
            <div class="column py-1 is-12">統一編號：{{this1.uniform}}</div>
          </div>
        </div>
      </div>

      <!-- 商品區塊 -->
      <div class="my-2 py-1 bg-white" v-if="finishOrder.Total!=undefined && finishItems.length> 0">
        <div class="p-3">
          <div class="columns is-mobile border-b">
            <div class="column has-text-info">
              共{{finishItems.length}}項商品
            </div>
          </div>
        </div>
        <!-- 商品項目 -->
        <div class="p-3">
          <article class="media" v-for="(item, iIndex) in finishItems" :key="'itemfin'+iIndex">
            <div class="media-left w-16 mr-2">
              <figure class="image is-1by1 m-0">
                <img :src="ShowPic_FI(item.MainID)" :key="ShowPic_FI(item.MainID)" class="has-background-white-ter rounded-xl" alt="">
              </figure>
            </div>
            <div class="media-content">
              <div class="content mb-1">
                <p class="mb-0"><b>{{item.FoodName}}</b></p>
                <small class="block mr-2">{{item.Taste}}</small>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <div>
                    <div class="has-text-grey-light"><small>單價 NT$ {{item.Price}}</small></div>
                    <div><small>NT$ </small><b class="text-red-600">{{item.Total}}</b></div>
                  </div>
                </div>
                <!-- 數量 -->
                <div class="level-right pr-2">{{item.Count}}</div>
              </nav>
            </div>
          </article>
          <div class="mt-3">

          </div>
        </div>
      </div>
      <!-- 付款明細 -->
      <div class="my-2 p-3 bg-white">
        <p class="mb-2"><b>付款明細</b></p>
        <div class="columns is-mobile is-variable is-2 is-multiline p-2">
          <div class="column py-1 is-half">商品總計</div>
          <div class="column py-1 is-half text-right"> {{finishOrder.SubTotal}}</div>
					<template v-if="calAmount('o')">
          <div class="column py-1 is-half">優惠折抵</div>
          <div class="column py-1 is-half text-right">-{{calAmount('o')}}</div>
          <div class="column pb-1 mt-1 is-full p-0 border-top"></div>
          <div class="column py-1 is-half">小計</div>
          <div class="column py-1 is-half text-right">{{finishOrder.SubTotal-calAmount('o')}}</div>
					</template>
          <div class="column py-1 is-half">運費總計</div>
          <div class="column py-1 is-half text-right">{{(finishOrder.fareAgio?finishOrder.FreightInit:finishOrder.Freight)}}</div>
          <div class="column py-1 is-half" v-if="finishOrder.fareAgio && calAgioTotal(finishOrder.fareAgio.AgioCost,finishOrder.fareAgio.AgioTotal) > 0">運費折抵</div>
          <div class="column py-1 is-half text-right" v-if="finishOrder.fareAgio && calAgioTotal(finishOrder.fareAgio.AgioCost,finishOrder.fareAgio.AgioTotal) > 0">-{{calAgioTotal(finishOrder.fareAgio.AgioCost,finishOrder.fareAgio.AgioTotal)}}</div>
          <!-- <div class="column py-1 is-half text-right"> {{finishOrder.Freight}}</div> -->
          <!-- <div class="column py-1 is-half">優惠折抵</div>
          <div class="column py-1 is-half text-right">-{{calAmount('o')}}</div> -->
          <!-- <div class="column py-1 is-half" v-if="finishOrder.AgioCost!='' && finishOrder.AgioCost!='0'">折讓</div>
          <div class="column py-1 is-half text-right" v-if="finishOrder.AgioCost!='' && finishOrder.AgioCost!='0'">-{{finishOrder.AgioCost}}</div>
          <div class="column py-1 is-half" v-if="finishOrder.AgioTotal!='' && finishOrder.AgioTotal!='0'">折扣</div>
          <div class="column py-1 is-half text-right" v-if="finishOrder.AgioTotal!='' && finishOrder.AgioTotal!='0'">-{{finishOrder.AgioTotal}}({{finishOrder.AgioPercent}}%)</div> -->
          <div class="column py-1 is-half" v-show="false">使用優惠券</div>
          <div class="column py-1 is-half text-right" v-show="false">-60</div>
          <div class="column pb-1 mt-1 is-full p-0 border-t"></div>
          <div class="column py-3 is-half">總計</div>
          <div class="column py-3 is-half text-right">
            <small>NT$</small>
            <b class="text-xl font-bold ml-2">{{finishOrder.CheckTotal}}</b>
          </div>
        </div>
        <!-- 消費點數 -->
        <!-- <div class="columns is-mobile is-variable is-2 is-multiline" v-for="(finCheck, fcIndex) in finishChecks" :key="fcIndex">
          <div class="column py-1 is-7">{{finCheck.NO !== ''? finCheck.KindName+' ('+finCheck.NO+')':finCheck.KindName}}</div>
          <div class="column py-1 is-5 text-right">{{finCheck.Total}}</div>
        </div> -->

        <div class="notification is-info is-light px-3 py-4 mb-2">
          <!-- 大於兩行才會出現更多 -->
          <div :class="[(moreFinCheck && (finishChecks.length + finishAgio.length) > 2 )?'moreFinCheck':'']">
            <div class="columns is-mobile is-variable is-multiline" v-for="(finCheck, fcIndex) in finishChecks" :key="'fcn'+fcIndex">
              <div class="column py-2 is-7">{{finCheck.NO !== ''? finCheck.KindName+' ('+finCheck.NO+')':finCheck.KindName}}</div>
              <div class="column py-2 is-5 text-right">{{finCheck.Total}}</div>
            </div>
            <!--Agio 優惠券-->
            <div class="columns is-mobile is-variable is-2 is-multiline" v-for="(agio, agIndex) in finishAgio" :key="'agi'+agIndex">
              <div class="column py-1 is-7">{{agio.AgioReason}}</div>
              <div class="column py-1 is-5 text-right">{{agio.Owner && chkStr(agio.Owner) ? calAgioTotal(agio.AgioCost,agio.AgioTotal) : calAgioTotal(agio.TotalAgioCost,agio.TotalAgioTotal)}}</div>
              <!-- <div class="column py-1 is-5 text-right" v-if="agio.TotalAgioCost!='' && agio.TotalAgioCost!='0'">{{agio.TotalAgioCost}}</div>
              <div class="column py-1 is-5 text-right" v-if="agio.TotalAgioTotal!='' && agio.TotalAgioTotal!='0'">{{agio.TotalAgioTotal}}({{agio.TotalAgioPercent}}%)</div> -->
            </div>
          </div>
          <div class="text-center" style="margin: -12px 0" v-if="(finishChecks.length + finishAgio.length) > 2" @click="moreFinCheck = !moreFinCheck">
            <b>更多 </b>
            <!-- 開啟 -->
            <span v-show="moreFinCheck"><i class="fas fa-angle-down"></i></span>
            <!-- 收回 -->
            <span v-show="!moreFinCheck"><i class="fas fa-angle-up"></i></span>
          </div>
        </div>

      </div>
      <!-- 備註 -->
      <div class="my-2 p-3 bg-white" v-show="false">
        <p class="mb-2"><b>備註：</b></p>
        <p>.....</p>
      </div>

    </div>
    <!-- 暫存訂單完成前 暫存區-->
    <div class="scroll-auto-fix bg-gray-100" v-if="$route.query.type=='finishedTemp'">
      <!-- 進度條 -->
      <div class="progressbar-container w3-white">
        <ul class="progressbar">
          <li class="active"><b>選擇結帳品牌</b></li>
          <li class="active"><b>填寫地址與付款</b></li>
          <li class="active"><b>訂單成立</b></li>
        </ul>
        <!-- 訂單人資訊 -->
        <div class="p-3 bg-white border-top">
          <span class="float-right tag is-medium is-info is-light border border-info">{{(mallData.orderstatus[finishOrderTemp.OrderStatus] || "-")}}</span>
          <p class="mb-2"><b>訂單編號：</b>{{finishOrderTemp.OrderNo}}</p>
          <p><b>購買時間：</b>{{finishOrderTemp.SaleTime}}</p>
        </div>
        <!-- 訂單人資訊 -->
        <div class="p-3 bg-white border-top">
          <p class="mb-3"><b>收件資料：</b></p>
          <div class="columns is-mobile is-variable is-2 is-multiline">
            <div class="column py-1 is-12">收件人：{{this1.receiver}}</div>
            <div class="column py-1 is-12" v-if="isCvs">超商門市：{{receiver_cvs}}</div>
            <div class="column py-1 is-12">連絡電話：{{this1.phone1}}</div>
            <div class="column py-1 is-12">{{isCvs?"超商地址":"收件地址"}}：{{this1.addrs}}</div>
          </div>
        </div>
      </div>

      <!-- 商品區塊 -->
      <div class="my-2 py-1 bg-white" v-if="finishOrderTemp.Total!=undefined && finishItemsTemp.length> 0">
        <div class="p-3">
          <div class="columns is-mobile border-b">
            <div class="column has-text-info">
              共{{finishItemsTemp.length}}項商品
            </div>
          </div>
        </div>
        <!-- 商品項目 -->
        <div class="p-3">
          <article class="media" v-for="(item, iIndex) in finishItemsTemp" :key="'itemfin'+iIndex">
            <div class="media-left w-16 mr-2">
              <figure class="image is-1by1 m-0">
                <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->
                <img :src="ShowPic_FI(item.MainID)" :key="ShowPic_FI(item.MainID)" class="has-background-white-ter rounded-xl" alt="">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p class="mb-0"><b>{{item.FoodName}}</b></p>
                <small class="block mr-2">{{item.Taste}}</small>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <div class="text-red-600">
                    <div class="has-text-grey-light"><small>單價 NT$ </small>{{item.Price}}</div>
                    <div><small>NT$ </small><b class="text-red-600">{{item.Total}}</b></div>
                  </div>
                </div>
                <!-- 數量 -->
                <div class="level-right pr-2">{{item.Count}}</div>
              </nav>
            </div>
          </article>
          <div class="mt-3">

          </div>
        </div>
      </div>
      <!-- 付款明細 -->
      <div class="my-2 p-3 bg-white">
        <p class="mb-3"><b>付款明細：</b></p>
        <div class="columns is-mobile is-variable is-2 is-multiline">
          <div class="column py-1 is-half">商品總計</div>
          <div class="column py-1 is-half text-right"> {{finishOrderTemp.SubTotal}}</div>
					<template v-if="calAmount('f')">
					<div class="column py-1 is-half">優惠折抵</div>
					<div class="column py-1 is-half text-right">-{{calAmount('f')}}</div>
					<div class="column pb-1 mt-1 is-full p-0 border-top"></div>
					<div class="column py-1 is-half">小計</div>
					<div class="column py-1 is-half text-right">{{finishOrderTemp.SubTotal-calAmount('f')}}</div>
					</template>
          <div class="column py-1 is-half">運費總計</div>
          <!-- <div class="column py-1 is-half text-right"> {{finishOrderTemp.Freight}}</div> -->
          <div class="column py-1 is-half text-right">{{(finishOrderTemp.fareAgio?finishOrderTemp.FreightInit:finishOrderTemp.Freight)}}</div>
          <div class="column py-1 is-half" v-if="finishOrderTemp.fareAgio && calAgioTotal(finishOrderTemp.fareAgio.AgioCost,finishOrderTemp.fareAgio.AgioTotal) > 0">運費折抵</div>
          <div class="column py-1 is-half text-right" v-if="finishOrderTemp.fareAgio && calAgioTotal(finishOrderTemp.fareAgio.AgioCost,finishOrderTemp.fareAgio.AgioTotal) > 0">-{{calAgioTotal(finishOrderTemp.fareAgio.AgioCost,finishOrderTemp.fareAgio.AgioTotal)}}</div>

          <div class="column pb-1 mt-1 is-full p-0 border-top"></div>
          <div class="column py-3 is-half">總計</div>
          <div class="column py-3 is-half text-right font-weight-bold is-size-4 ">
            <small>NT$</small>
            {{finishOrderTemp.CheckTotal}}
          </div>
        </div>

        <!-- <div class="notification is-info is-light px-3 py-4 mb-2">
           大於兩行才會出現更多
          <div :class="[(moreFinCheck && (finishChecksTemp.length + finishAgioTemp.length) > 2 )?'moreFinCheck':'']">
            <div class="columns is-mobile is-variable is-multiline" v-for="(finCheck, fcIndex) in finishChecksTemp" :key="'fcn'+fcIndex">
              <div class="column py-2 is-7">{{finCheck.NO !== ''? finCheck.KindName+' ('+finCheck.NO+')':finCheck.KindName}}</div>
              <div class="column py-2 is-5 text-right">{{finCheck.Total}}</div>
            </div>
            Agio 優惠券
            <div class="columns is-mobile is-variable is-2 is-multiline" v-for="(agio, agIndex) in finishAgioTemp" :key="'agi'+agIndex">
              <div class="column py-1 is-7">{{agio.AgioReason}}</div>
              <div class="column py-1 is-5 text-right">{{calAgioTotal(agio.TotalAgioCost,agio.TotalAgioTotal)}}</div>

            </div>
          </div>
          <div class="text-center" style="margin: -12px 0" v-if="(finishChecksTemp.length + finishAgioTemp.length) > 2" @click="moreFinCheck = !moreFinCheck">
            <b>更多 </b>

            <span v-show="moreFinCheck"><i class="fas fa-angle-down"></i></span>

            <span v-show="!moreFinCheck"><i class="fas fa-angle-up"></i></span>
          </div>
        </div> -->




      </div>
      <!-- 備註 -->
      <div class="my-2 p-3 bg-white" v-show="false">
        <p class="mb-2"><b>備註：</b></p>
        <p>文字文字文字文字文字</p>
      </div>

    </div>

    <!-- 置底功能列 -->
    <div class="fixed bottom-0 w-full p-2" style="z-index:999">
      <div class="container bg-primary text-white rounded-xl shadow-lg p-2 mx-auto md:w-1/2">
        <!-- 第一步 -->
        <div class="columns is-mobile is-gapless is-vcentered" v-if="$route.query.type==null">
          <div class="column">
              <p>
                <small>總金額 NT$ </small>
                <span class="inline-block text-xl text-secondary px-1">
                  <b>{{selectTotal}}</b>
                </span>
                <small class="text-xs text-gray-300">(不含運費)</small>
              </p>
          </div>
          <div class="column is-narrow">
            <button class="button rounded-lg bg-secondary border-secondary font-bold px-5" @click="nextPage()">付款去</button>
          </div>
        </div>
        <!-- 第二步 -->
        <div class="columns is-mobile is-gapless is-vcentered" v-if="$route.query.type=='pay' && showEcPayIframe==false">
          <div class="column">
            <button class="button w-full rounded-lg bg-secondary border-secondary font-bold" @click="chkOkCheckout()">確認結帳</button>
          </div>
          <!-- <div class="column py-1">
            <button class="button is-link is-outlined is-fullwidth is-medium is-light" @click="chkDeedpoints()">自選付款</button>
          </div>
          <div class="column py-1">
            <button class="button is-link is-fullwidth is-medium" @click="chkQuickCheckout()">快速付款</button>
          </div> -->
        </div>
        <!-- 第三步(訂單記錄,已成立訂單,但未付款成功) -->
        <div class="columns is-mobile is-gapless m-0 text-center"  v-if="$route.query.type=='pageDeed'">
          <div class="column">
            <button class="button is-link is-fullwidth is-medium" @click="chkFinishCheckout()">完成付款</button>
          </div>
        </div>
        <!-- 第三步(暫時可選點數) -->
        <div class="columns is-mobile is-gapless m-0 text-center" v-if="$route.query.type=='pageDeedTemp'">
          <div class="column">
            <button class="button is-link is-fullwidth is-medium" @click="chkCheckout_finish()">完成付款</button>
          </div>
        </div>
        <!-- 第四步 -->
        <div class="columns is-mobile is-gapless m-0 text-center" v-if="$route.query.type=='finished'">
          <div class="column">
            <button class="button w-full rounded-lg bg-secondary border-secondary font-bold" @click="clickGo('cardShopMine', 1)">訂單記錄</button>
          </div>
          <div class="column">
            <button class="button w-full rounded-lg bg-secondary border-secondary font-bold" @click="clickGo('cardShop', 1)">繼續購物</button>
          </div>
        </div>
        <!-- 第四步 有綠界付款時-->
        <!-- <div class="columns is-mobile is-gapless m-0 text-center" v-if="$route.query.type=='finishedTemp' && showEcPayIframe==true">
          <div class="column">
            <button class="button is-link is-fullwidth is-medium" @click="closeEcPay()">關閉</button>
          </div>
        </div> -->
        <!-- 第四步 一般付款-->
        <div class="columns is-mobile is-variable is-1 m-n1 text-center" v-if="$route.query.type=='finishedTemp' && showEcPayIframe==false">
<!-- 
          <div class="column" v-if="/Scan2Pay|Newebpay|TSPGpay/.test(finishOrderTemp.PayChannel) && finishOrderTemp.scan2PayUrl">
            <button class="button w-full rounded-lg border-transparent bg-white bg-opacity-5 text-white hover:text-white hover:border-transparent" @click="openOurl(finishOrderTemp.scan2PayUrl)">重新支付</button>
          </div>
          <div class="column" v-if="finishOrderTemp.PayChannel == 'ecPay' && paySrc !== ''">
            <button class="button w-full rounded-lg border-transparent bg-white bg-opacity-5 text-white hover:text-white hover:border-transparent" @click="showEcPayIframe = true">重新支付</button>
          </div>
 -->
          <div class="column">
            <button class="button w-full rounded-lg border-transparent bg-white bg-opacity-5 text-white hover:text-white hover:border-transparent" @click="refreshSingle()">刷新</button>
          </div>
          <div class="column">
            <button class="button w-full rounded-lg bg-secondary border-secondary font-bold" @click="clickGo('cardShopMine', 1)">訂單記錄</button>
          </div>
          <div class="column">
            <button class="button w-full rounded-lg bg-secondary border-secondary font-bold" @click="clickGo('cardShop', 1)">繼續購物</button>
          </div>
        </div>
      </div>
      <div class="padding-bottom-env" title="iphoneX-bottom-safe-area"></div>
    </div>

    <!-- 收件資料編輯 -->
		<ReceiveEdit />
		<!-- <ReceiveEdit :foo="foo" /> -->

    <!-- 跳窗 -->
    <transition name="slide-fade">
      <div class="fixed top-0 w-full h-full bg-black bg-opacity-60" style="z-index: 1040" v-if="isTypeModal!=''" @click="isTypeModal=''" v-cloak></div>
    </transition>
    
    <!-- 購物車變更提示 -->
    <transition name="slide-fade" mode="out-in">
      <div class="modal is-active" v-if="isTypeModal=='cardDiff'" style="z-index: 1041">
        <div class="modal-background" @click.self="isTypeModal=''"></div>
        <div class="modal-content px-3">
          <article class="message rounded-xl overflow-hidden">
            <div class="message-header bg-white">
              <!-- 購物車內之商品價格或庫存已變更或不存在，請重新檢視！ -->
              <p class="text-red-500">{{cardDiffText}}</p>
              <button class="delete" aria-label="delete" @click="isTypeModal=''"></button>
            </div>
            <div class="message-body overflow-y-auto" style="max-height:320px">
              <div class="columns is-mobile is-variable is-2 is-vcentered" v-for="(failItem, failIndex) in failCartList" :key="'failItem'+failIndex">
                <div class="column py-2 is-8">{{failItem.FoodName}}</div>
                <div class="column py-2 is-4 text-right text-info">{{failItem.NeedRole}}</div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </transition>

    <!-- 付款說明 -->
    <div class="fixed top-0 flex-center h-full" style="z-index:1041" v-if="isTypeModal=='tip'" @click.self="isTypeModal=''">
      <div class="w3-modal-content w3-card-4 w3-round">
        <div class="w3-container">
          <p class="w3-margin-8 w3-center">
            付款說明
            <a href="javascript:void(0)" class="delete is-medium w3-display-topright m-2" @click="isTypeModal=''"></a>
          </p>
          <div class="container pt-2 pb-4">
            <ol class="mt-0 ml-4">
              <li><span class="has-text-danger">優先抵扣體驗點數</span>，剩餘未支付餘額再使用消費點數抵扣。</li>
              <li>使用「快速付款」，將優先使用即將到期之契約的消費點數依序抵扣。</li>
              <li>使用「自選付款」，將可自由選擇契約依序抵扣。</li>
              <li>30天內即將到期契約的消費點數，無法使用。</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <!-- 付款驗證碼 -->
    <div class="modal is-active" style="z-index:1041" v-if="smsModal && smsPayModal!=''">
      <div class="modal-background"></div>
      <div class="modal-content p-4 bg-white w3-card-4 w3-round">
        <p class="text-center mt-3 mb-4">您的驗證碼已發送至 <b class="has-text-info">{{p_mobile}}</b></p>
        <p class="text-center mt-3 mb-4" v-if="isDemoID() && SMSreCode!=''">驗證碼{{SMSreCode}}</p>
        <div class="">
          <input class="input border-b" type="text" placeholder="驗證碼" v-model="SMSValidateCode" @input="checkValue" name="pscode" required>
          <button class="button" style="" :disabled="countNum"  @click="getSMSValidateCode">{{ (countNum) ? `${countNum} 秒後可重發` : '取得驗證碼' }}</button>
        </div>
        <!-- buttons -->
        <div class="columns is-mobile is-variable is-1 m-0 text-center">
          <div class="column py-1">
            <button class="button is-fullwidth is-light" @click="smsModal = false;SMSValidateCode=''">取消</button>
          </div>
          <div class="column py-1">
            <button class="button is-link is-fullwidth" @click="confirmSmsCode()" :disabled="SMSreCode=='' || SMSValidateCode==''">確定扣款</button>
          </div>
        </div>
        <button class="modal-close is-large scale-150 margin-top-env" aria-label="close" @click="smsModal = false"></button>
      </div>
    </div>
    <!-- 綠界EcPay iframe -->
    <transition name="slide-top">
      <div class="bg-white funcLayer" v-if="showEcPayIframe && paySrc !== ''">
        <span class="inline-block is-size-5 has-text-info" style="height:1.75rem;position: absolute;top: 12px;right: 60px;transform:translateY(7px)" @click="closeEcPay()">關閉</span>
        <img src="../../../assets/images/x.svg" class="opacity-50" style="height:1.75rem;position: absolute;top: 12px;right: 20px;transform:translateY(3px)" @click="closeEcPay()">
        <iframe
            :src="paySrc"
            style="width: 100%;height: 100%;"
            frameborder=0 scrolling=auto></iframe>
      </div>
    </transition>
    <!-- 全家-日翊 form -->
    <transition name="slide-top" v-if="showEcmfme">
      <div class="w3-white funcLayer" v-if="ecmfmeSrc && ecmfmeJson">
        <form v-bind:action="ecmfmeSrc" method="post" ref='submitEcmfme'>
          <input type="hidden" name="data" v-bind:value="ecmfmeJson"  />
        </form>
      </div>
    </transition>
  </div>
</template>

<style lang="scss" scoped>
.progressbar-container {
  padding: .75rem 0;
}
.progressbar {
  margin: 0;
  counter-reset: step;
}
.progressbar li {
  list-style: none;
  display: inline-block;
  width: 33.33%;
  position: relative;
  text-align: center;
  cursor: pointer;
  margin-top: 0;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height : 26px;
  border: 2px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 5px auto;
  background-color: #fff;
}
.progressbar li:after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 2px;
  background-color: #ddd;
  top: 15px;
  left: calc(-50% + 15px);
  z-index : 1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: #D69A64;
}
.progressbar li.active:before {
  border-color: #D69A64;
  background: #D69A64;
  color: white;
}
.progressbar li.active + li:after {
  background-color: #D69A64;
}
.delete-alt {
  background: white;
  transform: translateY(-4px);
}
.delete-alt::before,
.delete-alt::after {
  background:lightgray;
}
.readMoreItems {
  overflow: hidden;
  height: 36px;
  position: relative;
}
.readMoreItems::before {
  content:"";
  background: linear-gradient(to top, #fff 30%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding: 20px 0;
}
.readMoreItems::after {
  content:"明細 »";
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  bottom: 0;
  color: var(--primary-color);
  border-radius: 8px;
  left: 50%;
  margin-left: -24px;
  bottom: 8px;
}
.moreFinCheck {
  height: 4.25em;
  overflow: hidden;
}
.wh-coupon {
  flex: 0 0 100%;
  margin: 8px 0;
}
.wh-coupon:last-child {
  margin-bottom: 0;
}
/* 驗證碼倒數文字清楚 */
.secondary-color[disabled] {
  opacity: 1;
}
.flex-rwd {
  flex: 0 0 calc(100% - 72px);
}
@media (min-width:768px) {
  .flex-rwd {
    flex: 0 0 calc(100% - 136px);
  }
}
.scroll-auto-fix {
  overflow-y: auto;
  height: calc(100vh - 50px - env(safe-area-inset-top) - env(safe-area-inset-bottom));
}

.media + .media {
  @apply mt-2;
  @apply pt-2;
}
</style>

<script>
import store from 'src/store'
import { getFoodRule,getFoodKind,calcuData,goCalcuCheckout_data,
foodSrc,delItem, addItem,totalAmount,getMyShopCart,getVipAddr,itmeQtyReload,goCheckout_kakar2,goCalcuCheckout,toDecimal,getUnfinishorder,getUnfinishorderItem,objByTotal,getOrderStatus,checkDeedAct,chkTypeInt,getcheckkind,getOrderitems,moveTempToMarket,delGuestItem } from 'src/libs/market.js'
// import fetchData from '../../libs/fetchData.js'
import { showToast,showAlert,showConfirm,hideModal,CheckCompanyNo } from 'src/libs/appHelper.js'
import { deviseFunction,sendDeviseSMSreCode  } from 'src/libs/deviseHelper.js'//
import { formatTime } from 'src/libs/timeHelper.js'
import { S_Obj, L_Obj } from 'src/fun1.js'	// 共用fun在此!
import { calAgioTotal, calATAmount, ShowPic_FI, this1, GetSetPayChannel } from 'src/fun2.js'	// 共用fun在此!


import ReceiveEdit from '@/components/ReceiveEdit.vue' // 收件資料編輯

const S_CurPAGE = '/cardShopCart';
const IsDev = S_Obj.isDebug 	//開發debug

function GetItem1(mainID, key1) {
	const curOne = store.state.mallData.foodInfo[mainID]
	return curOne ? curOne[key1] : '';
}

export default {
  components: { ReceiveEdit },
  setup() {
    return { calAgioTotal, ShowPic_FI, this1 }
  },
	data: function () {
		return {
			state: this.$store.state,
      receiver_cvs: '',  //收件超商
			isCvs2: false,		// @@超商判斷

			remarkClean: '',
			newShipData: false,
			isShipData: 0,//'01'
			shipToggle: true,
			isTypeModal: '',
			moreFinCheck: false, //更多消費點數
			useCoupon: false, //使用優惠券
			cartIDs:[],//已選品項
			cartGpList:[],//運費群組
			cartGpObj:{},//運費群組:分子項
			chkOrder:{}, //準備結帳的訂單
			chkItems:[], //準備結帳的品項
			okOrder:{}, //已結帳的訂單
			okItems:[], //已結帳的品項
			finishOrder:{}, //已完成的訂單
			finishItems:[], //已完成的品項
			finishChecks:[], //訂單已完成的付款方式
			finishAgio:[],//Agio
			okDeedPoints:[], //可用點數
			deepNoList:[], //選的點數
			tmpDeepNoList:[], //選的點數(暫存)
			nowLockIDs:'',
			unFinishOrder:[], //未付款訂單
			BalanceTotal:0,//消費點數??
			PointMoneyAmount:0, //體驗點數
			BalanceTotal_init:0,//消費點數??
			PointMoneyAmount_init:0, //體驗點數
			tmpDeedPoints:[], //暫時顯示用點數
			tmpOrder:{}, //付款前order 暫時區
			tmpItems:[], //付款前order中品項 暫時區
			lastDeed:0,
			cardDiffText:'',
			countNum:0,
			SMSCurrentQuota:0,
			SMSValidateCode:'',
			smsModal:false,
			smsPayModal:'',
			counter: '',
			p_mobile:'',
			couponList:[],
			selCoupon:[], //所選的優惠券
			couponFareList:[], //運費券
			selFareCoupon:[], //所選的運費券
			useFareCoupon: false, //使用運費券
			finishOrderTemp:{},//已成立的訂單
			finishItemsTemp:[], //已成立的訂單品項
			finishChecksTemp:[], //訂單已成立的付款方式
			finishAgioTemp:[],//訂單已成立的Agio
			showEcPayIframe:false,
			paySrc:'',
			confirmNoteChoosed: '', // 運費選項已選
			carID_feeGp:{}, // 要付款的Item所屬運費或物流費的ID
			fee_obj:{}, //驗算時,區分是物流(CVSCodes) or 運費(PYCode)
			cvsStore:{},//所選的超商門店
        showEcmfme:false,//全家-日翊
        ecmfmeSrc:'', //全家-日翊  src
        ecmfmeJson:'', //全家-日翊  data
		};

	},
	computed: {
		entp(){
			return this.$store.state.baseInfo.EnterpriseID
		},
      supportPay(){
        return this.$store.state.supportPay;
      },
      isCVSBack(){
        return this.$route.query.type=='pay' && this.$route.query.calcu
      },
      calc_fareItem(){
        return this.chkItems.filter((p_item)=>{
          return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
        });
      },
		// 簡訊發送間隔的最低時間 (預設： 50 秒)
		AppSMSIntervalMin() { return parseInt(this.state.SMS_Config.AppSMSIntervalMin) },
		// 簡訊每日發送上限 (預設： 5 封)
		APPSMSDayTimes()    { return parseInt(this.state.SMS_Config.APPSMSDayTimes) },
		// 取簡訊的發送扣打紀錄
		SMSSendQuota()      { return this.state.SMS_Config.SMSSendQuota },
		// 取簡訊驗證碼
		SMSreCode()         { return this.state.SMS_Config.reCode },
		// 取今天日期 (格式： yyyymmdd => e.g. 20190514)
		currentDay()        { return new Date().toISOString().slice(0,10).replace(/-/g,"") },
		// 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
		isLogin() {
			return this.$store.getters.isLogin
		},
		fontSizeBase() {
			return store.getters.fontSizeBase
		},
		mallData() {
			return this.state.mallData;
		},
		userVip(){
			const vipinfo1 	= this.state.baseInfo.memberData.vip_info
				,mem_keys 		= Object.keys(vipinfo1)
			return (mem_keys.length?vipinfo1:this.state.memberData.vip_info);  //有Addr,Mobile
			//store.state.userData; //沒有Mobile
		},
		cvsShop(){
			if (Array.isArray(this.mallData.cvsShopInfo) && this.mallData.cvsShopInfo.length) {
				var cvsStore = this.mallData.cvsShopInfo[0];
				cvsStore.EDC = (cvsStore.EDC && typeof cvsStore.EDC === "string" && cvsStore.EDC !=="" ? JSON.parse(cvsStore.EDC):{});
				return cvsStore;
			}
			return {};
		},
		cvsFee(){
			//key會跟運費的相同(都用流水號),要區分
			var cvsFee = {};
			Object.keys(this.mallData.foodExpresst).map((cvs_key)=>{
				cvsFee['cvs'+cvs_key] = this.mallData.foodExpresst[cvs_key];
			});
			return cvsFee;
		},
		measFee(){
			//key會跟運費的相同(都用流水號),要區分
			let measFee = {};
			Object.keys(this.mallData.foodMeasurement).map((meas_key)=>{
				measFee['meas'+meas_key] = this.mallData.foodMeasurement[meas_key];
			});
			return measFee;
		},
		fMeas(){
			return this.mallData.foodMeasurement;
		},
		feeAll(){
			// console.log('feeAll-foodFreight: ', this.mallData.foodFreight);	// @@
			// console.log('feeAll-cvsFee: ', this.cvsFee);	// @@
			// console.log('feeAll-measFee: ', this.measFee);	// @@
        //運費+物流+材積 的id
        return Object.assign({}, this.mallData.foodFreight, this.cvsFee, this.measFee)
		},
		PYCodeGroup(){
			let p_group = [];
// console.log('PYCodeGroup-shopping_cart: ', this.mallData.shopping_cart);	// @@
			if (this.mallData.shopping_cart.length == 0) return p_group;
			//var freiKey = Object.keys(this.mallData.foodFreight); //運費的all code
			//var cvsKey = Object.keys(this.cvsFee); //超商物流費的all code
        var feeKey = Object.keys(this.feeAll); //運費+超商物流費+材積的all code
        var getPycode = (item)=>{
          //運費
          var py_code = GetItem1(item.MainID, 'PYCode');
          //if (py_code === "" && item.BatchID != undefined) py_code = item.BatchID;//當對應不到時,抓item的pycode
          return py_code;
        }
        var getCvscode = (item)=>{
          //取超商物流費
          var cvs_code = GetItem1(item.MainID, 'CVSCodes');
          //if (cvs_code === "" && item.BatchID != undefined) cvs_code = item.BatchID;//當對應不到時,抓item的
          //var cvs_list = cvs_code.split(',').map((p_cvs)=>{return 'cvs'+p_cvs});
          //cvs_list.sort();
          if (cvs_code === '') return [];
          return cvs_code.split(',').map((p_cvs)=>{return (isNaN(p_cvs) ? p_cvs : (p_cvs !== '' ?'cvs'+p_cvs:''))})
        }
        var getMeas = (item)=>{
          //運費
          const mea_code = GetItem1(item.MainID, 'MEASCodes');
          return mea_code ?('meas'+mea_code) : ''
        }
			// freiKey.map((p_key)=>{
				// var p_list = this.mallData.shopping_cart.filter((item)=>{
					// var pycode = getPycode(item);  //string,運費.單選
					// return item.ItemState!='N' && pycode === p_key;//品項裡有

				// });
				// const p_obj= Object.assign({}, this.mallData.foodFreight[p_key])
				// p_obj.list = p_list;
				// p_group.push(p_obj);
			// });
			var failItem = [];
			var haveFeeGroup = {};
			var noPY_list = this.mallData.shopping_cart.filter((item)=>{
          var pycode = getPycode(item) || "";
          let allCode = getCvscode(item) || [];
          let measCode = getMeas(item) || [];
          if (pycode !== "") allCode.push(pycode);
          if (measCode !== "" && measCode.length) allCode.push(measCode);
          //var allCode = (pycode !== "" ? cvscode.push(pycode) : cvscode);
				var findall = feeKey.filter((e) => {
					return allCode.indexOf(e) > -1;
				});
				if (item.ItemState!='N' && findall.length) {
					const group_key = allCode.join("-");
					if (haveFeeGroup[group_key]){
						haveFeeGroup[group_key].list.push(item);
					}else{
						var gp_name = [];
						allCode.map((fee_key)=>{
							//cvs開頭是超商物流
							if (isNaN(fee_key) && /cvs/.test(fee_key)) {
							const obj1 = this.cvsFee[fee_key]
							IsDev && console.log('取超商物流費-obj1: ', obj1);	// @@
								gp_name.push(obj1 ? obj1["Name"] : "");
							} else {	//fee_key純數字是原運費
							const obj1 = this.mallData.foodFreight[fee_key]
								gp_name.push(obj1 ? obj1["Name"] : "");
							}
						});
						haveFeeGroup[group_key] = {
							Name:gp_name.join("-"),
							list:[],
							GID:group_key,
							ID:group_key,
						};
						haveFeeGroup[group_key].list.push(item);
					}

				}

				if (item.ItemState==='N') failItem.push(item);
				return item.ItemState!='N' && findall.length < 0; //沒有運費及物流的品項.
			});

			Object.keys(haveFeeGroup).map((fee_gp)=>{
				p_group.push(haveFeeGroup[fee_gp]);
			});
			noPY_list.length && p_group.push({Name:"無",list:noPY_list,GID:'noKindListxxx01'});
			failItem.length && p_group.push({Name:"失效商品",list:failItem,GID:'failItemListxxx01'});
		// console.log('PYCodeGroup-p_group: ', p_group);	// @@
			return p_group;
		},
		/* 總金額 */
		selectTotal(){
			var p_total = 0;
			const arrcartID = this.cartIDs
			if(arrcartID.length) {
				this.PYCodeGroup.map((pycode)=>{
					if (Array.isArray(pycode.list)){
						pycode.list.map((chCart)=>{
							if (arrcartID.indexOf(chCart.ID) > -1) p_total += toDecimal(chCart.Total);
							return chCart.ID;
						});
					}
				});
			}
			return p_total;
		},
		failCartList(){
			var faiiList =[];
			if (this.PYCodeGroup.length) {
				var failGp= this.PYCodeGroup.filter((pycode)=>{
					return pycode.GID === 'failItemListxxx01';
				});
				if (failGp.length) faiiList = (failGp[0]).list;
			}

			return faiiList;
		},
		points()     { return this.state.memberData.card_info.Points ? parseInt(this.state.memberData.card_info.Points) : 0 },
		thirdPartyPay(){
			return this.state.mallData.thirdPartyPay
		},
		/* 付款方式 */
		pay_arr(){
			return this.state.mallData.checkKind_list;
		},
		becomeSt(){
			return this.state.mallData.becomeApp
		},
		/* 是否超商取貨 */
		isCvs(){
			const isTrue = Object.keys(this.fee_obj).indexOf("CVSCodes") > -1
			IsDev && console.log('是否超商取貨-CVSCodes,fee_obj: '+isTrue, this.fee_obj);	// @@
			// return isTrue || this.isCvs2;
			return isTrue;
		},
		isMeas(){
			return this.fee_obj && Object.keys(this.fee_obj).indexOf("MEASCodes") > -1;
		},
	},
	// 頁面模組
	methods: {
		foodSrc,
		delItem,
		addItem,
		totalAmount,
		formatTime,
		calAmount(v1) {return calATAmount.call(this, v1);},
		closeEcmfme(){
			const p_close = ()=>{
				this.showEcmfme=false;
				this.ecmfmeSrc='';
				this.ecmfmeJson='';
				hideModal();
				this.$store.commit('setCssTouch', true);
			}
			p_close();
		},
		closeEcPay(){
			const p_close = ()=>{
				this.showEcPayIframe = false;
				hideModal();
				this.$store.commit('setCssTouch', true);
			}
			this.refreshSingle((isPay)=>{
				if (!isPay){
					showConfirm("交易處理中,確定關閉?") // to delete => showConfirm2 -> showConfirm
					// 點擊確認執行
					.then(() => {
						p_close();
					})
					// 點擊取消執行 => 關閉 confirmn 視窗
					.catch(() => hideModal())

				}else{
					p_close();
				}
			});
		},
		checkValue(e){
			//TODO: 因為iOS13.x,自動填入驗證碼會重複二次,所以暫時限定只能Key四碼
			if (typeof(JSInterface) !== 'undefined' && typeof e.target.value === "string") this.SMSValidateCode=e.target.value.substring(0, 4);
		},
		delItem_click(item,isDel){
			delItem(item,isDel,()=>{
				var del_index = this.cartIDs.indexOf(item.ID);
				if (del_index > -1) this.cartIDs.splice(del_index,1)
				this.checkSelectPYCode();
			});
		},
		checkSelectPYCode(){
			//若運費群組的ID已消失,勾選的ID也要拿掉
			var availObj = this.PYCodeGroup.filter((p_code)=>{
				return Array.isArray(p_code.list) && p_code.list.length;
			});
			var available = availObj.map((av)=>{return av.GID});

			let result = this.cartGpList.filter((e)=>{
				return available.indexOf(e) > -1
			})
			if (result.length == 0) this.checkCartGp();
		},
		/* 使用運費券 */
		checkFareMax(e, p_index){
			var input = e.target;
			if (e.target.control){input = e.target.control;}
			const isChecked = input.checked === true;
			if (isChecked){
				const p_coupon = this.couponFareList[p_index];
				const p_discount = parseInt(p_coupon.TicketDisCount);
				const p_Price = parseInt(p_coupon.TicketPrice);
				const p_Freight = this.chkOrder.Freight; //運費

				if (p_discount == 0 && this.calc_fareItem.length > 0){
					const p_agioP = p_Freight - p_Price;
					// IsDev && console.log('使用運費券-p_agioP, p_discount, 運費: ', p_agioP, p_discount, p_Freight);	// @@

					if (p_agioP < 0){
						showConfirm("您所選擇的運費折抵券高於本單運費，可全額折抵本單運費，惟本運費折抵券多餘之款項、無法折抵訂單金額。是否確定要使用？", '確定', '取消')
						// 點擊確認執行
						.then(() => {
							hideModal();
							if(this.useFareCoupon) this.calcuCheckout(this.selCoupon,this.selFareCoupon);
							//if(this.useFareCoupon) this.calcuCheckout(this.selCoupon,this.cartGpList,this.selFareCoupon);
						})
						// 點擊取消執行 => 關閉 confirmn 視窗
						.catch(() => {
							setTimeout(() => {
								hideModal();
								this.selFareCoupon = [];
								input.checked = !isChecked;
							}, 0)
						})

					}else if(this.useFareCoupon){
						this.calcuCheckout(this.selCoupon,this.selFareCoupon);

					}
					//if(this.useFareCoupon) this.calcuCheckout(this.selCoupon,this.cartGpList,this.selFareCoupon);
				}
			}
		},
		checkTmpDeed(e,p_index){
			//(e,p_index,deeds,selectList,p_total)
			this.lastDeed = checkDeedAct(e,p_index,this.tmpDeedPoints,this.tmpDeepNoList,this.BalanceTotal);
		},
		checkDeed(e,p_index){
			// var input = e.target.control; // 目前選取欄位
			this.lastDeed = checkDeedAct(e,p_index,this.okDeedPoints,this.deepNoList,this.BalanceTotal);
		},
		/* 訂單明細 */
		goUnfinishorderItem(orderID,uIndex){
			getUnfinishorderItem(orderID,(p_items)=>{
				if (Array.isArray(p_items)) this.unFinishOrder[uIndex]["items"] = p_items;
				this.mallData.isCarUI = !this.mallData.isCarUI;//觸發UI更新用
			});
		},
		// chkCheckout(){
			// const has_cartIDs = !!this.cartIDs.length
			// if (!has_cartIDs) 	showToast("尚未選擇品項");
			// // if (this.tmpDeepNoList.length == 0) showToast("尚未選擇契約");

			// const orderInfo = {
				// "ID": this.cartIDs,
				// "deedPoint": [],
				// "TicketInfoID": this.selCoupon,
				// "FareTicketInfoID": this.selFareCoupon,
				// "PreAddr": this.addrs,
				// "PrePhone": this.phone1,
				// "PreName": this.receiver
			// }

			// if (has_cartIDs && this.tmpDeepNoList.length) {
				// goCheckout(orderInfo,(data)=>{
					// const oTemp1 = data.OrdersTemp;
					// if (oTemp1.length){
						// this.cartIDs=[];
						// if (Array.isArray(oTemp1)) this.okOrder = oTemp1[0];
						// this.okItems = data.ItemsTemp || [];

						// let p_freight = this.okItems.filter((p_item)=>{
							// return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
							// // return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
						// });
						// this.okOrder.Total = toDecimal(this.okOrder.Total);
						// this.okOrder.itemTotal = objByTotal(this.okItems,"Total");
						// this.okOrder.Freight = 0;
              // this.okOrder.FreightInit = 0;
						// if (p_freight.length){
							// this.okOrder.Freight = objByTotal(p_freight,"Total");//toDecimal(p_freight[0]["Price"]);//運費
							// this.okOrder.FreightInit = objByTotal(p_freight,"Price");//原始運費
						// }
						// this.okOrder.SubTotal = toDecimal(this.okOrder.itemTotal - this.okOrder.Freight);//運費
						// if (Array.isArray(data.DeedPoints)) this.okDeedPoints = data.DeedPoints;

						// this.$router.push({ path: S_CurPAGE, query: { type: 'pageDeed' } });
			//   }else{
						// showToast("訂單異常");
			//   }
			// });
			// }
		// },
		chkCheckout_finish(){
			//正常流程,購物車-->自選付款
			const has_cartIDs = !!this.cartIDs.length
			if (!has_cartIDs) 	showToast("尚未選擇品項");

			var isDeed = this.tmpDeepNoList.length == 0 && this.tmpDeedPoints.length > 0;
			if (isDeed) showToast("尚未選擇契約");

			if (has_cartIDs && !isDeed) {
				this.smsPayModal = "selectPay";
				this.smsModal=true;
				this.getSMSValidateCode();
			}
		},
		// doCheckout_finish(){
			// const vipinfo2 = this.getVipinfo();
			// goCheckout(this.cartIDs, [], vipinfo2, this.selCoupon, (data) => {
				// const oTemp1 = data.OrdersTemp;
				// if (oTemp1.length){
					// this.cartIDs=[];
					// this.loadSpCart();
					// finishCheckout(oTemp1[0]["ID"],this.tmpDeepNoList,vipinfo2,this.selCoupon,(finData)=>{
						// this.cleanVal();
						// this.tmpDeepNoList=[];
						// const isTrue = Array.isArray(finData.Orders) && finData.Orders.length
						// if (isTrue){
							// this.finishOrder = finData.Orders[0];
							// this.finishItems = finData.OrderItem || [];
							// this.finishChecks = finData.Checks || [];
							// this.finishAgio = finData.Agio || [];
							// let p_freight = this.finishItems.filter((p_item)=>{
								// return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
								// // return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
							// });
							// this.finishOrder.Total = toDecimal(this.finishOrder.Total);
							// this.finishOrder.itemTotal = objByTotal(this.finishItems,"Total");
							// this.finishOrder.Freight = 0;
							// if (p_freight.length > 0){
								// this.finishOrder.Freight = objByTotal(p_freight,"Price");//toDecimal(p_freight[0]["Price"]);//運費

							// }
							// this.finishOrder.SubTotal = toDecimal(this.finishOrder.itemTotal - this.finishOrder.Freight);//運費
							// this.$router.replace({ path: S_CurPAGE , query: { type: 'finished' } });

						// }else{
							// showToast("付款異常");
						// }
					// });

				// }else{
					// showToast("訂單異常");
				// }

			// });
		// },
		/* 自選付款 */
		// chkDeedpoints(){
			// if (this.cartIDs.length == 0) showToast("尚未選擇品項");
			// if (this.PointMoneyAmount_init <= 0 && this.BalanceTotal_init <= 0) showAlert("無點數可支付");
			// this.tmpDeepNoList = [];

			// if (this.cartIDs.length > 0 && (this.PointMoneyAmount_init+this.BalanceTotal_init) > 0) {
				// if (this.BalanceTotal > 0){
					// getDeedpoints((p_point)=>{
						// // tmpDeedPoints
						// p_point = p_point ||[];
						// this.tmpDeedPoints = p_point;
						// this.$router.replace({ path: S_CurPAGE, query: { type: 'pageDeedTemp' } });

					// });
				// }else{
					// this.tmpDeedPoints = [];
					// this.tmpDeepNoList = [];
					// showToast("消費點數付款為0,請選擇快速付款");
				// }
			// }
		// },
		/* 確認結帳 */
		async chkOkCheckout(){
			const payChannel = this1.p_PayChannel
			if (!payChannel) 		return showAlert("請選擇付款方式");
			if (!this1.addrs) 	return showAlert("請填寫收件地址");
			if (!this1.phone1) 	return showAlert("請填寫聯絡電話");

			const uniform = this1.uniform
			// console.log('確認結帳-uniform: ', uniform);	// @@
			if (uniform && !CheckCompanyNo(uniform)) 				return showAlert("統一編號錯誤");

			const cvsPay = ["ecCvsPay","ecmfmeCvsPay"];
			if (this.isCvs && this.supportPay.concat(cvsPay).indexOf(payChannel) < 0) return showAlert("超商取貨限定用線上支付");
	//this.fee_obj超商運送(cvscode)或一般運送(pycode)
			let p_SpecLimit = (this.isCvs ? 'cvs'+this.fee_obj.CVSCodes:this.fee_obj.PYCode);//記錄運送方式,cvs開頭是超商物流,純數字為一舨運送
			p_SpecLimit =  (this.isMeas && this.isCvs? p_SpecLimit+'-meas'+this.fee_obj.MEASCodes : p_SpecLimit);//若有材積,加此註記,運送方式 + '-' + 材積

			const vip_obj = Object.assign({}, {
					PreAddr: this1.addrs,
					PrePhone: this1.phone1,
					// PreName: this1.receiver,
					PreName: this1.receiver + '-' + this.receiver_cvs,
					VendNo: uniform,
					PayChannel: payChannel,
					PreSpecLimit: p_SpecLimit
				}, this.fee_obj)
			const orderInfo = {
				"ID":this.cartIDs,
				"deedPoint":[],
				"TicketInfoID":this.selCoupon,
				"FareTicketInfoID":this.selFareCoupon
			}

			goCheckout_kakar2(orderInfo, vip_obj,(data)=>{
				GetSetPayChannel(payChannel);

				IsDev && console.warn('確認結帳_goCheckou: ', data);	// @@
				const data_arr 	= data[payChannel]
					,isOtherPay 	= Array.isArray(data_arr) && data_arr.length > 0
					,ec_payUrl 		= isOtherPay ? data_arr[0]["urlToken"] : '';
// console.warn('確認結帳_ec_payUrl: ', ec_payUrl);	// @@
// let bon = true		// @@test
// if (bon)	return ;	// @@debug

				// if (isOtherPay && /Scan2Pay|Newebpay|TSPGpay/.test(payChannel)){
				if (isOtherPay && this.supportPay.indexOf(payChannel) > -1){
					getMyShopCart((cart_data)=>{
						if (cart_data && cart_data.ErrorMsg) this.showFailItem(cart_data.ErrorMsg);
						itmeQtyReload();//重算購物車上,品項及類別數量
						this.goFinishTemp(data, ec_payUrl);
						this.openOurl(ec_payUrl); //另開頁面
					},false);

				} else if (Array.isArray(data.OrdersTemp) && data.OrdersTemp.length > 0){
					this.goFinishTemp(data);
				} else if (Array.isArray(data.Orders) && data.Orders.length > 0){
					this.cartIDs=[];
					this.finishOrder = data.Orders[0];
					if (Array.isArray(data.Agio) && data.Agio.length > 0){
						const fareAgio = data.Agio.filter((p_agio)=>{
							return this.chkStr(p_agio.Owner); //單品Agio,運費Owner=Zxxx
						});
						if (fareAgio.length > 0) this.finishOrder.fareAgio = fareAgio[0];
					}

					this.finishItems = data.OrderItem || [];
					this.finishChecks = data.Checks || [];
					this.finishAgio = data.Agio || [];
					var t_freight = this.finishItems.filter((p_item)=>{
						return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
						// return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
					});
					this.finishOrder.Total = toDecimal(this.finishOrder.Total);
					this.finishOrder.itemTotal = objByTotal(this.finishItems,"Total");
					this.finishOrder.Freight = 0;
              this.finishOrder.FreightInit = 0;
					if (t_freight.length > 0){
                this.finishOrder.Freight = objByTotal(t_freight,"Total");//運費
                this.finishOrder.FreightInit = objByTotal(t_freight,"Price");//原始運費
					}
					this.finishOrder.SubTotal = toDecimal(this.finishOrder.itemTotal - this.finishOrder.Freight);//運費
					this.$router.replace({ path: S_CurPAGE, query: { type: 'finished' } });

					this.loadSpCart();
				}else{
					showAlert("訂單成立失敗");
				}

			});
		// }else{
		//  showToast("貨到付款籌備中...敬請期待");
		// }
		},
		openOurl(p_url){
			setTimeout(() => {
				if (typeof(JSInterface) !== 'undefined') {
					deviseFunction('openWeburl', p_url, 'cbFnOpenWeburl')

				} else {
					window.open(p_url, '_blank')
				}
			}, 200)
		},
		goFinishTemp(data, scan2PayUrl) {
			this.finishOrderTemp = {};
			this.finishItemsTemp = [];

			const oTemp1 = data.OrdersTemp;
			if (oTemp1.length){
				// IsDev && console.warn('goFinishTemp_OrdersTemp: ', oTemp1);	// @@
				this.finishOrderTemp = oTemp1[0];
				if (Array.isArray(data.Agio) && data.Agio.length > 0){
					const fareAgio = data.Agio.filter((p_agio)=>{
						return this.chkStr(p_agio.Owner); //單品Agio,運費Owner=Zxxx
					});
					if (fareAgio.length > 0) this.finishOrderTemp.fareAgio = fareAgio[0];
				}

				if (scan2PayUrl) this.finishOrderTemp.scan2PayUrl = scan2PayUrl;
				//this.couponList = data.VipTicket || [];
				this.finishItemsTemp = data.ItemsTemp || [];

				var p_freight = this.finishItemsTemp.filter((p_item)=>{
					return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
				});

				this.finishOrderTemp.Total = toDecimal(this.finishOrderTemp.Total);
				this.finishOrderTemp.CheckTotal = toDecimal(this.finishOrderTemp.CheckTotal);
				this.finishOrderTemp.itemTotal = objByTotal(data.ItemsTemp,"Total");
            this.finishOrderTemp.Freight=0;
            this.finishOrderTemp.FreightInit=0;
            if (p_freight.length > 0){

              this.finishOrderTemp.Freight = objByTotal(p_freight,"Total");//toDecimal(p_freight[0]["Price"]);//運費
              this.finishOrderTemp.FreightInit = objByTotal(p_freight,"Price");//原始運費
            }

				this.finishOrderTemp.SubTotal = toDecimal(this.finishOrderTemp.itemTotal - this.finishOrderTemp.Freight);

				this.$router.replace({ path: S_CurPAGE, query: { type: 'finishedTemp' } }) //跳過getExpired

				this.loadSpCart();
			}
		},
		/* 刷新 */
		async refreshSingle(fn){
			// console.warn('refreshSingle_finishOrderTemp: ', this.finishOrderTemp);	// @@
			await store.dispatch('fetchOrder_single', {ID: this.finishOrderTemp.ID}) // 取得已完成訂單
			if (Array.isArray(this.mallData.singleFinish) && this.mallData.singleFinish.length > 0){

				getOrderitems(this.finishOrderTemp.ID,(p_items,p_checks,p_agios)=>{
					this.finishOrder = this.mallData.singleFinish[0];
					this.finishItems = [];
					this.finishChecks = [];
					this.finishAgio = [];

					if (Array.isArray(p_items)) this.finishItems = p_items;
					if (Array.isArray(p_checks)) this.finishChecks = p_checks;
            if (Array.isArray(p_agios)){
              this.finishAgio = p_agios;
              const fareAgio = p_agios.filter((p_agio)=>{
                return this.chkStr(p_agio.Owner); //單品Agio,運費Owner=Zxxx
              });
              if (fareAgio.length > 0) this.finishOrder.fareAgio = fareAgio[0];
            }
					var p_freight = this.finishItems.filter((p_item)=>{
						return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
						// return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
					});
					this.finishOrder.Total = toDecimal(this.finishOrder.Total);
					this.finishOrder.itemTotal = objByTotal(this.finishItems,"Total");
					this.finishOrder.Freight = 0;
            this.finishOrder.FreightInit = 0;
					if (p_freight.length > 0){
              this.finishOrder.Freight = objByTotal(p_freight,"Total");//toDecimal(p_freight[0]["Price"]);//運費
              this.finishOrder.FreightInit = objByTotal(p_freight,"Price");//原始運費
					}
					this.finishOrder.SubTotal = toDecimal(this.finishOrder.itemTotal - this.finishOrder.Freight);//運費

					this.paySrc="";
					this.$router.replace({ path: S_CurPAGE, query: { type: 'finished' } });
					if (typeof fn === 'function') fn(true);

				});
			}else{
				showToast("此訂單尚未付款完成");
				if (typeof fn === 'function') fn(false);
			}

		},
		async goPartyPay(p_orderid){
			await store.dispatch('fetchAppThirdPartyPay',{OrderID:p_orderid})
			if (!this.thirdPartyPay.Header || !this.thirdPartyPay.Data) return showToast("交易取得異常");
			if (this.thirdPartyPay.Header.StatusCode!="0000") return showAlert(this.thirdPartyPay.Header.StatusDesc);


			// return window.location.href = this.thirdPartyPay.Data.urlToken
			getMyShopCart((data)=>{
				if (data && data.ErrorMsg) this.showFailItem(data.ErrorMsg);

				itmeQtyReload();//重算購物車上,品項及類別數量
				if (typeof(JSInterface) !== 'undefined') {
					deviseFunction('openWeburl', this.thirdPartyPay.Data.urlToken, 'cbFnOpenWeburl')
					//return window.location.href = this.thirdPartyPay.Data.urlToken
					// 在瀏覽器 => 瀏覽器新開一個tab
				} else {
					window.open(this.thirdPartyPay.Data.urlToken, '_blank')
				}
			},false);

		},
		/* 快速付款 */
		// chkQuickCheckout(){
			// if (this.cartIDs.length == 0) showToast("尚未選擇品項");
			// if (this.PointMoneyAmount_init <= 0 && this.BalanceTotal_init <= 0) showAlert("無點數可支付");
			// if (this.cartIDs.length > 0 && (this.PointMoneyAmount_init+this.BalanceTotal_init) > 0) {
				// this.smsPayModal = "quickChk";
				// this.smsModal=true;
				// this.getSMSValidateCode();
			// }
			// this.$store.commit('setCssTouch', false)
		// },
		// 確認驗證碼
		confirmSmsCode() {
			// 判斷是否在殼裡面
			const inDeviseApp = (typeof(JSInterface) == 'object')

			if (inDeviseApp && this.SMSreCode == '') return showAlert('請先取得簡訊驗證碼')
			if (inDeviseApp && (this.SMSreCode != this.SMSValidateCode) ) return showAlert('簡訊驗證碼錯誤！')
			// 驗證 ok -> 清除 SMSreCode
			this.$store.commit('setSMSreCode', '')

			// 進入註冊表單頁面
        // if (this.smsPayModal == 'quickChk') {
        //   this.doQuickCheckout()
			// }else if (this.smsPayModal == 'selectPay'){
				// this.doCheckout_finish()
			// }else if (this.smsPayModal == 'unFinishPay'){
				// this.dofinishCheckout();
			// }
			this.smsModal = false;
			this.smsPayModal='';
		},
		// doQuickCheckout(){
			// const vipinfo2 = this.getVipinfo();
			// quickCheckout(this.cartIDs, vipinfo2, this.selCoupon, (data) => {
				// if (Array.isArray(data.Orders) && data.Orders.length > 0){
					// this.cartIDs=[];
					// if (Array.isArray(data.Orders)) this.finishOrder = data.Orders[0];
      //       if (Array.isArray(data.Agio) && data.Agio.length > 0){
      //         const fareAgio = data.Agio.filter((p_agio)=>{
      //           return this.chkStr(p_agio.Owner); //單品Agio,運費Owner=Zxxx
      //         });
      //         if (fareAgio.length > 0) this.finishOrder.fareAgio = fareAgio[0];

      //       }
					// this.finishItems = data.OrderItem || [];
					// this.finishChecks = data.Checks || [];
					// this.finishAgio = data.Agio || [];
					// var p_freight = this.finishItems.filter((p_item)=>{
						// return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
						// // return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
					// });
					// this.finishOrder.Total = toDecimal(this.finishOrder.Total);
					// this.finishOrder.itemTotal = objByTotal(this.finishItems,"Total");
					// this.finishOrder.Freight = 0;
					// if (p_freight.length > 0){
      //         this.finishOrder.Freight = objByTotal(p_freight,"Total");//運費
      //         this.finishOrder.FreightInit = objByTotal(p_freight,"Price");//原始運費
					// }
					// this.finishOrder.SubTotal = toDecimal(this.finishOrder.itemTotal - this.finishOrder.Freight);//運費
					// this.$router.replace({ path: S_CurPAGE, query: { type: 'finished' } });

					// this.loadSpCart();
				// }else{
					// showToast("付款異常");
				// }

			// });
		// },
		showFailItem(errMsg){
			this.cardDiffText = errMsg;
			this.isTypeModal='cardDiff';
			this.$store.commit('setCssTouch', false);
		},
		loadSpCart(){
			getMyShopCart((data)=>{
				if (data && data.ErrorMsg) this.showFailItem(data.ErrorMsg);

				itmeQtyReload();//重算購物車上,品項及類別數量
			},false);
		},
		/* 抓運費1 */
      chkStr(p_str,isOnlyZ00){
			var p_arr = p_str.split('Z00');
        if (!isOnlyZ00 && !(p_arr.length == 2 && p_arr[0]=='')) return this.chkCvsStr(p_str);
			return p_arr.length == 2 && p_arr[0]=='';
		},
		/* 抓運費2 */
		chkCvsStr(p_str){
			var p_arr = p_str.split('Y00');
			return p_arr.length == 2 && p_arr[0]=='';
		},

		checkCartGp(){
			this.cartGpList=[];

			this.PYCodeGroup.map((pycode,pIndex)=>{
				if (Array.isArray(pycode.list) && pycode.GID != 'failItemListxxx01'){
            if(this.cartGpList.length == 0 && pycode.list.length > 0 && !this.isCVSBack) this.cartGpList.push(this.PYCodeGroup[pIndex]["GID"]);

					this.cartGpObj[pycode.GID] = (pycode.list).map((chCart)=>{
						return chCart.ID;
					});
				}
			});
		},
		chkFinishCheckout(){
			// if (this.deepNoList.length == 0) showToast("尚未選擇契約");
			var isDeed = this.deepNoList.length == 0 && this.okDeedPoints.length > 0;
			if (isDeed) showToast("尚未選擇契約");
			if (!isDeed) {
				this.smsPayModal = "unFinishPay";
				this.smsModal=true;
				this.getSMSValidateCode();

			}
		},

		// dofinishCheckout(){
			// const vipinfo2 = this.getVipinfo();
			// finishCheckout(this.okOrder.ID, this.deepNoList, vipinfo2, [], (data) => {
				// this.cleanVal();
				// if (Array.isArray(data.Orders) && data.Orders.length > 0){
					// this.deepNoList=[];
					// if (Array.isArray(data.Orders)) this.finishOrder = data.Orders[0];
      //       if (Array.isArray(data.Agio) && data.Agio.length > 0){
      //         const fareAgio = data.Agio.filter((p_agio)=>{
      //           return this.chkStr(p_agio.Owner); //單品Agio,運費Owner=Zxxx
      //         });
      //         if (fareAgio.length > 0) this.finishOrder.fareAgio = fareAgio[0];

      //       }
					// this.finishItems = data.OrderItem || [];
					// this.finishChecks = data.Checks || [];
					// this.finishAgio = data.Agio || [];
					// var p_freight = this.finishItems.filter((p_item)=>{
						// return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
						// // return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
					// });
					// this.finishOrder.Total = toDecimal(this.finishOrder.Total);
					// this.finishOrder.itemTotal = objByTotal(this.finishItems,"Total");
					// this.finishOrder.Freight = 0;
      //       this.finishOrder.FreightInit = 0;
					// if (p_freight.length > 0){
      //         this.finishOrder.Freight = objByTotal(p_freight,"Total");//toDecimal(p_freight[0]["Price"]);//運費
      //         this.finishOrder.FreightInit = objByTotal(p_freight,"Price");//原始運費
					// }
					// this.finishOrder.SubTotal = toDecimal(this.finishOrder.itemTotal - this.finishOrder.Freight);//運費
					// this.$router.replace({ path: S_CurPAGE, query: { type: 'finished' } });

				// }else{
					// showToast("付款異常");
				// }

			// });
		// },
		/* 付款去 */
		nextPage(){
			if(!this.cartIDs.length) 		return showToast("尚未選擇品項");
			//if(this.cartIDs.length > 0 && Object.keys(this.cartGpObj).length == 0) this.checkCartGp();
			const p_carID = this.cartIDs[0]; //只能有一種運費群組,以第一筆為代表.
			//[cvs1-cvs2-1]
			//cartGpList基本上只會選到一個群組,取第一筆

			const it1 = this.carID_feeGp[p_carID] || ''
			// IsDev && console.log('付款去-p_carID, it1: '+p_carID, it1);	// @@
			if (it1){
				/* 針對只有1個付款方式時,預設勾選第1個 */
				const arrPay = this.pay_arr
				// IsDev && console.log('付款去_pay_arr: ', arrPay);	// @@
				if (arrPay.length == 1) {
					const payChannel = arrPay[0].ID
					this1.p_PayChannel = payChannel;
					GetSetPayChannel(payChannel);
				}

				const gpID_list = it1.split('-');
				if (gpID_list.length > 1){
					var gp = [];
					gpID_list.map((fee_key)=>{
						// fee_key純數字是原運費, cvs開頭是超商物流
						const isCVS = isNaN(fee_key) && /cvs/.test(fee_key)
							,isMeas 	= isNaN(fee_key) && /meas/.test(fee_key)
							,gp_obj 	= isCVS ? this.cvsFee[fee_key] : isMeas ? this.measFee[fee_key] : this.mallData.foodFreight[fee_key];
						if (!isMeas && gp_obj){
                //材積不用列入選項
							gp_obj["code"] = fee_key;
							gp_obj["text"] = gp_obj["Name"] || "";
							gp.push(gp_obj);
						}
					});

				if (gp.length == 1){
					IsDev && console.log('付款去-gp: ', gp);	// @@
					this.calc_Fee(gp[0].code);
					this.gonextPage();
				} else {
					this.popShowConfirm(gp);
				}

				}else if (gpID_list.length == 1){
					// console.log('付款去-gpID_list: ', gpID_list);	// @@
					this.calc_Fee(gpID_list[0]);
					this.gonextPage();
				}else{
					showToast("運費類別尚未就緒");
				}
			}

		},
		gonextPage(){
			if(this.cartIDs.length > 0) {
				this.chkItems = [];
				this.tmpItems = [];
				this.calcuCheckout();
			}
		},
		/* 計算結帳 */
		async calcuCheckout(){
			let other_obj = Object.assign({}, this.fee_obj);

			const orderInfo = {"ID":this.cartIDs,"TicketInfoID":this.selCoupon, "FareTicketInfoID":this.selFareCoupon}
			// if (this.isCvs && !conpon_list){
			if (this.isCvs && !this.isCVSBack){ //防止在勾選優惠/運費券時會重跳至超商,改為isCVSBack來判斷
					//如果有選超商,優惠券 or 運費券,超商callback回來可用短網址取驗算json
					const surl = await store.dispatch('calcuSurl',{data:calcuData(Object.assign({},orderInfo, this.fee_obj))})
					//const surl = await store.dispatch('calcuSurl',{data:calcuData(this.cartIDs,coupon,this.fee_obj,fareCoupon)})
					,v_path  = `?type=pay&calcu=${surl}`
					,v_url 	 = location.href + v_path;
				other_obj.CVSbackUrl = encodeURIComponent(v_url);
			}
			// console.log('計算結帳-other_obj: ', other_obj);	// @@

			// console.log('計算結帳-goCalcuCheckout: ', goCalcuCheckout);	// @@
			goCalcuCheckout(Object.assign({}, orderInfo, other_obj),(data)=>{
				this.goCalcuCheckout_ok(data);
			});

		},

		goCalcuCheckout_ok(data){
			// console.log('goCalcuCheckout_ok-data: ', data);	// @@
			const oTemp1 = data.OrdersTemp;
			if (oTemp1.length){
				this.tmpOrder = this.chkOrder = oTemp1[0]; // (先撈好)快速/自選頁,選契約
				// this.couponList = data.VipTicket || [];
				this.couponList = data.VipTicket.filter(vi =>parseInt(vi.TicketFlag) != 6) || [];
				this.couponFareList = data.VipTicket.filter(vi2=>parseInt(vi2.TicketFlag) == 6) || [];
				if (Array.isArray(data.Agio) && data.Agio.length > 0){
					const fareAgio = data.Agio.filter((p_agio)=>{
						return this.chkStr(p_agio.Owner); //單品Agio,運費Owner=Zxxx
					});
					if (fareAgio.length > 0){
						this.chkOrder.fareAgio = fareAgio[0];
						this.tmpOrder.fareAgio = fareAgio[0];
					}
				}

				const arrItems = this.chkItems = data.ItemsTemp || [];
				// this.tmpItems = data.ItemsTemp || [];

				// console.warn('計算結帳-oTemp1: ', oTemp1);	// @@
	// console.warn('goCalcuCheckout_ok-chkItems: ', arrItems);	// @@
			/** @Debug: 待查用 */
// ==>
			if (IsDev) {
				let tmparr1 = []
				arrItems.forEach((o1)=>{
					let {ID,FoodName,Price,tmpSelected} = o1
					tmparr1.push({ID,FoodName,Price,tmpSelected});
				})
				console.table(tmparr1)	// @@
			}
// <==

				var p_freight = arrItems.filter((p_item)=>{
					return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
            // return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
				});
          // var p_cvsFee = this.chkItems.filter((p_item)=>{
          //   return this.chkCvsStr(p_item.FoodID) && this.chkCvsStr(p_item.MainID) && this.chkCvsStr(p_item.KindID);
          //   // return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
          // });
				// console.log('goCalcuCheckout_ok-p_freight: ', p_freight);	// @@
				this.chkOrder.Total = toDecimal(this.chkOrder.Total);
				this.chkOrder.CheckTotal = toDecimal(this.chkOrder.CheckTotal);
				this.chkOrder.itemTotal = objByTotal(data.ItemsTemp,"Total");
				this.chkOrder.Freight=0;
          this.chkOrder.FreightInit=0;
				this.tmpOrder.Total = toDecimal(this.tmpOrder.Total);
				this.tmpOrder.CheckTotal = toDecimal(this.tmpOrder.CheckTotal);
				this.tmpOrder.itemTotal = objByTotal(data.ItemsTemp,"Total");
				this.tmpOrder.Freight=0;
				this.tmpOrder.FreightInit=0;
				if (p_freight.length > 0){
					this.tmpOrder.Freight = this.chkOrder.Freight = objByTotal(p_freight,"Total");
					this.tmpOrder.FreightInit = this.chkOrder.FreightInit = objByTotal(p_freight,"Price");
					//toDecimal(p_freight[0]["Price"]);//運費
				}
				if (this.isCvs){
					const p_cvs = this.mallData.foodExpresst[this.fee_obj.CVSCodes] || {};
					this.tmpOrder.CvsFeeName = this.chkOrder.CvsFeeName = p_cvs.Name || "";
					this.tmpOrder.isCvsFeePay = this.chkOrder.isCvsFeePay = p_cvs.IsCollection;
					// this1.p_PayChannel = '';		// 不要清,會把原選擇弄掉

					if (p_cvs.Supplier == "ecmfme" && p_cvs.IsCollection) this1.p_PayChannel = 'ecmfmeCvsPay';
					if (p_cvs.Supplier == "ecpay" && p_cvs.IsCollection) this1.p_PayChannel = 'ecCvsPay'; //超商付款的話,預設綠界超商取貨付款
				}

				this.chkOrder.SubTotal = toDecimal(this.chkOrder.itemTotal - this.chkOrder.Freight);
				this.tmpOrder.SubTotal = toDecimal(this.tmpOrder.itemTotal - this.tmpOrder.Freight);

				// if (this.chkOrder.isCvsFeePay) this1.p_PayChannel = 'ecCvsPay'; //超商付款的話,預設綠界超商取貨付款
				// console.log('goCalcuCheckout_ok-chkOrder: ', this.chkOrder);	// @@

				if (Array.isArray(data.CVS) && data.CVS.length > 0 && !this.isCVSBack) {
            const cvsInfo = data.CVS[0]
            // console.log("cvsInfo",cvsInfo);
            if (cvsInfo.CVSurl && cvsInfo.CVSjson){
              this.showEcmfme = true;//全家-日翊
              this.ecmfmeSrc = cvsInfo.CVSurl; //全家-日翊  src
              this.ecmfmeJson = cvsInfo.CVSjson; //全家-日翊  data
              store.state.isLoading = true
              setTimeout(() => {
                store.state.isLoading = false
                if (this.$refs.submitEcmfme) this.$refs.submitEcmfme.submit();

              }, 1000)
            }else if (cvsInfo.CVSurl) location.replace(cvsInfo.CVSurl);

          }else if (this.$route.query.type !== "pay"){
            this.$router.replace({ path: S_CurPAGE, query: { type: 'pay' } }) //跳過getExpired
				}
				// getExpired((p_vip)=>{
				//   p_vip.PointMoneyAmount = toDecimal(p_vip.PointMoneyAmount);
				//   p_vip.Balance = toDecimal(p_vip.Balance);

				//   // p_vip.PointMoneyAmount = 0;
				//   // p_vip.Balance = 0;
				//   if (p_vip.PointMoneyAmount!=undefined) this.PointMoneyAmount_init=p_vip.PointMoneyAmount;
				//   if (p_vip.Balance!=undefined) this.BalanceTotal_init=p_vip.Balance;
				//   if (p_vip.PointMoneyAmount!=undefined) this.PointMoneyAmount=(this.chkOrder.CheckTotal <= p_vip.PointMoneyAmount?this.chkOrder.CheckTotal:p_vip.PointMoneyAmount)//體驗點數

				//   if (p_vip.Balance!=undefined) this.BalanceTotal= (this.PointMoneyAmount == this.chkOrder.CheckTotal?0:(this.chkOrder.CheckTotal-p_vip.PointMoneyAmount));
				//   // (this.chkOrder.Total <= toDecimal(p_vip.Balance)?this.chkOrder.Total:p_vip.Balance);//消費點數??

				//   this.$router.push({ path: S_CurPAGE, query: { type: 'pay' } })
				// });
			}else{
				showToast("沒有可結帳品項");
			}
		},
		chkCartGp(pyGroup,item){
			// console.log('chkCartGp-cartGpList: ', this.cartGpList);	// @@
			//取其它類別ID
			return pyGroup.ID == undefined || (this.cartGpList.length > 0 && this.cartGpList.indexOf(pyGroup.GID) < 0) || (this.nowLockIDs.length > 0 && this.nowLockIDs.indexOf(item.ID) < 0);

		},
		chkTmpTotal(){
			return (this.mallData.shopOrderTmp.Total===''?'0':this.mallData.shopOrderTmp.Total);
		},
		isDemoID(){
			return false;
			//return this.state.member.code === '09xxxxxxxx';
		},
		// 驗證手機號碼 => 發送驗證碼簡訊
		getSMSValidateCode(){
			if (this.countNum > 0) return showAlert("請輸入簡訊驗證碼");
			// 跟殼取簡訊已發送扣打資料
			deviseFunction('GetSP', 'SMSSendQuota', '"cbFnSetSMSSendQuota"')
			var errMsg='';
			this.p_mobile = this.userVip.Mobile;
			if (this.isDemoID()){this.p_mobile = this1.phone1; }
			//
			// 手機號碼格式驗證
			const twMobilePhoneRegxp = /^09[0-9]{2}[0-9]{6}$/; // 台灣手機號碼格式需為09XXXXXXXX
			const cnMobilePhoneRegxp = /^1[0-9]{2}[0-9]{8}$/;  // 中國手機號碼格式需為1XXXXXXXXXX
			// if (this.userVip.Mobile == '') return showAlert('請輸入手機號碼')
			let countyNum = ''
			if ( twMobilePhoneRegxp.test(this.p_mobile) ) countyNum = '886'
			if ( cnMobilePhoneRegxp.test(this.p_mobile) ) countyNum = '86'
			if (twMobilePhoneRegxp.test(this.p_mobile) === false && cnMobilePhoneRegxp.test(this.p_mobile) === false) errMsg = '手機號碼格式錯誤'
			// this.validateSMSSendQuota()
			if (this.validateSMSSendQuota() == false) errMsg = errMsg+`已超過本日簡訊發送上限！ <br> (最多 ${this.APPSMSDayTimes} 封簡訊)`

			if (errMsg!=""){
				this.smsPayModal = "";
				this.smsModal=false;
				return showAlert(errMsg)

			}

			// 設置倒數計時器 ( countNum > 0 時, 發送驗證碼按鈕為 disabled ), 倒數時間從 state.setSMS_Config.AppSMSIntervalMin 取得
			this.countNum = this.AppSMSIntervalMin
			// 啟動倒數計時
			if (this.counter=='') this.counter = setInterval(() => {
				// 到 0 時清除倒數計時
				if (this.countNum <= 0) { clearInterval(this.counter);this.counter='' }
				// 每一秒 - 1
				this.countNum = this.countNum - 1;
			}, 1000);

			// sample: '20190514-3'
			const SMSSendQuota = `${this.currentDay}-${this.SMSCurrentQuota + 1}`
			// 發送簡訊認證碼
			sendDeviseSMSreCode({ phone: `${this.p_mobile};;${countyNum}`, SMSSendQuota: SMSSendQuota })
		},
		validateSMSSendQuota() {
			// 扣打紀錄是空的 => true
			if (this.SMSSendQuota === '') return true
			// 扣打紀錄跟今日日期不同 => true
			if (this.SMSSendQuota.substring(0, 8) !== this.currentDay) return true
			// 更新今日扣打數量
			const currentQouta = parseInt(this.SMSSendQuota.substring(9))
			this.SMSCurrentQuota = currentQouta
			// 驗證扣打是否用完 (超過上限 => false, 還沒用完 => true )
			if (currentQouta >= this.APPSMSDayTimes) return false
			if (currentQouta <  this.APPSMSDayTimes) return true
		},
		cleanVal(){
			this.SMSValidateCode = '';
			this.countNum = 0;
			clearInterval(this.counter);
			this.counter = '';
			this.smsModal = false;
			this.smsPayModal = '';
			this.clsConpunVal();
			this.clsFee();
		},
		clsConpunVal(){
        //優惠券
			this.useCoupon = false; //一定要用false,否則selCoupon會重算
			this.selCoupon = [];
        //運費券
        this.useFareCoupon=false; //一定要用false,否則selFareCoupon會重算
        this.selFareCoupon=[];
		},
		clsFee(){
			this.fee_obj = {};
			this.cvsStore= {};
			this.confirmNoteChoosed='';
			store.commit('setCvsShopInfo', []);
		},
		setUser(p_query){
			// console.log('setUser-p_query: ', p_query);	// @@
			const o1 = L_Obj.read('CurShipData');
				// console.log('setUser-o1: ', o1);	// @@
			if (o1) {
				this1.addrs = o1.Addr;
				this1.phone1 = o1.Phone;
				this1.receiver = o1.Nick_Name;
			} else {
				this1.addrs = this.userVip.Addr || "";
				this1.phone1 = this.userVip.Mobile || "";
				this1.receiver = this.userVip.CnName || "";
				L_Obj.save('CurShipData', this1);
			}

			this.receiver_cvs = '';
			if (p_query && p_query.type == "pay" && p_query.calcu){
				store.dispatch('goSurl',{sUrl:p_query.calcu,fn:(p_body)=>{
					// console.log('setUser-無法取得超商訊息: ', p_body);	// @@
					if (!p_body.ID) return
		
					const nCode = p_body.CVSCodes
					nCode && this.calc_Fee('cvs' + nCode);
					const p_cvs = this.mallData.foodExpresst[nCode] || {};
					// console.log('setUser-p_cvs: ', p_cvs);	// @@
					if (p_body.ErrorMsg) return showAlert(p_body.ErrorMsg)
					// if (p_body.ID) this.cartIDs = p_body.ID;
					this.cartIDs = p_body.ID;

/*
					const isBackOk = p_body && p_body.body && p_body.body.CVSCodes!=undefined;
					if (!isBackOk) return showAlert("無法取得超商訊息");
					const hMeas = p_body.body.MEASCodes;
					if (isBackOk) this.calc_Fee('cvs' + p_body.body.CVSCodes,(hMeas?hMeas.toString():hMeas));
					const p_cvs = this.mallData.foodExpresst[p_body.body.CVSCodes] || {};
					//console.log("p_cvs>",p_cvs);
					if (p_body.body.ID) this.cartIDs = p_body.body.ID;
*/
					goCalcuCheckout_data(p_body,(v_data)=>{
						this.goCalcuCheckout_ok(v_data);
					});
					this.calcu_data(p_cvs.LogisticsSubType);//取user回填的超商Info
				}})
			}
		},
		calcu_data(p_type){
			p_type = p_type || "";
			const p_fn = () => {
				const store = this.cvsShop.EDC || {};
				if (!store.Data) {
					this1.addrs = store.CVSAddress;
					//this1.phone1 = this.userVip.Mobile || "";
					this.receiver_cvs = store.CVSStoreName;
					this.isCvs2 = true;

					//if (typeof v_fn ==='function') v_fn(store);

				} else if (store.Data) {
					//日翊
					this1.addrs = store.Data.Addr || "";
					this.receiver_cvs = store.Data.Name || "查無此間店";
				}
			}
			//this.$route.params.enterpriseId
			store.dispatch('fetchOrder_cvsShop', {ID: "Y00"+p_type+ this.entp + this.userVip.Mobile, fn:p_fn}) // this.userVip.Mobile

		},
		async popShowConfirm(arrayItem) {
			// console.log('popShowConfirm-arrayItem: ', arrayItem);	// @@
			return showConfirm('', '確定', '取消','', arrayItem, this.confirmNoteChoosed, '','', '', '運送方式和運費')
				// 點擊確認執行
				.then(() => {
					const modalData = this.state.customModal
						,choosed 			= modalData.confirmNoteChoosed
              ,chkMsg 		= this.calc_Fee(choosed);
				// console.log('運送方式和運費-choosed, chkMsg: '+choosed, chkMsg);	// @@

					hideModal();
					//this.fee_obj-->{CVSCodes: 1} or {PYCode: 1}
            if (!chkMsg.isOK) showAlert(chkMsg.msg);
            if (chkMsg.isOK) this.gonextPage();
				})
				// 點擊取消執行 => 關閉 confirmn 視窗
				.catch(() => hideModal())
		},
		calc_Fee(choosed,p_meas){
			// console.log('calc_Fee-choosed, p_meas, fMeas: ', choosed, p_meas, this.fMeas);	// @@
			this.fee_obj = {};
			if (isNaN(choosed) && choosed.indexOf('cvs') == 0 && this.cvsFee[choosed]){
				this.fee_obj.CVSCodes = this.cvsFee[choosed]["ID"];//cvs開頭是超商物流
				if (this.cvsFee[choosed]["Supplier"] == 'ecmfme' && this.cvsFee[choosed]["LogisticsSubType"] == '0') return {isOK:false,msg:'常溫不適用材積'};//日翊常溫不用材積(建置中,待補)
				//Supplier: "ecmfme"(日翊)
				if (this.cvsFee[choosed]["Supplier"] == 'ecmfme'){
					if (p_meas && this.fMeas[p_meas]){
						this.fee_obj.MEASCodes = parseInt(p_meas);
						this.fee_obj.FreightStyle = this.fMeas[p_meas]['FreightStyle'];
					}else if(this.cartGpList.length){
						const it1 = this.cartGpList[0];
						const gpID_list = it1.split('-');
						const findMeas = gpID_list.find((ma)=>{return ma.indexOf('meas') == 0});
						const isType9 = this.cvsFee[choosed]["LogisticsSubType"] == '9';//日翊冷凍

						if (findMeas){
							if (findMeas.split('meas').length > 1){
								this.fee_obj.MEASCodes = parseInt(findMeas.split('meas')[1]);
								if (this.measFee[findMeas]) this.fee_obj.FreightStyle = this.measFee[findMeas]['FreightStyle'];
							}
						}else if(!findMeas && isType9){
							return {isOK:false,msg:'冷凍物流要有材積'};
						}
					}
				}
			}
			else this.fee_obj.PYCode = this.mallData.foodFreight[choosed]["ID"]; //fee_key純數字是原運費
			return {isOK:true,msg:''};
		},
		// checkDeed(p_total){
		//   var selectPO = this.tmpDeedPoints.filter((po)=>{
		//     return p_list.indexOf(po.deed_no) > -1
		//   });
		//   toDecimal(this.tmpOrder.Total)
		// },
		clickGo(v1, isReplace) {
			const _path	= `/${v1}`
				// ,go1 = isReplace ? this.$router.replace : this.$router.push	// NG!
		// console.log('clickGo-_path: ', _path);	// @@
			// go1(_path);	/** @NoNo: ※有陷阱：fun一樣卻不能這麼做  */
			if (isReplace) {
				this.$router.replace(_path)
			} else {
				this.$router.push(_path)
			}
		},
		// getVipinfo(){
			// return {
				// PreAddr: 	this1.addrs,
				// PrePhone: this1.phone1,
				// PreName: 	this1.receiver
			// }
		// },
		/* 訂單-收件資料-修改 */
		getVipAddrList() {
			getVipAddr((p_data) => { // 取收件人基本資料
				if (p_data.length) {
					// console.log('取收件人基本資料-p_data: ', p_data);	// @@
					this.mallData.shipData = p_data;
				}
				const hh1 = location.hash+'&showEdit=1'
				location.replace(hh1);

				this.$store.commit('setCssTouch', false)
			});
		},

	},
	// 在路由刷新前
	async beforeRouteEnter(to, form, next) {
		store.state.isPageName = '購物車'		// 頁面名稱
		const chkFn = (v_next,p_query)=>{
			store.dispatch('fetchVipAndCardInfoWuhu'); //之後會員點數可以拿來用扣除
			getcheckkind();
			getOrderStatus(()=>{
          if (to.path === "/cardShopCart" && to.query.from === 'scanToCart'){
					//scanResult,透過掃描生成購物車
					store.commit('initQrCodeItem');//初始化由掃瞄生成的品項
					if (v_next) v_next((vm) => { // vm is the Vue instance
						var supItems = vm.mallData.shopping_cart.filter((p_cart)=>{
							return (chkTypeInt(p_cart.BatchID) === 0);
						});
						vm.cartIDs = supItems.map((sup)=>{
							return sup.ID;
						});
						vm.setUser(p_query);
						vm.nextPage();
					});

				}else{
					const shCartFn = (v2_next)=>{
						const isLogin = store.getters.isLogin
						if (!isLogin && v2_next) v2_next();
						if (isLogin) getMyShopCart((data)=>{
							itmeQtyReload();//重算購物車上,品項及類別數量
							if (v2_next) v2_next((vm2) => { // vm is the Vue instance
								if (data && data.ErrorMsg) vm2.showFailItem(data.ErrorMsg);
								vm2.checkCartGp();
								vm2.setUser(p_query);
							})

						},false);
					}
					const guestCarts = L_Obj.readBa64('gCarts') || [];
					if (Array.isArray(guestCarts) && guestCarts.length){
						let promise_arr = [];
						guestCarts.forEach((item) => {
							promise_arr.push(new Promise((resolve) => {
								moveTempToMarket(item,(p_cart)=>{
									if (!p_cart.errMsg){
										const tmpCarts = L_Obj.readBa64('gCarts') || [];
										const findFood = (et) => et.FoodID == p_cart.FoodID;
										const fin_index = tmpCarts.findIndex(findFood);
										if (fin_index > -1) delGuestItem(fin_index)
										resolve('ok');
									}else{
										showToast(p_cart.errMsg);
										resolve('no');
									}
								})
							}));
						});
						Promise.all(promise_arr).then(()=> {//then((suces)
							// 一次性同時回傳成功訊息
							shCartFn(v_next)
							//if (suces.indexOf('ok') > -1)
						}).catch( () => {
							// 失敗訊息 (立即)
							shCartFn(v_next)
						});
					}else{
						shCartFn(v_next)
					}

				}
			});
		}

		// 若為refresh畫面要重新load資料
		if (to.params && store.state.mallData.foodkind.length == 0 || store.state.mallData.foodkind2.length == 0 ) {
			//to.query.calcu,type
			store.dispatch('fetchVipAndCardInfoWuhu')//kakar會員

			const reloadFn = async(p_next, v_query) => {
				//await store.dispatch('fetchAppConfig','foodMarketShopID')
				await store.dispatch('fetchMarketShopID')
				getFoodKind(() => { // 取大中類別
					getMyShopCart(() => {
						itmeQtyReload();
					});
					getFoodRule(() => { //取運費,物流費,首頁群組商品,規則表等
						if (p_next)	chkFn(p_next, v_query);
					})
				});
			}

			reloadFn(next,to.query);

		}else{
			chkFn(next);
		}
	},
	// 建立頁面後
	created: function () {
//      this.setUser();
		this.isCvs2 = false;
		GetSetPayChannel();
	},
	beforeRouteUpdate: function (to, form, next) {
		const toPath 	= to.path
			,toType			= to.query.type
		// console.log('beforeRouteUpdate-toType: ', toType);	// @@

		// this.cleanVal();
		// if (form.path == "/shopCart" && (form.query.type == "finished" || (form.query.type == "pageDeed" && toType !== "finished"))) {
		//   //防止手機原生返回鍵亂跑
		//   // this.$router.replkace('/shop')
		//   next();
		// }

		if (toPath == "/shopCart" && toType == "unCheckout") {
			//跳至未完成訂單清單頁
			getUnfinishorder((data) => {
				if (Array.isArray(data))
					this.unFinishOrder = data;
				next();
			});

		} else if (toPath == "/shopCart" && !toType) {
			getOrderStatus(() => {
				getMyShopCart((data) => {
					if (data && data.ErrorMsg) {
						this.showFailItem(data.ErrorMsg);
					}
					this.checkCartGp();
					itmeQtyReload(); //重算購物車上,品項及類別數量
					this.clsConpunVal();
					next();
				}, false);
			});
		} else {
			next();
		}
	},
	beforeRouteLeave: function (to, form, next) {
		this.cleanVal();
		next();
	},
	watch: {
		'$route' (q1) {
			const bOn = q1.query.btnOK;
			// console.log('tm2_watch-route: ', bOn);	// @@
			if (bOn) {
				location.hash = location.hash.replace(/&btnOK=1/g, '')
			}
		},
		becomeSt(){
			this.refreshSingle();
		},
		cartGpList(p_value){
			// console.log('watch_cartGpList-p_value: ', p_value);	// @@
			// console.log('watch_cartGpList-cartIDs: ', this.cartIDs);	// @@
			if (this.isCVSBack) return;	// 排除結帳時

			this.cartIDs=[];
			if (!p_value.length || !this.PYCodeGroup.length) return;
			var PYfind = this.PYCodeGroup.filter((pycode)=>{
				return p_value.indexOf(pycode.GID) > -1;
			});

			if (PYfind.length == 0) return;
			PYfind.map((p_pyfind)=>{
				var n_list = (p_pyfind["list"]).map((chCart)=>{
					return chCart.ID;
				});
				this.cartIDs = this.cartIDs.concat(n_list);
			});
		},

		cartIDs(p_value) {
			this.carID_feeGp = {};
			var isFind = false;
			Object.keys(this.cartGpObj).map((p_key) => {
				const arr1 = this.cartGpObj[p_key]
				if (Array.isArray(arr1) && (arr1).indexOf(p_value)) {
					var result = arr1.filter((e) => {
						return p_value.indexOf(e) > -1
					})
					// console.log('watch_cartIDs-result: ', result); // @@
					const hasRes1 = !!result.length
					if (hasRes1) {
						p_value.map((id_key) => {
							this.carID_feeGp[id_key] = p_key
						});
              if(!this.isFind && this.cartGpList.length == 0 && this.isCVSBack) this.cartGpList.push(p_key);
						// console.log('watch_cartIDs-carID_feeGp: ', this.carID_feeGp); // @@
						if (!isFind) {
							this.isFind = true;
							this.nowLockIDs = arr1;
						}
					}
				}
			});
			if (!p_value.length)		this.nowLockIDs = [];
		},
		/* 選擇優惠券 */
		// selCoupon(p_list){
			// console.log('選擇優惠券-p_list: ', p_list);	// @@
			// if(this.useCoupon) this.calcuCheckout(p_list);
		// },
		selCoupon(){
			if(this.useCoupon) this.calcuCheckout();
		},
		// SMSValidateCode(p_value){
		//   // console.log(p_value);
		//   if (!this.isDemoID() && p_value === '70595145') this.$store.commit('setSMSreCode', p_value)
		// }

	}
}
</script>