<template>
  <div class="h-full bg-white flex flex-col" v-if="mallData.isCarUI!=undefined">

    <!-- 頂大類選單 -->
    <template v-if="$route.query.type==null">
			<div class="columns is-mobile is-gapless is-vcentered mb-0 border-b">
				<div class="column overflow-x-auto">
					<div class="whitespace-nowrap py-1">
						<span class="rounded-full py-1 px-3 mx-1 inline-block"
              :class="[ index==$route.query.kind2Index ? 'bg-gray-800 text-white' : 'bg-gray-100 border' ]"
              v-for="(item, index) in $store.state.mallData.foodkind2" :id="'kind2Index'+index" :key="index"
              v-show="haveKind(index)" @click="goKind(index)"
            >{{item.Name}}</span>
					</div>
				</div>
			</div>
    </template>

    <!-- 商品分類 -->
    <div class="flex-auto overflow-hidden" v-if="$route.query.type==null">
        <div class="columns is-mobile is-variable is-0 mt-0 h-full">
          <!-- 左欄類別項目 v-if="mallData.kind.length >= 2" -->
        <div class="column is-3 pt-0 bg-gray-100 overflow-auto relative h-full">
            <ul class="ul text-gray-600 m-0 p-0 leading-5" v-scroll-spy-active="{class:'bg-white'}" v-scroll-spy-link="{selector: 'li'}">
              <li class="py-4 px-2" v-for="(itemType, typeIndex) in mallData.kind" :key="'leftKind'+typeIndex" :id="'spyScrollLink'+ typeIndex">
                <!-- 加入購物籃數字 -->
                <div v-if="mallData.kindQty[itemType.ID] && mallData.kindQty[itemType.ID] > 0 && false" class="float-right text-white bg-red-400 rounded-full w-6 h-6">{{mallData.kindQty[itemType.ID]}}</div>
                {{itemType.Name}}
              </li>
            </ul>
            <div class="padding-bottom-env" title="iphoneX-bottom-safe-area"></div>
          </div>
          <!-- 右欄類別商品項目 -->
        <div class="column pt-0 overflow-auto relative h-full" v-scroll-spy="{data: 'spySection', offset:108, time: 0, steps: 1}" ref="scrollTitem">
            <section v-for="(itemType, typeIndex) in mallData.kind" :key="'kind'+typeIndex" v-show="mallData.isCarUI!=undefined"><!-- v-show="itemType.foods && itemType.foods.length > 0"-->
            <div class="px-2 py-3 border-b bg-gradient-to-r from-gray-100 to-white sticky top-0 z-10">
                <div class="columns is-mobile is-gapless is-vcentered">
                  <div class="column">{{itemType.Name}}</div>
                  <div class="column is-narrow">
                    <div class="field has-addons">
                      <p class="control mb-0">
                      <button class="button p-1 h-auto text-xs" :class="[(mallData.sortPriceType=='sp1')?'is-light is-info is-outlined':'has-background-white-bis']" @click="$store.commit('setSortPriceType', 'sp1');">
                        &#36; <span>低&rarr;高</span>
                        </button>
                      </p>
                      <p class="control mb-0">
                      <button class="button p-1 h-auto text-xs" :class="[(mallData.sortPriceType=='sp2')?'is-light is-info is-outlined':'has-background-white-bis']" @click="$store.commit('setSortPriceType', 'sp2')">
                        &#36; <span>高&rarr;低</span>
                        </button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-3">
                <article class="media"
                  v-for="(item, itemIndex) in sortPrice(itemType.foods)"
                  :key="'item'+itemIndex" @click="item_click(item,undefined,typeIndex,itemIndex)"
                >
                  <!-- 資料結構預載動畫 -->
                  <div class="skeleton-container" v-if="item.Name == '...'">
                    <div class="skeleton">
                      <div class="avatar"></div>
                      <div class="line"></div>
                      <div class="line"></div>
                      <div class="line price"></div>
                    </div>
                  </div>
                  <div class="media-left w-16 mr-2" v-show="item.Name !== '...'">
                    <figure class="image is-1by1 m-0">
                      <!-- <img :src="foodSrc(item.ID)" :alt="item.Name"> -->
                      <img :src="showImgSubsidiary(item.PIC1)" :key="showImgSubsidiary(item.PIC1)"
                        class="has-background-white-ter rounded-xl" :alt="item.Name">
                      <div v-if="toDecimal(item.ShowQty) > 0" class="absolute tag is-danger shadow transform -translate-x-1/2 left-1/2 -bottom-2">限量 {{item.ShowQty}} 組</div>
                    </figure>
                  </div>
                  <div class="media-content" v-show="item.Name !== '...'">
                    <div class="content h-auto">
                      <p><b>{{item.Name}}</b></p>
                    </div>
                    <nav class="level is-mobile">
                      <div class="level-left">
                      <div>
                          <small>NT$ </small>
                        <b class="text-red-500">{{item.Price1}}</b>
                          <del class="ml-2 has-text-grey-light">{{item.Price}}</del>
                        </div>
                      </div>
                      <div class="level-right">
                        <!-- 數量,不能有加減項,因為有規格問題 -->
                        <template v-if="mallData.isCarUI!=undefined && !item.Stop">
                          <!-- 減 -->
                          <button class="border border-gray-400 bg-gray-200 rounded-full flex items-center justify-center w-6 h-6" v-if="false">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4" /></svg>
                          </button>
                          <input type="number" min="0" readonly="readonly" class="w-8 bg-transparent text-center" :value="mallData.foodQty[item.MainID]" v-if="mallData.foodQty[item.MainID] > 0">
                          <!-- 加 -->
                          <button class="bg-primary rounded-full text-white flex items-center justify-center w-6 h-6" @click.stop="item_click(item,true,typeIndex,itemIndex)">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" /></svg>
                          </button>
                        </template>
                        <button class="button has-background-grey-lighter py-1 h-auto py-0 h-auto rounded-lg" v-else>停售</button>
                      </div>
                    </nav>
                  </div>
                </article>
              </div>
            </section>
          </div>
        </div>
      </div>

    <!-- 半透明遮罩 -->
    <transition name="slide-fade">
      <div class="fixed top-0 w-full h-full bg-black bg-opacity-60" style="z-index: 999"  v-if="isTypeModal=='bill'||isTypeModal=='spec'" @click="isTypeModal=''" v-cloak></div>
    </transition>
    <transition name="slide-top">
      <!-- 結帳BAR明細 -->
      <div class="absolute w-full rounded-t-xl bottom-0 shadow-xl bg-white bill" style="z-index:1000" v-if="isTypeModal=='bill'">
        <header class="bg-gray-200 text-center flex items-center justify-between rounded-t-xl p-3">
          <div class="text-gray-400" @click="deleteAll()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="inline-block ml-1" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
          </div>
          <p class="font-bold text-xl">結帳明細</p>
          <button class="delete is-medium" @click="isTypeModal=''"></button>
        </header>
        <div class="container overfloe-y-auto">
          <p class="text-center has-text-grey-lighter mt-32" v-if="!mallData.shopping_cart.length">-- 無商品加入 --</p>
          <!-- 商品項目 -->
          <div class="p-3">
            <article class="media" v-for="(item, iIndex) in mallData.shopping_cart" :key="iIndex">
              <div class="media-left w-16 mr-2">
                <figure class="image is-1by1 m-0">
                  <img :src="showImgSubsidiary((mallData.foodInfo[item.MainID]?mallData.foodInfo[item.MainID]['PIC1']:''))" class="has-background-white-ter rounded-xl" alt="">
                </figure>
              </div>
              <div class="media-content">
                <div class="content mb-1">
                  <p>
                    <b>{{item.FoodName}}</b>
                    <small class="block mr-2">{{item.Taste}}</small>
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <div>
                      <div class="has-text-grey-light">
                        <small>單價 NT$ </small>
                        {{item.Price}}
                      </div>
                      <div><small>NT$ </small><b class="text-red-600">{{item.Total}}</b></div>
                    </div>
                  </div>
                  <div class="level-right">
                    <!-- 數量 -->
                    <div class="flex">
                      <button class="border border-gray-400 bg-gray-200 rounded-full flex items-center justify-center w-6 h-6" @click="delItem(item)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4" /></svg>
                      </button>
                      <input type="number" min="0" readonly="readonly" class="text-center w-9" :value="item.Count">
                      <button class="bg-primary rounded-full text-white flex items-center justify-center w-6 h-6" @click="addItem(item)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" /></svg>
                      </button>
                    </div>
                  </div>
                </nav>
              </div>
            </article>
          </div>
          <div class="padding-bottom-env" title="iphoneX-bottom-safe-area"></div>
        </div>
      </div>
      <!-- 選規格 -->
      <div class="modal is-active" style="z-index:1000" v-if="isTypeModal=='spec'" @click.self="isTypeModal=''">
        <div class="modal-background bg-black bg-opacity-0"></div>
        <div class="modal-card px-3">
          <header class="modal-card-head rounded-t-xl font-bold pt-4 pb-0 bg-white border-b-0">
            <p class="modal-card-title">{{mallNowItem.Name}}</p>
            <button class="delete is-medium" aria-label="close" @click="isTypeModal=''"></button>
          </header>
          <section class="modal-card-body">
            <div class="overflow-y-auto">
              <p class="mb-1"><b>規格名稱：</b></p>
              <span class="ck-box" v-for="(item, iIndex) in itemStyle" :key="'chisty'+iIndex">
                <input :id="item.ID" type="radio" name="項目" class="ck-button hidden" v-bind:value="iIndex" v-model="styleIndex">
                <label class="button" :for="item.ID">{{item.Name}}</label>
              </span>
              <p class="mb-0" v-show="false">備註</p>
              <input type="text" placeholder="請輸入文字說明" class="input" v-show="false">
            </div>
          </section>
          <footer class="modal-card-foot rounded-b-xl border-t-0 justify-between py-3">
            <div>
              <div>
                <small>NT$ </small>
                <!-- <b>{{mallNowItem.Price}}</b> -->
                <b class="text-red-500">{{(maxItemStyle?itemStyle[styleIndex]["Price1"]:mallNowItem.Price)}}</b>
              </div>
            </div>
            <div>
              <div class="flex items-center">
                <button class="border border-gray-400 bg-gray-200 rounded-full flex items-center justify-center w-6 h-6" :disabled='Qty < 2' @click="Qty--">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4" /></svg>
                </button>
                <input type="number" min="0" readonly="readonly" class="bg-transparent text-center w-9" :value="Qty">
                <button class="bg-primary rounded-full text-white flex items-center justify-center w-6 h-6" @click="Qty++">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" /></svg>
                </button>
                <button class="button rounded-full bg-primary text-white hover:text-white ml-3">
                  <span @click="addToCart()">放入購物車</span>
                </button>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </transition>

    <!-- 結帳BAR -->
    <div class="p-2 bg-white" :style="{'z-index':(isTypeModal=='spec') ? '998':'1001' }" v-if="$route.query.type != 'product'">
      <div class="container bg-primary text-white rounded-xl shadow-lg p-2 mx-auto md:w-1/2">
        <div class="columns is-mobile is-gapless is-vcentered">
          <div class="column" @click="toggleCart()">
              <div class="flex items-center">
              <div class="ml-2 relative">
                <span class="inline-block" :class="[(cartQty(mallData.kindQty)==0)?'opacity-30':'cart-bounceIn']">
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                  </svg>
                </span>
                <!-- 加入購物籃數字 -->
                <transition name="slide-up" mode="out-in">
                  <div class="absolute -top-3 -right-3 px-1 bg-secondary text-gray-900 rounded-full leading-5 text-sm text-center" style="min-width:1.25rem" v-if="cartQty(mallData.kindQty) != 0" :key="cartQty(mallData.kindQty)">{{cartQty(mallData.kindQty)}}</div>
                </transition>
              </div>
              <!-- up arrow -->
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16" v-if="isTypeModal!='bill'">
                <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
              </svg>
              <!-- down arrow -->
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16" v-else>
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
              </svg>
              <p class="ml-2">
                <small>總共 NT$ </small>
                <transition name="slide-up" mode="out-in">
                  <span class="inline-block text-xl text-secondary ml-1" :key="totalAmount()">
                    <b>{{totalAmount()}}</b>
                  </span>
                </transition>
              </p>
            </div>
          </div>
          <div class="column is-narrow">
            <button class="button rounded-lg bg-secondary border-secondary font-bold px-5" @click="$router.push('/cardShopCart/')">結帳去</button>
          </div>
        </div>
      </div>
      <div class="padding-bottom-env" title="iphoneX-bottom-safe-area"></div>
    </div>

    <!-- 商品頁 -->
    <template v-if="$route.query.type=='product' && (Object.keys(mallNowItem)).length > 0">
      <div class="flex-auto overflow-y-auto">
        <!-- 輪播 Banner -->
        <div class="text-center has-background-white-ter">
          <!-- 無圖時 -->
          <img v-if="mallNowItem.PIC1 ==''" src="../../../assets/images/img_init.gif">
          <swiper ref="mySwiper">
            <!-- slides -->
            <swiper-slide v-if="mallNowItem.PIC1 !=''">
              <!-- 圖 -->
              <div class="swiper-zoom-container">
                <img :src="showImgSubsidiary(mallNowItem.PIC1)" class="swiper-lazy">
              </div>
              <!-- <div class="swiper-lazy-preloader"></div> -->
            </swiper-slide>
            <swiper-slide v-if="mallNowItem.PIC2 !=''">
              <!-- 圖 -->
              <div class="swiper-zoom-container">
                <img :src="showImgSubsidiary(mallNowItem.PIC2)" class="swiper-lazy">
              </div>
              <!-- <div class="swiper-lazy-preloader"></div> -->
            </swiper-slide>
            <swiper-slide v-if="mallNowItem.PIC3 !=''">
              <!-- 圖 -->
              <div class="swiper-zoom-container">
                <img :src="showImgSubsidiary(mallNowItem.PIC3)" class="swiper-lazy">
              </div>
              <!-- <div class="swiper-lazy-preloader"></div> -->
            </swiper-slide>
            <swiper-slide v-if="mallNowItem.PIC4 !=''">
              <!-- 圖 -->
              <div class="swiper-zoom-container">
                <img :src="showImgSubsidiary(mallNowItem.PIC4)" class="swiper-lazy">
              </div>
              <!-- <div class="swiper-lazy-preloader"></div> -->
            </swiper-slide>
            <swiper-slide v-if="mallNowItem.PIC5 !=''">
              <!-- 圖 -->
              <div class="swiper-zoom-container">
                <img :src="showImgSubsidiary(mallNowItem.PIC5)" class="swiper-lazy">
              </div>
              <!-- <div class="swiper-lazy-preloader"></div> -->
            </swiper-slide>
            <!-- Optional controls -->
            <div class="swiper-pagination" slot="pagination"></div>
          </swiper>
        </div>
        <div class="food-content">
          <span v-if="mallNowItem.ShowQty" class="text-base text-white mb-3 py-1 px-2 bg-red-600 shadow rounded-md inline-block">限量 {{mallNowItem.ShowQty}} 組</span>
          <h3 class="mb-3 text-xl font-bold">{{mallNowItem.Name}}</h3>
          <p class="mb-3 pb-3 border-b">
            <!-- 商品簡述：100個中文字以內 -->
            <b class="d-block  mb-2">商品簡述：</b>
            <span class="d-block white-space-wrap">{{mallNowItem.Remark.replace(/"/g, "")}}</span>
            <!-- <span class="d-block">
              ● 10分鐘有效濾淨99.9%PM2.5<br>
              ● 3.3分鐘產出20000公升乾淨空氣<br>
              ● 提升2倍累計淨化量、續航力<br>
              ● 可用手機APP遠端監控<br>
              ● 超節能，一天電費僅1.76元
            </span>-->
          </p>
          <div class="columns is-mobile is-variable is-1 is-multiline mb-0">
            <div class="column">
              <div class="text-xl">
                <span class="text-sm">NT$ </span>
                <!-- <b>{{mallNowItem.Price1}}</b> -->
                <b class="text-red-500 ">{{(maxItemStyle?itemStyle[styleIndex]["Price1"]:mallNowItem.Price1)}}</b>
                <span class="text-sm" v-if="mallNowItem.Unit!=''"> /{{mallNowItem.Unit}}</span>
                <!-- <del class="ml-2 has-text-grey-light is-size-5">{{mallNowItem.Price}}</del> -->
                <del class="ml-2 has-text-grey-light text-xl">{{(maxItemStyle?itemStyle[styleIndex]["CurPrice"]:'')}}</del>
              </div>
            </div>
            <div class="column is-narrow text-right">
              <!-- 數量 -->
              <div class="flex items-center">
                <!-- 減 -->
                <button class="border border-gray-400 bg-gray-200 rounded-full flex items-center justify-center w-8 h-8" :disabled='Qty < 2' @click="Qty--">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4" /></svg>
                </button>
                <input type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="text-center rounded-lg is-size-5 mx-2 has-background-white-bis w-12 border" @input="checkValue" v-model.number="Qty">
                <!-- 加 -->
                <button class="bg-primary rounded-full text-white flex items-center justify-center w-8 h-8" @click="Qty++">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" /></svg>
                </button>
              </div>
            </div>
            <div class="column is-full" v-if="!isHideStyle()">
              <p class="mb-2"><b>規格：</b></p>
              <span class="ck-box" v-for="(item, iIndex) in itemStyle" :key="'substy'+iIndex">
                <input :id="item.ID" type="radio" name="color" class="ck-button hidden" v-bind:value="iIndex" v-model="styleIndex">
                <label class="button" :for="item.ID">
                  {{item.Name}}
                </label>
              </span>
            </div>
            <!--
            <div class="column is-full" v-for="(itemStyle, sIndex) in itemStyle" :key="'style'+sIndex">
              <p class="mb-2"><b>{{itemStyle.Name}}：</b></p>
              <span class="ck-box" v-for="(item, iIndex) in itemStyle.type" :key="'substy'+iIndex">
                <input :id="item.ID" type="radio" name="color" class="ck-button hidden" value="">
                <label :for="item.ID">
                  {{item.Name}}
                </label>
              </span>
            </div>
            -->
          </div>
          <!-- 折扣
          <p class="my-3 pb-3 border-b">
            <b>適用活動：</b>
            <span class="pt-2 d-block">
              <span class="tag is-warning is-medium mr-2">折價券</span>
              NT$100 折價券
            </span>
          </p> -->
          <p class="my-3 pb-3 border-b">
            <b>商品編號：</b>{{(maxItemStyle?itemStyle[styleIndex]["ID"]:'')}}
          </p>
          <p class="my-3 pb-3 border-b">
            <!-- <b>庫存：</b>{{mallNowItem.CurStock}} 組 -->
            <b>庫存：</b>{{getStock()}} {{(mallNowItem.Unit!=''?mallNowItem.Unit:'組')}}
            <span class="has-text-danger ml-2" v-show="mallNowItem.MaxCount!='' && mallNowItem.MaxCount!='0'">* 每人限購 {{mallNowItem.MaxCount}} {{(mallNowItem.Unit!=''?mallNowItem.Unit:'組')}}</span>
          </p>
          <!-- Tabs  -->
          <div class="tabs text-lg is-centered sticky-top">
            <ul class="m-0">
              <li :class="{'is-active font-bold':(tabIndex=='tab01')}" @click="tabsIntoView('tab01')"><a style="text-decoration:none">詳情</a></li>
              <li :class="{'is-active font-bold':(tabIndex=='tab02')}" @click="tabsIntoView('tab02')"><a style="text-decoration:none">運送方式&說明</a></li>
            </ul>
          </div>
          <!-- 詳情：簡易HTML編輯器(圖/文) -->
          <section class="border-b pb-3" id="tab01" v-html="mallNowItem.Note"></section>
          <!-- 運送方式 -->
          <section id="tab02">
            <div class="my-3 pb-3 border-b" v-if="(Object.keys(mallData.foodFreight)).length > 0 && mallData.foodFreight[mallNowItem.PYCode] || cvsFeeList.length > 0">
              <b>運送方式：</b>
              <div class="columns is-mobile is-variable is-2 pt-2" v-if="(Object.keys(mallData.foodFreight)).length > 0 && mallData.foodFreight[mallNowItem.PYCode]">
                <div class="column is-narrow">
                  {{(mallData.foodFreight[mallNowItem.PYCode]["Name"])}}
                </div>
                <div class="column">
                  <div v-for="(frei, freiIndex) in mallData.foodFreight[mallNowItem.PYCode]['items']" :key="'frei'+freiIndex">{{frei.text}}</div>
                </div>
              </div>
              <div class="columns is-mobile is-variable is-2 pt-2" v-for="(cvsf, cvsfIndex) in cvsFeeList" :key="'cvsf'+cvsfIndex" v-show="cvsFeeList.length > 0">
                <div class="column is-narrow">
                  {{(cvsf["Name"])}}
                </div>
                <div class="column">
                  <div v-for="(cvsItem, cvsItemIndex) in cvsf['items']" :key="'cvsItem'+cvsItemIndex">{{cvsItem.text}}</div>
                </div>
              </div>

            </div>
            <!-- 規格說明：500個中文字以內 -->
            <p class="my-3 pb-3 border-b" v-if="mallNowItem.Spec != ''">
              <b>說明：</b>
              <span class="pt-2 d-block white-space-wrap">
                {{mallNowItem.Spec.replace(/"/g, "")}}
                <!-- 品名：<br>
                型號：<br>
                額定輸入：<br>
                消耗功率：<br>
                產品尺寸：<br>
                產地：  -->
              </span>
            </p>
          </section>
        </div>
        <!-- 置底固定結帳按鈕 -->
        <div class="fixed bottom-0 w-full bg-white px-2 padding-bottom-env">
          <div class="columns is-mobile is-variable is-1 py-2">
            <template v-if="!isSelectStyle() || getStock()">
              <div class="column">
                <button class="button is-fullwidth border-gray-400 bg-gray-200 rounded-lg" @click="addToCart()">放入購物車</button>
              </div>
              <div class="column">
                <button class="button is-link is-fullwidth rounded-lg" @click="addToCart(true)">直接購買</button>
              </div>
            </template>
            <template v-if="isSelectStyle() && !getStock() || mallNowItem.Stop">
              <div class="column">
                <button class="button is-outlined is-fullwidth bg-gray-200 hover:text-gray-400 hover:border-gray-200 rounded-lg">{{mallNowItem.Stop?'停  售':'銷售一空'}}</button>
              </div>
            </template>
          </div>
        </div>
      </div>
    </template>

  </div>

</template>

<style lang="scss" scoped>
  .spySectionActive {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    background: white;
    top: 0;
    z-index: 1;
    border-color: #e5e5e5 !important;
  }
  .spyActive {
      background: white;
      color: black !important;
  }
  .item-badge {
      height: 1.5rem;
      line-height: 1.5rem;
      min-width: 1.5rem;
      border-radius: .75rem;
      padding: 0 .25rem;
      margin: -1rem -.75rem;
  }
  .scrollspy-container li + li {
      margin-top: 0;
  }
  .twoline-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .cart-bounceIn {
    animation: bounceIn .3s;
  }
  @keyframes bounceIn {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.5);
    }
    65% {
      transform: scale(1);
    }
    80% {
      transform: scale(1.025);
    }
    90% {
      transform: scale(1.01);
    }
    100% {
      transform: scale(1);
    }
  }
  .bill {
    z-index: 8;
  }
  .bill .container {
    min-height: 360px;
    max-height: 480px;
    overflow: auto;
    padding-bottom: 4.5rem;
  }
  .swiper-slide img {
    min-height: 375px;
  }

  /* skeleton loading 資料結構預載動畫 */

  .skeleton {
    width: 240px;
    height: 64px;
  }
  .skeleton .avatar {
    float: left;
    width: 64px;
    height: 64px;
    background-color: #ccc;
    border-radius: 4px;
    margin-right: 8px;
    background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
    background-size: 600px;
    animation: shine-avatar 2s infinite ease-out;
  }
  .skeleton .line {
    float: left;
    width: 120px;
    height: 10px;
    margin-top: 6px;
    border-radius: 6px;
    background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
    background-size: 600px;
    animation: shine-lines 2s infinite ease-out;
  }
  .skeleton .avatar + .line {
    width: 160px;
  }
  .skeleton .line ~ .line {
    background-color: #ddd;
  }
  .skeleton .line.price {
    margin-top: 16px;
    width: 60px;
  }

  @keyframes shine-lines {
    0% {  background-position: -100px; }
    40%, 100% { background-position: 140px; }
  }
  @keyframes shine-avatar {
    0% { background-position: -32px; }
    40%, 100% { background-position: 208px; }
  }

  .top-nav-inner::before {
    left: 0;
  }

  @media (min-width:768px) {
    .skeleton {
      width: 480px;
      height: 128px;
    }
    .skeleton .avatar {
      width: 128px;
      height: 128px;
    }
    .skeleton .line {
      float: none;
      margin-left: 144px;
    }
  }
  .pb-env-fix {
    padding-bottom: calc(64px + env(safe-area-inset-bottom));
  }
  .btm-env-fix {
    bottom: calc(8px + env(safe-area-inset-bottom));;
  }
  .food-content {
    padding: 16px;
    padding-bottom: calc(44px + env(safe-area-inset-bottom));
  }
</style>

<script>
import VueAwesomeSwiper from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.min.css'

import store from 'src/store'
import Vue from 'vue'
import Scrollspy from 'vue2-scrollspy'
Vue.use(Scrollspy);

import { incNumber,foodSrc,cartQty,decNumber,delItem,addItem,totalAmount,getFoodmarket,getFoodmarketDetail,cleanCart,toDecimal,reloadShopType,chkTypeInt,sortPrice } from 'src/libs/market.js'

import { showConfirm, hideModal,showAlert,showImageWuhu,showToast,showImgSubsidiary, fixScroll } from 'src/libs/appHelper.js'


const S_GoPAGE = '/cardShopType';
export default {
	components: {
		Swiper: VueAwesomeSwiper.swiper,
		SwiperSlide: VueAwesomeSwiper.swiperSlide
	},
	data: function () {
		return {
			state: this.$store.state,
			mallData: this.$store.state.mallData,
			// mallNowItem: this.$store.state.mallData.nowItem,
			isTypeModal: '', // 選規格&結帳明細
			allCount: 1,
			allAmount: '8,999',
			spySection: 0,
			styleIndex: 0,  //現在所選規格
			tabIndex: 'tab01',
			Qty:1, //預設要加到購物車的數量
			lastQty:1, //上一次購物車的數量
			prepareKind:[], //準備要撈的小類品項IDs
			isSortPrice: '', //價格排序
			listenEL:null,
			prepareKindObj:{},
			isLoadScrollTop:false, //是否撈上一次的ScrollTop
		};
	},
	computed: {
		// 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
		isLogin() {
			return this.$store.getters.isLogin
		},
		fontSizeBase() {
			return store.getters.fontSizeBase
		},
		mallNowItem() {
			// return store.state.mallData.nowItem;
			return this.mallData.nowItem;
		},
		itemStyle() {
			const sty1 = this.mallNowItem.style || [];
			// console.log('itemStyle-sty1: ', sty1);	// @@
			return sty1
		},
		maxItemStyle() {
			const len1 = this.itemStyle.length || 0;
			// console.log('maxItemStyle-len1: ', len1);	// @@
			return len1
		},
		// currentMallData() {
			// const kinds = this.mallData.kind.filter(p_kind=>{
				// return p_kind.foods && p_kind.foods.length > 0;
			// });
			// return kinds;
		// },

		swiper() {
			return this.$refs.mySwiper.$swiper
		},
		cvsFeeList(){
			const item_cvs = (this.mallNowItem.CVSCodes || "").split(',')
				,obj1 = this.mallData.foodExpresst
			var cvsFee = [];
			Object.keys(obj1).map((cvs_key)=>{
				if (item_cvs.indexOf(cvs_key) > -1)
				cvsFee.push(obj1[cvs_key]);
			});
			return cvsFee;
		},
	},
	props: {
		el: String
	},
	beforeDestroy(){
		window.removeEventListener('scroll', this.listenerType,true);

	},
	mounted() {
		// 监听滚动事件
		window.removeEventListener('scroll', this.listenerType,true);
		window.addEventListener('scroll', this.listenerType, true);
	},
	// 頁面模組
	methods: {
		fixScroll,
		incNumber,
		cartQty,
		foodSrc,
		decNumber,
		delItem,
		addItem,
		totalAmount,
		showImageWuhu,
		showImgSubsidiary,
		sortPrice,
		toDecimal,
		listenerType(el){
			//console.log("aaa>>>>>");
			var elTmp = el.srcElement.children || el.target.children;
			const p_tag = "section";
			var isSection = elTmp.length > 0 && ((elTmp[0]["nodeName"]).toLowerCase() == p_tag || (elTmp[0]["localName"]).toLowerCase() == p_tag || (elTmp[0]["tagName"]).toLowerCase() == p_tag);
			if (isSection && this.$route.query.goto!=undefined && this.$route.query.type==undefined && Array.isArray(this.mallData.kind)){
				this.listenEL =  el.srcElement || el.target;
				//console.log("bbb>>>>>",this.listenEL);
				if (this.isLoadScrollTop){
					this.listenEL.scrollTop = this.mallData.mallScrollTop
					this.isLoadScrollTop = false;
				}
				var st = el.srcElement.scrollTop || el.target.scrollTop;

				this.$store.commit('setShoplistenELe', this.listenEL)
				this.$store.commit('setMallScrollTop', st);//提供第scrollTop<=3才能刷新
				var tta = el.srcElement.children || el.target.children;
				var scollHt = el.srcElement.clientHeight || el.target.clientHeight;
				for (var j = 0, len = tta.length; j < len; j++) {
					var chiBot = (tta[j]).getBoundingClientRect().bottom;
					var chiTop = (tta[j]).getBoundingClientRect().top;
					var isBottomLoad = (chiBot > 108 && chiBot < scollHt);
					var isTopLoad = (scollHt-chiTop > -36 && chiTop > -1);  //-36保守讓kiosk可撈到畫面已出現小類待出品項

					if (this.mallData.kind.length > j){
						var isLocal = this.spySection != j && !this.mallData.kind[j]["isLoad"] && (isTopLoad || isBottomLoad)
						if (isLocal && this.prepareKindObj.ID != this.mallData.kind[j]["ID"]){
							this.prepareKindObj = {ID:this.mallData.kind[j]["ID"],index:j};

						}

					}

				}

			}
		},
		// 類別右側定位
		isSelectStyle(){
			return this.styleIndex > -1 && this.maxItemStyle > this.styleIndex;
		},
		checkValue(e){
			// console.log("Qty>>",e.target.value,"*",this.lastQty);
			if (e.target.value < 0 || e.target.value.indexOf('-') > -1 || e.target.value.indexOf('0') == 0) {this.Qty=this.lastQty;}
			else if(toDecimal(e.target.value)>999){this.Qty=this.lastQty;showToast('數值填入過大,修正為:'+this.Qty);}
			else {this.lastQty=e.target.value}
		},
		runPrepareKind(){
			if (this.prepareKind.length > 0) {
				var lastIndex = this.prepareKind.length - 1;
				getFoodmarket(this.prepareKind[lastIndex]["ID"],this.prepareKind[lastIndex]["index"],()=>{
					// this.$store.commit('turnShopCart');
					if (this.listenEL) {this.listenEL.scrollTop+=1;this.listenEL.scrollTop-=1;} //跑完data後,再觸發scroll
					if (this.prepareKind.length > lastIndex) this.prepareKind.splice(lastIndex,1);
				});
			}
		},

		haveKind(p_index){
			let isOk 	= false
				,kind		= []
			const foodkind2 = this.mallData.foodkind2
			if(foodkind2.length > p_index) {
				kind = this.mallData.foodkind.filter(p_kind=>{
					return p_kind.FLevel == foodkind2[p_index]["ID"];
				});
				isOk = (kind.length > 0);
			}
			return isOk;
		},
		triggerScrollAct() {
			this.prepareKind = [];
			this.$nextTick(()=>{

				// if (index!=undefined) return this.$scrollTo(index)  //或計要回到上(下)一個
			})
		},
		spyScrollAct() {
			this.$nextTick(()=>{
				if (this.$route.query.goto!=undefined) this.mallData.spyIndex = this.$route.query.goto;
				if(this.$route.fullPath.includes('?goto')) {
					this.isLoadScrollTop = true;
					return this.$scrollTo(this.$route.query.goto);
				}
				// if(this.$route.fullPath.includes('?goto')) return this.$scrollTo(this.spySection)

			})
		},
		scrollTopAct() {
			this.$nextTick(()=>{
				if (this.listenEL) {
					this.listenEL.scrollTop = this.mallData.mallScrollTop;
					//console.log(this.listenEL.scrollTop,"mallScrollTop>>",this.mallData.mallScrollTop);
				}

			})
		},

		// 類別右側定位
		spyScrollLinkAct() {
			this.$nextTick(()=>{
				// console.log("spyScrollLink",this.spySection);
				let anchorId = 'spyScrollLink' + this.spySection

				let anchorEl = document.getElementById(anchorId)

				if (anchorEl) anchorEl.scrollIntoView()
			})
		},
		// 商品內容Tabs定位
		tabsIntoView(elId) {
			this.tabIndex = elId
			let El = document.getElementById(elId)
			if (El) El.scrollIntoView()
		},
		isHideStyle(){
			if (!this.itemStyle) return false;
			return (this.maxItemStyle === 1 && this.itemStyle[0]["isNoStyle"]);
		},
		item_click(p_item,isSpec,kIndex,fIndex){
			this.Qty = 1; //預設數量

			console.log('item_click-item: ', p_item);	// @@
			getFoodmarketDetail(p_item.MainID,kIndex,fIndex,(p_food)=>{
				if (p_food) {
					store.commit('setShopNowItem', p_food);
					this.item_ok(isSpec);
				} else {
					showAlert("此商品已下架或不存在");
				}
			});
		},
		item_ok(isSpec){
			if (isSpec) {
				this.setDefault();
				if (this.isHideStyle()){
					this.addToCart();
					return;
				}

				this.isTypeModal = 'spec'
				this.$store.commit('setCssTouch', false) // 修正手機端遮罩層bug
			} else {
				let param1 = {
					type: 'product',
					from: 'subKind',
					goto: this.spySection,
				}
				const q_k2index = this.$route.query.kind2Index
				if (q_k2index) {
					param1.kind2Index = q_k2index;
				}
				this.$router.push({path: S_GoPAGE, query: param1})
			}
		},
		deleteAll(){
			showConfirm("是否清除購物車", '確定', '取消')
			// 點擊確認執行
			.then(() => {
				cleanCart(()=>{
					hideModal();
					this.mallData.shopping_cart.map(p_cart=>{
						this.mallData.foodQty[p_cart.MainID] = 0;
						this.mallData.kindQty[p_cart.KindID] = 0;
					});
					this.isTypeModal='';
					this.mallData.shopping_cart=[];
					this.mallData.shopOrderTmp={Total:0};
					//showToast('購物車已變更');
				});

			})
			// 點擊取消執行 => 關閉 confirmn 視窗
			.catch(() => hideModal())
		},
		getStock(){
			return this.maxItemStyle ? chkTypeInt(this.itemStyle[this.styleIndex]["CurStock"]) : 0; //庫存
		},
		addToCart(isGoCart){
			// const one = this.itemStyle[this.styleIndex]
				// ,aa1 		= one["CurStock"]
			// console.log('addToCart-庫存,one: ', aa1, one);	// @@

			if (this.styleIndex < 0 || !this.maxItemStyle) {showAlert("請選擇規格!"); return;}
			this.mallNowItem.styleFoodID = this.getStyle1("ID");
			this.mallNowItem.Taste = this.getStyle1("Name"); //規格名稱
			this.mallNowItem.Price1 = this.getStyle1("Price1");//規格價格
			this.mallNowItem.CurPrice = this.getStyle1("CurPrice");//規格原價

			if (!this.getStock()) {showAlert("商存已無庫存!"); return;}

			if (isGoCart){
				incNumber(this.mallNowItem,this.Qty,()=>{
					this.valInit();
					this.$router.push('/cardShopCart/')
				});
			}else{
				incNumber(this.mallNowItem,this.Qty);
				this.valInit();
			}
			// if(isGoCart) this.$router.push('/shopCart')
		},
		getStyle1(key1){
			const hasStock = this.maxItemStyle;
			return hasStock ? this.itemStyle[this.styleIndex][key1] : '';
		},
		valInit(){
			this.setDefault();

			this.isTypeModal='';
			this.$store.commit('setCssTouch', true);
		},
		goKind(p_index,sub_index){
        if (p_index == this.$route.query.kind2Index) return;
			if (sub_index == undefined) sub_index=0;
			this.prepareKindObj={};

			const foodkind2 = this.mallData.foodkind2
			if(foodkind2.length > p_index) {
				this.mallData.kind = this.mallData.foodkind.filter(p_kind=>{
						return p_kind.FLevel == foodkind2[p_index]["ID"];
					});
			}

			if (!this.mallData.kind.length) {showToast('無類別');return;}
			this.mallData.kind.map((p_kind,kIndex)=>{
				// if (kIndex == sub_index) getFoodmarket(p_kind.ID,kIndex,()=>{  //this.mallData.kind[kIndex]["ID"]
					//改到shoptype==>beforeRouteEnter
				//   if (p_index!=undefined) this.$router.push({ path: '/shopType', query: { goto: sub_index ,kind2Index: p_index} })
				//   // this.$router.replace({ path: '/shopType', query: { goto: 0,kind2Index: index} })
				// });

				var tmpFoods=[];
				for (var i = 0; i < 17; i++) {
					tmpFoods.push({Name:"..."}); //為了讓點餐頁類別可以置頂

				}
				if (kIndex != sub_index && !p_kind.isLoad) p_kind.foods = tmpFoods;

			});

			if (p_index!=undefined) this.$router.replace({path: S_GoPAGE, query: { goto: sub_index ,kind2Index: p_index,reload:'yes'} })
		},
		// 判斷 single || double click
		oneClick() {
			this.clicks++
			if(this.clicks === 1) {
				var self = this
				this.timer = setTimeout(function() {
					self.clicks = 0
				}, 200);
				this.isDblClick = false
				this.swiper.autoplay.start()
			} else {
				clearTimeout(this.timer);
				this.isDblClick = true
				this.clicks = 0
				// 放大時，停止輪播
				if(this.swiper.zoom.scale > 1) this.swiper.autoplay.stop()
				else this.swiper.autoplay.start()
			}
		},
		// two-finger-touch stop swiper
		zoomTouch(e) {
			if(e.touches.length == 2 && e.targetTouches.length == 2) this.swiper.autoplay.stop()
			else if( this.swiper.zoom.scale == 1)  this.swiper.autoplay.start()
		},
    toggleCart() {
      if(this.isTypeModal=='bill') this.isTypeModal=''
      else this.isTypeModal='bill'
    },
		/* 設預設(規格 */
		setDefault() {
			this.styleIndex = 0
			/** @Fix: 預設選規格1 */
			// this.styleIndex = -1;
			// const isOnly1 = this.maxItemStyle == 1
			// if (isOnly1) this.styleIndex = 0; //若規格只有1筆,則預設選它
			// if (this.$route.query.type=='product' && isOnly1) this.styleIndex = 0;
		},
	},
	beforeRouteUpdate: function (to, form, next) {
		if (!this.listenEL) this.$store.commit('setShoplistenELe', this.$refs.scrollTitem)
		reloadShopType(to);
		if (to.query != null && to.query.reload === 'yes') store.dispatch("fetchMallKindData",to.query)

		next()
	},
	// 在路由刷新前
	beforeRouteEnter: function (to, form, next) {
    store.state.isPageName = '線上商城'		// 頁面名稱
		reloadShopType(to);
		store.commit('setSortPriceType', '');
		if (((form.path === "/cardShop" && to.query.reload === 'yes') || form.path === "/cardShopType") && to.query != null) store.dispatch("fetchMallKindData",to.query)

		next(vm=>{
			if (!vm.listenEL){
			const $it = vm.$refs.scrollTitem
				//首次進入不會觸發scrollTop,要檢查撈取小類方式
				vm.$store.commit('setShoplistenELe', $it)
				if ($it) {
					$it.scrollTop +=1;
				}
			}
		})
	},
	beforeRouteLeave: function(to, form, next){
		this.isTypeModal = ''
		// 消滅此 instance
		this.$destroy()
		next()
	},
	// 建立頁面後
	created: function () {

		this.spyScrollAct()
		// this.setDefault();

		// Nav橫向捲動到位
		this.$nextTick(()=>{
			let El = document.querySelector('.topnav-container')
			let navItem = document.getElementById('kind2Index'+this.$route.query.kind2Index)
			if (El && navItem) El.scrollLeft = navItem.getBoundingClientRect().left -16
		})

	},
	watch: {
		'$route' () {
			this.spyScrollAct();
			this.tabIndex = 'tab01'
			this.setDefault();
		},
		spySection(kIndex){
			// if (this.mallData.isLoadKind2) {this.mallData.isLoadKind2=false;this.spySection=0;}

			var isLoading = this.prepareKindObj.ID == this.mallData.kind[kIndex]["ID"]
			if (!this.mallData.kind[kIndex]["isLoad"] && !isLoading) {
				getFoodmarket(this.mallData.kind[kIndex]["ID"],kIndex,()=>{
					if (this.listenEL) {this.listenEL.scrollTop+=1;this.listenEL.scrollTop-=1;} //跑完data後,再觸發scroll
					this.$store.commit('turnShopCart');//觸發UI更新用
				});
			}
			this.mallData.spyIndex = kIndex;
		},
		prepareKind(){
			this.runPrepareKind()
			// setTimeout(() => this.runPrepareKind(), 100);
		},
		prepareKindObj(p_obj){
			if (p_obj.ID) getFoodmarket(p_obj.ID,p_obj.index,()=>{
				this.prepareKindObj={};
				if (this.listenEL) {this.listenEL.scrollTop+=1;this.listenEL.scrollTop-=1;} //跑完data後,再觸發scroll2

			});
		}
	}
}
</script>