<template>
  <div class="h-full bg-white flex flex-col">

		<!-- line@ -->
		<div class="fixed right-0 bottom-0 pr-3 pb-3" style="z-index:999" @click="openLink('https://line.me/R/ti/p/%40tanzuo')">	
			<figure class="image is-1by1 m-0 w-14 h-14">
				<img class="rounded-full shadow" src="../../../assets/images/line.png">
			</figure>
		</div>

    <template v-if="!$store.state.mallData.foodkind.length">
      <div class="notification is-info is-light m-3 text-center">
        Coming Soon !!<br>Under Construction
    </div>
    </template>
    <!-- 頂分類選單 -->
    <template v-if="$store.state.mallData.foodkind.length">
			<div class="columns is-mobile is-gapless is-vcentered mb-0" v-if="$route.query.type==null">
				<div class="column is-narrow">
					<div class="p-2">
						<svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16" @click="getSearchFoods();$router.push({ path: '/cardShop/', query: { type: 'search' } })">
							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
						</svg>
					</div>
				</div>
				<div class="column overflow-x-auto">
					<div class="whitespace-nowrap py-1">
						<span class="bg-gray-800 rounded-full py-1 px-3 mx-1 text-white inline-block" v-for="(item, index) in $store.state.mallData.foodkind2" :key="index" v-show="haveKind(index)" @click="goKind(index,0,true)">{{item.Name}}</span>
					</div>
				</div>
			</div>
    </template>

    <!-- 首頁內容 -->
    <div class="overflow-y-auto flex-auto" v-show="$route.query.type==null && $store.state.mallData.foodkind.length">

      <!-- 輪播 Banner -->
      <div class="text-center has-background-white-ter">
        <swiper :options="swiperOption" v-if="mallData.Banner.length">
          <swiper-slide v-for="(banner, bIndex) in mallData.Banner" :key="'banr'+bIndex">
						<figure class="image is-16by9 m-0">
							<img class="swiper-lazy object-cover" :data-src="showImgSubsidiary(banner.PicURL)" :key="banner.PicURL" @click="redirectToLink(banner)">
							<div class="swiper-lazy-preloader"></div>
						</figure>
          </swiper-slide>
          <!-- Optional controls -->
          <div class="swiper-pagination" style="z-index:1" slot="pagination"></div>
        </swiper>
      </div>

      <!-- 推薦分類區塊 -->
      <section v-for="(itemFeature, fIndex) in mallData.home" :key="'home'+fIndex" >
        <header class="flex items-center mb-3 text-xl">
          <p class="font-bold bg-gray-800 tracking-wider py-2 px-3 text-white h-11">{{itemFeature.Name}}</p>
          <p class="flex-auto tz-header-gradient py-2 px-5 relative text-base h-11" @click="reloadHome(fIndex)"><span class="pt-2 inline-block"><u>查看更多</u>...</span></p>
        </header>
        <!-- swiper -->
        <swiper class="px-3 py-4 rcmd-swiper" :options="swiperOptionRcmd" v-if="mallData.Banner.length">
          <swiper-slide v-for="(item, tIndex) in itemFeature.type.slice(0, itemFeature.Counts)" :key="'sub'+tIndex">
						<div class="card-image rounded-xl overflow-hidden" @click="item_click(item,undefined,fIndex,tIndex,true)">
							<figure class="image is-1by1 m-0">
								<img :src="showImgSubsidiary(item.PIC1)" :key="showImgSubsidiary(item.PIC1)" class="has-background-white-ter object-cover" alt="">
								<div v-if="toDecimal(item.ShowQty) > 0" class="absolute text-base text-white py-1 px-2 bg-red-600 shadow left-2 top-2 rounded-md">限量 {{item.ShowQty}} 組</div>
							</figure>
						</div>
						<div class="card-content px-0 py-2">
							<p><b> {{item.Name}}</b></p>
							<p>
								<small>NT$ </small>
								<b class="has-text-danger">{{item.Price1}}</b>
								<del class="ml-2 has-text-grey-light">{{item.Price}}</del>
							</p>
						</div>
          </swiper-slide>
        </swiper>
      </section>
    </div>

    <!-- 推薦分類區塊(完整) -->
    <div class="overflow-y-auto flex-auto" v-if="nowHome()">
      <section>
        <header class="flex justify-center items-center border-b border-yellow-200 mb-2 py-2 bg-yellow-100 text-xl">
          <p class="font-bold text-yellow-900 tracking-wider">{{mallData.home[$route.query.index]["Name"]}}</p>
        </header>
        <div class="p-3">
          <div class="columns is-mobile is-variable is-2 is-multiline" v-if="mallData.isCarUI!=undefined">
            <div class="column py-2 is-6-mobile is-4-tablet"
              v-for="(item, sIndex) in mallData.home[$route.query.index]['type']"
              :key="'sitem'+sIndex"
              @click.stop="item_click(item,undefined,$route.query.index,sIndex,true)"
              :class="[(item.Counts > sIndex)?'py-2':'py-0']"
            >
              <div>
                <div class="card-image">
                  <figure class="image is-1by1 m-0 rounded-xl overflow-hidden">
                    <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->
                    <img :src="showImgSubsidiary(item.PIC1)" :key="showImgSubsidiary(item.PIC1)" class="has-background-white-ter" alt="">
                    <span v-if="toDecimal(item.ShowQty) > 0" class="absolute text-base text-white py-1 px-2 bg-red-600 shadow-md left-2 top-2 rounded-md">限量 {{item.ShowQty}} 組</span>
                  </figure>
                </div>
                <div class="card-content px-0 py-2">
                  <p><b>{{item.Name}}</b></p>
                  <p class="mb-1">
                    <small>NT$ </small>
                    <b class="has-text-danger">{{item.Price1}}</b>
                    <del class="ml-2 has-text-grey-light">{{item.Price}}</del>
                  </p>
                  <button class="button bg-primary text-white hover:text-white rounded-lg is-fullwidth" v-if="!item.Stop" @click.stop="item_click(item,true,$route.query.index,sIndex,true)">放入購物車</button>
                  <button class="button has-background-grey-lighter is-light is-fullwidth" v-else>停&nbsp;&nbsp;售</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- 半透明遮罩 -->
    <transition name="slide-fade">
      <div class="fixed top-0 w-full h-full bg-black bg-opacity-60" style="z-index: 999" v-if="isTypeModal!=''" @click="isTypeModal=''" v-cloak></div>
    </transition>

    <transition name="slide-top">
      <!-- 選規格 -->
      <div class="modal is-active" style="z-index:1000" v-if="isTypeModal=='spec'" @click.self="isTypeModal=''">
        <div class="modal-background bg-black bg-opacity-0"></div>
        <div class="modal-card px-3">
          <header class="modal-card-head rounded-t-xl font-bold pt-4 pb-0 bg-white border-b-0">
            <p class="modal-card-title">{{mallData.nowItem.Name}}</p>
            <button class="delete is-medium" aria-label="close" @click="isTypeModal=''"></button>
          </header>
          <section class="modal-card-body">
            <div class="overflow-y-auto">
              <p class="mb-1"><b>規格名稱：</b></p>
              <span class="ck-box" v-for="(item, iIndex) in mallData.nowItem.style" :key="'chisty'+iIndex">
                <input :id="item.ID" type="radio" name="項目" class="ck-button hidden" v-bind:value="iIndex" v-model="styleIndex">
                <label class="button" :for="item.ID">{{item.Name}}</label>
              </span>
              <p class="mb-0" v-show="false">備註</p>
              <input type="text" placeholder="請輸入文字說明" class="input" v-show="false">
            </div>
          </section>
          <footer class="modal-card-foot rounded-b-xl border-t-0 justify-between py-3">
            <div>
              <div>
                <small>NT$ </small>
                <!-- <b>{{mallData.nowItem.Price}}</b> -->
                <b class="text-red-500">{{(styleIndex > -1 && mallData.nowItem.style.length > styleIndex?mallData.nowItem.style[styleIndex]["Price1"]:mallData.nowItem.Price)}}</b>
              </div>
            </div>
            <div>
              <div class="flex items-center">
                <button class="border border-gray-400 bg-gray-200 rounded-full flex items-center justify-center w-6 h-6" :disabled='Qty < 2' @click="Qty--">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4" /></svg>
                </button>
                <input type="number" min="0" readonly="readonly" class="bg-transparent text-center w-9" :value="Qty">
                <button class="bg-primary rounded-full text-white flex items-center justify-center w-6 h-6" @click="Qty++">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" /></svg>
                </button>
                <button class="button rounded-full bg-primary text-white hover:text-white ml-3">
                  <span @click="addToCart()">放入購物車</span>
                </button>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </transition>

    <!-- 搜尋功能 -->
    <div class="overflow-y-auto flex-auto" v-if="$route.query.type=='search'">
			<div class="p-3 sticky top-0 bg-white z-10">
				<form action="." v-on:submit.prevent="searchOnline()">
					<div class="field has-addons">
						<div class="control is-expanded has-icons-left">
							<input class="input rounded-l-md" type="search" placeholder="輸入關鍵字" ref="searchInput" v-model="keyFilter">
							<span class="icon is-small is-left">
								<svg class="inline-block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16" @click="getSearchFoods();$router.push({ path: '/cardShop/', query: { type: 'search' } })">
									<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
								</svg>
							</span>
						</div>
						<div class="control">
							<button type="submit" class="button bg-primary px-5 text-white hover:text-white border-gray-600 rounded-r-md" @click="searchOnline()">搜尋</button>
						</div>
					</div>
				</form>
			</div>
			<!-- 搜尋結果 -->
			<p v-if="onlineItem.length == 0" class="text-center opacity-60 py-40">-- 無搜尋結果 --</p>
			<div class="p-3 -mt-2">
				<div class="columns is-mobile is-variable is-2 is-multiline mt-0">
					<div class="column py-2 is-6-mobile is-4-tablet" v-for="(item, cuIndex) in onlineItem" :key="'current'+cuIndex" @click="item_click(item,undefined,0,0,false)">
						<div>
							<div class="card-image">
								<figure class="image is-1by1 m-0 rounded-2xl overflow-hidden">
									<img :src="showImgSubsidiary(item.PIC1)" alt="">
									<span v-if="toDecimal(item.ShowQty) > 0" class="absolute text-base text-white py-1 px-2 bg-red-600 shadow-md left-2 top-2 rounded-md">限量 {{item.ShowQty}} 組</span>
								</figure>
							</div>
							<div class="card-content px-0 py-2">
								<p><b>{{item.Name}}</b></p>
								<p>
									<small>NT$ </small>
									<b class="has-text-danger">{{item.Price1}}</b>
									<del class="ml-2 has-text-grey-light">{{item.Price}}</del>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .image-square {
    background-size: cover;
    background-position: center;
    background-color: #f2f2f2;
    position: relative;
  }
  .image-square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .colorHeader {
    background: linear-gradient(to left,#c2e59c,#64b3f4);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  }
  .ft-header {
    position: relative;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  }
  .ft-header::after {
    content:'';
    position: absolute;
    background: linear-gradient(to left,#c2e59c,#64b3f4);
    height: 1.66em;
    width: calc(150% + 2em);
    left: -1.5em;
    top: 50%;
    transform: translateY(-50%) skew(-45deg);
    z-index: -1;
  }
  .scroll-auto-fix {
    overflow-y: auto;
    height: calc(100vh - 104px - env(safe-area-inset-top));
    padding-bottom: env(safe-area-inset-bottom) ;
  }
  .ft-scroll-auto-fix {
    overflow-y: auto;
    height: calc(100vh - 54px - env(safe-area-inset-top));
    padding-bottom: env(safe-area-inset-bottom) ;
  }
	.skew-side {
		z-index: 2;
		&::before {
			content: '';
			left: -12%;
			z-index: -1;
			transform: skew(-30deg, 0deg);
			@apply absolute w-1/2 h-full bg-red-500 top-0;
		}
	}
	.rcmd-swiper .swiper-slide {
    width: 36% !important;
  }
	.tz-header-gradient {
		background: linear-gradient(90deg, rgba(93,87,92,1) 0%, rgba(255,255,255,1) 22%, rgba(118,112,116,1) 100%);
	}
</style>

<!--<script src="src/assets/test.js"></script>--><!--商城假data-->
<script>
import VueAwesomeSwiper from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.min.css'

import store from 'src/store'
import { malltmp } from 'src/assets/mall_temp.js'
import { getFoodmarket,foodSrc,incNumber,foodCheck,getFoodKind,getHeadergroup,getFoodmarketDetail_kind,getSearchFoods,getFoodmarketDetail_only,singlefoodmarket,searchFood,toDecimal,chkTypeInt,getGroupitems,getMyShopCart,itmeQtyReload,getFoodRule } from 'src/libs/market.js'

// import fetchData from '../../libs/fetchData.js'
import { showAlert,showImageWuhu,showToast,showImgSubsidiary } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { IsMobile } from 'src/fun1.js'


const S_GoPAGE = '/cardShopType';
export default {
	components: {
		Swiper: VueAwesomeSwiper.swiper,
		SwiperSlide: VueAwesomeSwiper.swiperSlide
	},
	data: function () {
		return {
			state: this.$store.state,
			searchBar: false,
			mallTmp: malltmp,
			keyFilter:"",
			isTypeModal: '', // 選規格
			Qty:1, //預設要加到購物車的數量
			styleIndex: -1,  //現在所選規格
			onlineItem:[], //搜尋線上品項
			// detect click
			isDblClick: false,
			clicks: 0,
			swiperOption: {
				observer:true,
				lazy: {
					loadPrevNext: true,
				},
				pagination: {
					el: '.swiper-pagination'
				},
				autoplay: {
					disableOnInteraction: false
				},
			},
			swiperOptionRcmd: {
        slidesPerView: 'auto',
				spaceBetween: 16,
        freeMode: true,
				lazy: {
					loadPrevNext: true,
				}
			},
		};
	},
	computed: {
		// 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
		isLogin() {
			return this.$store.getters.isLogin
		},
		fontSizeBase() {
			return store.getters.fontSizeBase
		},
		mallData() {
			return this.$store.state.mallData;
		},
		currentItem(){
			return this.$store.state.mallData.iv_currentItem.filter(food =>RegExp(this.keyFilter).test(food.Name));
		},
		// swiper() {
		// 	return this.$refs.mySwiper.$swiper
		// }
	},
	mounted() {
		// window.addEventListener('scroll', (el) => {

		//   var st = el.srcElement.scrollTop || el.target.scrollTop;
		//   console.log("st..",st);
		// }, true);
	},
	// 頁面模組
	methods: {
		doSomething() {
		},
		foodSrc,
		showImageWuhu,
		showImgSubsidiary,
		foodCheck,
		getFoodKind,
		getHeadergroup,
		getSearchFoods,
		toDecimal,
		reloadHome(fIndex){
			getGroupitems(this.mallData.home[fIndex]["GID"],(p_data)=>{
				this.$store.commit('groupFood', {"fIndex":fIndex,"GroupItems":p_data});
				// this.$store.commit('turnShopCart');
				this.$router.push({ path: '/cardShop/', query: { type: 'feature',index:fIndex } })
			});

		},
		nowHome(){
			return (this.$route.fullPath.includes('&index') && this.$route.fullPath.includes('?type') && this.$route.query.type === "feature" && this.$route.query.index > -1);

		},
		searchOnline(){
			searchFood(this.keyFilter,(foods)=>{
				this.onlineItem = foods;
			});
			this.$refs.searchInput.blur()
		},
		item_click(p_item,isSpec){
			// console.log('item_click-item: ', p_item);	// @@

			this.Qty = 1; //預設數量
			store.commit('setShopNowItem', p_item);

			if (this.mallData.nowItem.ID){
				singlefoodmarket(this.mallData.nowItem.ID,(food_arrs)=>{
					if (Array.isArray(food_arrs) && food_arrs.length > 0){
						getFoodmarketDetail_only(store.state.mallData.nowItem.ID,(p_style)=>{
							// console.log('item_click--p_style: ', p_style);	// @@
							store.state.mallData.nowItem.style = p_style;
							this.$store.commit('turnShopCart');
							this.item_ok(isSpec);
						});
					}else{
						showAlert("此商品已下架或不存在");
					}
				});
			}
			// var isLoad=true;
			// if (isLoad){
			// if (isLoad && !isFromHome){
			// if (!p_item.isLoad){
			//   if (!p_item.isLoad && !isFromHome){
			//     搜尋商品頁


			//     const findKind = (et) => et.ID == p_item.Kind;
			//     var kind_index = this.mallData.foodkind.findIndex(findKind);
			//     var kindID = this.mallData.foodkind[kind_index]["ID"];
			//     if (!this.mallData.iv_foods[kindID]){
			//       getFoodmarket_only(kindID,()=>{
			//         this.findFoods(p_item,isSpec,kind_index,kindID);
			//       });
			//     }
			//     else{
			//       this.findFoods(p_item,isSpec,kind_index,kindID);
			//     }

			// }else if (isLoad && isFromHome){
			//   }else if (!p_item.isLoad && isFromHome){
			//     首頁群組商品
			//     this.item_ok(isSpec);
			//     getFoodmarketDetail_home(p_item.MainID,kIndex,fIndex,(p_food)=>{
			//       this.$store.state.mallData.nowItem = p_food;


			//       this.item_ok(isSpec);
			//     });
			//   }
			// }else{
			//   this.item_ok(isSpec);
			// }


		},
		item_ok(isSpec){

			if (isSpec) {
				this.styleIndex = -1;
				if (this.mallData.nowItem.style.length == 1) this.styleIndex = 0;

				if (this.isHideStyle()){
					this.addToCart();
					return;
				}

				this.isTypeModal = 'spec'
				this.$store.commit('setCssTouch', false) // 修正手機端遮罩層bug
			} else {
				// console.log("count...",this.$router.length);
				let param1 = {type: 'product'}
				if (this.nowHome()) {
					param1.fromIndex = this.$route.query.index;
				}
				this.$router.push({path: S_GoPAGE, query: param1})

			}
		},
		isHideStyle(){
			if (!this.mallData.nowItem.style) return false;
			return (this.mallData.nowItem.style.length === 1 && this.mallData.nowItem.style[0]["isNoStyle"]);
		},
		findFoods(p_item,isSpec,kind_index,kindID){

			if (this.mallData.iv_foods[kindID] && !this.mallData.foodkind[kind_index]["foods"]) {
				this.$store.state.mallData.foodkind[kind_index]["foods"] = this.mallData.iv_foods[kindID]
				const findFood = (et) => et.GID == p_item.GID;
				var fin_index = this.mallData.foodkind[kind_index]["foods"].findIndex(findFood);
				getFoodmarketDetail_kind(p_item.MainID,kind_index,fin_index,(p_food)=>{
					this.$store.state.mallData.nowItem = p_food;
					this.item_ok(isSpec);

				});
			}
		},
		setDemo(){
			this.$store.state.mallData.foodkind2 = this.mallTmp.kind2; //暫時塞假的資料
			this.$store.state.mallData.foodkind = this.mallTmp.kind;

			this.$store.state.mallData.foodkind.map(p_kind => {
				p_kind.foods= this.mallTmp[p_kind.ID] || [];
				//首頁顯示的品項
				var foodIds = p_kind.foods.map(p_food =>{
					//p_food.style = this.mallTmp.style;
					// p_food.MainMenu = this.mallTmp.foodMainMenu;  //詳請頁的Banner,五張圖
					p_food.PIC1 = this.mallTmp.foodMainMenu.PIC1;
					p_food.PIC2 = this.mallTmp.foodMainMenu.PIC2;
					p_food.PIC3 = this.mallTmp.foodMainMenu.PIC3;
					p_food.PIC4 = this.mallTmp.foodMainMenu.PIC4;
					p_food.PIC5 =  this.mallTmp.foodMainMenu.PIC5;
					// p_food.Market= this.mallTmp.foodMarket;
					p_food.style = this.mallTmp.foodMarket.map(p_style =>{
						var style_arr = [];
						Object.keys(p_style).map( p_key =>{
							if (p_key.indexOf("SpecID") == 0){
								var specKey = p_style[p_key];
								if (specKey && specKey != "") style_arr.push(this.mallTmp.specName[specKey]);

							}
						});

					// return {ID:p_style.ID,Name:style_arr.join()};
						return {ID:p_food.ID+"-"+p_style.ID,Name:style_arr.join()}; //暫時加foodid來區別訂單ID
					});

					// p_food.MinOrderCount = 1;//最低購量
					// p_food.MaxOrderCount = 3;//最高購量

					return p_food.ID;
				});

				this.mallTmp.home.map(p_home => {
					p_home.type.map((obj,oIndex) =>{
						var id_index = foodIds.indexOf(obj.ID);
						if (obj.Kind === p_kind.ID && id_index > -1){
							p_home.type[oIndex] = p_kind.foods[id_index];

						}
					})
				});


			});
			this.$store.state.mallData.home = this.mallTmp.home;
		},
		checkStock(){
			var isIndexStyle = this.styleIndex > -1 && this.mallData.nowItem.style.length > this.styleIndex;
			var int_curStock = chkTypeInt(isIndexStyle?this.mallData.nowItem.style[this.styleIndex]["CurStock"]:0);//庫存
			return int_curStock > 0;
		},
		addToCart(isGoCart){
			if (this.styleIndex < 0 || this.mallData.nowItem.style.length <= this.styleIndex) {showAlert("請選擇規格!"); return;}
			this.mallData.nowItem.styleFoodID = (this.styleIndex > -1?this.mallData.nowItem.style[this.styleIndex]["ID"]:'');
			this.mallData.nowItem.Taste = (this.styleIndex > -1?this.mallData.nowItem.style[this.styleIndex]["Name"]:''); //規格名稱
			this.mallData.nowItem.Price1 = (this.styleIndex > -1?this.mallData.nowItem.style[this.styleIndex]["Price1"]:'');//規格價格
			this.mallData.nowItem.CurPrice = (this.styleIndex > -1?this.mallData.nowItem.style[this.styleIndex]["CurPrice"]:'');//規格原價
			if (!this.checkStock()) {showAlert("商存已無庫存!"); return;}
			incNumber(this.mallData.nowItem,this.Qty);
			this.styleIndex = -1;
			if (this.$route.query.type=='product' && this.mallData.nowItem.style.length == 1) this.styleIndex = 0;
			this.isTypeModal='';
			this.$store.commit('setCssTouch', true)
			if(isGoCart) this.$router.replace('/cardShopCart/')
		},
		// 判斷 single || double click
		oneClick() {
			this.clicks++
			if(this.clicks === 1) {
				var self = this
				this.timer = setTimeout(function() {
					self.clicks = 0
				}, 200);
				this.isDblClick = false
          if (this.swiper && this.swiper.autoplay) this.swiper.autoplay.start()
			} else {
				clearTimeout(this.timer);
				this.isDblClick = true
				this.clicks = 0
				// 放大時，停止輪播
          if(this.swiper && this.swiper.autoplay && this.swiper.zoom.scale > 1) this.swiper.autoplay.stop()
          else if (this.swiper && this.swiper.autoplay) this.swiper.autoplay.start()
			}
		},
      redirectToLink(banner) {
        this.oneClick()
			setTimeout(() => {
			// console.log(banner);
			//console.log(banner);LinkType= FoodKind, FoodDetail ...LinkPostion='300100001'
			if ((banner.LinkType != '' || banner.LinkPostion != '') && this.isDblClick) return

          if (banner.LinkType === "FoodDetail" || banner.LinkType === "MarketDetail"){
					this.getSearchFoods();
					const findfood = (et) => et && et.ID == banner.LinkPostion; //依規格的ID來區分群組

					var p_index = this.mallData.iv_currentItem.findIndex(findfood);
					if (p_index> -1) this.item_click(this.mallData.iv_currentItem[p_index],undefined,0,0,false)
					if (p_index < 0) singlefoodmarket(banner.LinkPostion,(food_arrs)=>{
						if (Array.isArray(food_arrs) && food_arrs.length > 0){
							this.item_click(food_arrs[0],undefined,0,0,false)
						}else{
							showAlert("此商品已下架或不存在");
						}
					});

          }else if (banner.LinkType === "FoodKind" || banner.LinkType === "MarketKind"){

					const findKind = (et) => et.ID == banner.LinkPostion;
					// var k_index = this.mallData.foodkind2.findIndex(findKind);
					var sub_index = this.mallData.foodkind.findIndex(findKind);
					if (sub_index < 0) return showAlert("無法找到此類別");
					var kind2ID = this.mallData.foodkind[sub_index]["FLevel"];
					const findKind2 = (et) => et.ID == kind2ID;
					var k_index = this.mallData.foodkind2.findIndex(findKind2);
					if (k_index < 0) return showAlert("無法找到此類別");

					var sub_kind = this.mallData.foodkind.filter(p_kind=>{
						return p_kind.FLevel == this.mallData.foodkind2[k_index]["ID"];
					});

					var findSub_index = sub_kind.findIndex(findKind);
					if (findSub_index> -1) this.goKind(k_index,findSub_index,true)
          }else if (banner.LinkType === "FoodHead" || banner.LinkType === "MarketHead"){
					const findHome = (et) => et.SN == banner.LinkPostion;
					var homeIndex = this.mallData.home.findIndex(findHome);
					if (homeIndex < 0) return showAlert("無法找到分組");
            if (homeIndex > -1) this.$router.push({ path: '/cardShop', query: { type: 'feature',index:homeIndex } })
				}else if (banner.LinkType == 'InnerURL') {
					this.$router.push(banner.LinkPostion)

				}else if (banner.LinkType == 'OuterURL') {
					let url = banner.OuterURL
					// 在殼裡面 => 開啟瀏覽器
					if (typeof(JSInterface) !== 'undefined') {
						deviseFunction('openWeburl', url, '')
					// 在瀏覽器 => 瀏覽器新開一個tab
					} else {
						window.open(url, '_blank')
					}
				}

			}, 300)

			// let linkPrefix
			// if (banner.LinkType === "FoodDetail") linkPrefix = '/cardProducts/'
			// if (banner.LinkType === "MessageDetail") linkPrefix = '/cardNewspage/'

			// this.$router.push(linkPrefix + banner.LinkPostion)
		},
		// two-finger-touch stop swiper
		zoomTouch(e) {
        if(this.swiper && this.swiper.autoplay && e.touches.length == 2 && e.targetTouches.length == 2) this.swiper.autoplay.stop()
        else if(this.swiper && this.swiper.autoplay && this.swiper.zoom.scale == 1)  this.swiper.autoplay.start()
		},
		goKind(p_index,sub_index,isreload){
			if (sub_index == undefined) sub_index=0;
			if(Array.isArray(store.state.mallData.foodkind2) && store.state.mallData.foodkind2.length > p_index) {
				store.state.mallData.kind = store.state.mallData.foodkind.filter(p_kind=>{
						return p_kind.FLevel == store.state.mallData.foodkind2[p_index]["ID"];
					});
			}
			if (store.state.mallData.kind.length == 0) {showToast('無類別');return;}
			store.state.mallData.kind.map((p_kind,kIndex)=>{
				// if (kIndex == sub_index) getFoodmarket(p_kind.ID,kIndex,()=>{  //this.mallData.kind[kIndex]["ID"]
					//改到shoptype==>beforeRouteEnter
				//   if (p_index!=undefined) this.$router.push({ path: '/shopType', query: { goto: sub_index ,kind2Index: p_index} })
				//   // this.$router.replace({ path: '/shopType', query: { goto: 0,kind2Index: index} })
				// });


				var tmpFoods=[];
				for (var i = 0; i < 17; i++) {
					tmpFoods.push({Name:"..."}); //為了讓點餐頁類別可以置頂

				}
				//console.log(kIndex , sub_index , p_kind.isLoad)
				if (kIndex != sub_index && !p_kind.isLoad) p_kind.foods = tmpFoods;

			});
			getFoodmarket(this.mallData.kind[0]["ID"],0,()=>{
				if (p_index!=undefined) {
					let param1 = { goto: sub_index ,kind2Index: p_index}
					if (isreload) {
						param1.reload = 'yes';
					}
					this.$router.push({path: S_GoPAGE, query: param1})
				}
			});

		},
		haveKind(p_index){
			var isOk = false;
			var kind=[]
			if(Array.isArray(store.state.mallData.foodkind2) && store.state.mallData.foodkind2.length > p_index) {
				kind = store.state.mallData.foodkind.filter(p_kind=>{
					return p_kind.FLevel == store.state.mallData.foodkind2[p_index]["ID"];
				});
				isOk = (kind.length > 0);
			}
			return isOk;
		},
		openLink(url) {
      if (url && (url.trim())) {
        // 在殼裡面 => 開啟瀏覽器
        if (IsMobile()) {
					deviseFunction('openWeburl', url, '')
        // 在瀏覽器 => 瀏覽器新開一個tab
        } else {
					window.open(url, '_blank')
        }
      }
    },
	},
	// 在路由刷新前
	async beforeRouteEnter(to, form, next) {
		store.state.isPageName = '線上商城' // 頁面名稱
		document.querySelector(".pull-down-container").scrollTop = 0 // 此頁置頂
		store.state.mallData.reloadShopFn = async(p_next) => {
			store.commit('clsShopMall');
      await store.dispatch('fetchMarketShopID')

			await getFoodKind(); // 取大中類別
			if (store.getters.isLogin) getMyShopCart(()=>{
				itmeQtyReload();
			});
			// store.dispatch('fetchFoodmarketMulti') //取所有品項
			getFoodRule(() => { //取運費,物流費,首頁群組商品,規則表等
				if (p_next)
					p_next();
			})
		}
		var p_path = ["/cardShopType", "/cardShopCart", "/cardShopMine"]; //在商城相關,不重撈
		if (p_path.indexOf(form.path) > -1 && store.state.mallData.foodkind.length){
			next();
		} else {
			store.state.mallData.reloadShopFn(next);
		}
		// next();
	},
	beforeRouteUpdate: function (to, form, next) {
		document.querySelector(".pull-down-container").scrollTop = 0 // 此頁置頂
		if (to.path === "/cardShop" && to.query.from === 'scanSend'){
			//scanResult,透過掃描生成購物車
			var promise_arr = [];
			store.state.mallData.barcodeItem.map((p_item)=>{
				//if (p_item.Price1 != '') incNumber(p_item);

				promise_arr.push(new Promise((resolve) => {
					if (p_item.Price1 != '') {
						incNumber(p_item,1,(new_cart)=>{
							store.commit('addShopCart', new_cart);
							resolve('ok');
						});
					}else{
						resolve('no');
					}
				}));
			});

			Promise.all(promise_arr).then((suces)=> {
				// 一次性同時回傳成功訊息
				if (suces.indexOf('ok') > -1){
					this.$router.replace({ path: '/cardShopCart', query: { from: 'scanToCart' }})
				}else{
					showToast("沒有新增商品");
					next();
				}

				//next();
			}).catch( () => {
				// 失敗訊息 (立即)
				next();
			});

		}else{
			next();
		}

	},
	beforeRouteLeave: function(to, from, next) {
		next()
	},
	// 建立頁面後
	created: function () {
		// this.setDemo();

		this.keyFilter='';
	},
	watch: {
		'$route' () {
			this.keyFilter='';
		}
	}
}
</script>