<template>

  <div class="h-full bg-gray-50 flex flex-col overflow-auto">
    <div v-if="$route.query.type==undefined">
      <!-- Tabs  -->
      <div class="tabs is-centered bg-white mb-3 sticky top-0 z-10">
        <ul class="m-0" v-show="Object.keys(orderstatus).length"><!--用v-if在初次顯示頁面時,無法呈現-->
          <li :class="{'is-active':(tabIndex=='tabAll')}" @click="tabIndex='tabAll'"><a href="javascript:void(0)">全部</a></li>
          <li v-for="(pKey, pKeyIndex) in Object.keys(orderstatus)" :key="'pKey'+pKeyIndex" :class="{'is-active':(tabIndex==pKey)}" @click="tabIndex=pKey"><a href="javascript:void(0)">{{orderstatus[pKey]}}</a></li>
          <!-- <li :class="{'is-active':(tabIndex=='tab01')}" @click="tabIndex='tab01'"><a>待出貨</a></li>
          <li :class="{'is-active':(tabIndex=='tab02')}" @click="tabIndex='tab02'"><a>已出貨</a></li>
          <li :class="{'is-active':(tabIndex=='tab03')}" @click="tabIndex='tab03'"><a>已關閉</a></li>
          <li :class="{'is-active':(tabIndex=='tab04')}" @click="tabIndex='tab04'"><a>退款中</a></li> -->
        </ul>
      </div>
      <!-- <p class="text-center w3-opacity-max py-5" :style="{ fontSize: fontSizeBase*16 + 'px' }">-- 無訂單資料 --</p> -->
      <div class="bg-white shadow border border-gray-300 rounded-lg m-4 text-sm overflow-hidden"
        v-for="(order, iIndex) in mallData.orders"
        :key="'order'+iIndex" v-show="tabIndex=='tabAll' || (order.OrderStatus==tabIndex) || (tabIndex==99 && order.isUnFinish)"
      >
        <header class="card-header border-bottom shadow-none">
          <div class="card-header-title">
            <div class="columns is-mobile is-gapless w-full is-vcentered">
              <div class="column" v-if="!(order.items && order.isUnFinish && order.OrderStatus==0)">訂單號：{{order.OrderNo}}</div>
              <div class="column" v-if="order.items && order.isUnFinish && order.OrderStatus==0">
<!-- <div class="column" > -->
<!-- <button class="button is-info is-rounded px-2 py-0 h-auto ml-2" style="margin:-3px 0" @click="goFinishOrder(order)">測付款</button> -->
<!-- 
 -->
                <button class="button is-light is-rounded px-2 py-0 h-auto" style="margin:-3px 0;width: 66px" @click="cancelOrder(order)">取 消</button>
                <button class="button is-info is-rounded px-2 py-0 h-auto ml-2" style="margin:-3px 0" @click="pay_click(order)" v-if="supportPay.indexOf(order.PayChannel) > -1" :disabled="isPayTimeout(order.SaleTime)">{{isPayTimeout(order.SaleTime)?'已到期':'去付款'}}</button>

              </div>
              <div class="column is-narrow text-right has-text-info">
								<!-- ex: 未付款 / 待出貨 -->
                <b>{{txtPayStatus(order)}}{{(mallData.orderstatus[order.OrderStatus] || "-")}}</b>
              </div>
            </div>
          </div>
        </header>
        <div class="card-content p-3">
          <div class="" style="line-height:1.5">
            <div class="columns is-multiline is-mobile is-vcentered">
              <div class="column py-2 text-sm">日期：{{formatTime(order.SaleTime, 'YYYY-MM-DD HH:mm:ss')}}</div>
              <!-- 取消訂單&我要退貨 -->
              <div class="column is-narrow py-2 text-right">
                <button class="button is-light is-rounded px-3 py-0 h-auto border text-sm" style="margin:-3px -5px" v-if="order.OrderStatus==4" @click="cancelFinishOrder(order)">取消訂單</button>
                <button class="button is-light is-rounded px-3 py-0 h-auto border text-sm" style="margin:-3px -5px" v-if="order.OrderStatus==5" @click="cancelFinishOrder(order)">我要退貨</button>
                <!-- <button class="button is-light is-rounded px-2 py-0 h-auto border" style="margin:-3px -5px" v-if="mallData.orderstatus[order.OrderStatus]=='待出貨'">取消訂單</button>
                <button class="button is-light is-rounded px-2 py-0 h-auto border" style="margin:-3px -5px" v-if="mallData.orderstatus[order.OrderStatus]=='已出貨'">我要退貨</button> -->
              </div>
              <!-- 宅配單號 -->
              <div class="column is-12 py-1" v-if="mallData.isCarUI!=undefined && order.items && order.isload && order.OrderStatus==5">
                <div class="columns is-mobile is-gapless mb-2" v-for="(trace, taIndex) in checkTrace(order.PreSourceID,order.items)" :key="'trace'+taIndex">
                  <div class="column is-6 py-1">宅配單號</div>
                  <div class="column is-6 py-1 text-right">{{trace}}</div>
                </div>
              </div>
              <!-- 運送資訊 -->
              <div class="column is-12 py-1" v-if="order.OrderStatus > 0 && order.PreSpecLimit && order.PreSpecLimit.indexOf('cvs') == 0">
                <div class="columns is-mobile is-gapless is-vcentered mb-0" @click="trace_click(order)">
                  <div class="column py-1">運送資訊：<span class="text-decoration-underline fw-bolder has-text-info">詳情</span>
                    <div>{{order.PreSpecLimit && order.PreSpecLimit.indexOf('cvs') == 0?'超商取貨':order.PreWay}} / <span class="font-semibold text-secondary">{{(mallData.orderstatus[order.OrderStatus] || "-")}}</span></div><!-- 宅配(貨態) | 超商取貨(貨態) | 自取(貨態) -->
                  </div>
                </div>
              </div>  
              <!-- 明細開啟 -->
              <div class="column is-12 py-2 my-2 text-center has-text-info has-background-white-bis" @click="goOrderitems(order.ID,iIndex,order)">
                明細
                <!-- up arrow -->
                <svg v-show="order.isload" xmlns="http://www.w3.org/2000/svg" class="inline-block w-3 h-3 ml-1 align-baseline" fill="currentColor" viewBox="0 0 16 16">
                  <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                </svg>
                <!-- down arrow -->
                <svg v-show="!order.isload" xmlns="http://www.w3.org/2000/svg" class="inline-block w-3 h-3 ml-1 align-baseline" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg>
              </div>

              <div class="column is-12 py-1 text-sm" v-if="mallData.isCarUI!=undefined && order.items && order.isload">
                <!-- 商品 -->
                <div class="columns is-mobile is-gapless mb-2" v-for="(item, iIndex) in order.items" :key="'item'+iIndex">
                  <div class="column is-8 py-1">{{item.FoodName}}<p v-show="item.Memo!=''" style="text-indent:1em;">└ {{item.Memo}}</p></div>
                  <div class="column is-1 py-1 text-right">{{item.Count}}</div>
                  <div class="column is-3 py-1 text-right">{{item.Total}}</div>
                </div>

                <div class="columns is-mobile is-gapless mb-2" v-show="false">
                  <div class="column is-8 py-1">運費</div>
                  <div class="column is-4 py-1 text-right">60</div>
                </div>
              </div>

              <div class="column is-6 py-2 border-t">總計</div><div class="column is-6 py-2 border-t text-right">NT$ {{order.Total}}</div>
              <div class="column is-12 py-1" v-if="mallData.isCarUI!=undefined && order.Checks && order.isload">
                <!-- 付款方式 -->
                <div class="columns is-mobile is-gapless mb-1 is-light has-text-info" v-show="order.Checks" v-for="(iCheck, chIndex) in order.Checks" :key="'check'+chIndex">
                  <div class="column is-9 py-0">{{iCheck.KindName}}：{{iCheck.NO}}</div>
                  <div class="column is-3 py-0 text-right">{{iCheck.Total}}</div>
                </div>
                <div class="columns is-mobile is-gapless mb-1 is-light has-text-info" v-show="order.Agios" v-for="(iAgios, agioIndex) in order.Agios" :key="'agios'+agioIndex">
                  <div class="column is-9 py-0">優惠折抵：{{iAgios.AgioReason}}</div>
                  <div class="column is-3 py-0 text-right">{{calAgioTotal(iAgios.TotalAgioCost,iAgios.TotalAgioTotal)}}</div>
                </div>
              </div>

              <!-- 無備註 hide -->
              <div class="column py-1 is-narrow" v-show="false">備註：</div>
              <div class="column py-1" v-show="false"></div>
            </div>
          </div>
        </div>
        <!-- <footer class="card-footer" v-if="">
          <a href="#" class="has-background-white-bis card-footer-item has-text-danger">取消訂單</a>
        </footer> -->
      </div>
    </div>

    <div v-if="$route.query.type">
      <!-- start付款確認區塊 -->
      <div v-if="$route.query.type=='pay'" class="scroll-auto-fix bg-gray-100 overflow-y-auto" style="padding-bottom:54px">
        <!-- 進度條 -->
        <div class="progressbar-container bg-white">
          <ul class="progressbar">
            <li class="active"><b>選擇結帳品牌</b></li>
            <li class="active"><b>填寫地址與付款</b></li>
            <li>訂單完成</li>
          </ul>
          <!-- 訂單人資訊 -->
          <div class="p-3 bg-white border-top">
            <p class="mb-3"><b>收件資料：</b></p>
            <div class="columns is-mobile is-variable is-2 is-multiline">
              <div class="column py-1 is-12">收件人：{{this1.receiver}}</div>
              <div class="column py-1 is-12">連絡電話：{{this1.phone1}}</div>
              <div class="column py-1 is-10">收件地址：{{this1.addrs}}</div>
              <div class="column py-1 is-2">
                <div class="w3-btn w3-black w3-round w3-padding-small w3-medium" @click="getVipAddrList()">修改</div>
              </div>
            </div>
          </div>
        </div>
        <!-- 選付款方式, -->
        <div class="my-2 py-1 bg-white">
          <div class="p-3">
            <div class="columns is-mobile is-variable is-2 is-multiline is-vcentered" style="flex: 0 0 100%">
              <div class="column py-1 is-12" v-if="chkOrderMine.PayChannel">付款方式: {{getPayName(chkOrderMine.PayChannel)}}</div>

              <div class="column py-1 is-9" v-if="!chkOrderMine.PayChannel">
                <div class="select is-fullwidth">
                  <select v-model="this1.p_PayChannel">
                    <option value="">請選擇付款方式</option>
                    <option v-for="(pay, iIndex) in pay_arr" :key="'pay_'+iIndex" :value="pay.ID">{{pay.Name}}</option>

                  </select>
                </div>
              </div>

            </div>

          </div>
        </div>

        <!-- 商品區塊 -->
        <div class="my-2 py-1 bg-white" v-if="chkOrderMine.Total!=undefined && chkItems.length> 0">
          <div class="p-3">
            <div class="columns is-mobile border-bottom">
              <div class="column has-text-info is-narrow">
                共{{chkItems.length}}項商品
              </div>
              <div class="column has-text-danger text-right ">
                * 所有贈點活動計算皆不含運費
              </div>
            </div>
          </div>
          <!-- 商品項目 -->
          <div class="p-3">
            <article class="media flex-wrap" v-for="(item, iIndex) in chkItems" :key="'itmea'+iIndex">
              <div class="media-left mr-2">
                <figure class="image is-1by1 m-0 image-rwd">
                  <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->
                  <img :src="ShowPic_FI(item.MainID)" :key="ShowPic_FI(item.MainID)" class="has-background-white-ter" alt="">
                </figure>
              </div>
              <div class="media-content flex-rwd">
                <div class="content h-auto">
                  <p><b>{{item.FoodName}}</b></p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <div class="text-red-500">
                      <div class="has-text-grey-light"><small>單價 NT$ </small>{{item.Price}}</div>
                      <div><small>NT$ </small><b class="text-red-500">{{item.Total}}</b></div>
                    </div>
                  </div>
                  <div class="text-sm text-black">{{item.Taste}}</div>
                  <!-- 數量 -->
                  <div class="level-right pr-2">{{item.Count}}</div>
                </nav>
              </div>

              <!-- TODO：商品優惠券 -->
              <div class="notification is-warning is-light p-3 border border-warning wh-coupon" style="flex: 0 0 100%" v-if="false">
                <label class="checkbox w-100" :for="item">
                  <div class="columns is-mobile is-variable is-1 is-vcentered">
                    <div class="column py-1 is-narrow"><input class="is-150" type="checkbox" :id="item" :name="item"></div>
                    <div class="column py-1">測試滿額現金券</div>
                    <div class="column py-1 has-text-grey is-narrow">
                      <!-- 期限(訖) -->
                      有效期：2020/03/29
                    </div>
                  </div>
                </label>
              </div>

            </article>
          </div>
        </div>

        <!-- 優惠券 -->
        <div class="my-2 py-1 bg-white" v-if="isUnFinItem() && couponList.length">
          <div class="p-3">
            <p class="mb-3"><b>優惠券：</b></p>
            <button class="button is-warning is-light is-fullwidth border border-warning" v-if="!useCoupon" @click="useCoupon=!useCoupon">使用優惠券</button>
            <!-- 列表 -->
            <div v-else>
              <div class="notification is-warning is-light p-3 border border-warning wh-coupon" v-for="(coupon, coIndex) in couponList" :key="'coupon'+coIndex">
                <label class="checkbox w-100" :for="'coupon'+coIndex">
                  <div class="columns is-mobile is-variable is-1 is-vcentered">
                    <div class="column py-1 is-narrow"><input class="is-150" type="checkbox" :id="'coupon'+coIndex" :name="'coupon'+coIndex" :value="coupon.TicketInfoID" v-model="selCoupon" :disabled="selCoupon.indexOf(coupon.TicketInfoID)< 0 && selCoupon.length"></div>
                    <div class="column py-1">{{coupon.TicketTypeName}}</div>
                    <div class="column py-1 has-text-grey is-narrow">
                      <!-- 期限(訖) -->
                      有效期：{{/9999-12-31/.test(coupon.TicketExpiredDate) ? '不限' : coupon.TicketExpiredDate.substring(0, 10)}}
                    </div>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- 運費券 -->
        <div class="my-2 py-1 bg-white" v-if="isUnFinItem() && couponFareList.length > 0 && calc_fareItem().length > 0">
          <div class="p-3">
            <p class="mb-2"><b>運費券：</b></p>
            <button class="button is-warning is-light is-fullwidth border border-warning" v-if="!useFareCoupon" @click="useFareCoupon=!useFareCoupon">使用運費券</button>
            <!-- 列表 -->
            <div v-else>
              <div class="notification is-warning is-light p-3 border border-warning wh-coupon" v-for="(coupon, coIndex) in couponFareList" :key="'farecoupon'+coIndex">
                <label class="checkbox w-100" :for="'farecoupon'+coIndex">
                  <div class="columns is-mobile is-variable is-1 is-vcentered">
                    <div class="column py-1 is-narrow"><input class="is-150" type="checkbox" :id="'farecoupon'+coIndex" :name="'farecoupon'+coIndex" 
                    :value="coupon.TicketInfoID" @change="checkFareMax($event,coIndex)" v-model="selFareCoupon" 
                    :disabled="(selFareCoupon.indexOf(coupon.TicketInfoID)< 0 && selFareCoupon.length > 0)"></div>

                    <div class="column py-1">{{coupon.TicketTypeName}}</div>
                    <div class="column py-1 has-text-grey is-narrow">
                      <!-- 期限(訖) -->
                      有效期：{{/9999-12-31/.test(coupon.TicketExpiredDate) ? '不限' : coupon.TicketExpiredDate.substring(0, 10)}}
                    </div>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- 付款明細 -->
        <div class="my-2 p-3 bg-white">
          <p class="mb-3"><b>付款明細：</b></p>
          <div class="columns is-mobile is-variable is-2 is-multiline">
            <div class="column py-1 is-half">商品總計</div>
            <div class="column py-1 is-half text-right">{{chkOrderMine.SubTotal}}</div>
						<template v-if="calAmount('c')">
            <div class="column py-1 is-half">優惠折抵</div>
            <div class="column py-1 is-half text-right">-{{calAmount('c')}}</div>
            <div class="column pb-1 mt-1 is-full p-0 border-top"></div>
            <div class="column py-1 is-half">小計</div>
            <div class="column py-1 is-half text-right">{{chkOrderMine.SubTotal-calAmount('c')}}</div>
						</template>

            <div class="column py-1 is-half">運費總計</div>
            <div class="column py-1 is-half text-right">{{chkOrderMine.Freight}}</div>
            <!-- <div class="column py-1 is-half" v-if="chkOrderMine.AgioCost!='' && chkOrderMine.AgioCost!='0'">折讓</div>
            <div class="column py-1 is-half text-right" v-if="chkOrderMine.AgioCost!='' && chkOrderMine.AgioCost!='0'">-{{chkOrderMine.AgioCost}}</div>
            <div class="column py-1 is-half" v-if="chkOrderMine.AgioTotal!='' && chkOrderMine.AgioTotal!='0'">折扣</div>
            <div class="column py-1 is-half text-right" v-if="chkOrderMine.AgioTotal!='' && chkOrderMine.AgioTotal!='0'">-{{chkOrderMine.AgioTotal}}({{chkOrderMine.AgioPercent}}%)</div> -->
            <div class="column pb-1 mt-1 is-full p-0 border-top"></div>
            <div class="column py-1 is-half">總計</div>
            <div class="column py-1 is-half text-right font-weight-bold is-size-4 ">
              <small>NT$</small>
              <!-- {{chkOrderMine.Total}} -->
              <span class="text-red-500">{{chkOrderMine.CheckTotal}}</span>
            </div>
          </div>
        </div>
        <!-- 付款方式 -->
        <div class="my-2 p-3 bg-white" v-if="false">
          <p class="text-red-500" @click="isTypeModal='tip';$store.commit('setCssTouch', false)"><b>付款方式：</b><i class="fas fa-question-circle fa-lg is-size-6 has-text-grey"></i></p>
          <div class="columns is-mobile is-variable is-2 is-multiline">
            <div class="column py-1 is-half" v-show='false'>使用優惠券</div>
            <div class="column py-1 is-half text-right" v-show='false'>200</div>
            <!-- <div class="column py-1 is-half">體驗點數付款({{PointMoneyAmount_init}})</div> -->
            <div class="column py-1 is-half">體驗點數付款</div>
            <div class="column py-1 is-half text-right">{{PointMoneyAmount}}</div>
            <!-- <div class="column py-1 is-half">消費點數付款({{BalanceTotal_init}})</div> -->
            <div class="column py-1 is-half">消費點數付款</div>
            <div class="column py-1 is-half text-right">{{BalanceTotal}}</div>
          </div>
        </div>
        <!-- 備註 -->
        <div class="my-2 p-3 bg-white" v-show='false'>
          <b>備註</b>
          <div class="relative inline-block ml-1" style="width: calc(100% - 3rem);">
            <input class="input inline-block border-none" type="text" v-model="remarkClean" placeholder="請輸入文字說明">
            <div class="absolute right-0 opacity-30" v-if="remarkClean!==''" @click="remarkClean=''"><i class="fas fa-times-circle"></i></div>
          </div>
        </div>

      </div>
      <!--end付款確認區塊-->

      <!-- 訂單完成區塊 -->
      <div class="scroll-auto-fix bg-gray-100 overflow-y-auto" style="padding-bottom:54px" v-if="$route.query.type=='pageDeed'">
        <!-- 進度條
        <div class="progressbar-container w3-white">
          <ul class="progressbar">
            <li class="active"><b>確認結帳項目</b></li>
            <li>填寫地址與付款</li>
            <li>訂單完成</li>
          </ul>

        </div>    -->

        <!-- 清單區塊 -->
        <div class="my-2 py-1 bg-white" v-if="okDeedPoints.length">
          <!-- 運送方式 -->
          <div class="p-3">
            <div class="columns is-mobile border-bottom">
              <div class="column has-text-info">
                請選擇契約
              </div>
            </div>
          </div>
          <!-- 商品項目 -->
          <div class="p-3">
            <article class="media" v-for="(deed, deedIndex) in okDeedPoints" :key="'deed'+deedIndex">
              <label class="checkbox" :for="'ckdeed'+deedIndex">
                <div class="columns is-mobile is-gapless is-centered">
                  <div class="column is-narrow">
                  <input class="is-150 mt-4 mr-3" type="checkbox" :id="'ckdeed'+deedIndex" :name="'ckdeed'+deedIndex" :value="deed.deed_no" @change="checkDeed($event,deedIndex)" v-model="deepNoList">
                  </div>
                  <div class="column">
                    <div class="columns is-mobile is-variable is-0 is-multiline is-vcentered">
                      <div class="column is-3 py-1">編號：</div>
                      <div class="column is-9 py-1">{{deed.deed_no}}</div>
                      <div class="column is-3 py-1">點數：</div>
                      <div class="column is-9 py-1 has-text-danger"><b class="w3-tag w3-round w3-light-grey text-red-500">{{deed.points}}</b></div>
                      <div class="column is-3 py-1">到期日：</div>
                      <div class="column is-9 py-1">{{momentFt(deed.end_day)}}</div>
                      <!-- <div class="column is-3 py-1">消費期限日：</div><div class="column is-9 py-1">{{momentFt(deed.newend_day)}}</div> -->
                    </div>
                  </div>
                </div>
              </label>
            </article>
          </div>
        </div>

        <!-- 商品區塊 -->
        <div class="my-2 py-1 bg-white" v-if="okOrder.Total!=undefined && okItems.length> 0">
          <div class="p-3">
            <div class="columns is-mobile border-bottom">
              <div class="column has-text-info">
                共{{okItems.length}}項商品
              </div>
            </div>
          </div>
          <!-- 商品項目 -->
          <div class="p-3">
            <article class="media" v-for="(item, iIndex) in okItems" :key="iIndex">
              <div class="media-left mr-2">
                <figure class="image is-64x64 m-0">
                  <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->
                  <img :src="ShowPic_FI(item.MainID)" class="has-background-white-ter" alt="">
                </figure>
              </div>
              <div class="media-content">
                <div class="content h-auto">
                  <p><b>{{item.FoodName}}</b></p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <div class="text-red-500">
                      <div class="has-text-grey-light"><small>單價 NT$ </small>{{item.Price}}</div>
                      <div><small>NT$ </small><b class="text-red-500">{{item.Total}}</b></div>
                    </div>
                  </div>
                  <div class="text-sm text-black">{{item.Taste}}</div>
                  <!-- 數量 -->
                  <div class="level-right pr-2">{{item.Count}}</div>
                </nav>
              </div>
            </article>
            <div class="mt-3">

            </div>
          </div>
        </div>
        <!-- 訂單明細 -->
        <div class="my-2 p-3 bg-white">
          <p class="mb-3"><b>訂單明細：</b></p>
          <div class="columns is-mobile is-variable is-2 is-multiline">
            <div class="column py-1 is-half">商品總計</div>
            <div class="column py-1 is-half text-right">{{okOrder.SubTotal}}</div>
            <div class="column py-1 is-half">運費總計</div>
            <div class="column py-1 is-half text-right">{{okOrder.Freight}}</div>
            <div class="column pb-1 mt-1 is-full p-0 border-top"></div>
            <div class="column py-1 is-half">總計</div>
            <div class="column py-1 is-half text-right font-weight-bold is-size-4 ">
              <small>NT$</small>
              <span class="text-red-500">{{okOrder.CheckTotal}}</span>
            </div>
          </div>
        </div>
        <!-- 付款方式 -->
        <div class="my-2 p-3 bg-white">
          <p class="text-red-500" @click="isTypeModal='tip';$store.commit('setCssTouch', false)"><b>付款方式：</b><i class="fas fa-question-circle fa-lg"></i></p>
          <div class="columns is-mobile is-variable is-2 is-multiline">
            <div class="column py-1 is-half" v-show='false'>使用優惠券</div>
            <div class="column py-1 is-half text-right" v-show='false'>200</div>
            <div class="column py-1 is-half">體驗點數付款</div>
            <div class="column py-1 is-half text-right">{{PointMoneyAmount}}</div>
            <div class="column py-1 is-half">消費點數付款</div>
            <div class="column py-1 is-half text-right">{{BalanceTotal}}</div>
          </div>
        </div>
      </div>
      <!-- 訂單完成區塊 -->
      <div v-if="$route.query.type=='finished'" class="scroll-auto-fix bg-gray-100 overflow-y-auto" style="padding-bottom:54px">
        <!-- 進度條 -->
        <div class="progressbar-container w3-white">
          <ul class="progressbar">
            <li class="active"><b>選擇結帳品牌</b></li>
            <li class="active"><b>填寫地址與付款</b></li>
            <li class="active"><b>訂單完成</b></li>
          </ul>
          <!-- 訂單人資訊 -->
          <div class="p-3 bg-white border-top">
            <span class="float-right tag is-medium is-warning is-light border border-warning">{{(mallData.orderstatus[finishOrder.OrderStatus] || "-")}}</span>
            <p class="mb-2"><b>訂單編號：</b>{{finishOrder.OrderNo}}</p>
            <p><b>購買時間：</b>{{formatTime(finishOrder.SaleTime, 'YYYY-MM-DD HH:mm:ss')}}</p>
            <!-- 付款成功訊息 -->
            <div class="mt-2 tag is-large w-100 is-success"><i class="fas fa-check-circle mr-2"></i>付款成功</div>

          </div>
          <!-- 訂單人資訊 -->
          <div class="p-3 bg-white border-top">
            <p class="mb-2"><b>收件資料：</b></p>
            <div class="columns is-mobile is-variable is-2 is-multiline">
            <div class="column py-1 is-12">收件人：{{this1.receiver}}</div>
            <div class="column py-1 is-12">連絡電話：{{this1.phone1}}</div>
            <div class="column py-1 is-12">收件地址：{{this1.addrs}}</div>
            </div>
          </div>
        </div>

        <!-- 商品區塊 -->
        <div class="my-2 py-1 bg-white" v-if="finishOrder.Total!=undefined && finishItems.length> 0">
          <div class="p-3">
            <div class="columns is-mobile border-bottom">
              <div class="column has-text-info">
                共{{finishItems.length}}項商品
              </div>
            </div>
          </div>
          <!-- 商品項目 -->
          <div class="p-3">
            <article class="media" v-for="(item, iIndex) in finishItems" :key="iIndex">
              <div class="media-left mr-2">
                <figure class="image is-64x64 m-0">
                  <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->
                  <img :src="ShowPic_FI(item.MainID)" class="has-background-white-ter" alt="">
                </figure>
              </div>
              <div class="media-content">
                <div class="content h-auto">
                  <p><b>{{item.FoodName}}</b></p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <div class="text-red-500">
                      <div class="has-text-grey-light"><small>單價 NT$ </small>{{item.Price}}</div>
                      <div><small>NT$ </small><b class="text-red-500">{{item.Total}}</b></div>
                    </div>
                  </div>
                  <div class="w3-small w3-text-black">{{item.Taste}}</div>
                  <!-- 數量 -->
                  <div class="level-right pr-2">{{item.Count}}</div>
                </nav>
              </div>
            </article>
            <div class="mt-3">

            </div>
          </div>
        </div>
        <!-- 付款明細 -->
        <div class="my-2 p-3 bg-white">
          <p class="mb-3"><b>訂單明細：</b></p>
          <div class="columns is-mobile is-variable is-2 is-multiline">
            <div class="column py-1 is-half">商品總計</div>
            <div class="column py-1 is-half text-right"> {{finishOrder.SubTotal}}</div>
            <div class="column py-1 is-half" v-if="calAgioTotal(finishOrder.AgioCost,finishOrder.AgioTotal) > 0">優惠折抵</div>
            <div class="column py-1 is-half text-right" v-if="calAgioTotal(finishOrder.AgioCost,finishOrder.AgioTotal) > 0">-{{calAgioTotal(finishOrder.AgioCost,finishOrder.AgioTotal)}}</div>
            <div class="column pb-1 mt-1 is-full p-0 border-top" v-if="calAgioTotal(finishOrder.AgioCost,finishOrder.AgioTotal) > 0"></div>
            <div class="column py-1 is-half" v-if="calAgioTotal(finishOrder.AgioCost,finishOrder.AgioTotal) > 0">小計</div>
            <div class="column py-1 is-half text-right" v-if="calAgioTotal(finishOrder.AgioCost,finishOrder.AgioTotal) > 0">{{finishOrder.SubTotal-calAgioTotal(finishOrder.AgioCost,finishOrder.AgioTotal)}}</div>

            <div class="column py-1 is-half">運費總計</div>
            <!-- <div class="column py-1 is-half text-right"> {{finishOrder.Freight}}</div> -->
            <div class="column py-1 is-half text-right">{{(finishOrder.fareAgio?finishOrder.FreightInit:finishOrder.Freight)}}</div>
            <div class="column py-1 is-half" v-if="finishOrder.fareAgio && calAgioTotal(finishOrder.fareAgio.AgioCost,finishOrder.fareAgio.AgioTotal) > 0">運費折抵</div>
            <div class="column py-1 is-half text-right" v-if="finishOrder.fareAgio && calAgioTotal(finishOrder.fareAgio.AgioCost,finishOrder.fareAgio.AgioTotal) > 0">
              -{{calAgioTotal(finishOrder.fareAgio.AgioCost,finishOrder.fareAgio.AgioTotal)}}
            </div>
            <div class="column py-1 is-half" v-show="false">使用優惠券</div>
            <div class="column py-1 is-half text-right" v-show="false">-60</div>
            <div class="column pb-1 mt-1 is-full p-0 border-top"></div>
            <div class="column py-1 is-half">總計</div>
            <div class="column py-1 is-half text-right">
              <small>NT$</small>
              <span class="has-text-danger is-size-4 font-weight-bold">{{finishOrder.CheckTotal}}</span>
            </div>
          </div>
<!-- 
          <div class="columns is-mobile is-variable is-2 is-multiline" v-for="(finCheck, fcIndex) in finishChecks" :key="fcIndex">
            <div class="column py-1 is-7">{{finCheck.NO !== ''? finCheck.KindName+' ('+finCheck.NO+')':finCheck.KindName}}</div>
          <div class="column py-1 is-5 text-right">{{finCheck.Total}}</div>
          </div>
 -->
          <div class="notification is-info is-light px-3 py-4 mb-2">
            <!-- 大於兩行才會出現更多 -->
            <div :class="[(moreFinCheck && (finishChecks.length + finishAgio.length) > 2 )?'moreFinCheck':'']">
              <div class="columns is-mobile is-variable is-multiline" v-for="(finCheck, fcIndex) in finishChecks" :key="'fcn'+fcIndex">
                <div class="column py-2 is-7">{{finCheck.NO !== ''? finCheck.KindName+' ('+finCheck.NO+')':finCheck.KindName}}</div>
                <div class="column py-2 is-5 text-right">{{finCheck.Total}}</div>
              </div>
              <!--Agio 優惠券-->
              <div class="columns is-mobile is-variable is-2 is-multiline" v-for="(agio, agIndex) in finishAgio" :key="'agi'+agIndex">
                <div class="column py-1 is-7">{{agio.AgioReason}}</div>
                <div class="column py-1 is-5 text-right">{{agio.Owner && chkStr(agio.Owner) ? calAgioTotal(agio.AgioCost,agio.AgioTotal) : calAgioTotal(agio.TotalAgioCost,agio.TotalAgioTotal)}}</div>
                <!-- <div class="column py-1 is-5 text-right" v-if="agio.TotalAgioCost!='' && agio.TotalAgioCost!='0'">{{agio.TotalAgioCost}}</div>
                <div class="column py-1 is-5 text-right" v-if="agio.TotalAgioTotal!='' && agio.TotalAgioTotal!='0'">{{agio.TotalAgioTotal}}({{agio.TotalAgioPercent}}%)</div> -->
              </div>
            </div>
            <div class="text-center" style="margin: -12px 0" v-if="(finishChecks.length + finishAgio.length) > 2" @click="moreFinCheck = !moreFinCheck">
              <b>更多 </b>
              <!-- 開啟 -->
              <span v-show="moreFinCheck"><i class="fas fa-angle-down"></i></span>
              <!-- 收回 -->
              <span v-show="!moreFinCheck"><i class="fas fa-angle-up"></i></span>
            </div>
          </div>

        </div>
        <!-- 備註 -->
        <div class="my-2 p-3 bg-white" v-show="false">
          <p class="mb-2"><b>備註：</b></p>
          <p>文字文字文字文字文字</p>
        </div>

      </div>

      <!-- 暫存訂單完成前 暫存區-->
      <div class="scroll-auto-fix w3-light-gray" v-if="$route.query.type=='finishedTemp'">
        <!-- 進度條 -->
        <div class="progressbar-container w3-white">
          <ul class="progressbar">
            <li class="active"><b>選擇結帳品牌</b></li>
            <li class="active"><b>填寫地址與付款</b></li>
            <li class="active"><b>訂單成立</b></li>
          </ul>
          <!-- 訂單人資訊 -->
          <div class="p-3 bg-white border-top">
            <span class="float-right tag is-medium is-info is-light border border-info">{{(mallData.orderstatus[finishOrderTemp.OrderStatus] || "-")}}</span>
            <p class="mb-2"><b>訂單編號：</b>{{finishOrderTemp.OrderNo}}</p>
            <p><b>購買時間：</b>{{finishOrderTemp.SaleTime}}</p>
          </div>
          <!-- 訂單人資訊 -->
          <div class="p-3 bg-white border-top">
            <p class="mb-2"><b>收件資料：</b></p>
            <div class="columns is-mobile is-variable is-2 is-multiline">
              <div class="column py-1 is-12">收件人：{{this1.receiver}}</div>
              <div class="column py-1 is-12">連絡電話：{{this1.phone1}}</div>
              <div class="column py-1 is-12">收件地址：{{this1.addrs}}</div>
            </div>
          </div>
        </div>

        <!-- 商品區塊 -->
        <div class="my-2 py-1 bg-white" v-if="finishOrderTemp.Total!=undefined && finishItemsTemp.length> 0">
          <div class="p-3">
            <div class="columns is-mobile border-bottom">
              <div class="column has-text-info">
                共{{finishItemsTemp.length}}項商品
              </div>
            </div>
          </div>
          <!-- 商品項目 -->
          <div class="p-3">
            <article class="media" v-for="(item, iIndex) in finishItemsTemp" :key="'itemfin'+iIndex">
              <div class="media-left mr-2">
                <figure class="image is-1by1 m-0 image-rwd">
                  <!--<img src="https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6052833/0/170826" alt="">-->
                  <img :src="ShowPic_FI(item.MainID)" :key="ShowPic_FI(item.MainID)" class="has-background-white-ter" alt="">
                </figure>
              </div>
              <div class="media-content">
                <div class="content h-auto">
                  <p><b>{{item.FoodName}}</b></p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <div class="text-red-500">
                      <div class="has-text-grey-light"><small>單價 NT$ </small>{{item.Price}}</div>
                      <div><small>NT$ </small><b class="text-red-500">{{item.Total}}</b></div>
                    </div>
                  </div>
                  <div class="w3-small w3-text-black">{{item.Taste}}</div>
                  <!-- 數量 -->
                  <div class="level-right pr-2">{{item.Count}}</div>
                </nav>
              </div>
            </article>
            <div class="mt-3">

            </div>
          </div>
        </div>
        <!-- 付款明細 -->
        <div class="my-2 p-3 bg-white">
          <p><b>付款明細：</b></p>
          <div class="columns is-mobile is-variable is-2 is-multiline">
            <div class="column py-1 is-half">商品總計</div>
            <div class="column py-1 is-half text-right"> {{finishOrderTemp.SubTotal}}</div>
						<template v-if="calAmount('f')">
            <div class="column py-1 is-half">優惠折抵</div>
            <div class="column py-1 is-half text-right">-{{calAmount('f')}}</div>
            <div class="column pb-1 mt-1 is-full p-0 border-top"></div>
            <div class="column py-1 is-half">小計</div>
            <div class="column py-1 is-half text-right">{{finishOrderTemp.SubTotal-calAmount('f')}}</div>
						</template>

            <div class="column py-1 is-half">運費總計</div>
            <div class="column py-1 is-half text-right"> {{finishOrderTemp.Freight}}</div>

            <div class="column pb-1 mt-1 is-full p-0 border-top"></div>
            <div class="column py-1 is-half">總計</div>
            <div class="column py-1 is-half text-right font-weight-bold is-size-4 ">
              <small>NT$</small>
              <span class="text-red-500">{{finishOrderTemp.CheckTotal}}</span>
            </div>
          </div>

          <!-- <div class="notification is-info is-light px-3 py-4 mb-2">
            大於兩行才會出現更多
            <div :class="[(moreFinCheck && (finishChecksTemp.length + finishAgioTemp.length) > 2 )?'moreFinCheck':'']">
              <div class="columns is-mobile is-variable is-multiline" v-for="(finCheck, fcIndex) in finishChecksTemp" :key="'fcn'+fcIndex">
                <div class="column py-2 is-7">{{finCheck.NO !== ''? finCheck.KindName+' ('+finCheck.NO+')':finCheck.KindName}}</div>
                <div class="column py-2 is-5 text-right">{{finCheck.Total}}</div>
              </div>
              Agio 優惠券
              <div class="columns is-mobile is-variable is-2 is-multiline" v-for="(agio, agIndex) in finishAgioTemp" :key="'agi'+agIndex">
                <div class="column py-1 is-7">{{agio.AgioReason}}</div>
                <div class="column py-1 is-5 text-right">{{calAgioTotal(agio.TotalAgioCost,agio.TotalAgioTotal)}}</div>

              </div>
            </div>
            <div class="text-center" style="margin: -12px 0" v-if="(finishChecksTemp.length + finishAgioTemp.length) > 2" @click="moreFinCheck = !moreFinCheck">
              <b>更多 </b>

              <span v-show="moreFinCheck"><i class="fas fa-angle-down"></i></span>

              <span v-show="!moreFinCheck"><i class="fas fa-angle-up"></i></span>
            </div>
          </div> -->

        </div>
        <!-- 備註 -->
        <div class="my-2 p-3 bg-white" v-show="false">
          <p class="mb-2"><b>備註：</b></p>
          <p>......</p>
        </div>

      </div>

      <!-- 置底功能列 -->
      <div class="fixed bottom-0 w-full p-2" style="z-index:999">
        <div class="columns is-mobile is-gapless m-0 text-center" v-if="$route.query.type=='pay' && showEcPayIframe==false">
          <div class="column py-1">
            <button class="button is-link is-fullwidth is-medium" @click="chkOkCheckout()">確認結帳</button>
          </div>
        </div>
        <div class="columns is-mobile is-gapless m-0 text-center" v-if="$route.query.type=='finishedTemp' && showEcPayIframe==false">
          <div class="column is-half">
            <button class="button is-link is-selected is-medium" v-if="(finishOrderTemp.PayChannel == 'Scan2Pay' || finishOrderTemp.PayChannel == 'Newebpay') && finishOrderTemp.scan2PayUrl && finishOrderTemp.scan2PayUrl != ''" @click="openOurl(finishOrderTemp.scan2PayUrl)" style="width: 98%;">重新支付</button>
            <button class="button is-link is-selected is-medium" v-if="finishOrderTemp.PayChannel == 'ecPay' && paySrc !== ''" @click="showEcPayIframe = true;" style="width: 98%;">重新支付</button>
          </div>
          <div class="column is-half">
            <button class="button is-link is-fullwidth is-medium" @click="refreshSingle()" style="width: 98%;">刷新</button>
          </div>
        </div>
        <div class="columns is-mobile is-gapless m-0 text-center" v-if="$route.query.type=='finished' && showEcPayIframe==false">
          <div class="column py-1">
            <button class="button is-link is-fullwidth is-medium" @click="$router.replace('/cardShopMine/')">完成</button>
          </div>
        </div>
        <div class="padding-bottom-env" title="iphoneX-bottom-safe-area"></div>
      </div>
      <!--置底-->
      <!-- <div class="fixed-bottom columns is-mobile is-variable is-1 m-0 text-center bg-white" style="z-index: 998" v-if="$route.query.type=='pageDeed'">
        <div class="column py-1">
          <button class="button is-link is-fullwidth is-medium" @click="chkFinishCheckout()">完成付款</button>
        </div>
      </div>
      <div class="fixed-bottom columns is-mobile is-variable is-1 m-0 text-center bg-white" style="z-index: 998" v-if="$route.query.type=='finished'">
        <div class="column py-1">
          <button class="button is-link is-fullwidth is-medium" @click="$router.replace('/cardShopMine/')">完成</button>
        </div>
      </div> -->


    </div>
    <!-- 收件資料編輯 -->
		<ReceiveEdit />

    <!-- 付款說明(跳窗) -->
    <transition name="slide-fade">
      <div class="fixed-top w-100 h-full" style="z-index: 999;background-color: rgba(10,10,10,0.86)" v-if="isTypeModal!=''" @click="isTypeModal='';$store.commit('setCssTouch', true)" v-cloak></div>
    </transition>
    <div class="fixed top-0 w-full h-full" style="z-index:1002" v-if="isTypeModal=='tip'" @click.self="isTypeModal='';$store.commit('setCssTouch', true)">
      <div class="w3-modal-content w3-card-4 w3-round">
        <div class="w3-container">
          <p class="w3-margin-8 w3-center" :style="{ fontSize: fontSizeBase*18 + 'px' }">
            付款說明
            <a class="delete is-medium w3-display-topright m-2" @click="isTypeModal='';$store.commit('setCssTouch', true)"></a>
          </p>
          <div class="w3-container w3-stretch pt-2 pb-4" :style="{ fontSize: fontSizeBase*16 + 'px' }">
            <ol class="mt-0 ml-4">
              <li><span class="has-text-danger">優先抵扣體驗點數</span>，剩餘未支付餘額再使用消費點數抵扣。</li>
              <li>使用「快速付款」，將優先使用即將到期之契約的消費點數依序抵扣。</li>
              <li>使用「自選付款」，將可自由選擇契約依序抵扣。</li>
              <li>30天內即將到期契約的消費點數，無法使用。</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- 綠界EcPay iframe -->
    <transition name="slide-top">
      <div class="bg-white funcLayer" v-if="showEcPayIframe && paySrc !== ''">
        <span class="inline-block is-size-5 has-text-info" style="height:1.75rem;position: absolute;top: 12px;right: 60px;transform:translateY(7px)" @click="closeEcPay()">關閉</span>
        <img src="../../../assets/images/x.svg" class="w3-opacity" style="height:1.75rem;position: absolute;top: 12px;right: 20px;transform:translateY(3px)" @click="closeEcPay()">
        <iframe
            :src="paySrc"
            style="width: 100%;height: 100%;"
            frameborder=0 scrolling=auto></iframe>
      </div>
    </transition>
  </div>
</template>

<style scoped>
  .card-header-title {
    background-color: #eef6fc !important;
  }
  .progressbar-container {
  padding: .75rem 0;
}
.progressbar {
  margin: 0;
  margin-bottom: .5rem !important;
  counter-reset: step;
}
.progressbar li {
  list-style: none;
  display: inline-block;
  width: 33.33%;
  position: relative;
  text-align: center;
  cursor: pointer;
  margin-top: 0;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height : 26px;
  border: 2px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 5px auto;
  background-color: #fff;
}
.progressbar li:after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 2px;
  background-color: #ddd;
  top: 15px;
  left: calc(-50% + 15px);
  z-index : 1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
.progressbar li.active:before {
  border-color: green;
  background: green;
  color: white;
}
.progressbar li.active + li:after {
  background-color: green;
}
.scroll-auto-fix {
    overflow-y: auto;
    height: calc(100vh - 50px - env(safe-area-inset-top) - env(safe-area-inset-bottom));
}
</style>

<script>
import store from 'src/store'
import { getMyorders,getOrderitems,getUnfinishorderItem,toDecimal,objByTotal,cancelUnfinishorder,getOrderStatus,checkDeedAct,cancelMyorder,getUnfinishorder,getVipAddr,getcheckkind,goCheckout_kakar2,getFoodExpresst,getFoodMeasurement } from 'src/libs/market.js'
import { showToast,showConfirm,hideModal,showAlert } from 'src/libs/appHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'//
import { formatTime } from 'src/libs/timeHelper.js'
import moment from 'moment'
import { S_Obj, L_Obj } from 'src/fun1.js'	// 共用fun在此!
import { calAgioTotal, calATAmount, ShowPic_FI, this1 } from 'src/fun2.js'	// 共用fun在此!

import ReceiveEdit from '@/components/ReceiveEdit.vue' // 收件資料編輯

const S_CurPAGE = '/cardShopMine';
const IsDev = S_Obj.isDebug 	//開發debug

export default {
	// 頁面資料: 請使用function return
  components: { ReceiveEdit },
  setup() {
    return { calAgioTotal, ShowPic_FI, this1 }
  },
	data: function () {
		return {
			// foo: "Javascript",
			state: this.$store.state,

			tabIndex: '',
			unFinishOrder:[],
			orderstatus:{},
			okOrder:{},
			okItems:[],
			okDeedPoints:[],
			deepNoList:[], //選的點數
			finishOrder:{},
			finishItems:[],
			finishChecks:[],
			moreFinCheck: false, //更多消費點數
			BalanceTotal:0,//消費點數??
			PointMoneyAmount:0, //體驗點數
			BalanceTotal_init:0,//消費點數(原點)
			PointMoneyAmount_init:0, //體驗點數(原點)
			lastDeed:0,
			isTypeModal: '',
			chkOrderMine:{}, //準備結帳的訂單
			chkItems:[], //準備結帳的品項
			useCoupon: false, //使用優惠券
			couponList:[], //優惠券
			selCoupon:[], //所選的優惠券
			couponFareList:[], //運費券
			selFareCoupon:[], //所選的運費券
			useFareCoupon: false, //使用運費券
			remarkClean: '',
			isEdit: false,
			newShipData: false,
			// editShipData: '',
			isShipData: 0,//'01'
			showEcPayIframe:false,
			paySrc:'',

		};
	},
	computed: {
		// 簡化常用的 Vuex.store data (補充： 一定要寫在這, component 才會即時反應 $store.state 的變化)
		entp(){
			return this.$store.state.baseInfo.EnterpriseID
		},
		isCVSBack(){
			return this.$route.query.type=='pay' && this.$route.query.calcu
		},
		supportPay(){
			return this.$store.state.supportPay;
		},
		isLogin() {
			return this.$store.getters.isLogin
		},
		fontSizeBase() {
			return store.getters.fontSizeBase
		},
		mallData() {
			return this.state.mallData;
		},
		cancel_reason(){
			return this.state.baseInfo.memberData.appReason;
		},
		pay_arr(){
			return this.state.mallData.checkKind_list;
		},
		userVip(){
			const vipinfo1 	= this.state.baseInfo.memberData.vip_info
				,mem_keys 		= Object.keys(vipinfo1)
			return (mem_keys.length?vipinfo1:this.state.memberData.vip_info);  //有Addr,Mobile
			//store.state.userData; //沒有Mobile
		},
		shipData(){
			return this.mallData.shipData;
		},
		becomeSt(){
			return this.state.mallData.becomeApp
		},
	},
	props: {
		el: String
	},
	beforeDestroy(){
		window.removeEventListener('scroll', this.listenerMine,true);
	},
	mounted() {
		window.removeEventListener('scroll', this.listenerMine,true);
		window.addEventListener('scroll', this.listenerMine, true);
	},
	// 頁面模組
	methods: {
		objByTotal,
		formatTime,
		async checkBefore(){
			this.orderstatus['4'] = this.mallData.orderstatus['4'];//待出貨
			this.orderstatus['5'] = this.mallData.orderstatus['5'];//已出貨
			//vm.orderstatus['9'] = vm.mallData.orderstatus['9'];
			// vm.orderstatus['8'] = vm.mallData.orderstatus['8'];
			this.orderstatus['99'] = "未付款"//vm.mallData.orderstatus['0']; //為了放最後面,編99
			this.tabIndex='4';
			await getFoodExpresst();//取物流費
			await getFoodMeasurement(); //取材積
			if (this.isCVSBack){
				store.dispatch('goSurl',{sUrl:this.$route.query.calcu,fn:async (p_body)=>{
					if (!p_body.OrderID) return;
					await store.dispatch('fetchUnfinishorder_single', {ID: p_body.OrderID}) //
					if (Array.isArray(store.state.mallData.singleUnFinish) && store.state.mallData.singleUnFinish.length){
						let unOrder = Object.assign({},store.state.mallData.singleUnFinish[0])
						getUnfinishorderItem(p_body.OrderID,(p_unItems)=>{
							if (Array.isArray(p_unItems)) {
								unOrder["items"] = p_unItems;
							}
							this.pay_click(unOrder)
						});
					}
				}})
			}
		},
		trace_click(p_order){
			store.commit('setShopTrace', p_order);
			this.$router.push({ path: `/cardShopTrace/${p_order.OrderNo}`})
		},
		item_ids(){
			var p_items = (this.unFinOrder.items || []).filter((p_item)=>{
				//取出非運費Item
				const isFreight =this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
				return !isFreight;

			});
			return p_items.map((e)=>{return e.ID});
		},
		calc_fareItem(){
			return this.chkItems.filter((p_item)=>{
				return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
			});
		},
		isUnFinItem(){
			return this.unFinOrder && this.unFinOrder.items && this.unFinOrder.items.length;
		},
		clsFee(){
			this.fee_obj = {};
			this.cvsStore= {};
			this.confirmNoteChoosed='';
			store.commit('setCvsShopInfo', []);
		},
		cvsShop(){
			if (Array.isArray(this.$store.state.mallData.cvsShopInfo) && this.$store.state.mallData.cvsShopInfo.length > 0) {
				var cvsStore = this.$store.state.mallData.cvsShopInfo[0];
				cvsStore.EDC = (cvsStore.EDC && typeof cvsStore.EDC === "string" && cvsStore.EDC !=="" ? JSON.parse(cvsStore.EDC):{});
				return cvsStore;
			}
			return {};
		},
		strCvs(){
			if (this.unFinOrder && this.unFinOrder.PreSpecLimit){
				//若有超商物流(單一)
				if (this.unFinOrder.PreSpecLimit.indexOf('-') < 0 && this.unFinOrder.PreSpecLimit.indexOf('cvs') == 0) return this.unFinOrder.PreSpecLimit;//有超商無材積時
				//若有超商物流+材積時
				const gpID_list = this.unFinOrder.PreSpecLimit.split('-');
				if (gpID_list.length > 1){
					return gpID_list.find(gp=>{
						return gp.indexOf('cvs') == 0;
					});
				}
			}
			return '';
		},
		oFeeCode(){
			//PreSpecLimit純數字是原運費
			if (!isNaN(this.unFinOrder.PreSpecLimit)) return {"PYCode":this.unFinOrder.PreSpecLimit}
			if (this.strCvs()){
				const cvs_list  = this.strCvs().split('cvs');
					if (cvs_list.length == 2 && cvs_list[0]==''){
						const p_code = (cvs_list[1]).toString();
						const p_cvs = store.state.mallData.foodExpresst[p_code] || {}
						return {"CVSCodes":p_code,"LogisticsSubType":p_cvs.LogisticsSubType}
					}
			}
			return {}
		},
		measurement(){
			if (this.strCvs() && this.unFinOrder.PreSpecLimit.indexOf('-') > -1){
				const gpID_list = this.unFinOrder.PreSpecLimit.split('-');
				if (gpID_list.length > 1){
					const pMeas = gpID_list.find(gp=>{
						return gp.indexOf('meas') == 0;
					});
					if (!pMeas) return {};
					const meas_list  = pMeas.split('meas');
					if (meas_list.length == 2 && meas_list[0]==''){
						const p_meas = store.state.mallData.foodMeasurement[meas_list[1]]
						return {"MEASCodes":meas_list[1],"FreightStyle":p_meas.FreightStyle}
					}
				}
			}
			return {};
		},
		calAmount(v1) {
			return calATAmount.call(v1, this);
		},
		txtPayStatus(order) {
			const it = this.mallData.payStatus[order.PayStatus];
			return it ? it + " / " : "";
		},
		isOrdUnFinish(order) {
			return order.items && order.isUnFinish && order.OrderStatus == 0
		},
		isPayTimeout(p_saleTime){
			var sdate = new Date(moment(p_saleTime).format('YYYY/MM/DD HH:mm:ss')); // 客戶選定時間
			sdate.setMinutes(sdate.getMinutes() + 60*72);	//三天後付款到期
			return new Date() > sdate;
		},
		// donePay(){
			// this.$router.replace(S_CurPAGE)
		// },
		getPayName(p_ID){
			if (p_ID == undefined || p_ID === '') return '';
			const p_pay = this.pay_arr.find(m =>(m.ID == p_ID));
			return (p_pay?p_pay.Name:'');

		},
		closeEcPay(){
			const p_close = ()=>{
				this.showEcPayIframe = false;
				hideModal();
				this.$store.commit('setCssTouch', true);
			}
			this.refreshSingle((isPay)=>{
				if (!isPay){
					showConfirm("交易處理中,確定關閉?") // to delete => showConfirm2 -> showConfirm
					// 點擊確認執行
					.then(() => {
						p_close();
					})
					// 點擊取消執行 => 關閉 confirmn 視窗
					.catch(() => hideModal())

				}else{
					this.paySrc="";
					p_close();
				}
			});
		},
		/* 確認結帳 */
		async chkOkCheckout(){
			var payChannel = this.chkOrderMine.PayChannel || this1.p_PayChannel;
			if (!payChannel) return showAlert("請選擇付款方式");
			if (!this1.addrs) 	return showAlert("請填寫收件地址");

			// const p_feeCode = this.chkOrderMine.PreSpecLimit || "";
			// // console.log("qqqq",p_feeCode);
			// var p_fee_obj ={};
			// if (isNaN(p_feeCode) && p_feeCode.indexOf('cvs') == 0) {
				// var p_arr = p_feeCode.split('cvs');
				// if (p_arr.length == 2 && p_arr[0]=='') p_fee_obj.CVSCodes = p_arr[1];//cvs開頭是超商物流

			// }else{
				// p_fee_obj.PYCode = p_feeCode; //fee_key純數字是原運費
			// }

			let vipinfo2 = this.getVipinfo();
			vipinfo2.PayChannel = payChannel;
			const m_obj = Object.assign({}, vipinfo2, this.measurement(), this.oFeeCode())
			const orderInfo = {
				"ID":(this.item_ids() || []),
				"deedPoint":[],
				"TicketInfoID":this.selCoupon,
				"FareTicketInfoID":this.selFareCoupon,
				"OrderID":this.unFinOrder.ID,  //chkOrderMine.ID會異動?
			}
			//goCheckout_kakar2(undefined,[],m_obj,this.selCoupon,this.chkOrderMine.ID, this.selFareCoupon,(data)=>{
			goCheckout_kakar2(orderInfo,m_obj,(data)=>{

				IsDev && console.warn('確認結帳_goCheckou: ', data);	// @@

				const data_arr 	= data[payChannel]
					,isOtherPay 	= Array.isArray(data_arr) && data_arr.length > 0
					,ec_payUrl 		= isOtherPay ? data_arr[0]["urlToken"] : null;
				if (isOtherPay && this.supportPay.indexOf(payChannel) > -1){
					this.goFinishTemp(data,ec_payUrl);
					this.openOurl(ec_payUrl); //另開頁面

				// }else if (isOtherPay && payChannel == "ecPay"){
					// this.paySrc="";
					// this.goFinishTemp(data);
					// if (ec_payUrl){
						// this.paySrc = ec_payUrl;
						// this.showEcPayIframe = true;
					// }
					// else{
						// showAlert("付款作業失敗");
					// }

				}
				else if (Array.isArray(data.OrdersTemp) && data.OrdersTemp.length > 0){
					this.goFinishTemp(data);
				}else{
					showAlert("訂單成立失敗");
				}
			});

		},
		openOurl(p_url){
			setTimeout(() => {
				if (typeof(JSInterface) !== 'undefined') {
					deviseFunction('openWeburl', p_url, 'cbFnOpenWeburl')

				} else {
					window.open(p_url, '_blank')
				}
			}, 200)
		},
		goFinishTemp(data,scan2PayUrl){
			this.finishOrderTemp = {};
			this.finishItemsTemp = [];
			if (Array.isArray(data.OrdersTemp) && data.OrdersTemp.length > 0){
				this.finishOrderTemp = data.OrdersTemp[0];
				if (scan2PayUrl) this.finishOrderTemp.scan2PayUrl = scan2PayUrl;
				//this.couponList = data.VipTicket || [];
				this.finishItemsTemp = data.ItemsTemp || [];

				var p_freight = this.finishItemsTemp.filter((p_item)=>{
					return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);

				});

				this.finishOrderTemp.Total = toDecimal(this.finishOrderTemp.Total);
				this.finishOrderTemp.CheckTotal = toDecimal(this.finishOrderTemp.CheckTotal);
				this.finishOrderTemp.itemTotal = objByTotal(data.ItemsTemp,"Total");
				this.finishOrderTemp.Freight=0;
					this.finishOrderTemp.FreightInit = 0;
				if (p_freight.length > 0){
						this.finishOrderTemp.Freight = objByTotal(p_freight,"Total");
						this.finishOrderTemp.FreightInit = objByTotal(p_freight,"Price");
				}

				this.finishOrderTemp.SubTotal = toDecimal(this.finishOrderTemp.itemTotal - this.finishOrderTemp.Freight);
				this.$router.replace({ path: S_CurPAGE, query: { type: 'finishedTemp' } })
			}

		},
		async refreshSingle(fn){
			await store.dispatch('fetchOrder_single', {ID: this.finishOrderTemp.ID});
			const sigFinish = this.mallData.singleFinish
			if (sigFinish.length){
				getOrderitems(this.finishOrderTemp.ID,(p_items,p_checks,p_agios)=>{
					this.finishOrder = sigFinish[0];
					this.finishItems = [];
					this.finishChecks = [];
					this.finishAgio = [];
					if (Array.isArray(p_agios) && p_agios.length > 0){
						const fareAgio = p_agios.filter((p_agio)=>{
							return this.chkStr(p_agio.Owner); //單品Agio,運費Owner=Zxxx
						});
						if (fareAgio.length > 0) this.finishOrder.fareAgio = fareAgio[0];

					}
					if (Array.isArray(p_items)) this.finishItems = p_items;
					if (Array.isArray(p_checks)) this.finishChecks = p_checks;
					if (Array.isArray(p_agios)) this.finishAgio = p_agios;
					var p_freight = this.finishItems.filter((p_item)=>{
						return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
						// return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
					});
					this.finishOrder.Total = toDecimal(this.finishOrder.Total);
					this.finishOrder.itemTotal = objByTotal(this.finishItems,"Total");
					this.finishOrder.Freight = 0;
					this.finishOrder.FreightInit = 0;
					if (p_freight.length > 0){
						this.finishOrder.Freight = objByTotal(p_freight,"Total");//toDecimal(p_freight[0]["Price"]);//運費
						this.finishOrder.FreightInit = objByTotal(p_freight,"Price");//原始運費

					}
					this.finishOrder.SubTotal = toDecimal(this.finishOrder.itemTotal - this.finishOrder.Freight);//運費
					this.paySrc="";
					const findOd = (et) => et.ID == this.finishOrder.ID;
					const od_index = this.mallData.orders.findIndex(findOd);
					//var nowOd = Object.assign({}, this.mallData.orders[od_index]);
					//nowOd.OrderStatus = 4; //待出貨
					//nowOd.PayStatus = 1;
					this.tabIndex='4';
					store.commit('setShopRecordIndex', {Obj:this.finishOrder,index:od_index});
					this.$router.replace({ path: S_CurPAGE, query: { type: 'finished' } });
					if (typeof fn === 'function') fn(true);

				});
			}else{
				showToast("此訂單尚未付款完成");
				if (typeof fn === 'function') fn(false);
			}

		},
		getVipinfo(){
			return {
				PreAddr: 	this1.addrs,
				PrePhone: this1.phone1,
				PreName: 	this1.receiver
			}
		},
		/* 訂單-收件資料-修改 */
		getVipAddrList() {
			//if (this.isDemoID() && this.countNum) return showToast("發送簡訊中,請勿更動")
			getVipAddr((p_data) => { // 取收件人基本資料
				if (p_data.length) {
					// console.log('取收件人基本資料-p_data: ', p_data);	// @@
					store.state.mallData.shipData = p_data;
				}
				// this.foo = 'showEdit';
				const hh1 = location.hash+'&showEdit=1'
				location.replace(hh1);

				this.$store.commit('setCssTouch', false)
			});
		},
		checkTrace(orderTrace,itemTraces){
			var trace_arr=[];
			if (orderTrace!='') trace_arr.push(orderTrace);
			itemTraces.map((item)=>{
				//PreSourceID (宅配單號). 品項表(下方),BatchID
				if (item.BatchID!='' && trace_arr.indexOf(item.BatchID) < 0) trace_arr.push(item.BatchID);
			});
			return trace_arr;
		},
		checkDeed(e,p_index){
			// var input = e.target.control; // 目前選取欄位
			this.lastDeed = checkDeedAct(e,p_index,this.okDeedPoints,this.deepNoList,this.BalanceTotal);

		},
		momentFt(value){
			return moment(value).format('YYYY-MM-DD');
		},
		chkStr(p_str,isOnlyZ00){
			let p_arr = p_str.split('Z00');
			if (!isOnlyZ00 && !(p_arr.length == 2 && p_arr[0]=='')) p_arr = p_str.split('Y00');
			return p_arr.length == 2 && p_arr[0]=='';
		},
		/* 去付款 */
		async pay_click(o_order){
			console.log('去付款-o_order: ', o_order);	// @@
			this.cleanVal();
			this.setUser();

			this.p_PayChannel = '';
			this.chkOrderMine = {};
			this.chkItems = [];
			this.unFinOrder = {};
			this.unFinOrder = o_order; // !!!全堿判斷用!!!
			const isPayVal = o_order.PayChannel && o_order.PayChannel !== '';
			const isMeas = o_order.PreSpecLimit.indexOf('-meas') > -1 && o_order.PreSpecLimit.indexOf('cvs') == 0 //是否有材積
			if (isPayVal && (!isMeas || this.isCVSBack)){
				if (this.isCVSBack && isMeas){
					const feeCode = this.oFeeCode();
					if (feeCode.LogisticsSubType){
						await store.dispatch('fetchOrder_cvsShop', {ID: "Y00"+feeCode.LogisticsSubType+ this.entp + this.unFinOrder.VIPNo}) // this.userVip.Mobile
						const cvs_store = this.cvsShop().EDC || {};
						if(cvs_store.Data){
							//日翊
							this.receiver = o_order.PreAddr = this.unFinOrder.PreAddr = cvs_store.Data.Addr || "";
							this.addrs = o_order.PreName = this.unFinOrder.PreName = this.unFinOrder.VIPName+'-'+cvs_store.Data.Name || "查無此間店";
						}
						this.goFinishOrder(o_order);
					}

				}else{
					this.goFinishOrder(o_order);
				}
			}
			else if (isPayVal && isMeas && !this.isCVSBack){
				//有材積,必定重選超商門市
				//選好超商後,再call getUnfinishorderItem
				const surl = await store.dispatch('calcuSurl',{data:JSON.stringify({"OrderID":o_order.ID}),qrType:"2",exType:"0"})
					,v_path  = `?type=pay&calcu=${surl}`
					,v_url 	 = location.href + v_path
				this.goFinishOrder(Object.assign({},o_order, {CVSbackUrl:encodeURIComponent(v_url),isdebug:(S_Obj.isFromTest?'1':'0')}));
			}
		},
		/* 測付款 */
		goFinishOrder(o_order){
			console.log('測付款-o_order: ', o_order);	// @@
			this.setUser();

			this.chkOrderMine = {};
			this.chkItems = [];
			this.showEcPayIframe=false;
			this.paySrc='';

			this.chkOrderMine = o_order;
			this.chkItems = o_order.items || [];
			var p_freight = this.chkItems.filter((p_item)=>{
				return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
			});
			this.chkOrderMine.Total = toDecimal(this.chkOrderMine.Total);
			this.chkOrderMine.CheckTotal = toDecimal(this.chkOrderMine.CheckTotal);
			this.chkOrderMine.itemTotal = objByTotal(this.chkItems,"Total");
			this.chkOrderMine.Freight=0;
			if (p_freight.length > 0){
				this.chkOrderMine.Freight = objByTotal(p_freight,"Price");//toDecimal(p_freight[0]["Price"]);//運費

			}
			this.chkOrderMine.SubTotal = toDecimal(this.chkOrderMine.itemTotal - this.chkOrderMine.Freight);
			const isNowPay = this.$route.path == S_CurPAGE && this.$route.query.type=='pay';
			if (!isNowPay) this.$router.push({ path: S_CurPAGE, query: { type: 'pay' } });
			//goCalcuCheckout_orderID ,若為kiosk可能會重選,宅配方式(卡+只有宅配,運費會影響total,自取不用運費)
		},

		cleanVal(){
			this.showEcPayIframe=false;//綠界iframe
			this.paySrc=''; //綠界src
			this.clsConpunVal();
			this.clsFee();
		},
		clsConpunVal(){
			//優惠券
			this.useCoupon=false; //一定要用false,否則selCoupon會重算
			this.selCoupon=[];
			//運費券
			this.useFareCoupon=false; //一定要用false,否則selFareCoupon會重算
			this.selFareCoupon=[];
		},

		cancelOrder(p_order){
			showConfirm("是否取消此訂單", '確定', '取消')
			// 點擊確認執行
			.then(() => {
				hideModal();
				cancelUnfinishorder(p_order.ID,(order_arr)=>{
					if (order_arr && Array.isArray(order_arr.Orders)){
						const ok_orders = store.state.mallData.orders.filter((p_order)=>{
							return !p_order.isUnFinish //已成立的訂單(已付款)
						});
						order_arr.Orders.map((unFinish)=>{
								unFinish.isUnFinish = true;
						});
						this.$store.commit('setShopRecord', ok_orders.concat(order_arr.Orders));
					}

				});
			})
			// 點擊取消執行 => 關閉 confirmn 視窗
			.catch(() => hideModal())

		},
		warnConfirm(p_msg,p_order){
			if (p_order) showConfirm(p_msg, '確定', 'noCancel')
			// 點擊確認執行
			.then(() => {
				this.cancelFinishOrder(p_order);
			})
			// 點擊取消執行 => 關閉 confirmn 視窗
			.catch(() => hideModal())
		},
		cancelFinishOrder(p_order){
			const isTrue 	= p_order.OrderStatus == 5
				,p_msg 			= isTrue ? "是否要退貨?" : "是否要取消訂單?"
			// showConfirm(p_msg,'確定','取消','請選擇原因',this.cancel_reason,'','','請填入備註(選填)')
			showConfirm(p_msg,'確定','取消','請選擇原因',this.cancel_reason,'','')
			// 點擊確認執行
			.then(() => {
				const mData = this.state.customModal
				// console.log('點擊確認-mData: ', mData);	// @@

				if (!mData.confirmNoteChoosed){
					hideModal();
					return this.warnConfirm("請選擇原因",p_order);
				}
				const reasonObj = this.cancel_reason.find(m =>m.code == mData.confirmNoteChoosed)
				if (reasonObj) this.doCancel(p_order,{Reason:reasonObj.text,Memo:mData.confirmNoteRemark});
			})
			// 點擊取消執行 => 關閉 confirmn 視窗
			.catch(() => hideModal())

		},
		doCancel(p_order,mData){
			cancelMyorder(p_order.ID,(data)=>{
				hideModal();
				var isErr = data.detail && data.detail.ErrorCode && data.detail.ErrorCode != "0";
				if (isErr) showAlert(data.detail.ErrorMsg);
			},mData);
		},
		// doFinishOrder(order,DeedPoints){
			// this.okOrder = order;
			// this.okItems = order.items || [];
			// // var p_freight = this.okItems.filter((p_item)=>{
			// //   return p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
			// // });
			// var p_freight = this.finishItems.filter((p_item)=>{
				// return this.chkStr(p_item.FoodID) && this.chkStr(p_item.MainID) && this.chkStr(p_item.KindID);
				// // p_item.FoodID==='Z001' && p_item.MainID==='Z001' && p_item.KindID==='Z001'
			// });
			// this.okOrder.Total = toDecimal(this.okOrder.Total);
			// this.okOrder.itemTotal = objByTotal(this.okItems,"Total");
			// this.okOrder.Freight = 0;
			// if (p_freight.length > 0){
				// this.okOrder.Freight = objByTotal(p_freight,"Price");//toDecimal(p_freight[0]["Price"]);//運費

			// }
			// this.okOrder.SubTotal = toDecimal(this.okOrder.itemTotal - this.okOrder.Freight);//運費
			// this.okDeedPoints = DeedPoints;
			// // BalanceTotal
			// this.$router.replace({ path: S_CurPAGE, query: { type: 'pageDeed',isPay:'on' } });
		// },

		goOrderitems(orderID,iIndex,order){
			if (!this.mallData.orders[iIndex]["isUnFinish"]){
				//已付款
				if(!order.items) getOrderitems(orderID,(p_items,p_checks,p_agios)=>{
					if (Array.isArray(p_items)) this.mallData.orders[iIndex]["items"] = p_items;
					if (Array.isArray(p_checks)) this.mallData.orders[iIndex]["Checks"] = p_checks;
					if (Array.isArray(p_agios)) this.mallData.orders[iIndex]["Agios"] = p_agios;

					this.mallData.isCarUI = !this.mallData.isCarUI;//觸發UI更新用
				});
			}else{
				//未付款
				if(!order.items) getUnfinishorderItem(orderID,(p_unItems)=>{
					if (Array.isArray(p_unItems)) this.mallData.orders[iIndex]["items"] = p_unItems;
					this.mallData.isCarUI = !this.mallData.isCarUI;//觸發UI更新用

				});
			}
			order.isload = !order.isload
			this.mallData.isCarUI = !this.mallData.isCarUI;//觸發UI更新用
		},
		// reload(){
			// getMyorders(()=>{	//已付款
			// });
		// },
		// reload(next) {
			// getMyorders(() => { //已付款
				// getUnfinishorder((data) => { //未付款
					// if (Array.isArray(data)) {
						// data.map((unFinish) => {
							// unFinish.isUnFinish = true;
						// });
					// }
					// this.mallData.orders = Object.assign([], this.mallData.orders.concat(data));
					// if (next) {
						// this.$router.replace('/shopMine');
						// next();
					// }
				// });
			// });
		// },

		listenerMine(el){
			var st = el.srcElement.scrollTop || el.target.scrollTop;
			var stHeight = el.srcElement.scrollHeight || el.target.scrollHeight;
			var scollHt = el.srcElement.clientHeight || el.target.clientHeight;

			if (st+scollHt >= stHeight-1 && this.$route.query.type == undefined){
				if (this.tabIndex != "99"){
					getMyorders(()=>{

					},true);
				}else{
					getUnfinishorder((data)=>{
						if (Array.isArray(data)) {
								data.map((unFinish)=>{
										unFinish.isUnFinish = true;
								});
								store.state.mallData.orders = store.state.mallData.orders.concat(data);
						}

					},true);
				}

			}
		},
		setUser(){
			const o1 = L_Obj.read('CurShipData');
			if (o1) {
				// console.log('setUser-o1: ', o1);	// @@
				this1.addrs = o1.Addr;
				this1.phone1 = o1.Phone;
				this1.receiver = o1.Nick_Name;
			} else {
				this1.addrs = this.userVip.Addr || "";
				this1.phone1 = this.userVip.Mobile || "";
				this1.receiver = this.userVip.CnName || "";
			}
		},
	},
	// 在路由刷新前
	beforeRouteEnter: async function (to, form, next) {
		store.state.isPageName = '訂單記錄'
		document.querySelector(".pull-down-container").scrollTop = 0 // 此頁置頂
		await store.dispatch('fetchMarketShopID')
		getcheckkind();
		//原因表
		store.dispatch('fetchReasonWuhu');
		store.state.mallData.reloadShopMineFn=()=>{
			getMyorders();
		}
		store.commit('setLoading', true)
		getOrderStatus(()=>{
			getMyorders(()=>{    //已付款
				next((vm) => { // vm is the Vue instance
					vm.checkBefore();
				})
				// getUnfinishorder((data)=>{  //未付款
				//   store.commit('setLoading', false)
				//   next((vm) => { // vm is the Vue instance
				//     vm.orderstatus['4'] = vm.mallData.orderstatus['4'];
				//     vm.orderstatus['5'] = vm.mallData.orderstatus['5'];
				//     vm.orderstatus['9'] = vm.mallData.orderstatus['9'];
				//     vm.orderstatus['8'] = vm.mallData.orderstatus['8'];
				//     vm.orderstatus['99'] = "未付款"//vm.mallData.orderstatus['0']; //為了放最後面,編99
				//     // vm.orderstatus['-1'] = "未付款";//結帳失敗,未扣點時,此時沒有OrderNo
				//     // {0: "待接單", 1: "待付款", 2: "已取消", 3: "已退訂", 4: "待出貨", 5: "已出貨", 6: "已完成", 7: "退貨中", 8: "退款中", 9: "已關閉", __ob__: Observer}

				//     if (Array.isArray(data)) {
				//       data.map((unFinish)=>{
				//         unFinish.isUnFinish = true;
				//         // unFinish.OrderStatus = -1; //原始可能0或1,暫塞-1

				//       });
				//       vm.mallData.orders = vm.mallData.orders.concat(data);
				//     }
				//     vm.tabIndex='4';

				//   })

				// });

			});
		});

		// next();
	},
	beforeRouteUpdate: function (to, form, next) {
		document.querySelector(".pull-down-container").scrollTop = 0 // 此頁置頂
		next();
	},
	beforeRouteLeave: function(to, form, next){
		this.cleanVal();
		this.$destroy()	// 消滅此 instance
		next()
	},
	/* 建立頁面後 */
	// created: function () {
		// console.log('建立頁面後-this1: ', this1);	// @@
	// },
	watch: {
		'$route' (q1) {
			const bOn = q1.query.btnOK;
			// console.log('tm2_watch-route: ', bOn);	// @@
			if (bOn) {
				location.hash = location.hash.replace(/&btnOK=1/g, '')
			}
		},
		becomeSt(){
			this.refreshSingle();
		},
		tabIndex(p_value){
			const mode = store.state.mallData.orders.find(m =>m.isUnFinish)
			if (p_value === '99' && !mode) {
				getUnfinishorder((data)=>{  //未付款,9001等原伺服器的訂單(微點餐)也都撈到??
					if (Array.isArray(data)) {
						data.map((unFinish)=>{
							unFinish.isUnFinish = true;
						});
						store.state.mallData.orders = store.state.mallData.orders.concat(data);
					}
				});
			}else{
				const tabMode = store.state.mallData.orders.find(m =>(m.OrderStatus == p_value))
				if (!tabMode){
					getMyorders(()=>{
					},true);
				}
			}
		},
		selCoupon(){
			if(this.useCoupon){
				const isPayVal = this.unFinOrder.PayChannel && this.unFinOrder.PayChannel !== '';
				if (isPayVal) this.goFinishOrder(this.unFinOrder);
			}

		},
	}
}
</script>