<template>
  <div id="scroll-box" class="h-full overflow-auto bg-white push-bottom-hack overflow-x-hidden relative">
    <transition-group :name="transitionName">
      <div v-if="!isStoreInfo" key="storelist" class="absolute top-0 w-screen min-h-screen bg-white push-bottom-hack z-0">
        <!-- 下拉選項 -->
        <div class="text-center is-size-5 sticky top-0 bg-white border-b z-10">
          <div class="px-3 py-4">
            <div class="columns is-mobile is-variable">
              <div class="column is-6 py-0">
                <div class="dropdown w-full is-active">
                  <div class="dropdown-trigger w-full" ref="isBrand" @click="isBrand=!isBrand">
                    <button class="button border-0 rounded-0 w-full">
                      <span>{{searchBrand}}<!-- 全部品牌 --></span>
                      <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 0 24 24" width="28px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8.71 11.71l2.59 2.59c.39.39 1.02.39 1.41 0l2.59-2.59c.63-.63.18-1.71-.71-1.71H9.41c-.89 0-1.33 1.08-.7 1.71z"/></svg>
                      </span>
                    </button>
                  </div>
                  <div class="dropdown-menu text-left" @click="onCloseBrand" v-if="isBrand" v-closable="{exclude: ['isBrand'], handler: 'onCloseBrand'}">
                    <div class="dropdown-content border border-gray-600 bg-gray-50 rounded-lg px-2">
                      <a class="dropdown-item is-size-6 none-underline rounded p-2 text-center truncate" v-for="(item, index) in searchBrands" @click="clickSearchBrand(item)" :key="index">{{item.Text}}</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column is-6 py-0">
                <div class="dropdown w-full is-active">
                  <div class="dropdown-trigger w-full" ref="isArea" @click="isArea=!isArea">
                    <button class="button border-0 rounded-0 w-full">
                      <span>{{searchZoneDisplay}}</span>
                      <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 0 24 24" width="28px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8.71 11.71l2.59 2.59c.39.39 1.02.39 1.41 0l2.59-2.59c.63-.63.18-1.71-.71-1.71H9.41c-.89 0-1.33 1.08-.7 1.71z"/></svg>
                      </span>
                    </button>
                  </div>
                  <div class="dropdown-menu dropdown-menu-area" @click="onCloseArea" v-if="isArea" v-closable="{exclude: ['isArea'], handler: 'onCloseArea'}">
                    <div class="dropdown-content dropdown-content-area border border-gray-600 bg-gray-50 rounded-lg px-2">
                      <div class="is-size-6 text-center p-1 rounded mx-2" @click="setSearchZone('')">全部地區</div>
                      <div class="columns is-mobile is-gapless mb-0 mx-1" v-for="(city, index) in handZoneData" :key="index">
                        <div class="column is-narrow" style="width:92px" @click="setSearchZone('city', city.city)">
                          <a href="javascript:void(0)" class="dropdown-item is-size-6 none-underline rounded city">{{city.city}}</a>
                        </div>
                        <div class="column text-left pl-4">
                          <a href="javascript:void(0)" class="dropdown-item is-size-6 none-underline rounded text-nowrap" v-for="(item, index) in getArea(city)" :key="index" @click="setSearchZone('area', city.city, item)">{{item}}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 關鍵字搜尋 -->
        <div class="field py-2 px-3 z-0">
          <p class="control has-icons-left">
            <input class="input w-full" type="text" :placeholder="searchNote" v-model="localSearchKeyWord">
            <span class="icon is-small is-left">
              <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><g><rect fill="none" height="24" width="24"/></g><g><g><path d="M6,20h12c0.55,0,1,0.45,1,1s-0.45,1-1,1H6c-0.55,0-1-0.45-1-1S5.45,20,6,20z M12,7c-1.1,0-2,0.9-2,2s0.9,2,2,2 c1.1,0,2-0.9,2-2S13.1,7,12,7z M12,2c3.27,0,7,2.46,7,7.15c0,2.98-2.13,6.12-6.39,9.39c-0.36,0.28-0.86,0.28-1.22,0 C7.13,15.26,5,12.13,5,9.15C5,4.46,8.73,2,12,2z"/></g></g></svg>
            </span>
          </p>
          <div class="flex flex-wrap mt-1">
            <span class="text-white bg-primary m-1 rounded-full py-1 px-2 font-bold text-sm" v-for="(c_key, index) in cloudKeys" :key="'c_key'+index" @click="clickTag(c_key)">{{'#'+c_key.Text}}</span>
          </div>
        </div>
        <div class="text-center text-sm p-2 text-yellow-500  -mt-5" v-if="!myLoc || myLoc==''">
          定位中，請稍候...
        </div>
        <!-- 門店列表 -->
        <div class="px-3 -mt-2">
          <!-- 無門店資料 -->
          <p class="text-center has-text-grey-lighter mt-52" v-if="isLoaded && (!filterStores || !filterStores.length)">-- 無門店資料 --</p>
          <template v-if="filterStores.length">
            <div class="card rounded-lg shadow overflow-hidden border my-3" v-for="(item, index) in filterStores" :key="index">
              <div class="card-image" @click="showStoreInfo(item.OrgName)">
                <figure class="image has-background-white-ter is-3by1 m-0">
                  <img class="object-cover" :src="showImageWuhu(item.AppShopImage)" alt="">
                </figure>
              </div>
              <div class="card-content p-0">
                <div class="content p-3 mb-0">
                  <div class="is-size-5 mb-3" @click="showStoreInfo(item.OrgName)">
                    <!-- Brand icon
                    <figure class="image is-32x32 inline-block m-0 mr-0" v-if="getIconByBrand(item.Brand)">
                      <img class="rounded-full object-cover" :src="getIconByBrand(item.Brand)">
                    </figure> -->
                    <b> {{item.OrgName}}</b>
                    <!-- share location -->
                    <span class="is-pulled-right mt-n1" @click="deviseShare(item)">
                      <span class="fa-stack align-middle text-lichen-secondary mr-n1" style="font-size: 0.75em">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-share-alt fa-stack-1x fa-inverse"></i>
                      </span>
                    </span>
                  </div>
                  <div class="columns is-variable is-1 is-mobile mb-0" v-if="item.Addr" @click="toGoogleMap(item)">
                    <div class="column is-narrow py-2">
                      <svg class="inline-block text-secondary" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><g><rect fill="none" height="24" width="24" y="0"/></g><g><path d="M12,2c-4.2,0-8,3.22-8,8.2c0,3.18,2.45,6.92,7.34,11.23c0.38,0.33,0.95,0.33,1.33,0 C17.55,17.12,20,13.38,20,10.2C20,5.22,16.2,2,12,2z M12,12c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2c1.1,0,2,0.9,2,2 C14,11.1,13.1,12,12,12z" enable-background="new"/></g></svg>
                    </div>
                    <div class="column py-2" v-html="item.Addr"></div>
                  </div>
                  <div class="columns is-variable is-1 is-mobile mb-0" v-if="item.Tel" @click="deviseMakePhoneCall(item)">
                    <div class="column is-narrow py-2">
                      <svg class="inline-block text-secondary" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="20px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19.23 15.26l-2.54-.29c-.61-.07-1.21.14-1.64.57l-1.84 1.84c-2.83-1.44-5.15-3.75-6.59-6.59l1.85-1.85c.43-.43.64-1.03.57-1.64l-.29-2.52c-.12-1.01-.97-1.77-1.99-1.77H5.03c-1.13 0-2.07.94-2 2.07.53 8.54 7.36 15.36 15.89 15.89 1.13.07 2.07-.87 2.07-2v-1.73c.01-1.01-.75-1.86-1.76-1.98z"/></svg>
                    </div>
                    <div class="column py-2">
                      {{item.Tel}}
                    </div>
                  </div>
                  <div class="columns is-variable is-1 is-mobile mb-0" v-if="item.Open">
                    <div class="column is-narrow py-2">
                      <svg class="inline-block text-secondary" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm-.22-13h-.06c-.4 0-.72.32-.72.72v4.72c0 .35.18.68.49.86l4.15 2.49c.34.2.78.1.98-.24.21-.34.1-.79-.25-.99l-3.87-2.3V7.72c0-.4-.32-.72-.72-.72z"/></svg>
                      營業時間：
                    </div>
                    <div class="column py-2 whitespace-pre-wrap" v-html="item.Open"></div>
                  </div>
                  <div v-if="item.Mode" class="buttons mt-2">
                    <button v-if="item.Mode.takeout" class="button rounded-lg h-auto border-0 bg-primary text-white hover:text-white" @click.stop="goMOrder(item.OrgCode, 'takeout', '/cardStore')">
                      <img class="mr-1" src="@/assets/images/shopping-bag.svg">
                      自取
                    </button>
                    <button v-if="item.Mode.delivery" class="button rounded-lg h-auto border-0 bg-primary text-white hover:text-white" @click.stop="goMOrder(item.OrgCode, 'delivery', '/cardStore')">
                      <img class="mr-1" width="18" src="@/assets/images/moto.svg">
                      外送點我
                    </button>
                    <button v-if="item.Mode.DeskPay" class="button rounded-lg h-auto border-0 bg-primary text-white hover:text-white" @click.stop="goMOrder(item.OrgCode, 'DeskPay', '/cardStore')">
                      <img class="mr-1" src="@/assets/images/shopping-bag.svg">
                      掃碼點餐
                    </button>
                    <button v-if="item.Mode.resdelivery" class="button rounded-lg h-auto border-0 bg-primary text-white hover:text-white" @click.stop="goMOrder(item.OrgCode, 'resdelivery', '/cardStore')">
                      <img class="mr-1" width="18" src="@/assets/images/moto.svg">
                      預定外送
                    </button>
                    <button v-if="item.Mode.restakeout" class="button rounded-lg h-auto border-0 bg-primary text-white hover:text-white" @click.stop="goMOrder(item.OrgCode, 'restakeout', '/cardStore')">
                      <img class="mr-1" src="@/assets/images/shopping-bag.svg">
                      預定外帶
                    </button>
                    <button v-if="item.Mode.homedelivery" class="button rounded-lg h-auto border-0 bg-primary text-white hover:text-white" @click.stop="goMOrder(item.OrgCode, 'homedelivery', '/cardStore')">
                      <img class="mr-1" width="18" src="@/assets/images/moto.svg">
                      宅配
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </div>
      </div>
      <!-- 門店內容 -->
      <div v-else key="storeinfo" class="bg-white absolute top-0 w-screen min-h-screen push-bottom-hack z-10">
        <template v-for="(item, index) in filterStores">
          <div class="p-3" v-if="$route.query.store == item.OrgName" :key="index" v-touch:swipe.right="touchSwipeRightHandler">
            <div class="mb-3 -mt-3 -mx-3">
                <figure class="image has-background-white-ter is-16by9">
                  <template v-for="(s_item, indexImg) in articles">
                      <img class="object-cover" :src="s_item.image" :key="indexImg" v-if="s_item.name == item.OrgName">
                  </template>
                </figure>
            </div>
            <div class="is-size-5 mb-3">
              <b>{{item.OrgName}}</b>
            </div>
            <!-- share location -->
            <span class="is-pulled-right mt-n1" @click="deviseShare(item)">
              <span class="fa-stack align-middle text-lichen-secondary mr-n1" style="font-size: 0.75em">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-share-alt fa-stack-1x fa-inverse"></i>
              </span>
            </span>
            <div class="columns is-variable is-1 is-mobile mb-0" v-if="item.Addr" @click="toGoogleMap(item)">
              <div class="column is-narrow py-2">
                <svg class="inline-block text-secondary" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><g><rect fill="none" height="24" width="24" y="0"/></g><g><path d="M12,2c-4.2,0-8,3.22-8,8.2c0,3.18,2.45,6.92,7.34,11.23c0.38,0.33,0.95,0.33,1.33,0 C17.55,17.12,20,13.38,20,10.2C20,5.22,16.2,2,12,2z M12,12c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2c1.1,0,2,0.9,2,2 C14,11.1,13.1,12,12,12z" enable-background="new"/></g></svg>
              </div>
              <div class="column py-2" v-html="item.Addr"></div>
            </div>
            <div class="columns is-variable is-1 is-mobile mb-0" v-if="item.Tel" @click="deviseMakePhoneCall(item)">
              <div class="column is-narrow py-2">
                <svg class="inline-block text-secondary" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="20px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19.23 15.26l-2.54-.29c-.61-.07-1.21.14-1.64.57l-1.84 1.84c-2.83-1.44-5.15-3.75-6.59-6.59l1.85-1.85c.43-.43.64-1.03.57-1.64l-.29-2.52c-.12-1.01-.97-1.77-1.99-1.77H5.03c-1.13 0-2.07.94-2 2.07.53 8.54 7.36 15.36 15.89 15.89 1.13.07 2.07-.87 2.07-2v-1.73c.01-1.01-.75-1.86-1.76-1.98z"/></svg>
              </div>
              <div class="column py-2">
                {{item.Tel}}
              </div>
            </div>
            <div class="columns is-variable is-1 is-mobile mb-0" v-if="item.Open">
              <div class="column is-narrow py-2">
                <svg class="inline-block text-secondary" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm-.22-13h-.06c-.4 0-.72.32-.72.72v4.72c0 .35.18.68.49.86l4.15 2.49c.34.2.78.1.98-.24.21-.34.1-.79-.25-.99l-3.87-2.3V7.72c0-.4-.32-.72-.72-.72z"/></svg>
                營業時間：
              </div>
              <div class="column py-2 whitespace-pre-wrap" v-html="item.Open"></div>
            </div>
            <!-- hard-code Content -->
            <template v-for="(c_item, index) in articles">
              <article :key="index" v-if="c_item.name == $route.query.store">
                <div class="mt-3 mb-5 flex">
                  <template v-if="item.Mode">
                    <figure class="image has-background-white-ter is-32x32 mr-2" v-if="item.Mode.takeout" @click="goMOrder(item.OrgCode, 'takeout', '/cardStore')"><!-- 外帶 -->
                      <img class="object-cover shadow-lg" src="@/assets/images/stores/s_ic_order.png">
                    </figure>
                  </template>
                  <figure class="image has-background-white-ter is-32x32 mr-2" v-if="c_item.link_line" @click="openUrl(`https://line.me/R/ti/p/${c_item.link_line}`)">
                    <img class="object-cover shadow-lg" src="@/assets/images/stores/s_ic_line.png">
                  </figure>
                  <figure class="image has-background-white-ter is-32x32 mr-2" v-if="c_item.link_fb" @click="openUrl(c_item.link_fb)">
                    <img class="object-cover shadow-lg" src="@/assets/images/stores/s_ic_fb.png">
                  </figure>
                  <figure class="image has-background-white-ter is-32x32 mr-2" v-if="c_item.link_ig" @click="openUrl(c_item.link_ig)">
                    <img class="object-cover shadow-lg" src="@/assets/images/stores/s_ic_ig.png">
                  </figure>
                  <figure class="image has-background-white-ter is-32x32 mr-2" v-if="c_item.link_web" @click="openUrl(c_item.link_web)">
                    <img class="object-cover shadow-lg" src="@/assets/images/stores/s_ic_tz.png">
                  </figure>
                </div>
                <div class="my-3" v-if="c_item.intro">
                    <h5 class="title is-5 mb-4">品牌介紹</h5>
                    <div v-html="c_item.intro"></div>
                </div>
                <div class="my-3" v-if="c_item.intro_store">
                    <h5 class="title is-5 mb-4">店舖介紹</h5>
                    <div v-html="c_item.intro_store"></div>
                </div>
                <div class="my-3">
                    <h5 class="title is-5 mb-3">交通資訊</h5>
                    <div class="my-3">
                      <figure class="image has-background-white-ter is-16by9">
                        <template v-for="(s_item, indexImg) in articles">
                            <img class="object-cover" :src="s_item.map" :key="indexImg" v-if="s_item.name == item.OrgName" @click="mapModal = true, enlargeMap = s_item.map">
                        </template>
                      </figure>
                    </div>
                </div>
                <div class="my-3" v-if="c_item.bus">
                    <h5 class="title is-5 mb-3 flex items-center"><img class="h-8 inline-block" src="@/assets/images/stores/stores_ic_trans_bus.svg">公車</h5>
                    <div :class="{'pl-5':!c_item.bus.includes('<ul')}" v-html="c_item.bus"></div>
                </div>
                <div class="my-3" v-if="c_item.train">
                    <h5 class="title is-5 mb-3 flex items-center"><img class="h-8 inline-block" src="@/assets/images/stores/stores_ic_trans_train.svg">火車</h5>
                    <div class="pl-5" v-html="c_item.train"></div>
                </div>
                <div class="my-3" v-if="c_item.metro">
                    <h5 class="title is-5 mb-3 flex items-center"><img class="h-8 inline-block" src="@/assets/images/stores/stores_ic_trans_metro.svg">捷運</h5>
                    <div class="pl-5" v-html="c_item.metro"></div>
                </div>
                <div class="my-3" v-if="c_item.high">
                    <h5 class="title is-5 mb-3 flex items-center"><img class="h-8 inline-block" src="@/assets/images/stores/stores_ic_trans_hight.svg">高鐵</h5>
                    <div class="pl-5" v-html="c_item.high"></div>
                </div>
                <div class="my-3" v-if="c_item.drive">
                    <h5 class="title is-5 mb-3 flex items-center"><img class="h-8 inline-block" src="@/assets/images/stores/stores_ic_trans_drive.svg">開車</h5>
                    <div class="pl-5" v-html="c_item.drive"></div>
                </div>
                <div class="my-3" v-if="c_item.park">
                    <h5 class="title is-5 mb-3 flex items-center"><img class="h-8 inline-block" src="@/assets/images/stores/stores_ic_trans_park.svg">停車場</h5>
                    <div class="pl-5" v-html="c_item.park"></div>
                </div>
                <div class="my-3" v-if="c_item.light">
                    <h5 class="title is-5 mb-3 flex items-center"><img class="h-8 inline-block" src="@/assets/images/stores/stores_ic_trans_light.svg">輕軌</h5>
                    <div :class="{'pl-5':!c_item.bus.includes('<ul')}" v-html="c_item.light"></div>
                </div>
              </article>
            </template>
          </div>
        </template>
      </div>
    </transition-group>
    <!-- map enlarge modal -->
    <transition name="slide-fade">
      <div class="modal is-active" style="z-index:101" v-if="mapModal == true">
        <div class="modal-background"></div>
        <swiper class="swiper px-4 w-full h-full" :options="swiperOptionMap">
          <swiper-slide>
            <div class="swiper-zoom-container" @touchstart="zoomTouch">
              <img :src="enlargeMap" :key="enlargeMap" v-touch:swipe.bottom="touchSwipeBottomHandler">
            </div>
          </swiper-slide>
        </swiper>
        <button class="modal-close is-large" aria-label="close" @click="mapModal = false" style="z-index: 1"></button>
      </div>
    </transition>
  </div>
</template>

<style lang="scss" scoped>
.dropdown-menu-area {
  max-width: 200%;
  @apply min-w-full w-max left-auto right-0;
  .dropdown-item {
    @apply whitespace-nowrap w-auto pr-4 inline-block;
    &.city {
      @apply relative;
      &::after {
        content: '/';
        @apply absolute text-gray-300 -right-2;
      }
    }
  }
}
.card-content {
  .content p:not(:last-child) {
    @apply mb-3;
  }
}
.border-info {
  border-color: #4ba6f5 !important;
}

/* Transitions */

.next-leave-to {
  animation: leaveToLeft .3s both cubic-bezier(0.165, 0.84, 0.44, 1);
}
.next-enter-to {
  animation: enterFromRight .3s both cubic-bezier(0.165, 0.84, 0.44, 1);
}
.prev-leave-to {
  animation: leaveToRight .3s both cubic-bezier(0.165, 0.84, 0.44, 1);
}
.prev-enter-to {
  animation: enterFromLeft .3s both cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes leaveToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25%);
    filter: brightness(0.5);
  }
}
@keyframes enterFromLeft {
  from {
    transform: translateX(-25%);
    filter: brightness(0.5);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes leaveToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes enterFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
</style>

<script>
import { getDistance } from 'geolib'
import store from 'src/store'
// import { S_Obj } from 'src/fun1.js'	// 共用fun在此!
import { showImageWuhu, Closable, setLoading } from 'src/libs/appHelper.js'
import { deviseFunction, goMOrder } from 'src/libs/deviseHelper.js'
import VueAwesomeSwiper from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.css'

// const IsDev 		= S_Obj.isDebug 	//開發debug
//	,IsStaging 		= S_Obj.isStaging


export default {
  directives: {
    Closable
  },
  components: {
    Swiper: VueAwesomeSwiper.swiper,
    SwiperSlide: VueAwesomeSwiper.swiperSlide
  },
  data: function(){
    return {
      state: this.$store.state,
      isLogin: this.$store.getters.isLogin,
      publicData: this.$store.state.baseInfo.publicData,
      isLoaded: this.$store.state.baseInfo.publicData.storeIsLoaded,
      isBrand: false,
      isArea: false,
      localSearchKeyWord: '',
      handZoneData: [],
      prvScroll: 0,
      listScrollHeight: 0,
      contentHeight: 0,
      transitionName: '',
      curBrand: {},
      articles: [
        {
          image: require('@/assets/images/stores/store_TZ_kh02.jpg'),
          link_line: '@dtw6400m',
          link_fb: 'https://www.facebook.com/Ttanzuomali/?ref=br_rs',
          link_ig: 'https://www.instagram.com/tanzuomali/',
          link_web: 'https://www.crun.com.tw/',
          name: '碳佐麻里 精品燒肉。高雄時代店',
          intro: `
          <p>碳佐麻里精品燒肉<br>完整詮釋「燒肉餐廳」的領航者。</p>
          <p>燒肉供應平價至高檔的完整呈現，讓選擇不侷限，各類燒肉、多國肉品甚至海鮮食材應有盡有．並且完美結合刺身、壽司、飯食、石鍋、飲料、酒類、甜點…..等多樣選擇，皆能得到最大的滿足．更供應兩人組合以及三人組合餐，讓首次用餐可以輕鬆點餐。</p>
          <p>餐廳兩字，除了餐食之外，講究的就是環境．我們所有店別均是邀請國際建築設計大師「羅耕甫」先生來操刀設計，除了將空間與環境做了最美好的呈現，更結合了使用空間的人為條件，讓每一個人進到餐廳內，皆能充分享受環境、空間、陽光、空氣的美好體驗。</p>
          <p>美好的事物總是耐人尋味，美好的餐點值得細細品嚐。</p>
          <p>所以，我們在2002年創店時，就堅持採用下吸式抽風，以及純木炭燒肉．讓木炭的香能留在肉上，而擾人的煙不會飄散；同時在桌邊準備了無線服務鈴，讓您的需求都能在座位上，透過一指就能滿足。</p>
          <p>店鋪現階段更全面導入I ＰＡＤ 點餐，並透過結合內部的KDS控餐系統，讓每一道餐點從點餐、入單、製餐、送餐都能充分掌握時間與夥伴的相對應關係，給您最完整的保障。</p>
          <p>當然，除了好吃的餐、美好的空間，還需要人的溫暖；所以我們也貼心的在各區設置服務管家，只為了把「好」做得更好。</p>
          <p>我們把一切都準備好了，邀請您來體驗這一切的美好。</p>
          `,
          intro_store: `
          <p>高雄時代店始於2018年12月</p>
          <p>斥資3.5億打造高雄時代園區。成為亞洲最美的燒肉店、全台最大燒肉餐廳，土地面積約1800坪。打造出建築與環境共生的概念餐廳，以『自然環境、水、光影與綠樹』，做為建築的設計概念，更是在2019年奪得WAF系列中的INSIDE世界室內設計獎、2019 The Architecture MasterPrize (AMP)，以及NOVUM Design Award 年度最佳建築設計師獎。園區中還有跨品牌的碳佐TANGO麻辣鴛鴦鍋及有你真好湘菜沙龍。時代店擁有便捷的交通，搭乘捷運紅線抵達凱旋站步行約五分鐘即可抵達。園區前方便是公有停車場，停車相當方便。</p>
          `,
          map: require('@/assets/images/stores/map-tz-kh02.jpg'),
          bus: `
          <ul class="pl-5 list-disc">
            <li>建議搭乘【12號】、【69號】公車，至捷運凱旋站下車後朝北方，左轉接時代大道，步行約5分鐘即可抵達。</li>
            <li>【205中華幹線】、【36號】公車，至夢時代(中華)站下車，朝北方右轉接時代大道，步行約5分鐘即可抵達。</li>
          </ul>
          `,
          train: `
          <p>搭台鐵至高雄火車站，建議轉搭捷運或是公車(依照上述公車、捷運指示即可)。</p>
          `,
          metro: `
          <p>搭乘捷運紅線，建議抵達凱旋站，由三號出口出站後朝北方，左轉接時代大道，步行約5分鐘即可抵達。</p>
          `,
          high: `
          <p>搭高鐵至新左營站，轉搭捷運紅線(依照上述捷運指示即可)。</p>
          `,
          drive: `
          <p>北上/南下：車輛行駛國道1號中山高速公路，下中山四路出口，遇時代大道左轉即可抵達。</p>
          `,
          park: `
          <p>周邊有公有停車場與停車格。</p>
          `,
          light: `
          <ul class="pl-5 list-disc">
            <li>搭乘輕軌至C3前鎮之星站，下車後朝北方步行約3分鐘，左轉接時代大道，步行約5分鐘即可抵達。</li>
            <li>搭乘輕軌至C5夢時代站，下車後朝東方步行約8分鐘即可抵達。</li>
          </ul>
          `
        },
        {
          image: require('@/assets/images/stores/store_TZ_kh01.jpg'),
          link_line: '@605ayoxr',
          link_fb: 'https://www.facebook.com/Ttanzuomali/?ref=br_rs',
          link_ig: 'https://www.instagram.com/tanzuomali/',
          link_web: 'https://www.crun.com.tw/',
          name: '碳佐麻里 精品燒肉。高雄高美店',
          intro: `
          <p>碳佐麻里精品燒肉<br>完整詮釋「燒肉餐廳」的領航者。</p>
          <p>燒肉供應平價至高檔的完整呈現，讓選擇不侷限，各類燒肉、多國肉品甚至海鮮食材應有盡有．並且完美結合刺身、壽司、飯食、石鍋、飲料、酒類、甜點…..等多樣選擇，皆能得到最大的滿足．更供應兩人組合以及三人組合餐，讓首次用餐可以輕鬆點餐。</p>
          <p>餐廳兩字，除了餐食之外，講究的就是環境．我們所有店別均是邀請國際建築設計大師「羅耕甫」先生來操刀設計，除了將空間與環境做了最美好的呈現，更結合了使用空間的人為條件，讓每一個人進到餐廳內，皆能充分享受環境、空間、陽光、空氣的美好體驗。</p>
          <p>美好的事物總是耐人尋味，美好的餐點值得細細品嚐。</p>
          <p>所以，我們在2002年創店時，就堅持採用下吸式抽風，以及純木炭燒肉．讓木炭的香能留在肉上，而擾人的煙不會飄散；同時在桌邊準備了無線服務鈴，讓您的需求都能在座位上，透過一指就能滿足。</p>
          <p>店鋪現階段更全面導入I ＰＡＤ 點餐，並透過結合內部的KDS控餐系統，讓每一道餐點從點餐、入單、製餐、送餐都能充分掌握時間與夥伴的相對應關係，給您最完整的保障。</p>
          <p>當然，除了好吃的餐、美好的空間，還需要人的溫暖；所以我們也貼心的在各區設置服務管家，只為了把「好」做得更好。</p>
          <p>我們把一切都準備好了，邀請您來體驗這一切的美好。</p>
          `,
          intro_store: `
          <p>高雄高美店於2012年6月在高雄落腳</p>
          <p>碳佐麻里的另一個里程碑，首間跨縣市店鋪誕生，這是我們在台南深耕十年後的心血結晶，而這次斥資兩億、打造結合人文藝術與親水景觀的人文燒肉餐廳，以清水模建築及水池景觀，享受美食的同時，也多一分愜意感。高美店座落高雄美術館文化區，少了一些車水馬龍的城市喧囂，多了一些寬廣與愜意，鄰近高雄市立美術館，讓高美店多了一絲人文氣息。</p>
          `,
          map: require('@/assets/images/stores/map-tz-kh01.jpg'),
          bus: `
          <p>建議搭乘【紅205中華幹線】、【8015號】、【8017號】、【8043號】、【紅35】公車，至明誠路口站或明誠四路口站下車，步行3至8分鐘即可抵達。</p>
          `,
          train: `
          <p>搭台鐵區間車至內惟火車站，出站後朝南方順著翠華路直走至逢甲路，左轉接明誠四路，於美術東四路口左轉即可抵達(步行時間約10分鐘)。</p>
          `,
          metro: `
          <p>搭程捷運到巨蛋站，出站後朝明誠四路，於美術東四路口左轉即可抵達(步行時間約20分鐘)。</p>
          `,
          high: `
          <p>搭高鐵至新左營站，轉搭公車【紅35】到美術東六街口站下車，步行約2分鐘即可抵達。</p>
          `,
          drive: `
          <p>北上/南下：車輛行駛國道1號中山高速公路，轉往國道10號高雄支線(左營)，往中華路方向下交流道，順著翠華路上中華陸橋走中華一路，遇美術北三路轉右，接美術東四路左轉即可抵達。</p>
          `,
          park: `
          <p>周邊有公有停車場與停車格。</p>
          `,
          light: `
          <p>本店有專屬地下室停車場。</p>
          `
        },
        {
          image: require('@/assets/images/stores/store_TZ_tn02.jpg'),
          link_line: '@563jqgww',
          link_fb: 'https://www.facebook.com/Ttanzuomali/?ref=br_rs',
          link_ig: 'https://www.instagram.com/tanzuomali/',
          link_web: 'https://www.crun.com.tw/',
          name: '碳佐麻里 精品燒肉。台南中華店',
          intro:  `
          <p>碳佐麻里精品燒肉<br>完整詮釋「燒肉餐廳」的領航者。</p>
          <p>燒肉供應平價至高檔的完整呈現，讓選擇不侷限，各類燒肉、多國肉品甚至海鮮食材應有盡有．並且完美結合刺身、壽司、飯食、石鍋、飲料、酒類、甜點…..等多樣選擇，皆能得到最大的滿足．更供應兩人組合以及三人組合餐，讓首次用餐可以輕鬆點餐。</p>
          <p>餐廳兩字，除了餐食之外，講究的就是環境．我們所有店別均是邀請國際建築設計大師「羅耕甫」先生來操刀設計，除了將空間與環境做了最美好的呈現，更結合了使用空間的人為條件，讓每一個人進到餐廳內，皆能充分享受環境、空間、陽光、空氣的美好體驗。</p>
          <p>美好的事物總是耐人尋味，美好的餐點值得細細品嚐。</p>
          <p>所以，我們在2002年創店時，就堅持採用下吸式抽風，以及純木炭燒肉．讓木炭的香能留在肉上，而擾人的煙不會飄散；同時在桌邊準備了無線服務鈴，讓您的需求都能在座位上，透過一指就能滿足。</p>
          <p>店鋪現階段更全面導入I ＰＡＤ 點餐，並透過結合內部的KDS控餐系統，讓每一道餐點從點餐、入單、製餐、送餐都能充分掌握時間與夥伴的相對應關係，給您最完整的保障。</p>
          <p>當然，除了好吃的餐、美好的空間，還需要人的溫暖；所以我們也貼心的在各區設置服務管家，只為了把「好」做得更好。</p>
          <p>我們把一切都準備好了，邀請您來體驗這一切的美好。</p>
          `,
          intro_store: `
          <p>台南中華店於2004年10月誕生</p>
          <p>當年斥資五千多萬打造南部首屈一指，夜店風格的lounge bar燒肉餐廳，在夜晚標的燈火通明，引領食尚流行。在店內可以享受繁華城市的喧囂感，不再侷限於以往對餐廳的印象。距離大橋火車站步行約5分鐘，附近有奇美醫院、大橋重劃區，位於人口稠密地段。</p>
          `,
          map: require('@/assets/images/stores/map-tz-tn02.jpg'),
          bus: `
          <p>搭乘【5號】、【15號】公車，至大橋站下車即可抵達。</p>
          `,
          train: `
          <p>搭台鐵區間車至大橋火車站，出站後步行約5分鐘即可抵達。</p>
          `,
          metro: ``,
          high: `
          <p>搭高鐵至台南站，轉搭高鐵接駁車到大橋站下車。</p>
          `,
          drive: `
          <p>行駛國道1號高速公路，建議下永康交流道，往西接駛中正北路再接駛中正南路繼續直駛遇路口中華路(向東)，左轉中華路即達本店。</p>
          `,
          park: `
          <p>本店有專屬停車場，可至第一停車場或第二停車場停車。</p>
          `,
          light: ``
        },
        {
          image: require('@/assets/images/stores/store_TZ_tn01.jpg'),
          link_line: '@315kavgc',
          link_fb: 'https://www.facebook.com/Ttanzuomali/?ref=br_rs',
          link_ig: 'https://www.instagram.com/tanzuomali/',
          link_web: 'https://www.crun.com.tw/',
          name: '碳佐麻里 精品燒肉。台南府前店',
          intro: `
          <p>碳佐麻里精品燒肉<br>完整詮釋「燒肉餐廳」的領航者。</p>
          <p>燒肉供應平價至高檔的完整呈現，讓選擇不侷限，各類燒肉、多國肉品甚至海鮮食材應有盡有．並且完美結合刺身、壽司、飯食、石鍋、飲料、酒類、甜點…..等多樣選擇，皆能得到最大的滿足．更供應兩人組合以及三人組合餐，讓首次用餐可以輕鬆點餐。</p>
          <p>餐廳兩字，除了餐食之外，講究的就是環境．我們所有店別均是邀請國際建築設計大師「羅耕甫」先生來操刀設計，除了將空間與環境做了最美好的呈現，更結合了使用空間的人為條件，讓每一個人進到餐廳內，皆能充分享受環境、空間、陽光、空氣的美好體驗。</p>
          <p>美好的事物總是耐人尋味，美好的餐點值得細細品嚐。</p>
          <p>所以，我們在2002年創店時，就堅持採用下吸式抽風，以及純木炭燒肉．讓木炭的香能留在肉上，而擾人的煙不會飄散；同時在桌邊準備了無線服務鈴，讓您的需求都能在座位上，透過一指就能滿足。</p>
          <p>店鋪現階段更全面導入I ＰＡＤ 點餐，並透過結合內部的KDS控餐系統，讓每一道餐點從點餐、入單、製餐、送餐都能充分掌握時間與夥伴的相對應關係，給您最完整的保障。</p>
          <p>當然，除了好吃的餐、美好的空間，還需要人的溫暖；所以我們也貼心的在各區設置服務管家，只為了把「好」做得更好。</p>
          <p>我們把一切都準備好了，邀請您來體驗這一切的美好。</p>
          `,
          intro_store: `
          <p>台南府前店於2004年4月在期待中誕生</p>
          <p>南部首間占地500坪，且當時斥資四千多萬元打造的燒肉餐廳，結合親水景觀、獨立包廂戶外小木屋、清水模建築，呈現後現代日式簡約的建築風格，用餐就像在渡假一樣，這樣的出現，是當年南部餐飲業界的一顆震撼彈。位於台南市政府北側，寧靜中帶點城囂的空曠環境。 </p>
          `,
          map:  require('@/assets/images/stores/map-tz-tn01.jpg'),
          bus: `
          <p>搭乘【14號】公車，至新南國小站下車即可抵達。</p>
          `,
          train: `
          <p>搭台鐵至台南火車站，再轉搭公車(依照上述公車指示即可)。</p>
          `,
          metro: ``,
          high: `
          <p>搭高鐵至台南站，轉搭市府高鐵接駁車市府線，到台南市政府站下車。</p>
          `,
          drive: `
          <p>行駛國道8號(台南支線)下交流道，直駛台南支線聯絡道，接直駛海佃路二段至一段並接駛文賢路，右轉(往西)至中華北路一段(西濱公路)，接直駛中華西路二段遇府前路二段右轉(往西)，直駛府前路二段到建平路交叉口即達本店。</p>
          `,
          park: `
          <p>府前店周圍停車格皆可停車，或至南島路的是政府停車場停車。</p>
          `,
          light: ``
        },
        {
          image: require('@/assets/images/stores/store_TG.jpg'),
          link_line: '@425ejhlb',
          link_fb: 'https://www.facebook.com/tangomala/',
          link_ig: 'https://www.instagram.com/tangomala/',
          link_web: 'https://www.crun.com.tw/',
          name: '碳佐TANGO麻辣鴛鴦鍋。高雄時代店',
          intro: `
          <p>麻辣火鍋時代的代表。</p>
          <p>碳佐TANGO麻辣鴛鴦鍋，詮釋對生活態度的講究，以及處處完美的堅持．建築空間由國際建築設計大師「羅耕甫」先生打造，器皿的選用來自日本技藝精湛的國寶級師傅職人，所有的投入，只希望能夠在細節上完美。</p>
          <p>店內主打「紅金麻辣湯」。像是時尚的熟齡女子般，外表豔麗、內涵溫和帶層次，味香而不濃膩，麻口而不刺激。搭配獨特自創的「泡泡雞白湯」，一勺麻辣、一勺雞白，無論怎麼混搭，口口都是好滋味；還有「拳頭大的鴨血」滑嫩口感，不僅衝擊味蕾，更顛覆對麻辣鍋的認知。</p>
          <p>店內湯底供應有「紅金麻辣湯」、「泡泡雞白湯」、「芫荽皮蛋豚骨湯」、「西瓜綿魚骨清湯」、「四川麻辣牛油鍋」；每一種鍋底，都是投入大量時間並且使用優質食材熬製而成，我們不投機使用湯粉快速調湯，而是堅持用心熬湯。</p>
          <p>2019年是這個品牌的開端，我們會將這份熱情會繼續燃燒、蔓延，讓來自各方的好友，TANGO麻辣而相遇，因相遇而彼此激盪出熱情。</p>
          `,
          intro_store: `
          <p>碳佐TANGO麻辣鴛鴦鍋 始於2019年2月</p>
          <p>斥資三億打造高雄時代園區，灰黑風格的清水模建築，大量使用金屬鋼板，並盡可能的使用可回收再利用的模組化，兼具環保意識。建築增加自然光線進入室內空間的可能性，藉由人造光源與自然光源的對比性打造出時尚風格。園區中有亞洲最美的燒肉店及有你真好湘菜沙龍。在2019年奪得WAF系列中的INSIDE世界室內設計獎、2019 The Architecture MasterPrize (AMP)，以及NOVUM Design Award 年度最佳建築設計師獎。擁有便捷的交通，搭乘捷運紅線抵達凱旋站步行約五分鐘即可抵達。園區前方便是公有停車場，停車相當方便。 </p>
          `,
          map:  require('@/assets/images/stores/map-tango.jpg'),
          bus: `
          <ul class="pl-5 list-disc">
            <li>建議搭乘【12號】、【69號】公車，至捷運凱旋站下車後朝北方，左轉接時代大道，步行約5分鐘即可抵達；</li>
            <li>【205中華幹線】、【36號】公車，至夢時代(中華)站下車，朝北方右轉接時代大道，步行約5分鐘即可抵達。</li>
          </ul>
          `,
          train: `
          <p>搭台鐵至高雄火車站，建議轉搭捷運或是公車(依照上述公車、捷運指示即可)。</p>
          `,
          metro: `
          <p>搭乘捷運紅線，建議抵達凱旋站，由三號出口出站後朝北方，左轉接時代大道，步行約5分鐘即可抵達。</p>
          `,
          high: `
          <p>搭高鐵至新左營站，轉搭捷運紅線(依照上述捷運指示即可)。</p>
          `,
          drive: `
          <p>北上/南下：車輛行駛國道1號中山高速公路，下中山四路出口，遇時代大道左轉即可抵達。</p>
          `,
          park: `
          <p>周邊有公有停車場與停車格。</p>
          `,
          light: `
          <ul class="pl-5 list-disc">
            <li>搭乘輕軌至C3前鎮之星站，下車後朝北方步行約3分鐘，左轉接時代大道，步行約5分鐘即可抵達。</li>
            <li>搭乘輕軌至C5夢時代站，下車後朝東方步行約8分鐘即可抵達。</li>
          </ul>
          `
        },
        {
          image: require('@/assets/images/stores/store_GS_tn01.jpg'),
          link_line: '@547nncbs',
          link_fb: 'https://www.facebook.com/itsgoodtohaveyou/',
          link_ig: 'https://www.instagram.com/goodtohaveyousalon/',
          link_web: 'https://www.crun.com.tw/',
          name: '有你真好 火鍋沙龍。台南民生店',
          intro: `
          <p>有你真好火鍋沙龍<br>沙龍餐廳的完美詮釋。</p>
          <p>「有你真好」很認真地把自己當作沙龍主人，用心接待、款待每一位來用餐的朋友，我們就像朋友般地存在，在乎您所吃到的食材、享受到的空間、感受到的溫暖，最重要的是您的健康。在這裏，一人一鍋，不用妥協、不用配合，選自己所愛、擇自己所戀。</p>
          <p>一間火鍋店的投入，從湯底就能所見．我們不調湯，因為我們花時間熬湯。</p>
          <p>我們最引以為傲的「GOODSHABU 黃金湯」，就是視覺與舌尖的最高享受．用看的晶瑩剔透，用嚐的層次豐富卻清爽鮮甜．這一切的美好，是因為歷經28小時的淬煉。</p>
          <p>集結老母雞、雞爪、大量蔬果熬煮，經過長時間的靜置沈澱，再以法式蛋白餅的澄清手法濃縮精華，耗費28小時的工序，成就出黃金般晶瑩剔透的閃爍，完全無雜質且熱量接近零卡。</p>
          <p>別問我們為什麼願意這樣做，親自來感受吧！感受我們的用心、我們的投入，還有我們想要給你的那一份好。因為我們在意的是與您之間的情感，能夠透過相遇的緣分，能夠透過相聚的溫度，在這裏慢慢的溫煮。讓工作的忙碌與生活的快節奏得到舒緩，讓火鍋多些人情味，讓大家互成朋友。2017年，讓感動開始的那一年。</p>
          <p>有你真好<br>真好有你<br></p>
          `,
          intro_store: `
          <p>有你真好 火鍋沙龍 民生店始於2019年5月</p>
          <p>擁有台南最美火鍋店之稱，台南第一間火鍋沙龍餐廳，簡約大方不失優雅，而一個「好」字，貫穿餐廳富有溫度與故事的經營理念。獲得了2018年的金點設計獎、2019德國iF設計大獎（iF Design Award），並且獲刊在 Interior Magazine 室內雜誌中。整體建築空間結合大量藝術裝飾，會讓人有在美術館用餐的錯覺，位於海安路、正興街附近，府城熱鬧文化底蘊豐富的區域，適合散步遊走在各觀光景點。 </p>
          `,
          map: require('@/assets/images/stores/map-gs-tn01.jpg'),
          bus: `
          <p>搭乘【0左、0右】或【2號】，至協進國小站下車，步行約3-5分鐘即可抵達。</p>
          `,
          train: `
          <p>搭台鐵至台南火車站，再轉搭公車(依照上述公車指示即可)。</p>
          `,
          metro: ``,
          high: `
          <p>搭高鐵至台南站，轉搭火車，再轉搭公車即可到。</p>
          `,
          drive: `
          <p>行駛國道一號接台86線下仁德系統出口，行駛到臺南的民生路二段即達本店。</p>
          `,
          park: `
          <p>鄰近Times停車場、康樂街停車場、嘟嘟房停車場、海安路地下停車場。</p>
          `,
          light: ``
        },
        {
          image: require('@/assets/images/stores/store_HC_tn01.jpg'),
          link_line: '@113ppcjb',
          link_fb: 'https://www.facebook.com/itsgoodtohaveyou/',
          link_ig: 'https://www.instagram.com/goodtohaveyousalon/',
          link_web: 'https://www.crun.com.tw/',
          name: '有你真好 湘菜沙龍。台南五妃店',
          intro: `
          <p>有你真好 湘菜沙龍<br>沙龍餐廳的溫暖延續。</p>
          <p>2018年，我們決定延續那一份好，就是「有你真好」。這次我們從一人一鍋的好，變成圍在一桌的好。</p>
          <p>喚起你跟家人、朋友團聚一桌的那種喜悅，會讓人嘴角微微上揚的喜悅。我們想把那份喜悅，帶給每一個人，不只是家人，不只是跟長輩吃飯的場景，而是每一個人的日常。</p>
          <p>店內熱門菜「啤酒鴨」、「毛氏紅燒肉」、「剁椒魚頭」、「飄香烤魚」，都是團聚的最好選擇。辣的、不辣的，我們都辦得到。我們更與湖南主廚共同訂定最適合的份量，結合最優惠的價格，方便您選擇、方便您點餐。更在平日午間，推出個人份的超值優惠午餐。所有的一切，只為了走進您的日常生活。</p>
          <p>湘菜也是湖南菜，是中國的八大菜系之一，有著耐人尋味的學問，從入味、透味、本味，完整且道地的呈現博大精深辣的功夫，把紅通通的辣，淋漓盡致的發揮出來。因為我們是「有你真好」，這樣的好，辣的迷人、香的徹底。</p>
          <p>有你真好<br>真好有你<br></p>
          `,
          intro_store: `
          <p>有你真好湘菜沙龍 五妃店始於2019年5月</p>
          <p>社區裡的溫暖餐館，五妃店一旁的綠意照映結合傳統與時尚，三角窗的門面打造出氣質的湖南小館，環境有別於一般中式餐廳的傳統氛圍，時尚新盈的共桌方式，設計出透亮時尚的用餐環境。空間設計更在2020年獲得國際指標性設計大獎，A'DESIGN AWARD 2020 銀獎。位於悠閒人文氣息濃厚的台南大學附近，旁邊緊鄰五妃廟，遍佈滿滿的傳統韻味。</p>
          `,
          map: require('@/assets/images/stores/map-hc-tn01.jpg'),
          bus: `
          <p>搭乘【2號】至南門路站下車或【5號】至體育公園站下車，步行約3-5分鐘即可抵達。</p>
          `,
          train: `
          <p>搭台鐵至台南火車站，再轉搭公車(依照上述公車指示即可)。</p>
          `,
          metro: ``,
          high: `
          <p>搭高鐵至台南站，轉搭火車，再轉搭公車即可到。</p>
          `,
          drive: `
          <p>走國道一號接台86線下仁德系統出口，行駛到臺南的南門路，再接五妃街。</p>
          `,
          park: `
          <p>鄰近日月亭五妃廟停車場、南門路及五妃街路邊公設停車格。</p>
          `,
          light: ``
        },
        {
          image: require('@/assets/images/stores/store_HC_kh01.jpg'),
          link_line: '@266wieyl',
          link_fb: 'https://www.facebook.com/itsgoodtohaveyou/',
          link_ig: 'https://www.instagram.com/goodtohaveyousalon/',
          link_web: 'https://www.crun.com.tw/',
          name: '有你真好 湘菜沙龍。高雄時代店',
          intro: `
          <p>有你真好 湘菜沙龍<br>沙龍餐廳的溫暖延續。</p>
          <p>2018年，我們決定延續那一份好，就是「有你真好」。這次我們從一人一鍋的好，變成圍在一桌的好。</p>
          <p>喚起你跟家人、朋友團聚一桌的那種喜悅，會讓人嘴角微微上揚的喜悅。我們想把那份喜悅，帶給每一個人，不只是家人，不只是跟長輩吃飯的場景，而是每一個人的日常。</p>
          <p>店內熱門菜「啤酒鴨」、「毛氏紅燒肉」、「剁椒魚頭」、「飄香烤魚」，都是團聚的最好選擇。辣的、不辣的，我們都辦得到。我們更與湖南主廚共同訂定最適合的份量，結合最優惠的價格，方便您選擇、方便您點餐。更在平日午間，推出個人份的超值優惠午餐。所有的一切，只為了走進您的日常生活。</p>
          <p>湘菜也是湖南菜，是中國的八大菜系之一，有著耐人尋味的學問，從入味、透味、本味，完整且道地的呈現博大精深辣的功夫，把紅通通的辣，淋漓盡致的發揮出來。因為我們是「有你真好」，這樣的好，辣的迷人、香的徹底。</p>
          <p>有你真好<br>真好有你<br></p>
          `,
          intro_store: `
          <p>有你真好湘菜沙龍 時代店始於2020年6月</p>
          <p>在高雄時代園區插旗，灰黑風格的清水模建築，大量使用金屬鋼板，桌與桌之間提供掛簾間隔，增加些許神秘隱私感，自然光線灑落入室內空間，藉由人造光源與自然光源的對比性打造出時尚風格。園區中有亞洲最美的燒肉店及時尚開鍋的碳佐TANGO麻辣鴛鴦鍋。在2019年奪得WAF系列中的INSIDE世界室內設計獎、2019 The Architecture MasterPrize (AMP)，以及NOVUM Design Award 年度最佳建築設計師獎。擁有便捷的交通，搭乘捷運紅線抵達凱旋站步行約五分鐘即可抵達。園區前方便是公有停車場，停車相當方便。</p>
          `,
          map: require('@/assets/images/stores/map-hc-kh01.jpg'),
          bus: `
          <ul class="pl-5 list-disc">
            <li>建議搭乘【12號】、【69號】公車，至捷運凱旋站下車後朝北方，左轉接時代大道，步行約5分鐘即可抵達。</li>
            <li>【205中華幹線】、【36號】公車，至夢時代(中華)站下車，朝北方右轉接時代大道，步行約5分鐘即可抵達。</li>
          </ul>
          `,
          train: `
          <p>搭台鐵至高雄火車站，建議轉搭捷運或是公車(依照上述公車、捷運指示即可</p>
          `,
          metro: `
          <p>搭乘捷運紅線，建議抵達凱旋站，由三號出口出站後朝北方，左轉接時代大道，步行約5分鐘即可抵達。</p>
          `,
          high: `
          <p>搭高鐵至新左營站，轉搭捷運紅線(依照上述捷運指示即可)。</p>
          `,
          drive: `
          <p>北上/南下：車輛行駛國道1號中山高速公路，下中山四路出口，遇時代大道左轉即可抵達。</p>
          `,
          park: `
          <p>周邊有公有停車場與停車格。</p>
          `,
          light: `
          <ul class="pl-5 list-disc">
            <li>搭乘輕軌至C3前鎮之星站，下車後朝北方步行約3分鐘，左轉接時代大道，步行約5分鐘即可抵達。</li>
            <li>搭乘輕軌至C5夢時代站，下車後朝東方步行約8分鐘即可抵達。</li>
          </ul>
          `
        },
        {
          image: require('@/assets/images/stores/store_HC_kh02.jpg'),
          link_line: '@712jfdfd',
          link_fb: 'https://www.facebook.com/itsgoodtohaveyou/',
          link_ig: 'https://www.instagram.com/goodtohaveyousalon/',
          link_web: 'https://www.crun.com.tw/',
          name: '有你真好 湘菜沙龍。高雄鼓山店',
          intro: `
          <p>有你真好 湘菜沙龍<br>沙龍餐廳的溫暖延續。</p>
          <p>2018年，我們決定延續那一份好，就是「有你真好」。這次我們從一人一鍋的好，變成圍在一桌的好。</p>
          <p>喚起你跟家人、朋友團聚一桌的那種喜悅，會讓人嘴角微微上揚的喜悅。我們想把那份喜悅，帶給每一個人，不只是家人，不只是跟長輩吃飯的場景，而是每一個人的日常。</p>
          <p>店內熱門菜「啤酒鴨」、「毛氏紅燒肉」、「剁椒魚頭」、「飄香烤魚」，都是團聚的最好選擇。辣的、不辣的，我們都辦得到。我們更與湖南主廚共同訂定最適合的份量，結合最優惠的價格，方便您選擇、方便您點餐。更在平日午間，推出個人份的超值優惠午餐。所有的一切，只為了走進您的日常生活。</p>
          <p>湘菜也是湖南菜，是中國的八大菜系之一，有著耐人尋味的學問，從入味、透味、本味，完整且道地的呈現博大精深辣的功夫，把紅通通的辣，淋漓盡致的發揮出來。因為我們是「有你真好」，這樣的好，辣的迷人、香的徹底。</p>
          <p>有你真好<br>真好有你<br></p>
          `,
          intro_store: `
          <p>有你真好湘菜沙龍 鼓山店始於2020年11月</p>
          <p>走進日本京都的錯覺．鼓山店是一棟有著80年歷史的日式建築，保留原有老屋的風貌，外圍籬笆上滿滿綠意盎然，庭園中有著潺潺流水，帶著洗淨鉛華的過往去訴說著故事，讓老屋的日式京都風格增添了一絲人文溫度。位於隱蔽壽山腳下的鼓山洞旁，鄰近駁二藝術特區及哈瑪星鐵道文化園區，距離棧二庫與西子灣都不遠。搭乘輕軌便能輕易前往。</p>
          `,
          map: require('@/assets/images/stores/map-hc-kh02.jpg'),
          bus: `
          <p>搭乘【99號】或【219A號】公車至壽山公園站下車，步行約3-5分鐘即可抵達。</p>
          `,
          train: `
          <p>搭台鐵至新左營車站後，轉乘捷運至西子灣站，再步行約8分鐘即可到達。</p>
          `,
          metro: ``,
          high: `
          <p>搭高鐵至左營站後，轉乘捷運至西子灣站，再步行約8分鐘即可到達。</p>
          `,
          drive: `
          <p>行駛國道一號接高雄的中正一路出口，接著行駛走中正三路和中正四路前往鼓山區的鼓山一路53巷即達本店。</p>
          `,
          park: `
          <p>鄰近CITY PARKING 城市車旅停車場 (鹽埕站)。</p>
          `,
          light: ``
        },
        {
          image: require('@/assets/images/stores/store_T_plus.jpg'),
          link_line: '',
          link_fb: 'https://www.facebook.com/T-Cafetea-354077675174360',
          link_ig: 'https://www.instagram.com/t_cafe.tea/',
          link_web: 'https://www.crun.com.tw/',
          name: 'T＋Cafe＆Tea。高雄時代園區',
          intro: `
          <p>T＋Cafe＆Tea</p>
          <p>碳佐麻里時代園區的廣場上，一台顯眼的餐車座落於此，周圍綠樹環繞、親水造景生態豐富，透過樸實的食材，用心沖泡咖啡、烘烤雞蛋糕。</p>
          <p>來這裡，你只需要放慢生活步伐，放鬆感受愜意的人生，一啜一飲，淺嚐咖啡的溫度，深品內心的亮度。</p>
          `,
          intro_store: ``,
          map: require('@/assets/images/stores/map-tcafe.jpg'),
          bus: `
          <ul class="pl-5 list-disc">
            <li>建議搭乘【12號】、【69號】公車，至捷運凱旋站下車後朝北方，左轉接時代大道，步行約5分鐘即可抵達。</li>
            <li>【205中華幹線】、【36號】公車，至夢時代(中華)站下車，朝北方右轉接時代大道，步行約5分鐘即可抵達。</li>
          </ul>
          `,
          train: `
          <p>搭台鐵至高雄火車站，建議轉搭捷運或是公車(依照上述公車、捷運指示即可)。</p>
          `,
          metro: `
          <p>搭乘捷運紅線，建議抵達凱旋站，由三號出口出站後朝北方，左轉接時代大道，步行約5分鐘即可抵達。</p>
          `,
          high: `
          <p>搭高鐵至新左營站，轉搭捷運紅線(依照上述捷運指示即可)。</p>
          `,
          drive: `
          <p>北上/南下：車輛行駛國道1號中山高速公路，下中山四路出口，遇時代大道左轉即可抵達。</p>
          `,
          park: `
          <p>周邊有公有停車場與停車格。</p>
          `,
          light: `
          <ul class="pl-5 list-disc">
            <li>搭乘輕軌至C3前鎮之星站，下車後朝北方步行約3分鐘，左轉接時代大道，步行約5分鐘即可抵達。</li>
            <li>搭乘輕軌至C5夢時代站，下車後朝東方步行約8分鐘即可抵達。</li>
          </ul>
          `
        },
      ],
      mapModal: false,
      enlargeMap: '',
      swiperOptionMap: {
        zoom: true,
      },
    };
  },
  setup() {
    return { goMOrder }
  },
  computed: {
    inDeviseApp() { return (typeof(JSInterface) === 'object') },
    pageData() { return this.publicData.storeList },
    zoneData() { return this.pageData.countys },
    myLoc() {
      const gps = this.state.baseInfo.gps
			return (gps.lat && gps.lng) ? {latitude: gps.lat, longitude: gps.lng} : ''
			/* 公司座標: 22.612880, 120.319661 */
			// return {latitude: 22.612880, longitude: 120.319661} // @@Debug
    },
    stores() {
      let list = this.pageData.store
      let endList = list
      if (list) {
				const myLoc = this.myLoc;
				if (!myLoc) { return endList; }
				console.log('我的座標: ', myLoc);	// @@

				/* 算距離 */
				[].slice.call(list).forEach((item)=>{
					const lat = item.google_lat
						,lng 		= item.google_lng

          item.distance = null // 預設放null
          const hasLoc = lat.length && lng.length
          if (hasLoc && myLoc) {
            const itemLoc = {latitude: lat, longitude: lng}
							,nDist 			= getDistance(myLoc, itemLoc)
            item.distance = nDist
						// console.log('算距離-County, OrgName, nDist: '+item.County, item.OrgName, nDist);	// @@
          }
        });

        /* 排序-由近而遠 */
        endList = [].slice.call(list).sort((a, b) => {
					// console.log('排序-distance, OrgCode: '+a.distance, a.OrgCode);	// @@

					const aa 	= myLoc ? a.distance : a.OrgCode
						,bb 		= myLoc ? b.distance : b.OrgCode
          if (aa === null || aa > bb) {
            return 1
          } else if (bb === null || a.distance < bb) {
            return -1
          }
          return 0;
        })
      }
/** @Debug */
/*
			var nLen = endList.length
				,i	 = 0, str1 = '';
			while (i<nLen) {
				const item=endList[i]
				str1 = item.County+' - '+item.OrgName+' : '
				console.log('由近而遠_stores'+str1, item.distance)	// @@
				i++;
			}
 */

      return endList
    },
    storeSearch() { return this.publicData.storeSearch },
    searchBrand() { return this.storeSearch.searchBrand },
    searchZoneDisplay() { return this.storeSearch.searchZoneDisplay },
    searchZoneType() { return this.storeSearch.searchZoneType },
    searchCity() { return this.storeSearch.searchCity },
    searchArea() { return this.storeSearch.searchArea },
    searchKeyWord() { return this.storeSearch.searchKeyWord },
    store2Store() { return this.storeSearch.store2Store },
    filterStores() {
			let o1 = this.curBrand
			const s_Brand 	= this.searchBrand.trim()
				,s_ZoneType 	= this.searchZoneType.trim()
				,s_KeyWord 		= this.searchKeyWord.trim()
      // console.log('filterStores-searchBrand, searchZoneType, searchKeyWord: ',s_Brand, s_ZoneType, s_KeyWord) // @@
/* 
			if (IsDev || IsStaging) {
console.warn('filterStores-curBrand,BranchOrg,cur1: ', s_Brand, o1.BranchOrg, o1);	// @@
			}
 */
      let endList = this.stores
      // 品牌
			if (s_Brand && s_Brand != '全部品牌') {
				endList = endList.filter((item) => {
					const brand1 	= item.Brand
						,bOrg1 			= item.BranchOrg
					// console.log('filterStores-item_Brand: ', brand1);	// @@
/* 
					if ((IsDev || IsStaging) && (brand1 != s_Brand)) {
						console.error('filterStores-item_OrgName: ', item.OrgName, item.OrgCode);	// @@
					}
 */
					if (brand1) {
						return brand1 == (/\D/.test(brand1) ? s_Brand: o1.BranchOrg);
					} else {
						return bOrg1 == o1.BranchOrg;
					}
				})
			}

      // 地區
      if (s_ZoneType) {
        endList = endList.filter((item)=>{
          if (s_ZoneType == 'city') {
            return item.City == this.searchCity
          } else if (s_ZoneType == 'area') {
            return (item.City == this.searchCity
              && item.County == this.searchArea)
          }
        })
      }

      // 關鍵字
      //if (this.localSearchKeyWord != s_KeyWord) store.commit('setStoreQueryKeyWord', this.localSearchKeyWord) //不明原因search key不同?
      if (s_KeyWord) {
        endList = endList.filter((item)=>{
          let brand 	= item.Brand
						,orgName 	= item.OrgName
						,addr 		= item.Addr
						,brandTest 		= RegExp(this.localSearchKeyWord).test(brand)
						,orgNameTest	= RegExp(this.localSearchKeyWord).test(orgName)
						,addrTest 		= RegExp(this.localSearchKeyWord).test(addr)

          return (brandTest || orgNameTest || addrTest)
        })
      }

			/** @Debug: 只秀有交易的 */	// @@
/*
			endList = endList.filter((item)=>{return !!item.Mode})	// @@
 */
			// console.log('filterStores_endList: ', endList);	// @@
      return endList
    },
    brands() {
      const companyData = this.publicData.companyData
      // console.log('brands-companyData: ', companyData)	// @@
      let brandList = []
      if (companyData.length) {
        // 是品牌
        brandList = companyData.filter((item) => {
          return item.isBrand == true
        })
      }
      // console.log('brands-brandList: ', brandList)	// @@

			/** @Debug: 待查用 */
// ==>
		// if (IsDev || IsStaging) {
			// let tmparr1 = []
			// brandList.forEach((o1)=>{
				// let {BranchOrg,ID,Text} = o1
				// tmparr1.push({BranchOrg,ID,Text});
			// })
			// console.table(tmparr1)	// @@
		// }
// <==

      return brandList
    },
    searchBrands() {
      // console.log('searchBrands-brands: ', this.brands)	// @@
      return [{Text:'全部品牌'}].concat(this.brands)
    },
    cloudKeys(){
      if (!(this.publicData.cloudsearch && Array.isArray(this.publicData.cloudsearch))) return [];
      let brandArr= []
      brandArr = this.publicData.cloudsearch.filter((item) => {
        return item.isFullText && item.LinkPosition == "門店搜尋"
      })
      return brandArr;
    },
    searchNote(){
      if (!(this.publicData.cloudsearch && Array.isArray(this.publicData.cloudsearch))) return [];
      let brandArr= []
      brandArr = this.publicData.cloudsearch.filter((item) => {
        return item.isText && item.LinkPosition == "門店搜尋"
      })
      let p_text = "關鍵字";
      if (Array.isArray(brandArr) && brandArr.length>0) p_text = brandArr[0]["Text"];
      return p_text;
    },
    isStoreInfo() {
      if(this.$route.query.store == null) {
        return false
      } else return true
    },

  },
  methods: {
    showImageWuhu,
    // (殼專屬) 打電話
    deviseMakePhoneCall(store) {
     return deviseFunction('Tel', store.Tel, '')
    },
    // (殼專屬) 另開瀏覽器 app，開啟 Google map 連結
    deviseToGoogleMapsLink(store) {
      const gmapUrl = `http://maps.google.com/?q=${store.Brand},${store.Addr}`
     return deviseFunction('openWeburl', gmapUrl, '')
    },
    toGoogleMap(item) {
      if (this.inDeviseApp) {
        this.deviseToGoogleMapsLink(item)
      } else {
        let mapUrl = `http://maps.google.com/?q=${item.Brand},${item.Addr}`
        window.open(mapUrl, "_blank")
      }
    },
    // (殼專屬) 點擊分享按鈕
    deviseShare(store){
      const gmapUrl = `http://maps.google.com/?q=${store.Brand},${store.Addr}`
      return deviseFunction('shareTo', `{"subject":"", "body":"嗨!跟你分享一個美食好所在!! ${gmapUrl}", "chooserTitle":""}`, '')
    },

    getArea(currentCity) {
      let returnData = currentCity.county.split(",")
      return returnData
    },
    filterZoneByBrand() {
      // === filter zone by brand === start
      this.handZoneData = this.zoneData || []			// storeList
			if (!this.handZoneData.length) {
				throw '無countys!!', this.pageData;
			}

      // 品牌
      if (!this.searchBrand || this.searchBrand == '全部品牌') {
        // this.handZoneData = this.zoneData

      } else {
        let zoneEndList = []
        let endStoreList = this.stores.filter((item)=>{
          return item.Brand == this.searchBrand
        })
        // console.log('filterZoneByBrand-endStoreList: ', endStoreList)	// @@
        this.handZoneData.forEach((o1) => {
          // console.log('===> city: ' + o1.city)
          let countyStr = o1.county
          let counties = countyStr.split(",")
          let matchCounties = []

          counties.forEach((_county)=>{
            // console.log('===> currentCounty: ' + _county)
            let findList = endStoreList.filter((st1)=>{
              if (st1.City == o1.city && st1.County == _county) {
                return true
              }
            })

            if (findList && findList.length>0) {
              matchCounties.push(_county)
            }
          }) // end of counties

          if (matchCounties.length) {
            let _match = ''
            matchCounties.forEach((_county)=>{
              if (_match) {
                _match += ',' + _county
              } else {
                _match = _county
              }
            })

            let resultCityObj = {
              province: o1.province,
              city: o1.city,
              county: _match
            }

            zoneEndList.push(resultCityObj)
          }
        })
        // console.log('filterZoneByBrand-zoneEndList: ', zoneEndList)	// @@
        this.handZoneData = zoneEndList
      }
      // === filter zone by brand === end
    },
    clickSearchBrand(o1) {
			console.log('clickSearchBrand-o1: ', o1);	// @@
			let {ID,Text,BranchOrg} = o1
      this.curBrand = {ID,Text,BranchOrg}

			const brandStr = o1.Text
      store.commit('setStoreQueryBrand', brandStr)
      this.isBrand = false

      this.filterZoneByBrand()
    },
    setSearchZone(zoneType, q_searchCity, q_searchArea) {
      let searchZoneDisplay = '全部地區'
				,searchCity 				= ''
				,searchArea 				= ''
      if (zoneType == 'city') {
        searchZoneDisplay = q_searchCity
        searchCity = q_searchCity
        searchArea = ''
      } else if (zoneType == 'area') {
        searchZoneDisplay = q_searchArea
        searchCity = q_searchCity
        searchArea = q_searchArea
      }
      store.commit('setStoreQueryZone', {
        searchZoneDisplay: searchZoneDisplay,
        searchZoneType: zoneType,
        searchCity: searchCity,
        searchArea: searchArea,
      })
      this.isArea=false
    },
    getIconByBrand(_txt) {
			// console.log('getIconByBrand-brand: ', _txt);	// @@
      if (_txt) {
        let currentBrand = this.brands.find((item)=>{
					// !item.Text && console.error('Text為空??: ', item);	// @@
          return item.Text == _txt
        })
        return currentBrand ? this.showImageWuhu(currentBrand.BrandLogo) : ''
      }
      return ''
    },
    onCloseBrand() {
      this.isBrand = false
    },
    onCloseArea() {
      this.isArea= false
    },
    clickTag(item) {
      this.localSearchKeyWord = item.Text
    },
    showStoreInfo(item) {
      this.prvScroll = document.querySelector("#scroll-box").scrollTop
      this.$router.push(`/cardStore?store=${item}`)
      document.querySelector("#scroll-box").scrollTop = 0
    },
    openUrl(url){
      // 在殼裡面 => 開啟瀏覽器
      if (typeof(JSInterface) !== 'undefined') deviseFunction('openWeburl', url, '')
      // 在瀏覽器 => 瀏覽器新開一個tab
      else window.open(url, '_blank')
    },
    touchSwipeRightHandler() {
      this.$router.go(-1)
    },
    touchSwipeBottomHandler() {
      this.mapModal = false
    },
    // ios圖片放大模糊fix
    zoomTouch() {
      setTimeout(() => {
          let el = document.querySelector(".swiper-zoom-container img")
          let elStyle = el.style.transform
          let newElStyle = elStyle.replace(/translate3d\(0px, 0px, 0px\)/i, 'translate(0px, 0px)')
          el.style.transform = newElStyle
      }, 100) 
    }
  },
  watch: {
    localSearchKeyWord: function(val) {
      // console.log('watch localSearchKeyWord ===>' + val )
      store.commit('setStoreQueryKeyWord', val)
    },
    store2Store: function(val) {
      // 如果在門店頁,透過footer再度進到門店頁
      if (val) {
        this.localSearchKeyWord = this.searchKeyWord
        store.commit('setStore2Store', false) // 清空flag
      }
    },
    $route(to) {
      this.transitionName = to.query.store != null ? "next" : "prev"
      if(to.query.store == null) {
        setTimeout(() => {
          if(document.querySelector("#scroll-box")) document.querySelector("#scroll-box").scrollTop = this.prvScroll
        }, 300);
        
      }
    }
  },
  async beforeRouteEnter(to, from, next) {
    store.state.isPageName = '門店據點'		// 頁面名稱

    if (!store.state.member.mac) {
      console.log('Store.vue - no mac')
      // 未登入狀態先撈好mac
      await store.dispatch('getMacNoLogin')
    }
    setLoading(true)
    try {
      store.dispatch('fetchCompanyData')
      // store.dispatch('fetchStoreData')	// nono!(要同步
      store.dispatch('fetchCloudsearch')
      await store.dispatch('fetchStoreListDataWuhu')	// 取門店資訊的資料
      await store.dispatch('ensureGetDeviseGPS')
      setLoading(false)
    } catch (error) {
      // console.log(error);
    }

    next(vm => {
      vm.prvScroll = 0
      vm.filterZoneByBrand()
      vm.localSearchKeyWord = vm.publicData.storeSearch.searchKeyWord
    })
  },
}
</script>
